<div>
  <h1>Apps</h1>

  <section class="section-centered">
    <div id="ogd" class="panel">
      <p>
        You can get the current information about avalanche situation and more
        with following smartphone apps:
      </p>
    </div>
  </section>

  <section class="section-centered section-dangerscale">
    <div id="xml" class="panel field border">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/hzs-app.png"
            title="HZS APP"
            alt="HZS APP"
            class="warning-level-icon"
          />
        </div>
        <div class="grid-item small-9">
          <div class="panel-header">
            <h4>Mountain Rescue Service</h4>
          </div>
          <p>
            With <a href="https://app.hzs.sk" target="_blank">HZS app</a>
            you can call for help with push of a button. You can share your
            position with rescuers. You have most recent informations about
            weather warnings in the mountains. Download on Google play or App
            store. More information on website
            <a href="https://app.hzs.sk" target="_blank">app.hzs.sk</a>.
          </p>

          <a
            href="https://play.google.com/store/apps/details?id=hzs.sk.hzs"
            target="_blank"
            tabindex="0"
            ><img
              src="/content_files/google-play.png"
              alt="Google Play"
              class="badge"
          /></a>

          <a
            href="https://apps.apple.com/cz/app/horská-záchranná-služba/id1519456092?l=sk"
            target="_blank"
            tabindex="0"
            ><img
              src="/content_files/app_store.png"
              alt="App Store"
              class="badge"
          /></a>
        </div>
      </div>
    </div>
  </section>

  <section class="section-centered section-dangerscale">
    <div id="xml" class="panel field border">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/App_SnowSafe_Logo.png"
            title="Snowsafe"
            alt="Snowsafe"
            class="warning-level-icon"
          />
        </div>
        <div class="grid-item small-9">
          <div class="panel-header">
            <h4>Snowsafe</h4>
          </div>
          <p>
            Snowsafe informs users about most recent avalanche situation in the
            mountains of aurope. App can be used with Android and iPhone. More
            information about the app is on
            <a href="http://snowsafe.at/" target="_blank">www.snowsafe.at</a>
          </p>

          <a
            href="https://play.google.com/store/apps/details?id=com.roomfour0four.android.avalanche"
            target="_blank"
            tabindex="0"
            ><img
              src="/content_files/google-play.png"
              alt="Google Play"
              class="badge"
          /></a>

          <a
            href="https://itunes.apple.com/us/app/snowsafe/id585169516"
            target="_blank"
            tabindex="0"
            ><img
              src="/content_files/app_store.png"
              alt="App Store"
              class="badge"
          /></a>
        </div>
      </div>
    </div>
  </section>
</div>
