<div>
  <h1>Aplikácie</h1>

  <section class="section-centered">
    <div id="ogd" class="panel">
      <p>
        Aktuálne informácie a lavínovej situácii môžete získať aj
        prostredníctvom smartfónu cez nasledujúce aplikácie:
      </p>
    </div>
  </section>

  <section class="section-centered section-dangerscale">
    <div id="xml" class="panel field border">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/hzs-app.png"
            title="HZS APP"
            alt="HZS APP"
            class="warning-level-icon"
          />
        </div>
        <div class="grid-item small-9">
          <div class="panel-header">
            <h4>Aplikácia Horská záchranná služba.</h4>
          </div>
          <p>
            S <a href="https://app.hzs.sk" target="_blank">aplikáciou HZS</a>
            si privoláš pomoc jedným tlačidlom, zdieľaš svoju polohu
            so&nbsp;záchranármi, máš prehľad o&nbsp;výstrahách na horách. Sťahuj
            cez Google Play a&nbsp;App Store. Viac informácií nájdeš na stránke
            <a href="https://app.hzs.sk" target="_blank">app.hzs.sk</a>.
          </p>

          <a
            href="https://play.google.com/store/apps/details?id=hzs.sk.hzs"
            target="_blank"
            tabindex="0"
            ><img
              src="/content_files/google-play.png"
              alt="Google Play"
              class="badge"
          /></a>

          <a
            href="https://apps.apple.com/cz/app/horská-záchranná-služba/id1519456092?l=sk"
            target="_blank"
            tabindex="0"
            ><img
              src="/content_files/app_store.png"
              alt="App Store"
              class="badge"
          /></a>
        </div>
      </div>
    </div>
  </section>

  <section class="section-centered section-dangerscale">
    <div id="xml" class="panel field border">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/App_SnowSafe_Logo.png"
            title="Snowsafe"
            alt="Snowsafe"
            class="warning-level-icon"
          />
        </div>
        <div class="grid-item small-9">
          <div class="panel-header">
            <h4>Aplikácia Snowsafe</h4>
          </div>
          <p>
            Snowsafe je mobilná aplikácia informujúca jej užívateľov o lavínovej
            situácii v rôznych pohoriach v Európe. Bližšie informácie o
            aplikácii Snowsafe nájdete na
            <a href="http://snowsafe.at/" target="_blank">www.snowsafe.at</a>.
            Sťahuj cez Google Play a&nbsp;App Store.
          </p>

          <a
            href="https://play.google.com/store/apps/details?id=com.roomfour0four.android.avalanche"
            target="_blank"
            tabindex="0"
            ><img
              src="/content_files/google-play.png"
              alt="Google Play"
              class="badge"
          /></a>

          <a
            href="https://itunes.apple.com/us/app/snowsafe/id585169516"
            target="_blank"
            tabindex="0"
            ><img
              src="/content_files/app_store.png"
              alt="App Store"
              class="badge"
          /></a>
        </div>
      </div>
    </div>
  </section>
</div>
