<div>
<h1>Problemes d'Allaus</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#new_snow" title="New Snow" class="secondary pure-button" data-scroll>Neu recent</a></li>&#13;
      <li><a href="#wind_slab" title="Wind slab " class="secondary pure-button" data-scroll>Plaques de vent</a></li>&#13;
      <li><a href="#persistent_weak_layers" title="Persistent weak layers" class="secondary pure-button" data-scroll>Capes febles persistents</a></li>&#13;
      <li><a href="#wet_snow" title="Wet snow" class="secondary pure-button" data-scroll>Neu humida</a></li>&#13;
      <li><a href="#gliding_snow" title="Gliding snow" class="secondary pure-button" data-scroll>Lliscaments basals</a></li>&#13;
    </ul></header></section><section class="section-centered"><div class="panel">&#13;
    <p>En la vida quotidiana reconeixem persones que ja hem conegut abans.
El reconeixement es fa en pocs segons, sense cap llarg pensament i
normalment és correcte. Per a les persones que hem memoritzat i sabem bé, aquest 
procés de reconeixement treballa amb característiques menys detallades, p.ex. la silueta, la manera de caminar o la veu. En altres paraules, estem fets per a patrons de
reconeixement. De fet, també podem utilitzar aquesta capacitat per reconèixer situacions
similars a l'hora de prendre decisions en terreny d'allaus. Els cinc típics
problemes d'allaus es van definir tenint en compte aquest objectiu. Descriuen
situacions típiques, com es produeixen en el terreny i com poden donar suport
tant als predictors d'allaus com als i les recreacionistes de la muntanya en
l'avaluació del perill d'allaus. Complementen la descripció del
grau de perill i el terreny perillós (orientació i cota) i
representen la tercera part de la piràmide de la informació. Les definicions següents
contenen una descripció del problema incloent
el tipus d'allaus esperades, la distribució espacial i la posició de les capes
febles al mantell de neu. A més, també es comenten els mecanismes de desencadenament,
la durada del perill i un consell final sobre com circular en terreny d'allaus. 
El focus principal aquí és el dels i les 
recreacionistes que es mouen en terrenys d'allaus. A més, la descripció
dels problemes d'allaus també poden ser útils per a les autoritats locals (p.ex.
comissions d'allaus).</p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="new_snow" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_neuschnee_0-640.webp   640w,&#13;
            /content_files/schnee_neuschnee_0-1280.webp 1280w,&#13;
            /content_files/schnee_neuschnee_0-1920.webp 1920w,&#13;
            /content_files/schnee_neuschnee_0-2560.webp 2560w,&#13;
            /content_files/schnee_neuschnee_0-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_neuschnee_0-640.jpg   640w,&#13;
            /content_files/schnee_neuschnee_0-1280.jpg 1280w,&#13;
            /content_files/schnee_neuschnee_0-1920.jpg 1920w,&#13;
            /content_files/schnee_neuschnee_0-2560.jpg 2560w,&#13;
            /content_files/schnee_neuschnee_0-3200.jpg 3200w,&#13;
            /content_files/schnee_neuschnee_0.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_neuschnee_0-1280.jpg" title="New snow" alt="New snow">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Neu recent</h2>&#13;
    </div>&#13;
&#13;
    <h6>Què?</h6>&#13;
    <h5 class="normal">Característiques</h5>&#13;
    <p>El problema d'allaus està relacionat amb les nevades actuals o més recents. La quantitat de càrrega addicional per neu nova al mantell de neu existent és el factor crucial del nou problema d'estabilitat. La importància de la càrrega crítica depèn de diversos factors, com ara la temperatura o les característiques de la superfície de la neu antiga.</p>&#13;
    <h5 class="normal">Tipus d'allaus previstes</h5>&#13;
    <ul>
<li>Plaques de neu seca</li>&#13;
      <li>Allaus de sortida puntual de neu seca</li>&#13;
      <li>Allaus naturals i accidentals</li>&#13;
    </ul>
<h6>On?</h6>&#13;
    <h5 class="normal">Distribució espacial</h5>&#13;
    <p>Generalment de distribució àmplia i en totes les orientacions</p>&#13;
    <h5 class="normal">Posició de les capes febles dins del mantell</h5>&#13;
    <p>Normalment a la transició amb la superfície de neu antiga, però de vegades a les noves capes de neu i, de vegades, també més profundament en el vell mantell de neu.</p>&#13;
&#13;
    <h6>Per què?</h6>&#13;
    <h5 class="normal">Característiques del desencadenament</h5>&#13;
    <p>Plaques seques:<br>
Càrrega adicional deguda a la nevada en capes febles preexistents o creades durant la nevada
<br>
Allaus seques de sortida puntual:<br>
Pèrdua de cohesió entre les partícules de neu nova</p>&#13;
&#13;
    <h6>Quan?</h6>&#13;
    <h5 class="normal">Durada</h5>&#13;
    <p>Típicament durant la nevada i fins a alguns dies després</p>&#13;
&#13;
    <h6>Com gestionar-ho?</h6>&#13;
    <h5 class="normal">Identificació del problema sobre el terreny</h5>&#13;
    <p>El problema de neu reccent és bastant fàcil de reconèixer. Estigueu atents a quantitats de neu nova i a l'activitat d'allaus recents. Tingueu en compte lleugers canvis meteorològics (per exemple, els canvis d’humitat de l’aire) que afecten les condicions de la neu recent.</p>&#13;
    <h5 class="normal">Consells de circulació</h5>&#13;
    <p>Plaques seques:<br>
Espera fins que el mantell s'estabilitzi.<br>
Allaus puntuals de neu seca:<br>
El perill de caiguda és més important que el d'enterrament. Considera les conseqüències en terreny molt inclinat.</p>&#13;
  </div>&#13;
&#13;
  <div id="wind_slab" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_triebschnee_2-640.webp   640w,&#13;
            /content_files/schnee_triebschnee_2-1280.webp 1280w,&#13;
            /content_files/schnee_triebschnee_2-1920.webp 1920w,&#13;
            /content_files/schnee_triebschnee_2-2560.webp 2560w,&#13;
            /content_files/schnee_triebschnee_2-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_triebschnee_2-640.jpg   640w,&#13;
            /content_files/schnee_triebschnee_2-1280.jpg 1280w,&#13;
            /content_files/schnee_triebschnee_2-1920.jpg 1920w,&#13;
            /content_files/schnee_triebschnee_2-2560.jpg 2560w,&#13;
            /content_files/schnee_triebschnee_2-3200.jpg 3200w,&#13;
            /content_files/schnee_triebschnee_2.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_triebschnee_2-1280.jpg" title="Wind slab" alt="Wind slab">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Plaques de vent</h2>&#13;
    </div>&#13;
&#13;
    <h6>Què?</h6>&#13;
    <h5 class="normal">Característiques</h5>&#13;
    <p>El problema d'allaus està relacionat amb les plaques de vent. La neu es pot transportar
pel vent amb o sense nevada simultània.</p>&#13;
    <h5 class="normal">Tipus d'allaus previstes</h5>&#13;
    <ul>
<li>Plaques de neu seca</li>&#13;
      <li>Allaus naturals i accidentals</li>&#13;
    </ul>
<h6>On?</h6>&#13;
    <h5 class="normal">Distribució espacial</h5>&#13;
    <p>Altament variable, però normalment als costats de sotavent en barrancs, cubetes, prop de canvis en l'angle de la pendent, darrere de les carenes o d'altres llocs protegits pel vent. Més comú per sobre del nivell del bosc.</p>&#13;
    <h5 class="normal">Posició de les capes febles dins del mantell</h5>&#13;
    <p>Normalment a la transició a la superfície de la neu vella o a dins de les capes 
de neu ventada a causa de la variació de la velocitat del vent i la variació durant el cicle de la nevada,
però de tant en tant també més endins a les capes de neu vella.</p>&#13;
&#13;
    <h6>Per què?</h6>&#13;
    <h5 class="normal">Característiques del desencadenament</h5>&#13;
    <p>Una placa de vent és una càrrega addicional a sobre d'una capa feble i construeix una placa que és
especialment propensa a la propagació de fractures.</p>&#13;
&#13;
    <h6>Quan?</h6>&#13;
    <h5 class="normal">Durada</h5>&#13;
    <p>Les plaques de vent poden evolucionar molt ràpidament. El problema dura normalment durant&#13;
l'esdeveniment de transport, fins a uns quants dies com a màxim, depenent de l'evolució del mantell de neu.</p>&#13;
&#13;
    <h6>Com gestionar-ho?</h6>&#13;
    <h5 class="normal">Identificació del problema sobre el terreny</h5>&#13;
    <p>Si no es tapa per la neu nova, el problema de plaques de vent es pot reconèixer amb&#13;
entrenament i bona visibilitat. Considerar els senyals de vent i localitzar les acumulacions.&#13;
Pistes típiques: acumulacions de neu ventada, activitat recent d'allaus i de vegades&#13;
provocant esquerdes o whoumpfs. Tanmateix, sovint és difícil determinar l'edat&#13;
de les acumulacions de neu ventada i aquestes no impliquen necessàriament un&#13;
problema d'allaus (per exemple, en absència d'una capa feble).</p>&#13;
    <h5 class="normal">Consells de circulació</h5>&#13;
    <p>Evitar les acumulacions de neu en terrenys molt inclinats, especialment en zones on el mantell de neu canvia de prim a gruixut o de dur a tou.</p>&#13;
  </div>&#13;
&#13;
  <div id="persistent_weak_layers" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_altschnee_3-640.webp   640w,&#13;
            /content_files/schnee_altschnee_3-1280.webp 1280w,&#13;
            /content_files/schnee_altschnee_3-1920.webp 1920w,&#13;
            /content_files/schnee_altschnee_3-2560.webp 2560w,&#13;
            /content_files/schnee_altschnee_3-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_altschnee_3-640.jpg   640w,&#13;
            /content_files/schnee_altschnee_3-1280.jpg 1280w,&#13;
            /content_files/schnee_altschnee_3-1920.jpg 1920w,&#13;
            /content_files/schnee_altschnee_3-2560.jpg 2560w,&#13;
            /content_files/schnee_altschnee_3-3200.jpg 3200w,&#13;
            /content_files/schnee_altschnee_3.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_altschnee_3-1280.jpg" title="Persistent weak layers" alt="Persistent weak layers">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Capes febles persistents</h2>&#13;
    </div>&#13;
&#13;
    <h6>Què?</h6>&#13;
    <h5 class="normal">Característiques</h5>&#13;
    <p>El problema d'allaus està relacionat amb la presència de capes febles persistents a l’antic mantell de neu. Aquestes capes febles inclouen típicament gebre de superfície enterrat, gobelets o cristalls amb facetes.</p>&#13;
    <h5 class="normal">Tipus d'allaus previstes</h5>&#13;
    <ul>
<li>Plaques de neu seca</li>&#13;
      <li>Principalment allaus accidentals; Les allaus naturals són rares, i es donen en combinació amb altres problemes d’allaus</li>&#13;
    </ul>
<h6>On?</h6>&#13;
    <h5 class="normal">Distribució espacial</h5>&#13;
    <p>El problema d'allaus pot ser generalitzat o força aïllat. Pot existir a totes les orientacions, però és més freqüent en pendents ombrívols i protegits del vent.</p>&#13;
    <h5 class="normal">Posició de les capes febles dins del mantell</h5>&#13;
    <p>En qualsevol lloc de l'antic mantell de neu, sovint a molta profunditat. Tanmateix, quan les capes febles estan molt profundament enterrades el desencadenament es fa cada cop més difícil.</p>&#13;
&#13;
    <h6>Per què?</h6>&#13;
    <h5 class="normal">Característiques del desencadenament</h5>&#13;
    <p>El desencadenament es produeix quan la càrrega supera la resistència de la capa feble.</p>&#13;
&#13;
    <h6>Quan?</h6>&#13;
    <h5 class="normal">Durada</h5>&#13;
    <p>Les capes febles poden persistir entre setmanes i mesos; possiblement la majoria de la temporada d'hivern.</p>&#13;
&#13;
    <h6>Com gestionar-ho?</h6>&#13;
    <h5 class="normal">Identificació del problema sobre el terreny</h5>&#13;
    <p>Les capes febles persistents són molt difícils de reconèixer. Els signes d’inestabilitat, com ara whumps, són típics, però no necessàriament presents. Els tests d’estabilitat poden ser útils per detectar les capes febles persistents. La informació sobre la història del mantell de neu és fonamental i la referència al butlletí d'allaus és important. La propagació de fractures a llargues distàncies és habitual i es poden provocar desencadenaments de forma remota.</p>&#13;
    <h5 class="normal">Consells de circulació</h5>&#13;
    <p>Circuleu amb prudència i eviteu grans pendents. Considereu la història dels processos meteorològics i de cobertura de neu de la zona. Teniu molta precaució en les zones amb un mantell de neu prim i en la transició de mantell prim a gruixut. Aquest problema és la principal causa de víctimes mortals d’allaus en activitats recreatives.</p>&#13;
  </div>&#13;
&#13;
  <div id="wet_snow" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_nassschnee_0-640.webp   640w,&#13;
            /content_files/schnee_nassschnee_0-1280.webp 1280w,&#13;
            /content_files/schnee_nassschnee_0-1920.webp 1920w,&#13;
            /content_files/schnee_nassschnee_0-2560.webp 2560w,&#13;
            /content_files/schnee_nassschnee_0-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_nassschnee_0-640.jpg   640w,&#13;
            /content_files/schnee_nassschnee_0-1280.jpg 1280w,&#13;
            /content_files/schnee_nassschnee_0-1920.jpg 1920w,&#13;
            /content_files/schnee_nassschnee_0-2560.jpg 2560w,&#13;
            /content_files/schnee_nassschnee_0-3200.jpg 3200w,&#13;
            /content_files/schnee_nassschnee_0.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_nassschnee_0-1280.jpg" title="Wet snow" alt="Wet snow">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Neu humida</h2>&#13;
    </div>&#13;
&#13;
    <h6>Què?</h6>&#13;
    <h5 class="normal">Característiques</h5>&#13;
    <p>El problema de les allaus està relacionat amb el debilitament del mantell de neu degut a la presència d’aigua líquida. L’aigua s’infiltra al mantell de neu a causa de la fusió o la pluja.</p>&#13;
    <h5 class="normal">Tipus d'allaus previstes</h5>&#13;
    <ul>
<li>Plaques de neu humida</li>&#13;
      <li>Allaus de sortida puntual de neu humida</li>&#13;
      <li>Principalment allaus naturals</li>&#13;
    </ul>
<h6>On?</h6>&#13;
    <h5 class="normal">Distribució espacial</h5>&#13;
    <p>Quan el sol és la causa principal, la distribució del problema depèn principalment d'orientació i elevació. Totes les orientacions es veuen afectades en cas de pluja sobre neu.</p>&#13;
    <h5 class="normal">Posició de les capes febles dins del mantell</h5>&#13;
    <p>En qualsevol lloc del mantell</p>&#13;
&#13;
    <h6>Per què?</h6>&#13;
    <h5 class="normal">Característiques del desencadenament</h5>&#13;
    <p>Plaques humides:<br>
Afebliment de capes febles preexistents en el mantell o acumulació d'aigua en interfases entre capes<br>
En cas de pluja, a més es produeix un augment de la càrrega sobre les capes febles<br>
Allaus puntuals de neu humida:<br>
Pèrdua de cohesió entre els cristalls de neu</p>&#13;
&#13;
    <h6>Quan?</h6>&#13;
    <h5 class="normal">Durada</h5>&#13;
    <p>Hores a dies <br>
Possible pèrdua ràpida d’estabilitat<br>
 Especialment crític, ja que l’aigua s’infiltra per primera vegada més a fons, una vegada que el mantell s’ha escalfat fins a 0 °C. <br>
Les allaus naturals podrien ser més probables a determinades hores del dia, sobretot a la tarda (tret que la pluja sigui el factor dominant).</p>&#13;
&#13;
    <h6>Com gestionar-ho?</h6>&#13;
    <h5 class="normal">Identificació del problema sobre el terreny</h5>&#13;
    <p>El problema de neu humida sol ser fàcil de reconèixer. L’aparició de la pluja, la caiguda de boles de neu, les ensaïmades i les petites plaques humides o les allaus humides de neu sense cohesió són sovint precursors de l’activitat d’allaus natural de plaques de neu humida. La penetració profunda dels peus és un altre signe d'humectació.</p>&#13;
    <h5 class="normal">Consells de circulació</h5>&#13;
    <p>En presència de crosta de regel, les condicions després de nits fredes amb cels clars solen ser favorables al matí pel regel. Després de nits càlides amb cels ennuvolats, el problema sovint ja existeix al matí. Normalment la pluja sobre neu fresca crea aquest problema gairebé immediatament. El bon horari i la planificació de la sortida són importants. Penseu en les zones d'arribada d’allaus.</p>&#13;
  </div>&#13;
&#13;
  <div id="gliding_snow" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_gleitschnee_0-640.webp   640w,&#13;
            /content_files/schnee_gleitschnee_0-1280.webp 1280w,&#13;
            /content_files/schnee_gleitschnee_0-1920.webp 1920w,&#13;
            /content_files/schnee_gleitschnee_0-2560.webp 2560w,&#13;
            /content_files/schnee_gleitschnee_0-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_gleitschnee_0-640.jpg   640w,&#13;
            /content_files/schnee_gleitschnee_0-1280.jpg 1280w,&#13;
            /content_files/schnee_gleitschnee_0-1920.jpg 1920w,&#13;
            /content_files/schnee_gleitschnee_0-2560.jpg 2560w,&#13;
            /content_files/schnee_gleitschnee_0-3200.jpg 3200w,&#13;
            /content_files/schnee_gleitschnee_0.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_gleitschnee_0-1280.jpg" title="Gliding snow" alt="Gliding snow">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Lliscaments</h2>&#13;
    </div>&#13;
&#13;
    <h6>Què?</h6>&#13;
    <h5 class="normal">Característiques</h5>&#13;
    <p>Tot el mantell de neu llisca per sobre el terra, normalment és un terreny llis
com ara vessants herbosos o zones de roca llisa. Activitat elevada d'allaus de lliscament de neu
solen estar relacionades amb una capa de neu gruixuda amb cap o només poques
capes febles. Les allaus de lliscament es poden produir tant amb una capa de neu freda i seca
com amb un mantell de neu humit i càlid. El desencadenament d'una allau de neu lliscament és
difícil de predir, encara que les esquerdes de lliscament s'obren normalment abans d'un llançament.</p>&#13;
    <h5 class="normal">Tipus d'allaus previstes</h5>&#13;
    <ul>
<li>Allaus  de lliscament; mantell sec  i fred o isotern a 0 ºC i humit</li>&#13;
      <li>Els desencadenaments d’allaus solen ser naturals. El desencadenament accidental i artificial és poc probable.</li>&#13;
    </ul>
<h6>On?</h6>&#13;
    <h5 class="normal">Distribució espacial</h5>&#13;
    <p>Predominant en terrenys llisos i en totes les orientacions, però més sovint en vessants orientats al sud.</p>&#13;
    <h5 class="normal">Posició de les capes febles dins del mantell</h5>&#13;
    <p>Interfase entre el terra i el mantell de neu</p>&#13;
&#13;
    <h6>Per què?</h6>&#13;
    <h5 class="normal">Característiques del desencadenament</h5>&#13;
    <p>Les allaus de neu lliscament són causades per una pèrdua de fricció en el contacte entre la neu i el sòl&#13;
a causa d'una capa de neu basal humida.</p>&#13;
&#13;
    <h6>Quan?</h6>&#13;
    <h5 class="normal">Durada</h5>&#13;
    <p>Dies a mesos; possiblement tota la temporada d'hivern. El desencadenament es pot produir en qualsevol moment del dia. A la primavera, les allaus es produeixen sobre tot a la segona part  del dia.</p>&#13;
&#13;
    <h6>Com gestionar-ho?</h6>&#13;
    <h5 class="normal">Identificació del problema sobre el terreny</h5>&#13;
    <p>Amb la presència d’esquerdes de lliscament sovint es pot localitzar el problema, però, la presència d’esquerdes  no indica un desencadenament d’allaus imminent, ja que això és gairebé impossible de preveure. També és freqüent la caiguda d'allaus sense esquerdes preexistents.</p>&#13;
    <h5 class="normal">Consells de circulació</h5>&#13;
    <p>Evitar zones properes a esquerdes de lliscament.</p>&#13;
  </div>&#13;
</section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Educació; Prevenció</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Escala de perill</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/matrix" title="EAWS Matrix">Matriu EAWS </a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-sizes" title="Avalanche Sizes">Mides d'allaus</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/danger-patterns" title="Danger Patterns">Patrons de perill</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/handbook" title="Handbook">Manual</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
