<div>
<h1>Lawinenprobleme</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#new_snow" title="New Snow" class="secondary pure-button" data-scroll>Neuschnee</a></li>&#13;
      <li><a href="#wind_slab" title="Wind slab " class="secondary pure-button" data-scroll>Triebschnee</a></li>&#13;
      <li><a href="#persistent_weak_layers" title="Persistent weak layers" class="secondary pure-button" data-scroll="">Altschnee</a></li>&#13;
      <li><a href="#wet_snow" title="Nassschnee" class="secondary pure-button" data-scroll="">Nassschnee</a></li>&#13;
      <li><a href="#gliding_snow" title="Gliding snow" class="secondary pure-button" data-scroll>Gleitschnee</a></li>&#13;
    </ul></header></section><section class="section-centered"><div class="panel">&#13;
    <p>Tagtäglich erkennen wir Personen wieder, die uns vorher schon einmal begegnet sind. Ihre Erkennung erfolgt ohne Überlegung, ist blitzschnell und meist richtig. Personen, die wir uns gut eingeprägt haben, erkennen wir sogar bereits anhand weniger grober Merkmale, z.B. der Silhouette, Gangart oder Stimme. Diese Fähigkeit können wir auch für die Erkennung ähnlicher Situationen bei Entscheidungen im Lawinengelände nutzen. Die fünf typischen Lawinenprobleme wurden mit diesem Ziel definiert. Sie beschreiben typische Situationen, wie sie im Gelände vorkommen und sowohl Lawinenwarner als auch Wintersportler bei ihrer Beurteilung der Lawinengefahr unterstützen können. Sie ergänzen die Beschreibung der Gefahrenstufe sowie der Gefahrenstellen (Exposition und Höhe) und stellen den dritten Teil der Informationspyramide dar. Die folgenden Definitionen beinhalten eine Beschreibung des Problems inklusive der zu erwartenden Lawinenarten, der charakteristischen räumlichen Verteilung und der Lage der Schwachschichten innerhalb der Schneedecke. Zudem wird auf die Art des Auslösemechanismus, typische Dauer der Gefährdung und abschließende Ratschläge zur Bewegung im Gelände eingegangen. Das Hauptaugenmerk liegt hier auf Wintersportlern, die sich in lawinengefährdetem Gebiet bewegen. Zusätzlich kann die Beschreibung der Lawinenprobleme auch für Lawinenkommissionen hilfreich sein.</p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="new_snow" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_neuschnee_0-640.webp   640w,&#13;
            /content_files/schnee_neuschnee_0-1280.webp 1280w,&#13;
            /content_files/schnee_neuschnee_0-1920.webp 1920w,&#13;
            /content_files/schnee_neuschnee_0-2560.webp 2560w,&#13;
            /content_files/schnee_neuschnee_0-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_neuschnee_0-640.jpg   640w,&#13;
            /content_files/schnee_neuschnee_0-1280.jpg 1280w,&#13;
            /content_files/schnee_neuschnee_0-1920.jpg 1920w,&#13;
            /content_files/schnee_neuschnee_0-2560.jpg 2560w,&#13;
            /content_files/schnee_neuschnee_0-3200.jpg 3200w,&#13;
            /content_files/schnee_neuschnee_0.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_neuschnee_0-1280.jpg" title="Neuschnee" alt="Neuschnee">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Neuschneeproblem</h2>&#13;
    </div>&#13;
&#13;
    <h6>Was?</h6>&#13;
    <h5 class="normal">Merkmale</h5>&#13;
    <p>Das Problem entsteht durch aktuelle Schneefälle oder kurz zuvor gefallenen Neuschnee. Der Haupteinflussfaktor ist die kritische Neuschneemenge, die von mehreren Faktoren, wie zum Beispiel Temperatur oder Eigenschaften der alten Schneeoberfläche abhängt.</p>&#13;
    <h5 class="normal">Zu erwartende Lawinenarten</h5>&#13;
    <ul>
<li>trockene Schneebrettlawinen</li>&#13;
      <li>trockene Lockerschneelawinen</li>&#13;
      <li>spontane und künstliche Auslösungen</li>&#13;
    </ul>
<h6>Wo?</h6>&#13;
    <h5 class="normal">Räumliche Verteilung</h5>&#13;
    <p>Meist weit verbreitet und in allen Expositionen.</p>&#13;
    <h5 class="normal">Position der Schwachschicht in der Schneedecke</h5>&#13;
    <p>Meist am Übergang zur alten Schneeoberfläche, manchmal aber auch innerhalb der Neuschneeschichten und manchmal auch tiefer in der Altschneedecke.</p>&#13;
&#13;
    <h6>Warum?</h6>&#13;
    <h5 class="normal">Auslösemechanismus</h5>&#13;
    <p>Trockene Schneebrettlawinen:<br>Zusatzbelastung durch den Schneefall auf existierende oder neu gebildete Schwachschichten.<br>Trockene Lockerschneelawinen:<br>Fehlende Verbindung zwischen den Neuschneekristallen.</p>&#13;
&#13;
    <h6>Wann?</h6>&#13;
    <h5 class="normal">Dauer</h5>&#13;
    <p>Während des Schneefalls bis einige Tage danach.</p>&#13;
&#13;
    <h6>Wie gehe ich damit um?</h6>&#13;
    <h5 class="normal">Problemerkennung im Gelände</h5>&#13;
    <p>Das Neuschneeproblem ist relativ einfach zu erkennen. Beachte die kritische Neuschneemenge und frische Lawinen. Beachte, dass kleine Wetterwechsel (z.B. Änderung der Luftfeuchte) die Neuschneebedingungen markant ändern können.</p>&#13;
    <h5 class="normal">Verhaltensempfehlung</h5>&#13;
    <p>Trockene Schneebrettlawinen:<br>Warte, bis sich der Neuschnee stabilisiert hat.<br>Trockene Lockerschneelawinen:<br>Beachte v.a. die Mitreiß- und Absturzgefahr im extremen Steilgelände</p>&#13;
  </div>&#13;
&#13;
  <div id="wind_slab" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_triebschnee_2-640.webp   640w,&#13;
            /content_files/schnee_triebschnee_2-1280.webp 1280w,&#13;
            /content_files/schnee_triebschnee_2-1920.webp 1920w,&#13;
            /content_files/schnee_triebschnee_2-2560.webp 2560w,&#13;
            /content_files/schnee_triebschnee_2-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_triebschnee_2-640.jpg   640w,&#13;
            /content_files/schnee_triebschnee_2-1280.jpg 1280w,&#13;
            /content_files/schnee_triebschnee_2-1920.jpg 1920w,&#13;
            /content_files/schnee_triebschnee_2-2560.jpg 2560w,&#13;
            /content_files/schnee_triebschnee_2-3200.jpg 3200w,&#13;
            /content_files/schnee_triebschnee_2.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_triebschnee_2-1280.jpg" title="Wind slab" alt="Wind slab">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Triebschnee</h2>&#13;
    </div>&#13;
&#13;
    <h6>Was?</h6>&#13;
    <h5 class="normal">Merkmale</h5>&#13;
    <p>Das Problem entsteht durch windverfrachteten Schnee. Triebschnee kann sowohl mit, als auch ohne gleichzeitigen Schneefall entstehen.</p>&#13;
    <h5 class="normal">Zu erwartende Lawinenarten</h5>&#13;
    <ul>
<li>trockene Schneebrettlawinen</li>&#13;
      <li>spontane und künstliche Auslösungen</li>&#13;
    </ul>
<h6>Wo?</h6>&#13;
    <h5 class="normal">Räumliche Verteilung</h5>&#13;
    <p>Ausgesprochen unregelmäßig verteilt; tendenziell in windabgewandten Bereichen (Lee), in Rinnen, Mulden, hinter Geländekanten und anderen windberuhigten Flächen. Häufiger über der Waldgrenze als darunter.</p>&#13;
    <h5 class="normal">Position der Schwachschicht in der Schneedecke</h5>&#13;
    <p>Meist am Übergang zur alten Schneeoberfläche oder innerhalb des Triebschnees (Schichtung durch Änderungen in der Windgeschwindigkeit während einer Sturmperiode) und gelegentlich auch tiefer in der Altschneedecke.</p>&#13;
&#13;
    <h6>Warum?</h6>&#13;
    <h5 class="normal">Auslösemechanismus</h5>&#13;
    <p>Zusatzbelastung durch den Triebschnee auf eine Schwachschicht. Triebschnee bildet ein Schneebrett, das speziell zur Bruchausbreitung neigt.</p>&#13;
&#13;
    <h6>Wann?</h6>&#13;
    <h5 class="normal">Dauer</h5>&#13;
    <p>Triebschnee kann sehr rasch entstehen. Das Problem dauert üblicherweise während der Verfrachtung bis einige Tage nach dem letzten Windeinfluss (abhängig vom Schneedeckenaufbau).</p>&#13;
&#13;
    <h6>Wie gehe ich damit um?</h6>&#13;
    <h5 class="normal">Problemerkennung im Gelände</h5>&#13;
    <p>Das Triebschneeproblem ist mit Übung und bei guten Sichtverhältnissen relativ leicht zu erkennen, außer der Triebschnee wurde von Neuschnee überlagert. Beachte Windzeichen und lokalisiere Triebschneeablagerungen. Typische Hinweise: Triebschneeablagerungen, Rissbildung, WUMM-Geräusche, frische Lawinen. Oft ist es aber schwierig, das Alter des Triebschnees abzuschätzen und Triebschnee muss zudem nicht zwingend ein Problem sein (zum Beispiel bei fehlender Schwachschicht).</p>&#13;
    <h5 class="normal">Verhaltensempfehlung</h5>&#13;
    <p>Vermeide Triebschneeablagerungen in steilem Gelände, insbesondere an Übergängen von wenig zu viel Schnee und von weichem zu hartem Schnee.</p>&#13;
  </div>&#13;
&#13;
  <div id="persistent_weak_layers" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_altschnee_3-640.webp   640w,&#13;
            /content_files/schnee_altschnee_3-1280.webp 1280w,&#13;
            /content_files/schnee_altschnee_3-1920.webp 1920w,&#13;
            /content_files/schnee_altschnee_3-2560.webp 2560w,&#13;
            /content_files/schnee_altschnee_3-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_altschnee_3-640.jpg   640w,&#13;
            /content_files/schnee_altschnee_3-1280.jpg 1280w,&#13;
            /content_files/schnee_altschnee_3-1920.jpg 1920w,&#13;
            /content_files/schnee_altschnee_3-2560.jpg 2560w,&#13;
            /content_files/schnee_altschnee_3-3200.jpg 3200w,&#13;
            /content_files/schnee_altschnee_3.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_altschnee_3-1280.jpg" title="Altschnee" alt="Altschnee">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Altschneeproblem</h2>&#13;
    </div>&#13;
&#13;
    <h6>Was?</h6>&#13;
    <h5 class="normal">Merkmale</h5>&#13;
    <p>Das Problem entsteht durch vorhandene Schwachschichten innerhalb der Altschneedecke. Typische Schwachschichten sind eingeschneiter Oberflächenreif, Tiefenreif (auch Becherkristalle oder „Schwimmschnee“ genannt) oder kantige Kristalle.</p>&#13;
    <h5 class="normal">Zu erwartende Lawinenarten</h5>&#13;
    <ul>
<li>trockene Schneebrettlawinen</li>&#13;
      <li>meist künstliche Auslösungen (z.B. Wintersportler, Sprengung); spontane Lawinen sind selten, meist in Kombination mit einem anderen Lawinenproblem</li>&#13;
    </ul>
<h6>Wo?</h6>&#13;
    <h5 class="normal">Räumliche Verteilung</h5>&#13;
    <p>Das Lawinenproblem kann sowohl großflächig verteilt, als auch kleinräumig konzentriert sein. Es ist in allen Expositionen möglich, aber häufiger in schattigen, eher windgeschützten Hängen.</p>&#13;
    <h5 class="normal">Position der Schwachschicht in der Schneedecke</h5>&#13;
    <p>Irgendwo im Altschnee, oft tief in der Schneedecke. Wenn die Schwachschicht von mächtigen, stabileren Schichten überdeckt ist, wird die Auslösung schwieriger.</p>&#13;
&#13;
    <h6>Warum?</h6>&#13;
    <h5 class="normal">Auslösemechanismus</h5>&#13;
    <p>Bruch einer Schwachschicht im Altschnee, wenn die Zusatzlast die Festigkeit der Schwachschicht überschreitet.</p>&#13;
&#13;
    <h6>Wann?</h6>&#13;
    <h5 class="normal">Dauer</h5>&#13;
    <p>Wochen bis Monate; teilweise während des gesamten Winters.</p>&#13;
&#13;
    <h6>Wie gehe ich damit um?</h6>&#13;
    <h5 class="normal">Problemerkennung im Gelände</h5>&#13;
    <p>Das Altschneeproblem ist äußerst schwierig zu erkennen. Zeichen für Instabilität (z.B. WUMM-Geräusche) sind typisch, aber nicht zwingend vorhanden. Schneedeckentests können helfen, die Schwachschichten zu erkennen. Informationen zur Schneedeckenentwicklung und Informationen im Lawinenlagebericht/Lawinenbulletin sind wichtig. Die Bruchfortpflanzungen erfolgen üblicherweise über weite Strecken. Fernauslösungen sind ebenfalls möglich.</p>&#13;
    <h5 class="normal">Verhaltensempfehlung</h5>&#13;
    <p>Meiden von grossen Steilhängen und Zurückhaltung. Beachte den Witterungsverlauf und die Schneedeckenentwicklung in einem Gebiet. Besondere Vorsicht in schneearmen Bereichen und Übergängen von schneearm zu schneereich.<br>Das Altschneeproblem ist eine Hauptursache von tödlichen Lawinenunfällen bei Wintersportlern.</p>&#13;
  </div>&#13;
&#13;
  <div id="wet_snow" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_nassschnee_0-640.webp   640w,&#13;
            /content_files/schnee_nassschnee_0-1280.webp 1280w,&#13;
            /content_files/schnee_nassschnee_0-1920.webp 1920w,&#13;
            /content_files/schnee_nassschnee_0-2560.webp 2560w,&#13;
            /content_files/schnee_nassschnee_0-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_nassschnee_0-640.jpg   640w,&#13;
            /content_files/schnee_nassschnee_0-1280.jpg 1280w,&#13;
            /content_files/schnee_nassschnee_0-1920.jpg 1920w,&#13;
            /content_files/schnee_nassschnee_0-2560.jpg 2560w,&#13;
            /content_files/schnee_nassschnee_0-3200.jpg 3200w,&#13;
            /content_files/schnee_nassschnee_0.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_nassschnee_0-1280.jpg" title="Nassschnee" alt="Nassschnee">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Nassschneeproblem</h2>&#13;
    </div>&#13;
&#13;
    <h6>Was?</h6>&#13;
    <h5 class="normal">Merkmale</h5>&#13;
    <p>Das Problem entsteht durch eine zunehmende Schwächung der Schneedecke durch Wassereintrag, entweder durch Schmelze oder Regen.</p>&#13;
    <h5 class="normal">Zu erwartende Lawinenarten</h5>&#13;
    <ul>
<li>Nasse Schneebrettlawinen</li>&#13;
      <li>Nasse Lockerschneelawinen</li>&#13;
      <li>Meist spontane Auslösungen</li>&#13;
    </ul>
<h6>Wo?</h6>&#13;
    <h5 class="normal">Räumliche Verteilung</h5>&#13;
    <p>Wenn die Sonneneinstrahlung die Hauptursache des Problems ist, hängt die Verbreitung vor allem von der Höhenlage und der Exposition ab. Wenn Regen die Ursache ist, sind alle Expositionen betroffen.</p>&#13;
    <h5 class="normal">Position der Schwachschicht in der Schneedecke</h5>&#13;
    <p>Irgendwo in der Schneedecke.</p>&#13;
&#13;
    <h6>Warum?</h6>&#13;
    <h5 class="normal">Auslösemechanismus</h5>&#13;
    <p>Nasse Schneebrettlawinen:<br>Schwächung und Bruch ehemaliger Schwachschichten in der Schneedecke oder Abgleiten von Schichten an Wasserhorizonten. Regen stellt zudem eine Zusatzlast auf die Schneedecke dar.<br>Nasse Lockerschneelawinen:<br>Verlust von Bindungen zwischen den Schneekristallen</p>&#13;
&#13;
    <h6>Wann?</h6>&#13;
    <h5 class="normal">Dauer</h5>&#13;
    <p>Stunden bis Tage<br>Rascher Stabilitätsverlust möglich<br>Kritisch ist das erste Eindringen von Wasser tiefer in die Schneedecke, sobald die Schneedecke 0 °C-isotherm ist.<br>Spontane Lawinenabgänge sind am Nachmittag wahrscheinlicher als am Morgen (außer wenn Regen die Hauptursache des Problems ist).</p>&#13;
&#13;
    <h6>Wie gehe ich damit um?</h6>&#13;
    <h5 class="normal">Problemerkennung im Gelände</h5>&#13;
    <p>Das Nassschneeproblem ist meist einfach zu erkennen. Beginnender Regen, Bildung von Schneeballen oder Schneerollen, kleine nasse Schneebrett- oder Lockerschneelawinen kündigen oft nasse Lawinenaktivität an. Tiefes Einsinken in die Schneedecke ist ebenfalls ein Zeichen zunehmender Durchfeuchtung/-nässung.</p>&#13;
    <h5 class="normal">Verhaltensempfehlung</h5>&#13;
    <p>Gibt es an der Schneeoberfläche eine Schmelzharschkruste, sind die Bedingungen am Morgen nach einer kalten, klaren Nächten meist günstig. Nach warmen, bedeckten Nächten tritt das Problem oft bereits am Morgen auf. Bei Regen auf eine trockene Schneedecke tritt das Problem meist unmittelbar auf. Gutes Timing und eine gute Tourenplanung sind entscheidend. Beachte Lawinenauslaufbereiche.</p>&#13;
  </div>&#13;
&#13;
  <div id="gliding_snow" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_gleitschnee_0-640.webp   640w,&#13;
            /content_files/schnee_gleitschnee_0-1280.webp 1280w,&#13;
            /content_files/schnee_gleitschnee_0-1920.webp 1920w,&#13;
            /content_files/schnee_gleitschnee_0-2560.webp 2560w,&#13;
            /content_files/schnee_gleitschnee_0-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_gleitschnee_0-640.jpg   640w,&#13;
            /content_files/schnee_gleitschnee_0-1280.jpg 1280w,&#13;
            /content_files/schnee_gleitschnee_0-1920.jpg 1920w,&#13;
            /content_files/schnee_gleitschnee_0-2560.jpg 2560w,&#13;
            /content_files/schnee_gleitschnee_0-3200.jpg 3200w,&#13;
            /content_files/schnee_gleitschnee_0.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_gleitschnee_0-1280.jpg" title="Gleitschnee" alt="Gleitschnee">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Gleitschneeproblem</h2>&#13;
    </div>&#13;
&#13;
    <h6>Was?</h6>&#13;
    <h5 class="normal">Merkmale</h5>&#13;
    <p>Die gesamte Schneedecke gleitet auf glattem Untergrund wie zum Beispiel Grashängen oder glatten Felsenzonen ab. Hohe Aktivität von Gleitschneelawinen ist typischerweise verbunden mit einer mächtigen Schneedecke mit wenigen oder keinen Schwachschichten. Gleitschneelawinen können sowohl bei einer trockenen, kalten als auch bei einer nassen, 0°C-isothermen Schneedecke auftreten. Den Abgangszeitpunkt von Gleitschneelawinen vorherzusagen ist kaum möglich, obwohl sie sich meist durch Gleitschneerisse (sogenannte Fischmäuler) ankündigen.</p>&#13;
    <h5 class="normal">Zu erwartende Lawinenarten</h5>&#13;
    <ul>
<li>Gleitschneelawinen: trocken/kalt und nass/0 °C-isotherm</li>&#13;
      <li>Fast ausschließlich spontane Auslösungen. Künstliche Auslösungen sind unwahrscheinlich.</li>&#13;
    </ul>
<h6>Wo?</h6>&#13;
    <h5 class="normal">Räumliche Verteilung</h5>&#13;
    <p>Vor allem auf glattem Untergrund. In allen Expositionen, aber öfter an Südhängen.</p>&#13;
    <h5 class="normal">Position der Schwachschicht in der Schneedecke</h5>&#13;
    <p>Am Übergang der Schneedecke zum Boden.</p>&#13;
&#13;
    <h6>Warum?</h6>&#13;
    <h5 class="normal">Auslösemechanismus</h5>&#13;
    <p>Gleitschneelawinen werden aufgrund des Reibungsverlusts auf einer feucht-nassen Schicht zwischen Schneedecke und Boden ausgelöst.</p>&#13;
&#13;
    <h6>Wann?</h6>&#13;
    <h5 class="normal">Dauer</h5>&#13;
    <p>Tage bis Monate, Auslösungen während des gesamten Winters möglich. Auslösungen können zu jeder Tages- oder Nachtzeit auftreten. Im Frühling treten sie meist im späteren Tagesverlauf auf.</p>&#13;
&#13;
    <h6>Wie gehe ich damit um?</h6>&#13;
    <h5 class="normal">Problemerkennung im Gelände</h5>&#13;
    <p>Gleitschneerisse (Fischmäuler) sind zwar einfach zu erkennen, der Auslösezeitpunkt kann jedoch so gut wie nicht vorhergesagt werden. Auslösungen sind auch ohne die Bildung von Gleitschneerissen möglich.</p>&#13;
    <h5 class="normal">Verhaltensempfehlung</h5>&#13;
    <p>Halte dich nicht in der Nähe von Gleitschneerissen auf.</p>&#13;
  </div>&#13;
</section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Ausbildung &amp; Prävention</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/dangerscale" title="Lawinengefahrenstufen">Lawinengefahrenstufen</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/matrix" title="EAWS Matrix">EAWS Matrix</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-sizes" title="Lawinengrößen">Lawinengrößen</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/danger-patterns" title="Gefahrenmuster">Gefahrenmuster</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/handbook" title="Handbook">Handbuch</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
