<div>
<h1>Problemas de Avalanchas</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#new_snow" title="New Snow" class="secondary pure-button" data-scroll>Nieve reciente</a></li>&#13;
      <li><a href="#wind_slab" title="Wind slab " class="secondary pure-button" data-scroll>Placas de viento</a></li>&#13;
      <li><a href="#persistent_weak_layers" title="Persistent weak layers" class="secondary pure-button" data-scroll>Capas débiles persistentes</a></li>&#13;
      <li><a href="#wet_snow" title="Wet snow" class="secondary pure-button" data-scroll>Nieve húmeda</a></li>&#13;
      <li><a href="#gliding_snow" title="Gliding snow" class="secondary pure-button" data-scroll>Deslizamientos</a></li>&#13;
    </ul></header></section><section class="section-centered"><div class="panel">&#13;
    <p>En la vida cotidiana reconocemos personas que ya hemos conocido antes. El reconocimiento se produce en pocos segundos, sin largos pensamientos y suele ser correcto. Para las personas que conocemos bien, este proceso de reconocimiento funciona incluso con características generales, p.e. la silueta, la forma de caminar o la voz. En otras palabras, estamos hechos para el reconocimiento de patrones. Realmente, también podemos utilizar esta capacidad para reconocer situaciones similares a la hora de tomar decisiones en terreno de aludes. Teniendo presente este objetivo se definieron los cinco problemas típicos de aludes. Describen situaciones típicas, como se producen al terreno y cómo pueden ayudar tanto a quienes redactan los boletines de aludes como los montañeros en su valoración del peligro de aludes. Complementan la descripción del nivel de peligro y del terreno peligroso (orientación y altitud) y representan el tercer nivel de la pirámide informativa. Las siguientes definiciones contienen una descripción del problema que incluye los tipos de aludes previstos, la distribución espacial y la posición de las capas débiles dentro de la cubierta de nieve. Además, se discuten los mecanismos desencadenantes, la duración típica del peligro y los consejos finales sobre cómo se puede circular en terreno de aludes. El principal objetivo aquí son los montañeros y las montañeras que se mueven en terreno de aludes. Además, la descripción de los problemas de aludes también puede ser útil para las autoridades locales (por ejemplo, las comisiones de aludes).</p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="new_snow" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_neuschnee_0-640.webp   640w,&#13;
            /content_files/schnee_neuschnee_0-1280.webp 1280w,&#13;
            /content_files/schnee_neuschnee_0-1920.webp 1920w,&#13;
            /content_files/schnee_neuschnee_0-2560.webp 2560w,&#13;
            /content_files/schnee_neuschnee_0-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_neuschnee_0-640.jpg   640w,&#13;
            /content_files/schnee_neuschnee_0-1280.jpg 1280w,&#13;
            /content_files/schnee_neuschnee_0-1920.jpg 1920w,&#13;
            /content_files/schnee_neuschnee_0-2560.jpg 2560w,&#13;
            /content_files/schnee_neuschnee_0-3200.jpg 3200w,&#13;
            /content_files/schnee_neuschnee_0.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_neuschnee_0-1280.jpg" title="New snow" alt="New snow">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Nieve reciente</h2>&#13;
    </div>&#13;
&#13;
    <h6>¿Qué?</h6>&#13;
    <h5 class="normal">Características</h5>&#13;
    <p>El problema de aludes está relacionado con la nevada actual o más recientes. La candidad de carga adicional por nieve nueva en el manto existente es el factor crucial del problema de nieve reciente. La importancia de la carga crítica depende de varios factores tales como la temperatura o las características de la superficíe de nieve previa.</p>&#13;
    <h5 class="normal">Tipos de aludes previstos</h5>&#13;
    <ul>
<li>Placas de nieve seca</li>&#13;
      <li>Aludes de salida puntual seca</li>&#13;
      <li>Aludes naturales y accidentales desencadenados por el ser humano</li>&#13;
    </ul>
<h6>¿Dónde?</h6>&#13;
    <h5 class="normal">Distribución espacial</h5>&#13;
    <p>Generalmente de distribución amplia y frecuente en todas las orientaciones</p>&#13;
    <h5 class="normal">Posición de las capas débiles en el manto</h5>&#13;
    <p>Normalmente en la transición con la superfície de nieve antigua, pero a veces, en las capas de nieve nueva y también a veces en el manto de nieve vieha</p>&#13;
&#13;
    <h6>¿Por qué?</h6>&#13;
    <h5 class="normal">Características del desencadenamiento</h5>&#13;
    <p>Placas de nieve seca:<br>&#13;
      Carga adicional debido a una nevada sobre capas débiles persistentes o creadas durante la nevada&#13;
      <br>&#13;
      Aludes secos de salida puntual: <br>&#13;
      Pérdida de cohesión entre los cristales de nieve nueva</p>&#13;
&#13;
    <h6>¿Cuándo?</h6>&#13;
    <h5 class="normal">Duración</h5>&#13;
    <p>Típicamente durante la nevada reciente y hasta algunos días después</p>&#13;
&#13;
    <h6>¿Cómo gestionarlo?</h6>&#13;
    <h5 class="normal">Identificación del problema sobre el terreno</h5>&#13;
    <p>El problema de nieve reciente es bastante fácil de reconocer. Estad atentos a las cantidades de nieve nueva y a la actividad de aludes recientes. Tened cuidado con ligeros cambios meteorológicos ( por ejemplo, cambios en la humedad del aire) que afecten a las condiciones de la nieve reciente.</p>&#13;
    <h5 class="normal">Consejos de circulación</h5>&#13;
    <p>Placas de nieve seca:: <br>&#13;
      Esperar hasta que el manto se estabilice. <br>&#13;
      Aludes puntuales de nieve seca: <br>&#13;
      El peligro de caída es más importante que el de enterramiento. Considera 
      las consecuencias en terreno muy inclinado.</p>&#13;
  </div>&#13;
&#13;
  <div id="wind_slab" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_triebschnee_2-640.webp   640w,&#13;
            /content_files/schnee_triebschnee_2-1280.webp 1280w,&#13;
            /content_files/schnee_triebschnee_2-1920.webp 1920w,&#13;
            /content_files/schnee_triebschnee_2-2560.webp 2560w,&#13;
            /content_files/schnee_triebschnee_2-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_triebschnee_2-640.jpg   640w,&#13;
            /content_files/schnee_triebschnee_2-1280.jpg 1280w,&#13;
            /content_files/schnee_triebschnee_2-1920.jpg 1920w,&#13;
            /content_files/schnee_triebschnee_2-2560.jpg 2560w,&#13;
            /content_files/schnee_triebschnee_2-3200.jpg 3200w,&#13;
            /content_files/schnee_triebschnee_2.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_triebschnee_2-1280.jpg" title="Wind slab" alt="Wind slab">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Placas de viento</h2>&#13;
    </div>&#13;
&#13;
    <h6>¿Qué?</h6>&#13;
    <h5 class="normal">Características</h5>&#13;
    <p>El problema de aludes está relacionado con las placas de viento. La nieve puede ser transportada por el viento con o sin una nevada simultánea.</p>&#13;
    <h5 class="normal">Tipos de aludes previstos</h5>&#13;
    <ul>
<li>Placas de nieve seca</li>&#13;
      <li>Aludes naturales y accidentales desencadenados por el ser humano</li>&#13;
    </ul>
<h6>¿Dónde?</h6>&#13;
    <h5 class="normal">Distribución espacial</h5>&#13;
    <p>Muy variable pero típicamente en los sotaventos de barrancos, cubets, cerca de cambios de ángulo de la pendiente, detrás de dordales o de otros lugares protegidos del viento. Es más común por encima del límite del bosque.</p>&#13;
    <h5 class="normal">Posición de las capas débiles en el manto</h5>&#13;
    <p>Normalmente, bien en la transición con la superficie de la nieve antigua o bien dentro de la misma placa de viento debido a variaciones de la velocidad del viento y variaciones durante el ciclo de tormentas, pero ocasionalmente también más profundamente en la nieve antigua.</p>&#13;
&#13;
    <h6>¿Por qué?</h6>&#13;
    <h5 class="normal">Características del desencadenamiento</h5>&#13;
    <p>La placa de viento es una carga adicional para la capa débil y construye una capa particularmente propensa a favorecer la propagación de fracturas.</p>&#13;
&#13;
    <h6>¿Cuándo?</h6>&#13;
    <h5 class="normal">Duración</h5>&#13;
    <p>Las placas de viento pueden evolucionar muy rápidamente. El problema normalmente dura desde el episodio de transporte de la nieve hasta algunos días como máximo, dependiendo de la evolución del manto.</p>&#13;
&#13;
    <h6>¿Cómo gestionarlo?</h6>&#13;
    <h5 class="normal">Identificación del problema sobre el terreno</h5>&#13;
    <p>Si no está escondida por la nieve nueva, se puede reconocer el problema de placas de viento con entrenamiento y buena visibilidad. Observa las marcas del viento y localiza las acumulaciones. Indicios típicos: acumulaciones de nieve, actividad de aludes reciente y, a veces,  grietas que propagan o whumpfs. Sin embargo, a menudo es difícil determinar la edad de las marcas del viento y estas no implican necesariamente un problema de aludes (por ejemplo, en ausencia de una capa débil).</p>&#13;
    <h5 class="normal">Consejos de circulación</h5>&#13;
    <p>Evitar depósitos de nieve venteada en terrenos muy inclinados, en particular en áreas donde la cobertura de nieve cambia de ino a grueso o de duro a blando. </p>&#13;
  </div>&#13;
&#13;
  <div id="persistent_weak_layers" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_altschnee_3-640.webp   640w,&#13;
            /content_files/schnee_altschnee_3-1280.webp 1280w,&#13;
            /content_files/schnee_altschnee_3-1920.webp 1920w,&#13;
            /content_files/schnee_altschnee_3-2560.webp 2560w,&#13;
            /content_files/schnee_altschnee_3-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_altschnee_3-640.jpg   640w,&#13;
            /content_files/schnee_altschnee_3-1280.jpg 1280w,&#13;
            /content_files/schnee_altschnee_3-1920.jpg 1920w,&#13;
            /content_files/schnee_altschnee_3-2560.jpg 2560w,&#13;
            /content_files/schnee_altschnee_3-3200.jpg 3200w,&#13;
            /content_files/schnee_altschnee_3.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_altschnee_3-1280.jpg" title="Persistent weak layers" alt="Persistent weak layers">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Capas débiles persistentes</h2>&#13;
    </div>&#13;
&#13;
    <h6>¿Qué?</h6>&#13;
    <h5 class="normal">Características</h5>&#13;
    <p>El problema de aludes está relacionado con la presencia de capas débiles en el manto antiguo. Estas capas débiles típicamente incluyen capas enterradas de escarcha de superfície, cubiletes o cristales con facetas.</p>&#13;
    <h5 class="normal">Tipos de aludes previstos</h5>&#13;
    <ul>
<li>Placas de nieve seca</li>&#13;
      <li>Principalmente aludes accidentales; raramente aludes naturales, principalmente en combinación con otros problemas de aludes</li>&#13;
    </ul>
<h6>¿Dónde?</h6>&#13;
    <h5 class="normal">Distribución espacial</h5>&#13;
    <p>El problema se puede dar de forma generalizada
sobre el terreno o presentarse bastante aislado.
Puede estar en todas las orientaciones, pero es
más común en las laderas umbrías al abrigo del
viento</p>&#13;
    <h5 class="normal">Posición de las capas débiles en el manto</h5>&#13;
    <p>En cualquier lugar del manto viejo, a menudo a
niveles profundos. De todos modos, cuanto más
profunda esté enterrada la capa, más difícil se
hace el desencadenamiento.</p>&#13;
&#13;
    <h6>¿Por qué?</h6>&#13;
    <h5 class="normal">Características del desencadenamiento</h5>&#13;
    <p>Se desencadena cuando la sobrecarga que se le
aplica excede la resistencia de la capa débil.</p>&#13;
&#13;
    <h6>¿Cuándo?</h6>&#13;
    <h5 class="normal">Duración</h5>&#13;
    <p>Las capas débiles pueden persistir desde semanas
hasta meses con posibilidad de que incluso
perduren durante toda la temporada invernal.</p>&#13;
&#13;
    <h6>¿Cómo gestionarlo?</h6>&#13;
    <h5 class="normal">Identificación del problema sobre el terreno</h5>&#13;
    <p>Detectar las capas débiles persistentes es
complejo. Los signos de inestabilidad como los
whumpfs son típicos pero no tienen porque estar
presentes necesariamente. Los test de estabilidad
pueden ayudar a detectar las capas débiles
persistentes. La información referente a la historia
del manto nivoso es crucial, así como las
referencias a las capas débiles en los boletines de
peligro de aludes.
La propagación de fracturas a grandes distancias
son frecuentes y los desencadenamientos a
distancia son probables.</p>&#13;
    <h5 class="normal">Consejos de circulación</h5>&#13;
    <p>Circulad de forma conservadora y evitad las
laderas grandes y muy empinadas. Tened en
consideración el tiempo y los procesos en el
manto nivoso de la zona. Sed extremadamente
cautos con manto delgado y en la transición de
delgado a grueso.
Este problema es el que causa la mayoría de
muertes a excursionistas en terreno de aludes.</p>&#13;
  </div>&#13;
&#13;
  <div id="wet_snow" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_nassschnee_0-640.webp   640w,&#13;
            /content_files/schnee_nassschnee_0-1280.webp 1280w,&#13;
            /content_files/schnee_nassschnee_0-1920.webp 1920w,&#13;
            /content_files/schnee_nassschnee_0-2560.webp 2560w,&#13;
            /content_files/schnee_nassschnee_0-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_nassschnee_0-640.jpg   640w,&#13;
            /content_files/schnee_nassschnee_0-1280.jpg 1280w,&#13;
            /content_files/schnee_nassschnee_0-1920.jpg 1920w,&#13;
            /content_files/schnee_nassschnee_0-2560.jpg 2560w,&#13;
            /content_files/schnee_nassschnee_0-3200.jpg 3200w,&#13;
            /content_files/schnee_nassschnee_0.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_nassschnee_0-1280.jpg" title="Wet snow" alt="Wet snow">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Nieve húmeda</h2>&#13;
    </div>&#13;
&#13;
    <h6>¿Qué?</h6>&#13;
    <h5 class="normal">Características</h5>&#13;
    <p>El problema de alud está relacionado con el debilitamiento del
manto debido a la presencia de agua líquida en su interior. El
agua se infiltra dentro del manto debido a la fusión o a la lluvia</p>&#13;
    <h5 class="normal">Tipos de aludes previstos</h5>&#13;
    <ul>
<li>Aludes de placa húmeda</li>&#13;
      <li>Aludes de nieve húmeda de salida puntual</li>&#13;
      <li>Principalmente aludes naturales</li>&#13;
    </ul>
<h6>¿Dónde?</h6>&#13;
    <h5 class="normal">Distribución espacial</h5>&#13;
    <p>Cuando la causa es el sol, la distribución del problema depende sobretodo de la orientación y de la altitud. En caso de que sea lluvia caída sobre la nieve, estarán afectadas todas las orientaciones.</p>&#13;
    <h5 class="normal">Posición de las capas débiles en el manto</h5>&#13;
    <p>En cualquier lugar del manto nivoso</p>&#13;
&#13;
    <h6>¿Por qué?</h6>&#13;
    <h5 class="normal">Características del desencadenamiento</h5>&#13;
    <p>Alud de placa húmeda:<br>
 Debilitamiento de las capas débiles preexistentes o acumulación de agua en las interfases entre capas.<br>
En el caso de lluvia, también hay
sobrecarga de la capa débil <br>
Alud de nieve húmeda sin cohesión:<br>
Pérdida de cohesión</p>&#13;
&#13;
    <h6>¿Cuándo?</h6>&#13;
    <h5 class="normal">Duración</h5>&#13;
    <p>De horas a días.
<br>Posibilidad de pérdida rápida de estabilidad.
<br> Es especialmente crítico el momento en el que el agua se infiltra por primera vez en el interior del manto una vez éste se ha calentado hasta 0 °C.
<br>Los aludes naturales pueden ser más probables en
determinados momentos del día, particularmente por la
tarde (a menos que la lluvia sea el factor desencadenante).</p>&#13;
&#13;
    <h6>¿Cómo gestionarlo?</h6>&#13;
    <h5 class="normal">Identificación del problema sobre el terreno</h5>&#13;
    <p>El problema de la nieve húmeda generalmente es fácil de reconocer. El inicio de la lluvia, la caída de bolas, la rodadura de nieve, pequeñas placas húmedas y de nieve húmeda sin cohesión, son a menudo los precursores de actividad de aludes naturales de placa húmeda. El fuerte hundimiento del pie al pisar la nieve es también un signo de incremento del humedecimiento de la nieve.</p>&#13;
    <h5 class="normal">Consejos de circulación</h5>&#13;
    <p>Cuando hay rehielo nocturno, en general tras noches frías con cielo despejado, las condiciones son favorables por la mañana.
Después de noches cálidas con cielo cubierto el problema está a menudo presente ya desde por la mañana. Normalmente la lluvia sobre nieve nueva produce este problema de forma casi inmediata. Planificar y gestionar bien el horario de la ruta es muy importante. Ten en cuenta las zonas de llegada de los aludes.</p>&#13;
  </div>&#13;
&#13;
  <div id="gliding_snow" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_gleitschnee_0-640.webp   640w,&#13;
            /content_files/schnee_gleitschnee_0-1280.webp 1280w,&#13;
            /content_files/schnee_gleitschnee_0-1920.webp 1920w,&#13;
            /content_files/schnee_gleitschnee_0-2560.webp 2560w,&#13;
            /content_files/schnee_gleitschnee_0-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_gleitschnee_0-640.jpg   640w,&#13;
            /content_files/schnee_gleitschnee_0-1280.jpg 1280w,&#13;
            /content_files/schnee_gleitschnee_0-1920.jpg 1920w,&#13;
            /content_files/schnee_gleitschnee_0-2560.jpg 2560w,&#13;
            /content_files/schnee_gleitschnee_0-3200.jpg 3200w,&#13;
            /content_files/schnee_gleitschnee_0.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_gleitschnee_0-1280.jpg" title="Gliding snow" alt="Gliding snow">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Deslizamientos basales</h2>&#13;
    </div>&#13;
&#13;
    <h6>¿Qué?</h6>&#13;
    <h5 class="normal">Características</h5>&#13;
    <p>Todo el manto nivoso desliza sobre el suelo, normalmente sobre terreno resbaladizo, como p. ej. pendientes herbosas o laderas de roca lisa. La actividad de deslizamientos basales está típicamente relacionada con un manto grueso homogéneo o con pocas capas. Los deslizamientos basales se pueden dar con manto frío y seco y con un manto cálido y húmedo. El desencadenamiento de los deslizamientos basales es difícil de predecir, aunque las caídas frecuentemente son anunciadas por la apertura de grietas.</p>&#13;
    <h5 class="normal">Tipos de aludes previstos</h5>&#13;
    <ul>
<li>Deslizamientos basales; manto nivoso frío/seco o húmedo a 0 ºC isotermo</li>&#13;
      <li>Normalmente naturales. Los desencadenamientos accidentales o artificiales son poco probables.</li>&#13;
    </ul>
<h6>¿Dónde?</h6>&#13;
    <h5 class="normal">Distribución espacial</h5>&#13;
    <p>Predominan en terreno suave y liso y en cualquier orientación, pero más a menudo en orientaciones sur.</p>&#13;
    <h5 class="normal">Posición de las capas débiles en el manto</h5>&#13;
    <p>Interfaz entre el suelo y el manto nivoso</p>&#13;
&#13;
    <h6>¿Por qué?</h6>&#13;
    <h5 class="normal">Características del desencadenamiento</h5>&#13;
    <p>Los deslizamientos basales están causados por la pérdida de fricción en el contacto de la nieve con el suelo.</p>&#13;
&#13;
    <h6>¿Cuándo?</h6>&#13;
    <h5 class="normal">Duración</h5>&#13;
    <p>De días a meses, con posibilidad de toda la temporada. La caída se puede dar en cualquier momento del día. En primavera, los deslizamientos basales se dan mayoritariamente al final del día.</p>&#13;
&#13;
    <h6>¿Cómo gestionarlo?</h6>&#13;
    <h5 class="normal">Identificación del problema sobre el terreno</h5>&#13;
    <p>Con la presencia de grietas de deslizamiento el problema se puede localizar pero de todos modos su presencia no implica la caída del alud por deslizamiento de forma inmediata, ya que es algo casi imposible de predecir. La caída de deslizamientos sin grietas previas también es muy común.</p>&#13;
    <h5 class="normal">Consejos de circulación</h5>&#13;
    <p>Evitar zonas próximas a grietas de deslizamiento</p>&#13;
  </div>&#13;
</section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Educación &amp; Prevención</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Escala de Peligro</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/matrix" title="EAWS Matrix">Matriz EAWS </a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-sizes" title="Avalanche Sizes">Tamaño de aludes</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/danger-patterns" title="Danger Patterns">Patrones de Peligro</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/handbook" title="Handbook">Manual</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
