<div>
<h1>Situations avalancheuses typiques</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#neige_frache" title="Neige fraîche" class="secondary pure-button" data-scroll="">Neige fraîche</a></li>&#13;
      <li><a href="#wind_slab" title="Wind slab " class="secondary pure-button" data-scroll>Wind slab</a></li>&#13;
      <li><a href="#persistent_weak_layers" title="Persistent weak layers" class="secondary pure-button" data-scroll="">Couche fragile persistante</a></li>&#13;
      <li><a href="#neige_humide" title="Neige Humide" class="secondary pure-button" data-scroll="">Neige humide</a></li>&#13;
      <li><a href="#gliding_snow" title="Gliding snow" class="secondary pure-button" data-scroll>Avalanches de glissement</a></li>&#13;
    </ul></header></section><section class="section-centered"><div class="panel">&#13;
    <p>In the every day life we recognize people who we have already met before.&#13;
      The recognition happens in a few seconds, without any long thoughts and&#13;
      usually is correct. For persons we have memorized and know well can, this&#13;
      process of recognition works with less detailed characteristics, e.g.&#13;
      silhouette, gait or voice. In other words, we are made for pattern&#13;
      recognition. In fact, we can also use this ability to recognize similar&#13;
      situations when making decisions in avalanche terrain. The five typical&#13;
      avalanche problems were defined with this goal in mind. They describe&#13;
      typical situations, how they occur in the terrain and how they can support&#13;
      both avalanche forecasters and backcountry recreationists in their&#13;
      assessment of the avalanche danger. They supplement the description of the&#13;
      danger level and the hazardous terrain (aspect and elevation) and&#13;
      represent the third part of the information pyramid. The following&#13;
      definitions contain a description of the problem including the expected&#13;
      avalanche types, the spatial distribution and the position of the weak&#13;
      layers within the snow cover. In addition, the trigger mechanisms, typical&#13;
      duration of the danger and final advice on how to travel in avalanche&#13;
      terrain are discussed. The main focus here is on backcountry&#13;
      recreationists who move in avalanche terrain. In addition, the description&#13;
      of avalanche problems can also be helpful for local authorities (e.g.&#13;
      avalanche commissions).</p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="new_snow" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_neuschnee_0-640.webp   640w,&#13;
            /content_files/schnee_neuschnee_0-1280.webp 1280w,&#13;
            /content_files/schnee_neuschnee_0-1920.webp 1920w,&#13;
            /content_files/schnee_neuschnee_0-2560.webp 2560w,&#13;
            /content_files/schnee_neuschnee_0-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_neuschnee_0-640.jpg   640w,&#13;
            /content_files/schnee_neuschnee_0-1280.jpg 1280w,&#13;
            /content_files/schnee_neuschnee_0-1920.jpg 1920w,&#13;
            /content_files/schnee_neuschnee_0-2560.jpg 2560w,&#13;
            /content_files/schnee_neuschnee_0-3200.jpg 3200w,&#13;
            /content_files/schnee_neuschnee_0.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_neuschnee_0-1280.jpg" title="New snow" alt="New snow">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Neige fraîche</h2>&#13;
    </div>&#13;
&#13;
    <h6>Quoi?</h6>&#13;
    <h5 class="normal">Caractéristiques</h5>&#13;
    <p>Cette situation est liée aux chutes de neige en cours ou récentes. La quantité de neige récente occasionnant la surcharge en est le principal facteur. L’impact de cette surcharge dépend de facteurs variés tels que la température ou les caractéristiques du manteau neigeux préexistant. </p>&#13;
    <h5 class="normal">Types d’avalanches attendus </h5>&#13;
    <ul>
<li>Avalanches de plaque sèche</li>&#13;
      <li>Avalanches de neige sans cohésion</li>&#13;
      <li>Départs spontanés et déclenchements provoqués</li>&#13;
    </ul>
<h6>Où? </h6>&#13;
    <h5 class="normal">Distribution spatiale </h5>&#13;
    <p>En général largement répandu et concernant toutes les orientations. </p>&#13;
    <h5 class="normal">Position de la couche fragile dans le manteau neigeux</h5>&#13;
    <p>Généralement à la transition avec le manteau neigeux préexistant, parfois également au sein de la couche de neige récente ou du manteau neigeux préexistant. </p>&#13;
&#13;
    <h6>Pourquoi?</h6>&#13;
    <h5 class="normal">Mode de déclenchement </h5>&#13;
    <p>Avalanches de plaque sèche:<br> Surcharge dues aux chutes de neige exercée sur une couche fragile préexistante ou nouvelle. <br>Avalanche de neige sans cohésion: <br>Manque de cohésion au sein de la neige récente </p>&#13;
&#13;
    <h6>Quand? </h6>&#13;
    <h5 class="normal">Durée</h5>&#13;
    <p>Généralement pendant les chutes de neige et dans les quelques jours suivants. </p>&#13;
&#13;
    <h6>Comment appréhender le risque? </h6>&#13;
    <h5 class="normal">Indices de terrain</h5>&#13;
    <p>Ces situations sont assez facilement identifiables sur le terrain. Attention aux quantités de neige récente et à l’activité avalancheuse récente. De petites variations des conditions météorologiques peuvent avoir un impact élevé.</p>&#13;
    <h5 class="normal">Conseils de comportement </h5>&#13;
    <p>Avalanches de plaque sèche : <br>Attendre la stabilisation des couches fragiles constituées de neige récente. <br>Avalanches de neige sans cohésion: <br>Le risqué de chute est plus élevé que le risque d’ensevelissement, notamment dans les pentes raides.</p>&#13;
  </div>&#13;
&#13;
  <div id="wind_slab" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_triebschnee_2-640.webp   640w,&#13;
            /content_files/schnee_triebschnee_2-1280.webp 1280w,&#13;
            /content_files/schnee_triebschnee_2-1920.webp 1920w,&#13;
            /content_files/schnee_triebschnee_2-2560.webp 2560w,&#13;
            /content_files/schnee_triebschnee_2-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_triebschnee_2-640.jpg   640w,&#13;
            /content_files/schnee_triebschnee_2-1280.jpg 1280w,&#13;
            /content_files/schnee_triebschnee_2-1920.jpg 1920w,&#13;
            /content_files/schnee_triebschnee_2-2560.jpg 2560w,&#13;
            /content_files/schnee_triebschnee_2-3200.jpg 3200w,&#13;
            /content_files/schnee_triebschnee_2.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_triebschnee_2-1280.jpg" title="Wind slab" alt="Wind slab">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Wind slab</h2>&#13;
    </div>&#13;
&#13;
    <h6>Quoi?</h6>&#13;
    <h5 class="normal">Caractéristiques</h5>&#13;
    <p>The avalanche problem is related to Wind slab. Snow can be transported by&#13;
      wind with or without a concurrent snowfall.</p>&#13;
    <h5 class="normal">Types d’avalanches attendus </h5>&#13;
    <ul>
<li>Avalanches de plaque sèche</li>&#13;
      <li>Départs spontanés et déclenchements provoqués</li>&#13;
    </ul>
<h6>Où? </h6>&#13;
    <h5 class="normal">Distribution spatiale </h5>&#13;
    <p>Très variable, mais généralement sur le versant sous le vent dans les concavités (ravines, cuvettes), à proximité des ruptures de pente, derrière les lignes de crêtes où d’autres zones abritées du vent. Le plus souvent hors des zones de forêt.</p>&#13;
    <h5 class="normal">Position de la couche fragile dans le manteau neigeux</h5>&#13;
    <p>Usually at the transition to the old snow surface or within the windslab&#13;
      layering due to variation in wind speed and variation during storm cycle,&#13;
      but occasionally also deeper in the old snow cover.</p>&#13;
&#13;
    <h6>Pourquoi?</h6>&#13;
    <h5 class="normal">Modes de déclenchement </h5>&#13;
    <p>Wind slab is an additional load on a weak layer and builds a slab which is&#13;
      particularly prone to support crack propagation.</p>&#13;
&#13;
    <h6>Quand? </h6>&#13;
    <h5 class="normal">Durée</h5>&#13;
    <p>Wind slab can evolve very quickly. The problem lasts typically during the&#13;
      snowdrift event, up to a few days at most, depending on snowpack&#13;
      evolution.</p>&#13;
&#13;
    <h6>Comment appréhender le risque? </h6>&#13;
    <h5 class="normal">Indices de terrain</h5>&#13;
    <p>If not hidden by new snow the Wind slab problem can be recognized with&#13;
      training and good visibility. Consider wind signs and locate deposits.&#13;
      Typical clues: snowdrift deposits, recent avalanche activity and sometimes&#13;
      shooting cracks or whumps. However, it is often hard to determine the age&#13;
      of snowdrift deposits and snowdrift deposits do not necessarily imply an&#13;
      avalanche problem (e.g., in absence of a weak layer).</p>&#13;
    <h5 class="normal">Conseils de comportement </h5>&#13;
    <p>Eviter les zones d’accumulation en terrain raide, en particulier dans les zones d’épaisseur ou de dureté variables.</p>&#13;
  </div>&#13;
&#13;
  <div id="persistent_weak_layers" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_altschnee_3-640.webp   640w,&#13;
            /content_files/schnee_altschnee_3-1280.webp 1280w,&#13;
            /content_files/schnee_altschnee_3-1920.webp 1920w,&#13;
            /content_files/schnee_altschnee_3-2560.webp 2560w,&#13;
            /content_files/schnee_altschnee_3-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_altschnee_3-640.jpg   640w,&#13;
            /content_files/schnee_altschnee_3-1280.jpg 1280w,&#13;
            /content_files/schnee_altschnee_3-1920.jpg 1920w,&#13;
            /content_files/schnee_altschnee_3-2560.jpg 2560w,&#13;
            /content_files/schnee_altschnee_3-3200.jpg 3200w,&#13;
            /content_files/schnee_altschnee_3.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_altschnee_3-1280.jpg" title="Persistent weak layers" alt="Persistent weak layers">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Neige ancienne (Sous-couche fragile persistante)</h2>&#13;
    </div>&#13;
&#13;
    <h6>Quoi?</h6>&#13;
    <h5 class="normal">Caractéristiques</h5>&#13;
    <p>Cette situation d’avalanche est liée à la présence de couches fragiles persistantes dans le manteau neigeux. Il s’agit typiquement de couches enfouies constituées de givre de surface, faces planes et/ou gobelets (givre de profondeur).</p>&#13;
    <h5 class="normal">Types d’avalanches attendus </h5>&#13;
    <ul>
<li>Avalanches de plaque sèche</li>&#13;
      <li>Surtout déclenchements provoqués. Les départs spontanés sont rares, et le plus souvent combinés à d’autres situations avalancheuses.</li>&#13;
    </ul>
<h6>Où? </h6>&#13;
    <h5 class="normal">Distribution spatiale </h5>&#13;
    <p>Cette situation d’avalanche peut être isolée ou généralisée. Elle peut se trouver en toutes orientations, mais le plus souvent sur les versants ombragés et à l’abri du vent.</p>&#13;
    <h5 class="normal">Position de la couche fragile dans le manteau neigeux</h5>&#13;
    <p>Au sein du manteau neigeux, souvent en profondeur. Le déclenchement est d’autant plus difficile que la couche fragile est enfouie profondément.</p>&#13;
&#13;
    <h6>Pourquoi?</h6>&#13;
    <h5 class="normal">Modes de déclenchement </h5>&#13;
    <p>Déclenchement de l’avalanche quand la surcharge excède la résistance mécanique de la couche fragile et que les propriétés de la plaque sus-jacente permettent la propagation de rupture dans la couche fragile. </p>&#13;
&#13;
    <h6>Quand? </h6>&#13;
    <h5 class="normal">Durée</h5>&#13;
    <p>La couche fragile peut exister pendant plusieurs semaines ou mois, parfois pendant toute la saison.</p>&#13;
&#13;
    <h6>Comment appréhender le risque? </h6>&#13;
    <h5 class="normal">Indices de terrain</h5>&#13;
    <p>Les sous-couches fragiles persistantes sont particulièrement difficiles à détecter. Les signes d’instabilités tels que les whoumpfs sont possibles mais pas toujours présents. Les tests de stabilité peuvent être utiles pour détecter les couches fragiles. L’historique du manteau neigeux joue un rôle majeur et les informations des bulletins sont particulièrement importantes dans ces cas. La propagation de la rupture peut couvrir de grandes distances et le déclenchement à distance est possible. </p>&#13;
    <h5 class="normal">Conseils de comportement </h5>&#13;
    <p>Déplacements prudents et éviter les grandes pentes raides. Tenir compte de l’historique des conditions nivométéorologiques dans les pentes. Faire particulièrement attention dans les zones avec des manteaux neigeux peu épais et notamment les zones de transition avec un manteau neigeux plus épais. Ces situations sont une cause majeure de décès accidentels par avalanche.</p>&#13;
  </div>&#13;
&#13;
  <div id="wet_snow" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_nassschnee_0-640.webp   640w,&#13;
            /content_files/schnee_nassschnee_0-1280.webp 1280w,&#13;
            /content_files/schnee_nassschnee_0-1920.webp 1920w,&#13;
            /content_files/schnee_nassschnee_0-2560.webp 2560w,&#13;
            /content_files/schnee_nassschnee_0-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_nassschnee_0-640.jpg   640w,&#13;
            /content_files/schnee_nassschnee_0-1280.jpg 1280w,&#13;
            /content_files/schnee_nassschnee_0-1920.jpg 1920w,&#13;
            /content_files/schnee_nassschnee_0-2560.jpg 2560w,&#13;
            /content_files/schnee_nassschnee_0-3200.jpg 3200w,&#13;
            /content_files/schnee_nassschnee_0.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_nassschnee_0-1280.jpg" title="Wet snow" alt="Wet snow">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Avalanches mouillées (Neige humide)</h2>&#13;
    </div>&#13;
&#13;
    <h6>Quoi?</h6>&#13;
    <h5 class="normal">Caractéristiques</h5>&#13;
    <p>Cette situation avalancheuse est liée à la déstabilisation du manteau neigeux du fait de la présence d’eau liquide. Cette dernière provient de la fonte de la neige et/ou de la pluie.</p>&#13;
    <h5 class="normal">Types d’avalanches attendus </h5>&#13;
    <ul>
<li>Avalanches de plaque de neige humide</li>&#13;
      <li>Avalanche de neige non cohésive humide</li>&#13;
      <li>Principalement départs spontanés </li>&#13;
    </ul>
<h6>Où? </h6>&#13;
    <h5 class="normal">Distribution spatiale </h5>&#13;
    <p>Quand le rayonnement solaire est la principale cause d’humidification, ces situations avalancheuses se produisent pour des orientations et altitudes privilégiées. Quand la pluie est principalement responsable de l’humidification, la situation avalancheuse affecte toutes les orientations.</p>&#13;
    <h5 class="normal">Position de la couche fragile dans le manteau neigeux</h5>&#13;
    <p>Au sein du manteau neigeux. </p>&#13;
&#13;
    <h6>Pourquoi?</h6>&#13;
    <h5 class="normal">Modes de déclenchement </h5>&#13;
    <p>Avalanches de plaque de neige humide: <br>Affaiblissement d’une couche fragile existante et/ou accumulation d’eau liquide à l’interface entre couches et créant une ainsi une couche fragile <br>En cas de pluie, également surcharge due à l’apport d’eau liquide.<br>Avalanche de neige non cohésive humide: <br> Perte de cohésion</p>&#13;
&#13;
    <h6>Quand? </h6>&#13;
    <h5 class="normal">Durée</h5>&#13;
    <p>Ces situations peuvent se rencontrer durant quelques heures à quelques jours<br> La perte de stabilité peut être rapide <br>La première humidification atteignant des couches enfouies est particulièrement critique, ce qui peut se produire dès lors que le manteau neigeux est à 0 °C <br>Sauf si le facteur dominant est lié à la pluie, les départs spontanés peuvent être plus probables à certaines heures, notamment l’après-midi.</p>&#13;
&#13;
    <h6>Comment appréhender le risque? </h6>&#13;
    <h5 class="normal">Indices de terrain</h5>&#13;
    <p>Cette situation avalancheuse est en général aisément détectable. L’occurrence de pluie, de petites avalanches de neige humide et de formes de fonte en surface (par exemple boulettes, «escargots») sont souvent des précurseurs d’avalanches de neige humide. Un enfoncement du pied en profondeur est un signe additionnel d’humidification accentuée.</p>&#13;
    <h5 class="normal">Conseils de comportement </h5>&#13;
    <p>Dans ces situations, les conditions sont plutôt favorables le matin qui suit une nuit claire, du fait du regel nocturne. Au contraire, en cas de nuit très douce avec un ciel couvert, le problème existe souvent déjà le matin. L’occurrence de pluie peut conduire à des déclenchements d’avalanche quasi immédiats. Dans ces situations, le choix de l’itinéraire et de l’horaire de passage sont particulièrement importantes. Attention aux zones de départ, de propagation et de dépôt des avalanches.</p>&#13;
  </div>&#13;
&#13;
  <div id="gliding_snow" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_gleitschnee_0-640.webp   640w,&#13;
            /content_files/schnee_gleitschnee_0-1280.webp 1280w,&#13;
            /content_files/schnee_gleitschnee_0-1920.webp 1920w,&#13;
            /content_files/schnee_gleitschnee_0-2560.webp 2560w,&#13;
            /content_files/schnee_gleitschnee_0-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_gleitschnee_0-640.jpg   640w,&#13;
            /content_files/schnee_gleitschnee_0-1280.jpg 1280w,&#13;
            /content_files/schnee_gleitschnee_0-1920.jpg 1920w,&#13;
            /content_files/schnee_gleitschnee_0-2560.jpg 2560w,&#13;
            /content_files/schnee_gleitschnee_0-3200.jpg 3200w,&#13;
            /content_files/schnee_gleitschnee_0.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_gleitschnee_0-1280.jpg" title="Gliding snow" alt="Gliding snow">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Avalanches de glissement (Avalanches de fond)</h2>&#13;
    </div>&#13;
&#13;
    <h6>Quoi?</h6>&#13;
    <h5 class="normal">Caractéristiques</h5>&#13;
    <p>The entire snowpack is gliding on the ground, typically on smooth ground&#13;
      such as grassy slopes or smooth rock zones. High activity of glide-snow&#13;
      avalanches are typically related to a thick snowpack with no or only few&#13;
      weak layers. Glide snow avalanches can occur both with a cold dry snowpack&#13;
      and with a warm wet snowpack. The release of a glide-snow avalanche is&#13;
      difficult to predict, although glide cracks open usually before a release.</p>&#13;
    <h5 class="normal">Types d’avalanches attendus </h5>&#13;
    <ul>
<li>Avalanche de fond; neige sèche ou humide </li>&#13;
      <li>Généralement départs spontanés. Les déclenchements provoqués sont improbables.</li>&#13;
    </ul>
<h6>Où? </h6>&#13;
    <h5 class="normal">Distribution spatiale </h5>&#13;
    <p>Généralement sur des sols lisses et en toutes orientations, mais plus souvent en versant sud. </p>&#13;
    <h5 class="normal">Position de la couche fragile dans le manteau neigeux</h5>&#13;
    <p>Interface entre le sol et le manteau neigeux</p>&#13;
&#13;
    <h6>Pourquoi?</h6>&#13;
    <h5 class="normal">Modes de déclenchement </h5>&#13;
    <p>Glide-snow avalanches are caused by a loss of friction at the snow-ground&#13;
      interface due to a wet basal snow layer.</p>&#13;
&#13;
    <h6>Quand? </h6>&#13;
    <h5 class="normal">Durée</h5>&#13;
    <p>Ces situations peuvent être rencontrées pendant des périodes longues (plusieurs jours à quelques mois, parfois l’ensemble de l’hiver). Les départs peuvent se produire à tout moment pendant la journée. Au printemps, les avalanches de fond se produisent généralement en fin de journée.</p>&#13;
&#13;
    <h6>Comment appréhender le risque? </h6>&#13;
    <h5 class="normal">Indices de terrain</h5>&#13;
    <p>En présence de fissures, ces situations peuvent être localisées, bien que les fissures n’indiquent pas forcément un déclenchement imminent. Des déclenchements sans fissures préexistantes sont également courants. Les départs se produisent souvent au même endroit d’une année à l’autre. </p>&#13;
    <h5 class="normal">Conseils de comportement </h5>&#13;
    <p>Eviter les zones à proximité des fissures.</p>&#13;
  </div>&#13;
</section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Pédagogie &amp; Prévention</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Échelle de danger</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/matrix" title="EAWS Matrix">EAWS Matrice</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-sizes" title="Avalanche Sizes">Taille d'avalanche</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/danger-patterns" title="Modèles de danger">Modèles de danger</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/handbook" title="Handbook">Manuel</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
