<div>
<h1>Problemi Tipici Valanghivi</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#new_snow" title="New Snow" class="secondary pure-button" data-scroll>Neve fresca</a></li>&#13;
      <li><a href="#wind_slab" title="Wind slab " class="secondary pure-button" data-scroll>Neve ventata</a></li>&#13;
      <li><a href="#persistent_weak_layers" title="Persistent weak layers" class="secondary pure-button" data-scroll>Strati deboli persistenti</a></li>&#13;
      <li><a href="#wet_snow" title="Wet snow" class="secondary pure-button" data-scroll>Neve bagnata</a></li>&#13;
      <li><a href="#gliding_snow" title="Gliding snow" class="secondary pure-button" data-scroll>Valanghe di slittamento</a></li>&#13;
    </ul></header></section><section class="section-centered"><div class="panel">&#13;
    <p>Ogni giorno riconosciamo persone che abbiamo incontrato già una volta. Le riconosciamo senza pensare, in un attimo solo e di solito le identifichiamo correttamente. Le persone che abbiamo memorizzato bene, possono essere riconosciute anche da caratteristiche grossolane, come la silhouette, l'andatura o la voce. Possiamo anche usare questa capacità di riconoscere situazioni simili quando prendiamo decisioni su terreni esposti al pericolo valanghe. I cinque problemi tipici valanghivi sono stati definiti con questo obiettivo in mente. Descrivono le situazioni tipiche, come occorrono nel terreno e possono aiutare sia gli previsori valanghe che l'utenza sportivo-ricreativa nella valutazione del pericolo valanghe. I problemi tipici valanghivi completano la descrizione del grado di pericolo e dei luoghi pericolosi (esposizione e quota) e rappresentano la terza parte della piramide informativa. Le seguenti definizioni contengono una descrizione del problema, compresi i tipi di valanghe previsti, la distribuzione spaziale caratteristica e la posizione degli strati deboli all'interno del manto nevoso. Inoltre, si affrontano il meccanismo di distacco, la durata tipica del pericolo e i consigli finali sui movimenti nel terreno. Al centro dell'attenzione sono gli appassionati di sport invernali che si spostano in zone a rischio di valanghe. Inoltre, la descrizione dei problemi tipici valanghivi può essere anche utile agli enti gestori (ad es. le commissioni valanghe).</p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="new_snow" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_neuschnee_0-640.webp   640w,&#13;
            /content_files/schnee_neuschnee_0-1280.webp 1280w,&#13;
            /content_files/schnee_neuschnee_0-1920.webp 1920w,&#13;
            /content_files/schnee_neuschnee_0-2560.webp 2560w,&#13;
            /content_files/schnee_neuschnee_0-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_neuschnee_0-640.jpg   640w,&#13;
            /content_files/schnee_neuschnee_0-1280.jpg 1280w,&#13;
            /content_files/schnee_neuschnee_0-1920.jpg 1920w,&#13;
            /content_files/schnee_neuschnee_0-2560.jpg 2560w,&#13;
            /content_files/schnee_neuschnee_0-3200.jpg 3200w,&#13;
            /content_files/schnee_neuschnee_0.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_neuschnee_0-1280.jpg" title="New snow" alt="New snow">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Neve fresca</h2>&#13;
    </div>&#13;
&#13;
    <h6>Cosa?</h6>&#13;
    <h5 class="normal">Caratteristiche</h5>&#13;
    <p>Il problema valanghivo è legato alle nevicate in atto o più recenti. Il sovraccarico prodotto dalla neve fresca sul manto nevoso esistente è il fattore cruciale nel caso di neve fresca. Quanto sarà critico il sovraccarico dipenderà da diversi fattori quali la temperatura o le caratteristiche della vecchia superficie della neve.</p>&#13;
    <h5 class="normal">Tipi di valanghe attese</h5>&#13;
    <ul>
<li>Valanghe di neve a lastroni asciutta</li>&#13;
      <li>Valanghe di neve a debole coesione asciutta</li>&#13;
      <li>Valanghe spontanee e provocate</li>&#13;
    </ul>
<h6>Dove?</h6>&#13;
    <h5 class="normal">Distribuzione spaziale</h5>&#13;
    <p>Generalmente ampiamente distribuita e spesso su tutte le esposizioni</p>&#13;
    <h5 class="normal">Posizione degli strati deboli nel manto nevoso</h5>&#13;
    <p>Di norma all'interfaccia con la vecchia superficie della neve, ma talvolta all’interno degli strati della neve fresca e più raramente anche più in profondità nel manto nevoso vecchio.</p>&#13;
&#13;
    <h6>Perché?</h6>&#13;
    <h5 class="normal">Meccanismo del distacco</h5>&#13;
    <p>Valanghe di neve a lastroni asciutta:<br>Sovraccarico di neve fresca su un strato debole preesistente o di recente formazione<br>Valanghe di neve a debole coesione asciutta:<br>Mancanza di coesione tra i cristalli della neve fresca</p>&#13;
&#13;
    <h6>Quando?</h6>&#13;
    <h5 class="normal">Durata</h5>&#13;
    <p>Tipicamente durante la nevicata e sino ad alcuni giorni dopo</p>&#13;
&#13;
    <h6>Come gestire?</h6>&#13;
    <h5 class="normal">Identificazione del problema sul terreno</h5>&#13;
    <p>Il problema valanghivo è facilmente riconoscibile. Osservate I quantitativi di neve fresca e l’attività valanghiva recente. Fate attenzione ai cambiamenti minimali delle condizioni meteorologiche (es: il cambiamento dell’umidità dell’aria) che possono avere un'influenza marcata sulle condizioni della neve fresca.</p>&#13;
    <h5 class="normal">Indicazioni per l’utenza</h5>&#13;
    <p>Valanghe di neve a lastroni asciutta:<br>Attendete che il manto nevoso si stabilizzi<br>Valanghe di neve a debole coesione asciutta:<br>Valutate il pericolo di caduta e trascinamento sui pendii estremamente ripidi</p>&#13;
  </div>&#13;
&#13;
  <div id="wind_slab" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_triebschnee_2-640.webp   640w,&#13;
            /content_files/schnee_triebschnee_2-1280.webp 1280w,&#13;
            /content_files/schnee_triebschnee_2-1920.webp 1920w,&#13;
            /content_files/schnee_triebschnee_2-2560.webp 2560w,&#13;
            /content_files/schnee_triebschnee_2-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_triebschnee_2-640.jpg   640w,&#13;
            /content_files/schnee_triebschnee_2-1280.jpg 1280w,&#13;
            /content_files/schnee_triebschnee_2-1920.jpg 1920w,&#13;
            /content_files/schnee_triebschnee_2-2560.jpg 2560w,&#13;
            /content_files/schnee_triebschnee_2-3200.jpg 3200w,&#13;
            /content_files/schnee_triebschnee_2.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_triebschnee_2-1280.jpg" title="Wind slab" alt="Wind slab">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Neve ventata</h2>&#13;
    </div>&#13;
&#13;
    <h6>Cosa?</h6>&#13;
    <h5 class="normal">Caratteristiche</h5>&#13;
    <p>La situazione tipica è legata alla neve trasportata dal vento. La neve può essere trasportata dal vento con o senza una nevicata in atto.</p>&#13;
    <h5 class="normal">Tipi di valanghe attese</h5>&#13;
    <ul>
<li>Valanghe di neve a lastroni asciutta</li>&#13;
      <li>Valanghe spontanee e provocate</li>&#13;
    </ul>
<h6>Dove?</h6>&#13;
    <h5 class="normal">Distribuzione spaziale</h5>&#13;
    <p>Altamente variabile ma tipicamente sul lato sottovento di canali, conche, in prossimità di bruschi cambi di pendenza, sotto alle creste o in altri settori riparati dal vento. E’ più comune al di sopra del limite del bosco.</p>&#13;
    <h5 class="normal">Posizione degli strati deboli nel manto nevoso</h5>&#13;
    <p>Di norma al passaggio con la vecchia superficie della neve o entro lo strato di neve ventata (stratificazione per variazioni della velocità del vento durante la tempesta), ma più raramente anche più in profondità nel manto nevoso vecchio.</p>&#13;
&#13;
    <h6>Perché?</h6>&#13;
    <h5 class="normal">Meccanismo di distacco</h5>&#13;
    <p>Sovraccarico della neve trasportata dal vento sugli strati deboli. Inoltre, la neve trasportata dal vento crea lastroni che sono particolarmente propensi a favorire la propagazione della frattura.</p>&#13;
&#13;
    <h6>Quando?</h6>&#13;
    <h5 class="normal">Durata</h5>&#13;
    <p>La neve trasportata dal vento può evolvere rapidamente. La situazione si protrae tipicamente durante l’episodio di trasporto da vento e sino ad un massimo di alcuni giorni dopo, in funzione dell’evoluzione del manto nevoso.</p>&#13;
&#13;
    <h6>Come gestire?</h6>&#13;
    <h5 class="normal">Identificazione del problema sul terreno</h5>&#13;
    <p>Se non viene sepolta da una nuova nevicata, la neve ventata può essere riconosciuta con l’addestramento e con buona visibilità. Osservate i segni del vento e identificate i depositi. Indizi tipici: depositi da vento, attività valanghiva recente e talvolta la formazione di crepe o dei suoni di assestamento “whum”. Comunque, è spesso difficile definire l’età degli accumuli eolici e la loro presenza non necessariamente implica la presenza del problema (ad es. in assenza di uno strato debole).</p>&#13;
    <h5 class="normal">Indicazioni per l’utenza</h5>&#13;
    <p>Evitate gli accumuli da vento su terreno ripido, in particolare nelle aree ove il manto nevoso cambia spessore da sottile a spesso o da duro a soffice.</p>&#13;
  </div>&#13;
&#13;
  <div id="persistent_weak_layers" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_altschnee_3-640.webp   640w,&#13;
            /content_files/schnee_altschnee_3-1280.webp 1280w,&#13;
            /content_files/schnee_altschnee_3-1920.webp 1920w,&#13;
            /content_files/schnee_altschnee_3-2560.webp 2560w,&#13;
            /content_files/schnee_altschnee_3-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_altschnee_3-640.jpg   640w,&#13;
            /content_files/schnee_altschnee_3-1280.jpg 1280w,&#13;
            /content_files/schnee_altschnee_3-1920.jpg 1920w,&#13;
            /content_files/schnee_altschnee_3-2560.jpg 2560w,&#13;
            /content_files/schnee_altschnee_3-3200.jpg 3200w,&#13;
            /content_files/schnee_altschnee_3.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_altschnee_3-1280.jpg" title="Persistent weak layers" alt="Persistent weak layers">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Strati deboli persistenti</h2>&#13;
    </div>&#13;
&#13;
    <h6>Cosa?</h6>&#13;
    <h5 class="normal">Caratteristiche</h5>&#13;
    <p>Il problema tipico è legato alla presenza di strati deboli entro il manto nevoso vecchio. Questi strati deboli persistenti comprendono, tipicamente, la brina di superficie sepolta, la brina di profondità o i cristalli sfaccettati.</p>&#13;
    <h5 class="normal">Tipi di valanghe attese</h5>&#13;
    <ul>
<li>Valanghe di neve a lastroni asciutta</li>&#13;
      <li>Principalmente valanghe provocate (ad. es. sciatori, distacco con mezzi esplosivi); le valanghe spontanee sono rare, per lo più in combinazione con altri problemi valanghivi.</li>&#13;
    </ul>
<h6>Dove?</h6>&#13;
    <h5 class="normal">Distribuzione spaziale</h5>&#13;
    <p>Il problema valanghivo può essere esteso o particolarmente circoscritto. Può essere presente a tutte le esposizioni, ma è più frequente sui versanti in ombra e riparati dal vento.</p>&#13;
    <h5 class="normal">Posizione degli strati deboli nel manto nevoso</h5>&#13;
    <p>Ovunque entro il manto nevoso, spesso in profondità. Comunque, quando lo strato debole è coperto da spessi strati più stabili, il distacco diventa progressivamente più difficile.</p>&#13;
&#13;
    <h6>Perché?</h6>&#13;
    <h5 class="normal">Meccanismo di distacco</h5>&#13;
    <p>Il distacco della valanga avviene quando il sovraccarico supera la resistenza dello strato debole.</p>&#13;
&#13;
    <h6>Quando?</h6>&#13;
    <h5 class="normal">Durata</h5>&#13;
    <p>La strato debole può persistere da settimane a mesi; eventualmente anche per tutta la stagione.</p>&#13;
&#13;
    <h6>Come gestire?</h6>&#13;
    <h5 class="normal">Identificazione del problema sul terreno</h5>&#13;
    <p>Gli strati deboli persistenti sono molto difficili da riconoscere. Segnali d’instabilità come i “whum” sono tipici ma non sono necessariamente presenti. I test di stabilità possono aiutare a scoprire tali strati deboli persistenti. Informazioni sulla storia del manto nevoso sono critiche ed è importante fare riferimento al bollettino neve e valanghe pubblicato. La propagazione della frattura su lunghe distanze è comune ed il distacco a distanza è possibile.</p>&#13;
    <h5 class="normal">Indicazioni per l’utenza</h5>&#13;
    <p>Muovetevi con cautela e moderazione ed evitate i pendii più ampi e ripidi. Valutate nell’area l’evoluzione meteorologica e la struttura del manto nevoso. Siate particolarmente cauti in aree con un manto nevoso sottile o nelle transizioni da manto nevoso sottile a spesso. Questo problema è responsabile della maggior parte degli incidenti valanghivi mortali dell’utenza sportiva-ricreativa.</p>&#13;
  </div>&#13;
&#13;
  <div id="wet_snow" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_nassschnee_0-640.webp   640w,&#13;
            /content_files/schnee_nassschnee_0-1280.webp 1280w,&#13;
            /content_files/schnee_nassschnee_0-1920.webp 1920w,&#13;
            /content_files/schnee_nassschnee_0-2560.webp 2560w,&#13;
            /content_files/schnee_nassschnee_0-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_nassschnee_0-640.jpg   640w,&#13;
            /content_files/schnee_nassschnee_0-1280.jpg 1280w,&#13;
            /content_files/schnee_nassschnee_0-1920.jpg 1920w,&#13;
            /content_files/schnee_nassschnee_0-2560.jpg 2560w,&#13;
            /content_files/schnee_nassschnee_0-3200.jpg 3200w,&#13;
            /content_files/schnee_nassschnee_0.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_nassschnee_0-1280.jpg" title="Wet snow" alt="Wet snow">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Neve bagnata</h2>&#13;
    </div>&#13;
&#13;
    <h6>Cosa?</h6>&#13;
    <h5 class="normal">Caratteristiche</h5>&#13;
    <p>Il problema nasce per il continuo indebolimento del manto nevoso per la presenza di acqua liquida che s’infiltra nel manto nevoso per fusione o per pioggia.</p>&#13;
    <h5 class="normal">Tipi di valanghe attese</h5>&#13;
    <ul>
<li>Valanghe di neve a lastroni bagnata</li>&#13;
      <li>Valanghe di neve a debole coesione bagnata</li>&#13;
      <li>Principalmente valanghe spontanee</li>&#13;
    </ul>
<h6>Dove?</h6>&#13;
    <h5 class="normal">Distribuzione spaziale</h5>&#13;
    <p>Quando il sole è la causa principale, la distribuzione spaziale del problema dipende principalmente da esposizione e quota. Se il problema è causato dalla pioggia, tutte le esposizioni sono interessate.</p>&#13;
    <h5 class="normal">Posizione degli strati deboli nel manto nevoso</h5>&#13;
    <p>Dovunque entro il manto nevoso.</p>&#13;
&#13;
    <h6>Perché?</h6>&#13;
    <h5 class="normal">Meccanismo di distacco</h5>&#13;
    <p>Valanghe di neve a lastroni  bagnata:<br>Indebolimento e rottura di strati deboli preesistenti entro il manto nevoso o slittamento degli strati deboli per ristagno d’acqua all’interfaccia tra gli strati<br>Con pioggia, aumenta anche il sovraccarico sugli strati deboli<br>Valanghe di neve a debole coesione bagnata:<br>Perdita di coesione tra i cristalli di neve</p>&#13;
&#13;
    <h6>Quando?</h6>&#13;
    <h5 class="normal">Durata</h5>&#13;
    <p>Da ore a giorni<br>È possibile una rapida perdita della stabilità<br>Situazione particolarmente critica se l’acqua s’infiltra, per la prima volta, in profondità nel manto nevoso quando quest’ultimo si è riscaldato a 0 °C<br>Valanghe spontanee possono essere più probabili in certe ore del giorno, in particolare nel pomeriggio (tranne che la pioggia sia il fattore dominante)</p>&#13;
&#13;
    <h6>Come gestire?</h6>&#13;
    <h5 class="normal">Identificazione del problema sul terreno</h5>&#13;
    <p>La neve bagnata è di norma facilmente individuabile. L’inizio della pioggia, la formazione di palline e rullini di neve e piccole valanghe a lastroni bagnati o valanghe di neve bagnata a debole coesione sono spesso i precursori di un ciclo di valanghe di neve bagnata. Un elevato sprofondamento dello scarpone è un altro segnale di progressive inumidimento del manto nevoso.</p>&#13;
    <h5 class="normal">Indicazioni per l’utenza</h5>&#13;
    <p>Le condizioni al mattino, dopo una notte fredda con cielo sereno, sono di norma favorevoli. Dopo una notte calda con cielo coperto il problema spesso esiste sin dal mattino. Invece con pioggia su neve fresca, questo tipo di problema si crea quasi immediatamente. Sono importanti una buona tempistica e pianificazione del percorso. Tenete conto delle zone di arresto delle valanghe.</p>&#13;
  </div>&#13;
&#13;
  <div id="gliding_snow" class="panel field border">&#13;
    <div class="panel-image">&#13;
      <picture><source type="image/webp" srcset="&#13;
            /content_files/schnee_gleitschnee_0-640.webp   640w,&#13;
            /content_files/schnee_gleitschnee_0-1280.webp 1280w,&#13;
            /content_files/schnee_gleitschnee_0-1920.webp 1920w,&#13;
            /content_files/schnee_gleitschnee_0-2560.webp 2560w,&#13;
            /content_files/schnee_gleitschnee_0-3200.webp 3200w&#13;
          "><source type="image/jpeg" srcset="&#13;
            /content_files/schnee_gleitschnee_0-640.jpg   640w,&#13;
            /content_files/schnee_gleitschnee_0-1280.jpg 1280w,&#13;
            /content_files/schnee_gleitschnee_0-1920.jpg 1920w,&#13;
            /content_files/schnee_gleitschnee_0-2560.jpg 2560w,&#13;
            /content_files/schnee_gleitschnee_0-3200.jpg 3200w,&#13;
            /content_files/schnee_gleitschnee_0.jpg      4000w&#13;
          ">&#13;
        <img src="/content_files/schnee_gleitschnee_0-1280.jpg" title="Gliding snow" alt="Gliding snow">&#13;
      </picture>
</div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>Valanghe di slittamento</h2>&#13;
    </div>&#13;
&#13;
    <h6>Cosa?</h6>&#13;
    <h5 class="normal">Caratteristiche</h5>&#13;
    <p>L’intero manto nevoso slitta sul terreno, tipicamente su un terreno liscio come pendii erbosi o con aree di rocce lisce. Una forte attività di valanghe di slittamento è tipicamente connessa ad un manto nevoso spesso con pochi strati oppure senza. Le valanghe di slittamento possono avvenire sia con un manto nevoso freddo ed asciutto sia con un manto nevoso caldo e bagnato, isotermico. Il distacco di una valanga di slittamento è difficile da prevedere, anche se le crepe si aprono, di solito, prima del distacco.</p>&#13;
    <h5 class="normal">Tipi di valanghe attese</h5>&#13;
    <ul>
<li>Valanghe di slittamento; manto nevoso freddo ed asciutto o a 0 °C isotermico e bagnato</li>&#13;
      <li>Qualsiasi distacco di valanga è di solito spontaneo. Il distacco artificiale è improbabile</li>&#13;
    </ul>
<h6>Dove?</h6>&#13;
    <h5 class="normal">Distribuzione spaziale</h5>&#13;
    <p>Predominante su terreno liscio su qualsiasi esposizione, ma spesso sui versanti esposti ai quadranti meridionali.</p>&#13;
    <h5 class="normal">Posizione degli strati deboli nel manto nevoso</h5>&#13;
    <p>All’interfaccia tra terreno ed il sovrastante manto nevoso</p>&#13;
&#13;
    <h6>Perché?</h6>&#13;
    <h5 class="normal">Meccanismo di distacco</h5>&#13;
    <p>Le valanghe di slittamento sono causate da una perdita di attritosu uno strato saturo d'acqua all’interfaccia manto nevoso-terreno.</p>&#13;
&#13;
    <h6>Quando?</h6>&#13;
    <h5 class="normal">Durata</h5>&#13;
    <p>Da giorni a mesi; possibilmente durante l’intera stagione invernale. Il distacco può avvenire a qualsiasi ora del giorno o della notte. In primavera, le valanghe di slittamento avvengono principalmente nella seconda parte avanzata della giornata.</p>&#13;
&#13;
    <h6>Come gestire?</h6>&#13;
    <h5 class="normal">Identificazione del problema sul terreno</h5>&#13;
    <p>Il problema può spesso essere individuato per la presenza di crepe di slittamento, comunque, la presenza di crepe non indica l’imminenza di valanghe, esse sono praticamente impossibili da prevedere. Il distacco delle valanghe senza la pre-esistenza di crepe è anche comune.</p>&#13;
    <h5 class="normal">Indicazioni per l’utenza</h5>&#13;
    <p>Evitate le aree in prossimità delle crepe da slittamento.</p>&#13;
  </div>&#13;
</section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Formazione &amp; Prevenzione</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Scala del Pericolo</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/matrix" title="EAWS Matrix">Matrice EAWS</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-sizes" title="Avalanche Sizes">Dimensioni delle valanghe</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/danger-patterns" title="Danger Patterns">Situazioni Tipo</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/handbook" title="Handbook">Manuale</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
