<div>
  <h1>Typické lavínové problémy</h1>

  <section class="section-padding">
    <header class="section-centered">
      <ul class="list-inline list-buttongroup-dense">
        <li>
          <a
            href="#new_snow"
            title="New Snow"
            class="secondary pure-button"
            data-scroll
            >Nový sneh</a
          >
        </li>
        <li>
          <a
            href="#wind_slab"
            title="Wind slab "
            class="secondary pure-button"
            data-scroll
            >Vetrom previaty sneh</a
          >
        </li>
        <li>
          <a
            href="#persistent_weak_layers"
            title="Persistent weak layers"
            class="secondary pure-button"
            data-scroll
            >Trvalá slabá vrstva</a
          >
        </li>
        <li>
          <a
            href="#wet_snow"
            title="Wet snow"
            class="secondary pure-button"
            data-scroll
            >Mokrý sneh</a
          >
        </li>
        <li>
          <a
            href="#gliding_snow"
            title="Gliding snow"
            class="secondary pure-button"
            data-scroll
            >Kĺzavý sneh</a
          >
        </li>
      </ul>
    </header>
  </section>
  <section class="section-centered">
    <div class="panel">
      <p>
        V každodennom živote rozpoznávame ľudí, ktorých sme už pred tým stretli.
        Rozpoznávame ich takmer okamžite bez nejakého dlhého zamýšľania sa. Celý
        tento proces prebieha podvedome. Takýmto istým spôsobom vieme rozoznať
        podobné situácie pri rozhodovaní sa a posudzovaní lavínového rizika v
        lavínovom teréne. Za týmto účelom bolo vytvorených päť lavínových
        problémov. Popisujú typické situácie, ich vznik v teréne, a to ako môžu
        napomôcť nielen lavínovým špecialistom, ale aj bežným návštevníkom hôr v
        posudzovaní lavínového rizika. Lavínové problémy dopĺňajú popis
        jednotlivých stupňov lavínového nebezpečenstva a lavínového terénu (
        orientácia, nadmorská výška...), čím tvoria tretiu časť informačnej
        pyramídy. Nasledujúce definície obsahujú popis typických lavínových
        problémov vrátane očakávaných typov lavín, ich priestorový výskyt a
        polohu resp. hĺbku kritickej vrstvy v snehovom profile. Popisujú taktiež
        mechanizmus uvoľnenia lavíny, trvanie lavínového nebezpečenstva a v
        neposlednom rade ako sa pohybovať v horách pri danej situácii. Hlavným
        cieľom sú najmä turisti / lyžiari pohybujúci sa v lavínovom teréne.
      </p>
    </div>
  </section>
  <section class="section-centered">
    <div id="new_snow" class="panel field border">
      <div class="panel-image">
        <picture
          ><source
            type="image/webp"
            srcset="
              /content_files/schnee_neuschnee_0-640.webp   640w,
              /content_files/schnee_neuschnee_0-1280.webp 1280w,
              /content_files/schnee_neuschnee_0-1920.webp 1920w,
              /content_files/schnee_neuschnee_0-2560.webp 2560w,
              /content_files/schnee_neuschnee_0-3200.webp 3200w
            "
          />
          <source
            type="image/jpeg"
            srcset="
              /content_files/schnee_neuschnee_0-640.jpg   640w,
              /content_files/schnee_neuschnee_0-1280.jpg 1280w,
              /content_files/schnee_neuschnee_0-1920.jpg 1920w,
              /content_files/schnee_neuschnee_0-2560.jpg 2560w,
              /content_files/schnee_neuschnee_0-3200.jpg 3200w,
              /content_files/schnee_neuschnee_0.jpg      4000w
            "
          />
          <img
            src="/content_files/schnee_neuschnee_0-1280.jpg"
            title="New snow"
            alt="New snow"
          />
        </picture>
      </div>

      <div class="panel-header">
        <h2>Nový sneh</h2>
      </div>

      <h6>Čo?</h6>
      <h5 class="normal">Charakteristika</h5>
      <p>
        Lavínový problém sa vzťahuje k súčasnému, alebo poslednému sneženiu.
        Rozhodujúcim faktorom lavínového problému "nový sneh" je veľkosť
        zaťaženia spôsobená množstvom nového snehu. Dodatočné zaťaženie je
        závislé od rôznych faktorov, ako je napríklad teplota alebo vlastnosti
        povrchu starého snehu.
      </p>
      <h5 class="normal">Očakávané typy lavín</h5>
      <ul>
        <li>Suché doskové lavíny</li>
        <li>Lavíny z voľného snehu</li>
        <li>Spontánne a človekom uvoľnené lavíny</li>
      </ul>
      <h6>Kde ?</h6>
      <h5 class="normal">Výskyt v teréne</h5>
      <p>Všeobecne rozsiahly výskyt a často na všetkých expozíciách</p>
      <h5 class="normal">Poloha / hĺbka kritickej vrstvy</h5>
      <p>
        Zvyčajne pri prechode k vrstve starého snehu, niekedy vo vrstvách nového
        snehu a občas aj hlbšie vo vrstvách starého snehu.
      </p>

      <h6>Prečo ?</h6>
      <h5 class="normal">Mechanizmus uvoľnenia</h5>
      <p>
        Suché doskové lavíny<br />
        Dodatočné zaťaženie v dôsledku sneženia na existujúce alebo
        novovytvorené kritické vrstvy
        <br />
        Lavíny z voľného snehu:<br />Nedostatočná súdržnosť medzi kryštálmi
        nového snehu
      </p>

      <h6>Kedy ?</h6>
      <h5 class="normal">Časový výskyt</h5>
      <p>Typicky počas sneženia a až do niekoľkých dní po snežení</p>

      <h6>Čím a ako sa riadiť ?</h6>
      <h5 class="normal">Identifikácia problému v teréne</h5>
      <p>
        Problém nového snehu je pomerne ľahko rozpoznateľný. Sleduj prírastok
        nového snehu a nedávnu lavínovú aktivitu. Uvedomuj si malé zmeny počasia
        (napr. zmenu vlhkosti vzduchu) ktoré vplývajú na zmenu snehových
        podmienok.
      </p>
      <h5 class="normal">Odporúčania pre túry</h5>
      <p>
        Suché doskové lavíny:<br />
        Čakaj kým sa nepreviaže snehová pokrývka.<br />
        Lavíny z voľného snehu: <br />
        Nebezpečenstvo pádu je závažnejšie ako nebezpečenstvo zasypania. Zváž
        dôsledky v strmom teréne ( napr. pád cez skalný prah).
      </p>
    </div>

    <div id="wind_slab" class="panel field border">
      <div class="panel-image">
        <picture
          ><source
            type="image/webp"
            srcset="
              /content_files/schnee_triebschnee_2-640.webp   640w,
              /content_files/schnee_triebschnee_2-1280.webp 1280w,
              /content_files/schnee_triebschnee_2-1920.webp 1920w,
              /content_files/schnee_triebschnee_2-2560.webp 2560w,
              /content_files/schnee_triebschnee_2-3200.webp 3200w
            "
          />
          <source
            type="image/jpeg"
            srcset="
              /content_files/schnee_triebschnee_2-640.jpg   640w,
              /content_files/schnee_triebschnee_2-1280.jpg 1280w,
              /content_files/schnee_triebschnee_2-1920.jpg 1920w,
              /content_files/schnee_triebschnee_2-2560.jpg 2560w,
              /content_files/schnee_triebschnee_2-3200.jpg 3200w,
              /content_files/schnee_triebschnee_2.jpg      4000w
            "
          />
          <img
            src="/content_files/schnee_triebschnee_2-1280.jpg"
            title="Wind slab"
            alt="Wind slab"
          />
        </picture>
      </div>

      <div class="panel-header">
        <h2>Vetrom previaty sneh</h2>
      </div>

      <h6>Čo?</h6>
      <h5 class="normal">Charakteristika</h5>
      <p>
        Lavínový problém súvisí so snehom, ktorý bol previaty vetrom. Sneh môže
        byť transportovaný počas sneženia, ale aj po snežení.
      </p>
      <h5 class="normal">Očakávané typy lavín</h5>
      <ul>
        <li>Suché doskové lavíny</li>
        <li>Spontánne a človekom uvoľnené lavíny</li>
      </ul>
      <h6>Kde ?</h6>
      <h5 class="normal">Výskyt v teréne</h5>
      <p>
        Veľmi variabilný výskyt, ale typicky na záveternej strane roklín, žľabov
        a múld, v blízkosti výrazných zmien sklonu svahu - za hrebeňom alebo
        iným závetrie vytvárajúcim objektom. Častejšie nad pásmom lesa.
      </p>
      <h5 class="normal">Poloha / hĺbka kritickej vrstvy</h5>
      <p>
        Obvykle na hranici medzi novou a starou vrstvou snehovej pokrývky, alebo
        vo vnútri nafúkanej snehovej dosky z dôvodu zmien rýchlosti vetra,
        prípadne iných zmien počas sneženia. Príležitostne aj hlbšie v starých
        vrstvách snehovej pokrývky.
      </p>

      <h6>Prečo ?</h6>
      <h5 class="normal">Mechanizmus uvoľnenia</h5>
      <p>
        Previaty sneh spôsobuje dodatočné zaťaženie na kritickú vrstvu a vytvára
        snehovú dosku, ktorá je zvlášť náchylná na šírenie prasklín - vznik
        odtrhu.
      </p>

      <h6>Kedy ?</h6>
      <h5 class="normal">Časový výskyt</h5>
      <p>
        Dosky z vetrom previateho snehu sa tvoria veľmi rýchlo. Problém vzniká
        počas doby previevania snehu a v závislosti na vývoji snehovej pokrývky
        môže pretrvávať aj niekoľko dní po snežení (previatí).
      </p>

      <h6>Čím a ako sa riadiť ?</h6>
      <h5 class="normal">Identifikácia problému v teréne</h5>
      <p>
        Ak nie je zakrytý novým snehom, dá sa pri dobrej viditeľnosti a s
        dostatočnými skúsenosťami celkom dobre rozpoznať. Všímaj si znaky
        spôsobené vetrom a miesta ukladania snehu. Typické sú najmä: náveje
        snehu ( vankúše ), duny, strungy, nedávna lavínová aktivita, tvorba
        prasklín alebo "sadanie snehu - whump" zvuky. Určenie „veku“ útvarov z
        vetrom previateho snehu je pomerne ťažké, pričom nemusia nevyhnutne
        znamenať lavínový problém (napr. pri absencii kritickej / slabej
        vrstvy).
      </p>
      <h5 class="normal">Odporúčania pre túry</h5>
      <p>
        Vyhni sa snehovým doskám a vankúšom v strmom teréne, obzvlášť v
        miestach, kde sa mení hrúbka snehovej pokrývky z malej na veľkú alebo z
        tvrdej na mäkkú.
      </p>
    </div>

    <div id="persistent_weak_layers" class="panel field border">
      <div class="panel-image">
        <picture
          ><source
            type="image/webp"
            srcset="
              /content_files/schnee_altschnee_3-640.webp   640w,
              /content_files/schnee_altschnee_3-1280.webp 1280w,
              /content_files/schnee_altschnee_3-1920.webp 1920w,
              /content_files/schnee_altschnee_3-2560.webp 2560w,
              /content_files/schnee_altschnee_3-3200.webp 3200w
            "
          />
          <source
            type="image/jpeg"
            srcset="
              /content_files/schnee_altschnee_3-640.jpg   640w,
              /content_files/schnee_altschnee_3-1280.jpg 1280w,
              /content_files/schnee_altschnee_3-1920.jpg 1920w,
              /content_files/schnee_altschnee_3-2560.jpg 2560w,
              /content_files/schnee_altschnee_3-3200.jpg 3200w,
              /content_files/schnee_altschnee_3.jpg      4000w
            "
          />
          <img
            src="/content_files/schnee_altschnee_3-1280.jpg"
            title="Persistent weak layers"
            alt="Persistent weak layers"
          />
        </picture>
      </div>

      <div class="panel-header">
        <h2>Trvalo slabá vrstva</h2>
      </div>

      <h6>Čo?</h6>
      <h5 class="normal">Charakteristika</h5>
      <p>
        Lavínový problém súvisí s prítomnou pretrvávajúcou kritickou vrstvou v
        starom snehu. Typickou kritickou vrstvou je hranatorznný sneh, dutinová
        inovať, alebo krúpky.
      </p>
      <h5 class="normal">Očakávané typy lavín</h5>
      <ul>
        <li>Suché doskové lavíny</li>
        <li>
          Prevažne lavíny uvoľnené človekom. Samovoľné lavíny sú zriedkavé,
          väčšinou v kombinácii s iným lavínovým problémom.
        </li>
      </ul>
      <h6>Kde ?</h6>
      <h5 class="normal">Výskyt v teréne</h5>
      <p>
        Tento problém sa môže vyskytovať na veľkých plochách ale takisto aj
        veľmi lokálne. Trvalo slabá vrstva môže byť na všetkých expozíciách, no
        zvyčajne sa nachádza na severných tienistých svahoch.
      </p>
      <h5 class="normal">Poloha / hĺbka kritickej vrstvy</h5>
      <p>
        Kdekoľvek v starej snehovej pokrývke, často je hlboko v snehovej
        pokrývke. Čím hlbšie sa nachádza tým je jej uvoľnenie náročnejšie.
      </p>

      <h6>Prečo ?</h6>
      <h5 class="normal">Mechanizmus uvoľnenia</h5>
      <p>
        K uvoľneniu lavíny dochádza vtedy, keď zaťaženie prekročí pevnosť
        kritickej vrstvy.
      </p>

      <h6>Kedy ?</h6>
      <h5 class="normal">Časový výskyt</h5>
      <p>
        Slabé vrstvy môžu pretrvávať pod snehom týždne alebo mesiace, niekedy aj
        počas celej zimnej sezóny.
      </p>

      <h6>Čím a ako sa riadiť ?</h6>
      <h5 class="normal">Identifikácia problému v teréne</h5>
      <p>
        Trvalo slabé vrstvy je veľmi náročné rozpoznať. Znaky nestability, ako
        napr. náhle sadnutie snehovej pokrývky sprevádzané zvukom "whump", sú
        síce pre tento problém typické, ale nie nevyhnutne prítomné. K odhaleniu
        trvalo slabej vrstvy nám vedia pomôcť testy stability snehovej pokrývky.
        Veľmi dôležité sú informácie o vývoji snehovej pokrývky v predošlom
        období spolu s informáciou obsiahnutou v zverejnenom lavínovom
        bulletine. Bežné je šírenie odtrhu na veľkú vzdialenosť a takisto je
        možné aj odtrhnutie lavíny na diaľku.
      </p>
      <h5 class="normal">Odporúčania pre túry</h5>
      <p>
        Odporúča sa dodržiavať zásady bezpečného pohybu v horskom teréne. Vyhni
        sa rozľahlým strmým svahom. Ber do úvahy počasie predchádzajúcich dní
        (najmä veľmi nízke teploty). Obzvlášť nebezpečné sú prechody, kde
        dochádza k zmene výšky snehovej pokrývky (napr. z malej na veľkú). Vo
        vysokých pohoriach, napr. v Alpách má tento problém na svedomí väčšinu
        smrteľných lavínových nehôd.
      </p>
    </div>

    <div id="wet_snow" class="panel field border">
      <div class="panel-image">
        <picture
          ><source
            type="image/webp"
            srcset="
              /content_files/schnee_nassschnee_0-640.webp   640w,
              /content_files/schnee_nassschnee_0-1280.webp 1280w,
              /content_files/schnee_nassschnee_0-1920.webp 1920w,
              /content_files/schnee_nassschnee_0-2560.webp 2560w,
              /content_files/schnee_nassschnee_0-3200.webp 3200w
            "
          />
          <source
            type="image/jpeg"
            srcset="
              /content_files/schnee_nassschnee_0-640.jpg   640w,
              /content_files/schnee_nassschnee_0-1280.jpg 1280w,
              /content_files/schnee_nassschnee_0-1920.jpg 1920w,
              /content_files/schnee_nassschnee_0-2560.jpg 2560w,
              /content_files/schnee_nassschnee_0-3200.jpg 3200w,
              /content_files/schnee_nassschnee_0.jpg      4000w
            "
          />
          <img
            src="/content_files/schnee_nassschnee_0-1280.jpg"
            title="Wet snow"
            alt="Wet snow"
          />
        </picture>
      </div>

      <div class="panel-header">
        <h2>Mokrý sneh</h2>
      </div>

      <h6>Čo?</h6>
      <h5 class="normal">Charakteristika</h5>
      <p>
        Lavínový problém je spôsobený oslabením snehovej pokrývky vodou v
        kvapalnom skupenstve. Premočenie snehovej pokrývky je spôsobené topením
        sa snehu, alebo dažďom.
      </p>
      <h5 class="normal">Očakávané typy lavín</h5>
      <ul>
        <li>Mokré doskové lavíny</li>
        <li>Mokré lavíny z voľného snehu</li>
        <li>Prevažne samovoľné lavíny</li>
      </ul>
      <h6>Kde ?</h6>
      <h5 class="normal">Výskyt v teréne</h5>
      <p>
        V prípade, že príčinou vzniku problému je slnečné žiarenie, tak výskyt
        závisí najmä od orientácie svahu a nadmorskej výšky. Ak je príčinou
        vzniku dážď, tak problém vzniká na všetkých orientáciách.
      </p>
      <h5 class="normal">Poloha / hĺbka kritickej vrstvy</h5>
      <p>Kdekoľvek v snehovej pokrývke.</p>

      <h6>Prečo ?</h6>
      <h5 class="normal">Mechanizmus uvoľnenia</h5>
      <p>
        Mokré doskové lavíny: <br />
        Oslabenie/uvoľnenie existujúcej slabej vrstvy v snehovej pokrývke, alebo
        presiaknutie vody na rozhrania jednotlivých vrstiev. V prípade dažďa sa
        vytvára dodatočné zaťaženie slabých vrstiev. <br />
        Mokré lavíny z voľného snehu: <br />
        Strata súdržnosti medzi kryštálmi snehu
      </p>

      <h6>Kedy ?</h6>
      <h5 class="normal">Časový výskyt</h5>
      <p>
        Rádovo v hodinách až dňoch<br />
        Možný náhly pokles stability snehovej pokrývky<br />
        Obzvlášť nebezpečné ak sa teplota snehovej pokrývky zvýši na 0°C a voda
        po prvýkrát presiakne hlboko do snehovej pokrývky.<br />
        Výskyt samovoľných lavín je viac pravdepodobný v určitých častiach dňa,
        najmä v popoludňajších hodinách ( pokiaľ nie je príčinou vzniku dážď ).
      </p>

      <h6>Čím a ako sa riadiť ?</h6>
      <h5 class="normal">Identifikácia problému v teréne</h5>
      <p>
        Problém mokrého snehu je zvyčajne ľahko rozpoznateľný. Predzvesťou
        samovoľných mokrých doskových lavín sú často znaky : príchod dažďa,
        uvoľňovanie snehových gúľ a kolies, malé mokré doskové lavíny prípadne
        malé mokré lavíny z voľného snehu. Ďalším znakom zvýšeného premočenia
        snehu je hlboké prebáranie sa.
      </p>
      <h5 class="normal">Odporúčania pre túry</h5>
      <p>
        Priaznivé podmienky sú zvyčajne v ranných hodinách po jasnej a chladnej
        noci, kedy vrchná vrstva snehovej pokrývky zmrzne na kôru. Ak je počas
        teplej noci zatiahnutá obloha, problém častokrát nastáva už v ranných
        hodinách. Ak prší na čerstvo napadnutý sneh, tak tento problém vzniká
        prakticky okamžite. Dôležité je dobré načasovanie a plánovanie túry so
        zvážením dosahu lavínových dráh.
      </p>
    </div>

    <div id="gliding_snow" class="panel field border">
      <div class="panel-image">
        <picture
          ><source
            type="image/webp"
            srcset="
              /content_files/schnee_gleitschnee_0-640.webp   640w,
              /content_files/schnee_gleitschnee_0-1280.webp 1280w,
              /content_files/schnee_gleitschnee_0-1920.webp 1920w,
              /content_files/schnee_gleitschnee_0-2560.webp 2560w,
              /content_files/schnee_gleitschnee_0-3200.webp 3200w
            "
          />
          <source
            type="image/jpeg"
            srcset="
              /content_files/schnee_gleitschnee_0-640.jpg   640w,
              /content_files/schnee_gleitschnee_0-1280.jpg 1280w,
              /content_files/schnee_gleitschnee_0-1920.jpg 1920w,
              /content_files/schnee_gleitschnee_0-2560.jpg 2560w,
              /content_files/schnee_gleitschnee_0-3200.jpg 3200w,
              /content_files/schnee_gleitschnee_0.jpg      4000w
            "
          />
          <img
            src="/content_files/schnee_gleitschnee_0-1280.jpg"
            title="Gliding snow"
            alt="Gliding snow"
          />
        </picture>
      </div>

      <div class="panel-header">
        <h2>Kĺzavý sneh</h2>
      </div>

      <h6>Čo?</h6>
      <h5 class="normal">Charakteristika</h5>
      <p>
        Lavínový problém je charakterizovaný kĺzaním snehovej pokrývky v celom
        jej profile po zemi, zvyčajne po hladkom povrchu ako je napr. tráva
        alebo skalné platne. Výskyt kĺzavých lavín je zvyčajne spojený s vysokou
        snehovou pokrývkou, v ktorej nie sú, alebo je len málo snehových
        vrstiev. Kĺzavé lavíny môžu vznikať ako zo suchého, tak aj z mokého
        snehu. Uvoľnenie kĺzavej lavíny je ťažko predpovedateľné, hoci sa pred
        jej uvoľnením zvyčajne tvoria trhliny.
      </p>
      <h5 class="normal">Očakávané typy lavín</h5>
      <ul>
        <li>
          Kĺzavé lavíny; Zo studeného suchého snehu alebo z mokrého
          0°C-izotermického snehu.
        </li>
        <li>
          Uvoľnenie lavín je väčšinou samovoľné. Mechanické uvoľnenie človekom
          je nepravdepodobné.
        </li>
      </ul>
      <h6>Kde ?</h6>
      <h5 class="normal">Výskyt v teréne</h5>
      <p>
        Prevažne na svahoch s hladkým povrchom a na všetkých orientáciách,
        častejšie však na svahoch orientovaných na juh.
      </p>
      <h5 class="normal">Poloha / hĺbka kritickej vrstvy</h5>
      <p>Na rozhraní medzi povrchom zeme a snehovou pokrývkou.</p>

      <h6>Prečo ?</h6>
      <h5 class="normal">Mechanizmus uvoľnenia</h5>
      <p>
        Kĺzavé lavíny vznikajú v dôsledku poklesu trenia na rozhraní medzi
        povrchom zeme a snehovou pokrývkou.
      </p>

      <h6>Kedy ?</h6>
      <h5 class="normal">Časový výskyt</h5>
      <p>
        Rádovo v dňoch až mesiacoch. Tento problém môže pretrvávať aj celú zimnú
        sezónu. K uvoľneniu môže dôjsť kedykoľvek počas celého dňa. Na jar sa
        kĺzavé lavíny vyskytujú prevažne v popoludňajších hodinách.
      </p>

      <h6>Čím a ako sa riadiť ?</h6>
      <h5 class="normal">Identifikácia problému v teréne</h5>
      <p>
        Problém sa dá často lokalizovať prítomnosťou trhlín v snehovej pokrývke,
        tie však nutne nemusia znamenať riziko uvoľnenia lavíny, takže je takmer
        nemožné ho predpovedať. Úplne bežné je aj uvoľnenie kĺzavej lavíny bez
        vopred existujúcich trhlín v snehovej pokrývke.
      </p>
      <h5 class="normal">Odporúčania pre túry</h5>
      <p>Vyhýbaj sa miestam v tesnej blízkosti trhlín v snehovej pokrývke.</p>
    </div>
  </section>
  <section classname="section-centered section-context">
    <div classname="panel">
      <h2 classname="subheader">Vzdelávanie &amp; Prevencia</h2>

      <ul classname="list-inline list-buttongroup-dense">
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/danger-scale"
            title="Stupnica lavínového nebezpečenstva"
            >Stupnica lavínového nebezpečenstva</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/workflow"
            title="Pracovný postup"
            >Pracovný postup</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/matrix"
            title="EAWS Matica"
            >EAWS Matica</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/snowpack-stability"
            title="Stabilita snehovej pokrývky"
            >Stabilita snehovej pokrývky</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/frequency"
            title="Množstvo nebezpečných miest"
            >Množstvo nebezpečných miest</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/avalanche-sizes"
            title="Veľkost lavín"
            >Veľkost lavín</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/spatio-temporal-scale"
            title="Stanovenie priestorovej a časovej mierky"
            >Stanovenie priestorovej a časovej mierky</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/danger-patterns"
            title="Modely lavínového nebezpečenstva "
            >Modely lavínového nebezpečenstva
          </a>
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/handbook"
            title="Príručka"
            >Príručka</a
          >
        </li>
      </ul>
    </div>
  </section>
</div>
