<div>
  <h1>Open Data</h1>

  <section class="section-padding">
    <header class="section-centered">
      <ul class="list-inline list-buttongroup-dense">
        <li>
          <a
            href="#license"
            title="License"
            class="secondary pure-button"
            data-scroll
            >License</a
          >
        </li>
        <li>
          <a href="#xml" title="XML" class="secondary pure-button" data-scroll
            >XML</a
          >
        </li>
        <li>
          <a
            href="#source-code"
            title="Source code"
            class="secondary pure-button"
            data-scroll
            >Source Code</a
          >
        </li>
        <li>
          <a
            href="#software"
            title="Software"
            class="secondary pure-button"
            data-scroll
            >External Software</a
          >
        </li>
        <li>
          <a
            href="#geodata"
            title="Geodata"
            class="secondary pure-button"
            data-scroll
            >Geodata</a
          >
        </li>
      </ul>
    </header>
  </section>
  <section class="section-centered">
    <div id="ogd" class="panel">
      <p>
        All data developed and generated within this project is freely
        available. The following lists the freely accessible data and
        information, as well as information on licences and additional external
        software used.
      </p>
    </div>
  </section>
  <section class="section-centered">
    <div id="license" class="panel">
      <h2>License</h2>
      <p>
        All our software is licensed under
        <a
          href="https://www.gnu.org/licenses/gpl-3.0.en.html"
          target="_blank"
          rel="noopener noreferrer"
          >GPLv3</a
        >.
      </p>
    </div>
  </section>
  <section class="section-centered">
    <div id="xml-label" class="panel">
      <h2>Avalanche.report XML</h2>
      <p>The daily bulletin is published as XML and can be found here:</p>
    </div>
  </section>
  <section class="section-centered section-dangerscale">
    <div id="xml" class="panel field border">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/xml.svg"
            title="XML"
            alt="XML"
            class="warning-level-icon"
          />
        </div>
        <div class="grid-item small-9">
          <div class="panel-header">
            <h4>XML</h4>
          </div>
          <p>
            Every bulletin is published in 7 langugages and the corresponding
            XML files for the most recent bulletin are available at this URLs:
          </p>
          <ul>
            <li>
              DE:
              <a
                href="https://avalanche.report/albina_files/latest/de.xml"
                target="_blank"
                rel="noopener noreferrer"
              >
                https://avalanche.report/albina_files/latest/de.xml
              </a>
            </li>
            <li>
              IT:
              <a
                href="https://avalanche.report/albina_files/latest/it.xml"
                target="_blank"
                rel="noopener noreferrer"
              >
                https://avalanche.report/albina_files/latest/it.xml
              </a>
            </li>
            <li>
              EN:
              <a
                href="https://avalanche.report/albina_files/latest/en.xml"
                target="_blank"
                rel="noopener noreferrer"
              >
                https://avalanche.report/albina_files/latest/en.xml
              </a>
            </li>
            <li>
              FR:
              <a
                href="https://avalanche.report/albina_files/latest/fr.xml"
                target="_blank"
                rel="noopener noreferrer"
              >
                https://avalanche.report/albina_files/latest/fr.xml
              </a>
            </li>
            <li>
              SP:
              <a
                href="https://avalanche.report/albina_files/latest/sp.xml"
                target="_blank"
                rel="noopener noreferrer"
              >
                https://avalanche.report/albina_files/latest/sp.xml
              </a>
            </li>
            <li>
              CA:
              <a
                href="https://avalanche.report/albina_files/latest/ca.xml"
                target="_blank"
                rel="noopener noreferrer"
              >
                https://avalanche.report/albina_files/latest/ca.xml
              </a>
            </li>
            <li>
              OC:
              <a
                href="https://avalanche.report/albina_files/latest/oc.xml"
                target="_blank"
                rel="noopener noreferrer"
              >
                https://avalanche.report/albina_files/latest/oc.xml
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="xml-schema-label" class="panel field border">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/xml.svg"
            title="XML Schema"
            alt="XML Schema"
            class="warning-level-icon"
          />
        </div>
        <div class="grid-item small-9">
          <div class="panel-header">
            <h4>XML Schema</h4>
          </div>
          <p>
            The XML file follows the
            <a
              href="http://caaml.org/Schemas/V5.0/Profiles/BulletinEAWS/index.html"
              target="_blank"
              rel="noopener noreferrer"
              >CAAML</a
            >
            standard.<br />
          </p>
          <p>
            <a
              href="http://caaml.org/Schemas/V5.0/Profiles/BulletinEAWS/CAAMLv5_BulletinEAWS.xsd"
              target="_blank"
              rel="noopener noreferrer"
            >
              Download XML schema file
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-centered">
    <div id="source-code" class="panel">
      <h2>Source code</h2>
      <p>
        All of our source code is hosted on
        <a href="https://gitlab.com" target="_blank" rel="noopener noreferrer"
          >GitLab</a
        >
        and can be found in the following repositories:
      </p>
    </div>
  </section>
  <section class="section-centered section-dangerscale">
    <div id="server" class="panel field border">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/java_bsd.svg"
            title="Java"
            alt="Java"
            class="warning-level-icon"
            style="margin: 0 0 0.9rem 0"
          />
          <p class="small" style="font-size: 0.6rem">
            Copyright © Sun Microsystems Inc.
          </p>
        </div>
        <div class="grid-item small-9">
          <div class="panel-header">
            <p>JAVA</p>
            <h4>Server Application</h4>
          </div>
          <p>
            <a
              href="https://gitlab.com/albina-euregio/albina-server"
              target="_blank"
              rel="noopener noreferrer"
            >
              https://gitlab.com/albina-euregio/albina-server
            </a>
          </p>
        </div>
      </div>
    </div>

    <div id="admin-gui" class="panel field border">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/angular.svg"
            title="Angular"
            alt="Angular"
            class="warning-level-icon"
          />
        </div>
        <div class="grid-item small-9">
          <div class="panel-header">
            <p>Angular</p>
            <h4>Admin GUI</h4>
          </div>
          <p>
            <a
              href="https://gitlab.com/albina-euregio/albina-admin-gui"
              target="_blank"
              rel="noopener noreferrer"
            >
              https://gitlab.com/albina-euregio/albina-admin-gui
            </a>
          </p>
        </div>
      </div>
    </div>

    <div id="website" class="panel field border">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/react.svg"
            title="React"
            alt="React"
            class="warning-level-icon"
          />
        </div>
        <div class="grid-item small-9">
          <div class="panel-header">
            <p>React</p>
            <h4>Website</h4>
          </div>
          <p>
            <a
              href="https://gitlab.com/albina-euregio/albina-website"
              target="_blank"
              rel="noopener noreferrer"
            >
              https://gitlab.com/albina-euregio/albina-website
            </a>
          </p>
        </div>
      </div>
    </div>

    <div id="cop" class="panel field border">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/preact.svg"
            title="Preact"
            alt="Preact"
            class="warning-level-icon"
          />
        </div>
        <div class="grid-item small-9">
          <div class="panel-header">
            <p>Preact</p>
            <h4>Catalog of Phrases</h4>
          </div>
          <p>
            <a
              href="https://gitlab.com/albina-euregio/textcat-ng"
              target="_blank"
              rel="noopener noreferrer"
            >
              https://gitlab.com/albina-euregio/textcat-ng
            </a>
          </p>
        </div>
      </div>
    </div>

    <div id="awm" class="panel field border">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/mapyrus.webp"
            title="Mapyrus"
            alt="Mapyrus"
            class="warning-level-icon"
          />
        </div>
        <div class="grid-item small-9">
          <div class="panel-header">
            <p>Mapyrus</p>
            <h4>Avalanche Warning Maps</h4>
          </div>
          <p>
            <a
              href="https://gitlab.com/albina-euregio/avalanche-warning-maps"
              target="_blank"
              rel="noopener noreferrer"
            >
              https://gitlab.com/albina-euregio/avalanche-warning-maps
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-centered">
    <div id="software" class="panel">
      <h2>External Software</h2>
      <p>The following external software is used in our project:</p>
    </div>

    <div id="geonames" class="panel field border">
      <div class="grid">
        <div class="grid-item small-12">
          <div class="panel-header">
            <h6>
              <a
                href="http://mapyrus.sourceforge.net/"
                target="_blank"
                rel="noopener noreferrer"
              >
                Mapyrus
              </a>
            </h6>
            <p>
              Overlays as well as all other warning maps are produced by
              Mapyrus.
            </p>
          </div>
          <div class="panel-header">
            <h6>
              <a
                href="https://www.geonames.org/"
                target="_blank"
                rel="noopener noreferrer"
              >
                GeoNames
              </a>
            </h6>
            <p>
              The search for geographic features in the maps is powered by
              GeoNames.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-centered section-dangerscale">
    <div id="geodata" class="panel">
      <h2>Geodata</h2>
      <p>Also our geographical data is freely available:</p>
    </div>

    <div id="base-map" class="panel field border">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/base-map.webp"
            title="Base Map"
            alt="Base Map"
            class="warning-level-icon"
          />
        </div>
        <div class="grid-item small-9">
          <div class="panel-header">
            <p>GIS</p>
            <h4>Base Map</h4>
          </div>
          <p>
            <a
              href="https://gitlab.com/albina-euregio/base-map"
              target="_blank"
              rel="noopener noreferrer"
            >
              https://gitlab.com/albina-euregio/base-map
            </a>
          </p>
        </div>
      </div>
    </div>

    <div id="micro-regions" class="panel field border">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/micro-regions.webp"
            title="Micro Regions"
            alt="Micro Regions"
            class="warning-level-icon"
          />
        </div>
        <div class="grid-item small-9">
          <div class="panel-header">
            <p>Polygons</p>
            <h4>Micro Regions</h4>
          </div>
          <p>
            <a
              href="https://gitlab.com/eaws/eaws-regions"
              target="_blank"
              rel="noopener noreferrer"
            >
              https://gitlab.com/eaws/eaws-regions
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
