<div>
<h1>Open Data</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#license" title="License" class="secondary pure-button" data-scroll>licenza</a></li>&#13;
      <li><a href="#xml" title="XML" class="secondary pure-button" data-scroll>XML</a></li>&#13;
      <li><a href="#source-code" title="Source code" class="secondary pure-button" data-scroll>codice sorgente</a></li>&#13;
      <li><a href="#software" title="Software" class="secondary pure-button" data-scroll>software esterno</a></li>&#13;
      <li><a href="#geodata" title="Geodata" class="secondary pure-button" data-scroll="">Dati GIS</a></li>&#13;
    </ul></header></section><section class="section-centered"><div id="ogd" class="panel">&#13;
    <p>Tutti i dati sviluppati e generati nell'ambito di questo progetto sono liberamente disponibili.&#13;
      Di seguito sono elencati i dati e le informazioni liberamente accessibili, &#13;
   nonché le informazioni sulle licenze e sui software esterni aggiuntivi utilizzati</p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="license" class="panel">&#13;
    <h2>licenza</h2>&#13;
    <p>Tutti i nostri software sono concessi in licenza sotto&#13;
      <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank" rel="noopener noreferrer">GPLv3</a>.</p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="xml-label" class="panel">&#13;
    <h2>Valanghe.report XML</h2>&#13;
    <p>Il bollettino quotidiano è pubblicato in formato XML e si trova qui:</p>&#13;
  </div>&#13;
</section><section class="section-centered section-dangerscale"><div id="xml" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/xml.svg" title="XML" alt="XML" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <h4>XML</h4>&#13;
        </div>&#13;
        <p>Ogni bollettino è pubblicato in 7 lingue e il corrispondente XML&#13;
           I file per il bollettino più recente sono disponibili a questo URL:</p>&#13;
        <ul>
<li>DE:&#13;
            <a href="https://avalanche.report/albina_files/latest/de.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://avalanche.report/albina_files/latest/de.xml&#13;
            </a>
</li>&#13;
          <li>IT:&#13;
            <a href="https://avalanche.report/albina_files/latest/it.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://avalanche.report/albina_files/latest/it.xml&#13;
            </a>
</li>&#13;
          <li>EN:&#13;
            <a href="https://avalanche.report/albina_files/latest/en.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://avalanche.report/albina_files/latest/en.xml&#13;
            </a>
</li>&#13;
          <li>FR:&#13;
            <a href="https://avalanche.report/albina_files/latest/fr.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://avalanche.report/albina_files/latest/fr.xml&#13;
            </a>
</li>&#13;
          <li>SP:&#13;
            <a href="https://avalanche.report/albina_files/latest/sp.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://avalanche.report/albina_files/latest/sp.xml&#13;
            </a>
</li>&#13;
          <li>CA:&#13;
            <a href="https://avalanche.report/albina_files/latest/ca.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://avalanche.report/albina_files/latest/ca.xml&#13;
            </a>
</li>&#13;
          <li>OC:&#13;
            <a href="https://avalanche.report/albina_files/latest/oc.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://avalanche.report/albina_files/latest/oc.xml&#13;
            </a>
</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
  <div id="xml-schema-label" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/xml.svg" title="XML Schema" alt="XML Schema" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <h4>XML Schema</h4>&#13;
        </div>&#13;
        <p>Il file XML segue il file&#13;
          <a href="http://caaml.org/Schemas/V5.0/Profiles/BulletinEAWS/index.html" target="_blank" rel="noopener noreferrer">CAAML</a>&#13;
          standard.<br></p>&#13;
        <p><a href="http://caaml.org/Schemas/V5.0/Profiles/BulletinEAWS/CAAMLv5_BulletinEAWS.xsd" target="_blank" rel="noopener noreferrer">&#13;
            Scarica il file di schema XML&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="source-code" class="panel">&#13;
    <h2>codice sorgente</h2>&#13;
    <p>Tutto il nostro codice sorgente è ospitato su&#13;
      <a href="https://gitlab.com" target="_blank" rel="noopener noreferrer">GitLab</a> e può essere trovato&#13;
      nei seguenti repository:
</p>&#13;
  </div>&#13;
</section><section class="section-centered section-dangerscale"><div id="server" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3">
<img src="/content_files/java_bsd.svg" title="Java" alt="Java" class="warning-level-icon" style="margin: 0 0 0.9rem 0"><p class="small" style="font-size: 0.6rem">Copyright © Sun Microsystems Inc.</p>&#13;
      </div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>JAVA</p>&#13;
          <h4>applicazione server</h4>&#13;
        </div>&#13;
        <p><a href="https://gitlab.com/albina-euregio/albina-server" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/albina-euregio/albina-server&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="admin-gui" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/angular.svg" title="Angular" alt="Angular" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>Angular</p>&#13;
          <h4>Admin GUI</h4>&#13;
        </div>&#13;
        <p><a href="https://gitlab.com/albina-euregio/albina-admin-gui" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/albina-euregio/albina-admin-gui&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="website" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/react.svg" title="React" alt="React" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>React</p>&#13;
          <h4>Website</h4>&#13;
        </div>&#13;
        <p><a href="https://gitlab.com/albina-euregio/albina-website" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/albina-euregio/albina-website&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="cop" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/preact.svg" title="Preact" alt="Preact" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>Preact</p>&#13;
          <h4>Catalogo frasi</h4>&#13;
        </div>&#13;
        <p><a href="https://gitlab.com/albina-euregio/textcat-ng" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/albina-euregio/textcat-ng&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="awm" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/mapyrus.webp" title="Mapyrus" alt="Mapyrus" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>Mapyrus</p>&#13;
          <h4>Mappe previsione valanghe</h4>&#13;
        </div>&#13;
        <p><a href="https://gitlab.com/albina-euregio/avalanche-warning-maps" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/albina-euregio/avalanche-warning-maps&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="software" class="panel">&#13;
    <h2>Software esterno</h2>&#13;
    <p>Nel nostro progetto viene utilizzato il seguente software esterno:</p>&#13;
  </div>&#13;
&#13;
  <div id="geonames" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-12">&#13;
        <div class="panel-header">&#13;
          <h6><a href="http://mapyrus.sourceforge.net/" target="_blank" rel="noopener noreferrer">&#13;
              Mapyrus&#13;
            </a></h6>&#13;
          <p>Le overlay e tutte le altre mappe di allerta sono prodotte da Mapyrus.</p>&#13;
        </div>&#13;
        <div class="panel-header">&#13;
          <h6><a href="https://www.geonames.org/" target="_blank" rel="noopener noreferrer">&#13;
              GeoNames&#13;
            </a></h6>&#13;
          <p>La ricerca delle caratteristiche geografiche nelle mappe è alimentata da&#13;
            GeoNames.</p>&#13;
        </div>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
</section><section class="section-centered section-dangerscale"><div id="geodata" class="panel">&#13;
    <h2>Dati GIS</h2>&#13;
    <p>Anche i nostri dati geografici sono disponibili gratuitamente:</p>&#13;
  </div>&#13;
&#13;
  <div id="base-map" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/base-map.webp" title="Base Map" alt="Base Map" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>GIS</p>&#13;
          <h4>Mappa di base</h4>&#13;
        </div>&#13;
        <p><a href="https://gitlab.com/albina-euregio/base-map" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/albina-euregio/base-map&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="micro-regions" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/micro-regions.webp" title="Micro Regions" alt="Micro Regions" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>Poligoni</p>&#13;
          <h4>Micro-zone</h4>&#13;
        </div>&#13;
        <p><a href="https://gitlab.com/eaws/eaws-regions" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/eaws/eaws-regions&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
</section>
</div>
