<div>
<h1>Donades dubèrtes</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#license" title="License" class="secondary pure-button" data-scroll>Licéncia</a></li>&#13;
      <li><a href="#xml" title="XML" class="secondary pure-button" data-scroll>XML</a></li>&#13;
      <li><a href="#source-code" title="Source code" class="secondary pure-button" data-scroll>Còdi hont</a></li>&#13;
      <li><a href="#software" title="Software" class="secondary pure-button" data-scroll>Logiciau extèrn</a></li>&#13;
      <li><a href="#geodata" title="Geodata" class="secondary pure-button" data-scroll="">Donades SIG</a></li>&#13;
    </ul></header></section><section class="section-centered"><div id="ogd" class="panel">&#13;
    <p>Totes es donades desvolopades e generades laguens d’aguest projècte son disponible de forma gratuïta. De contunh se enumeren es donades e era informacion de liure accès, atau coma era informacion sus licéncies e logiciau extèrne addicionau utilizat.</p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="license" class="panel">&#13;
    <h2>Licéncia</h2>&#13;
    <p>Tot eth nòste logiciau a licéncia&#13;
      <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank" rel="noopener noreferrer">GPLv3</a>.</p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="xml-label" class="panel">&#13;
    <h2>Avalanche.report XML</h2>&#13;
    <p>Eth bulletin diari se publique damb format XML e se pòt trobar aciu:</p>&#13;
  </div>&#13;
</section><section class="section-centered section-dangerscale"><div id="xml" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/xml.svg" title="XML" alt="XML" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <h4>XML</h4>&#13;
        </div>&#13;
        <p>Toti es bulletins se publiquen en 7 lengües e es fichèrs XML corresponents
deth bulletin mès recent son disponibles en aguestes URL:</p>&#13;
        <ul>
<li>DE:&#13;
            <a href="https://avalanche.report/albina_files/latest/de.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://avalanche.report/albina_files/latest/de.xml&#13;
            </a>
</li>&#13;
          <li>IT:&#13;
            <a href="https://avalanche.report/albina_files/latest/it.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://avalanche.report/albina_files/latest/it.xml&#13;
            </a>
</li>&#13;
          <li>EN:&#13;
            <a href="https://avalanche.report/albina_files/latest/en.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://avalanche.report/albina_files/latest/en.xml&#13;
            </a>
</li>&#13;
          <li>FR:&#13;
            <a href="https://avalanche.report/albina_files/latest/fr.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://avalanche.report/albina_files/latest/fr.xml&#13;
            </a>
</li>&#13;
          <li>SP:&#13;
            <a href="https://avalanche.report/albina_files/latest/sp.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://avalanche.report/albina_files/latest/sp.xml&#13;
            </a>
</li>&#13;
          <li>CA:&#13;
            <a href="https://avalanche.report/albina_files/latest/ca.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://avalanche.report/albina_files/latest/ca.xml&#13;
            </a>
</li>&#13;
          <li>OC:&#13;
            <a href="https://avalanche.report/albina_files/latest/oc.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://avalanche.report/albina_files/latest/oc.xml&#13;
            </a>
</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
  <div id="xml-schema-label" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/xml.svg" title="XML Schema" alt="XML Schema" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <h4>XML Schema</h4>&#13;
        </div>&#13;
        <p>Eth fichèr XML seguís eth&#13;
          <a href="http://caaml.org/Schemas/V5.0/Profiles/BulletinEAWS/index.html" target="_blank" rel="noopener noreferrer">CAAML</a>&#13;
          estandard.<br></p>&#13;
        <p><a href="http://caaml.org/Schemas/V5.0/Profiles/BulletinEAWS/CAAMLv5_BulletinEAWS.xsd" target="_blank" rel="noopener noreferrer">&#13;
            Descargar eth fichèr esquema XML&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="source-code" class="panel">&#13;
    <h2>Còdi hònt</h2>&#13;
    <p>Tot eth nòste còdi hònt ei lotjat en&#13;
      <a href="https://gitlab.com" target="_blank" rel="noopener noreferrer">GitLab</a> e se pòt trobar&#13;
  as repositoris següents:</p>&#13;
  </div>&#13;
</section><section class="section-centered section-dangerscale"><div id="server" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3">
<img src="/content_files/java_bsd.svg" title="Java" alt="Java" class="warning-level-icon" style="margin: 0 0 0.9rem 0"><p class="small" style="font-size: 0.6rem">Copyright © Sun Microsystems Inc.</p>&#13;
      </div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>JAVA</p>&#13;
          <h4>Aplicacion deth servidor</h4>&#13;
        </div>&#13;
        <p><a href="https://gitlab.com/albina-euregio/albina-server" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/albina-euregio/albina-server&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="admin-gui" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/angular.svg" title="Angular" alt="Angular" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>Angular</p>&#13;
          <h4>Admin GUI</h4>&#13;
        </div>&#13;
        <p><a href="https://gitlab.com/albina-euregio/albina-admin-gui" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/albina-euregio/albina-admin-gui&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="website" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/react.svg" title="React" alt="React" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>Reaccionar</p>&#13;
          <h4>Website</h4>&#13;
        </div>&#13;
        <p><a href="https://gitlab.com/albina-euregio/albina-website" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/albina-euregio/albina-website&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="cop" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/preact.svg" title="Preact" alt="Preact" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>Preact</p>&#13;
          <h4>Catalòg de frases</h4>&#13;
        </div>&#13;
        <p><a href="https://gitlab.com/albina-euregio/textcat-ng" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/albina-euregio/textcat-ng&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="awm" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/mapyrus.webp" title="Mapyrus" alt="Mapyrus" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>Mapyrus</p>&#13;
          <h4>Mapes d'alèrte de lauegi</h4>&#13;
        </div>&#13;
        <p><a href="https://gitlab.com/albina-euregio/avalanche-warning-maps" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/albina-euregio/avalanche-warning-maps&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="software" class="panel">&#13;
    <h2>Logiciau extèrne</h2>&#13;
    <p>Ath nòste projècte s’utilize eth següent logiciau extèrne:</p>&#13;
  </div>&#13;
&#13;
  <div id="geonames" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-12">&#13;
        <div class="panel-header">&#13;
          <h6><a href="http://mapyrus.sourceforge.net/" target="_blank" rel="noopener noreferrer">&#13;
              Mapyrus&#13;
            </a></h6>&#13;
          <p>Mapyrus produsís superposicions e toti es auti mapes d’alèrte</p>&#13;
        </div>&#13;
        <div class="panel-header">&#13;
          <h6><a href="https://www.geonames.org/" target="_blank" rel="noopener noreferrer">&#13;
              GeoNames&#13;
            </a></h6>&#13;
          <p>Era cèrca de caracteristiques geografiques enes mapes se realize mejançant
GeoNames.</p>&#13;
        </div>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
</section><section class="section-centered section-dangerscale"><div id="geodata" class="panel">&#13;
    <h2>Donades SIG</h2>&#13;
    <p>Es nòstes donades geografiques tanben son de liure accès:</p>&#13;
  </div>&#13;
&#13;
  <div id="base-map" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/base-map.webp" title="Base Map" alt="Base Map" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>GIS</p>&#13;
          <h4>Mapa base</h4>&#13;
        </div>&#13;
        <p><a href="https://gitlab.com/albina-euregio/base-map" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/albina-euregio/base-map&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="micro-regions" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/micro-regions.webp" title="Micro Regions" alt="Micro Regions" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>Polígons</p>&#13;
          <h4>Micro-regions</h4>&#13;
        </div>&#13;
        <p><a href="https://gitlab.com/eaws/eaws-regions" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/eaws/eaws-regions&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
</section>
</div>
