<div>
  <h1>Otvorené dáta</h1>

  <section class="section-padding">
    <header class="section-centered">
      <ul class="list-inline list-buttongroup-dense">
        <li>
          <a
            href="#license"
            title="Licencia"
            class="secondary pure-button"
            data-scroll
            >Licencia</a
          >
        </li>
        <li>
          <a href="#xml" title="XML" class="secondary pure-button" data-scroll
            >XML</a
          >
        </li>
        <li>
          <a
            href="#albina-original"
            title="Originálny projekt"
            class="secondary pure-button"
            data-scroll
            >Originálny projekt</a
          >
        </li>
        <li>
          <a
            href="#source-code"
            title="Zdrojový kód"
            class="secondary pure-button"
            data-scroll
            >Zdrojový kód</a
          >
        </li>
        <li>
          <a
            href="#software"
            title="Software"
            class="secondary pure-button"
            data-scroll
            >Externý Software</a
          >
        </li>
        <li>
          <a
            href="#geodata"
            title="Geodáta"
            class="secondary pure-button"
            data-scroll
            >Geodáta</a
          >
        </li>
      </ul>
    </header>
  </section>
  <section class="section-centered">
    <div id="ogd" class="panel">
      <p>
        Všetky dáta tvorené a generované v rámci tohto projektu sú voľne
        dostupné. Nasleduje zoznam všetkých dostupných dát a informácií, ako aj
        ich licencií, vrátane použitého softvéru tretích strán.
      </p>
    </div>
  </section>
  <section class="section-centered">
    <div id="license" class="panel">
      <h2>Licencia</h2>
      <p>
        Všetok softvér je pod licenciou
        <a
          href="https://www.gnu.org/licenses/gpl-3.0.en.html"
          target="_blank"
          rel="noopener noreferrer"
          >GPLv3</a
        >.
      </p>
    </div>
  </section>
  <section class="section-centered">
    <div id="xml-label" class="panel">
      <h2>lavíny.sk XML</h2>
      <p>
        Denná lavínová predpoveď je publikovaná ako XML a môžete si ju pozrieť
        tu:
      </p>
    </div>
  </section>
  <section class="section-centered section-dangerscale">
    <div id="xml" class="panel field border">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/xml.svg"
            title="XML"
            alt="XML"
            class="warning-level-icon"
          />
        </div>
        <div class="grid-item small-9">
          <div class="panel-header">
            <h4>XML</h4>
          </div>
          <p>
            Každý bulletin je publikovaný v dvoch jazykoch a XML súbory pre
            najnovšie bulletiny sú k dispozícii na týchto URL:
          </p>
          <ul>
            <li>
              SK:
              <a
                href="https://static.laviny.sk/bulletins/latest/sk.xml"
                target="_blank"
                rel="noopener noreferrer"
              >
                https://static.laviny.sk/bulletins/latest/sk.xml
              </a>
            </li>

            <li>
              EN:
              <a
                href="https://static.laviny.sk/bulletins/latest/en.xml"
                target="_blank"
                rel="noopener noreferrer"
              >
                https://static.laviny.sk/bulletins/latest/en.xml
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="xml-schema-label" class="panel field border">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/xml.svg"
            title="XML Schema"
            alt="XML Schema"
            class="warning-level-icon"
          />
        </div>
        <div class="grid-item small-9">
          <div class="panel-header">
            <h4>XML Schéma</h4>
          </div>
          <p>
            XML súbor je v štandarde
            <a
              href="http://caaml.org/Schemas/V5.0/Profiles/BulletinEAWS/index.html"
              target="_blank"
              rel="noopener noreferrer"
              >CAAML</a
            >
            .<br />
          </p>
          <p>
            <a
              href="http://caaml.org/Schemas/V5.0/Profiles/BulletinEAWS/CAAMLv5_BulletinEAWS.xsd"
              target="_blank"
              rel="noopener noreferrer"
            >
              Stiahni XML schému.
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-centered">
    <div id="source-code" class="panel">
      <h2>Originálny projekt</h2>
      <p>Táto stránka vychádza z nasledujúceho projektu:</p>
    </div>
  </section>

  <section class="section-centered section-dangerscale">
    <div id="albina-original" class="panel field border">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/logo_avalanche_report.png"
            title="Albina"
            alt="Albina"
            class="warning-level-icon"
            style="margin: 0 0 0.9rem 0"
          />
        </div>
        <div class="grid-item small-9">
          <div class="panel-header">
            <h4>avalanche.report</h4>
          </div>
          <p>
            <a
              href="https://avalanche.report/more/open-data"
              target="_blank"
              rel="noopener noreferrer"
            >
              https://avalanche.report/more/open-data
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-centered">
    <div id="source-code" class="panel">
      <h2>Zdrojový kód</h2>
      <p>
        Všetok náš zdrojový kód je zdieľaný na
        <a href="https://gitlab.com" target="_blank" rel="noopener noreferrer"
          >GitLabe</a
        >
        a môžete ho nájsť na nasledujúcich reporzitároch:
      </p>
    </div>
  </section>
  <section class="section-centered section-dangerscale">
    <div id="server" class="panel field border">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/java_bsd.svg"
            title="Java"
            alt="Java"
            class="warning-level-icon"
            style="margin: 0 0 0.9rem 0"
          />
          <p class="small" style="font-size: 0.6rem">
            Copyright © Sun Microsystems Inc.
          </p>
        </div>
        <div class="grid-item small-9">
          <div class="panel-header">
            <p>JAVA</p>
            <h4>Serverová aplikácia</h4>
          </div>
          <p>
            <a
              href="https://gitlab.com/hzs-sk/albina-server"
              target="_blank"
              rel="noopener noreferrer"
            >
              https://gitlab.com/hzs-sk/albina-server
            </a>
          </p>
        </div>
      </div>
    </div>

    <div id="admin-gui" class="panel field border">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/angular.svg"
            title="Angular"
            alt="Angular"
            class="warning-level-icon"
          />
        </div>
        <div class="grid-item small-9">
          <div class="panel-header">
            <p>Angular</p>
            <h4>Administračné rozhranie</h4>
          </div>
          <p>
            <a
              href="https://gitlab.com/hzs-sk/albina-admin-gui"
              target="_blank"
              rel="noopener noreferrer"
            >
              https://gitlab.com/hzs-sk/albina-admin-gui
            </a>
          </p>
        </div>
      </div>
    </div>

    <div id="website" class="panel field border">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/react.svg"
            title="React"
            alt="React"
            class="warning-level-icon"
          />
        </div>
        <div class="grid-item small-9">
          <div class="panel-header">
            <p>React</p>
            <h4>Webová stránka</h4>
          </div>
          <p>
            <a
              href="https://gitlab.com/hzs-sk/albina-website"
              target="_blank"
              rel="noopener noreferrer"
            >
              https://gitlab.com/hzs-sk/albina-website
            </a>
          </p>
        </div>
      </div>
    </div>

    <div id="awm" class="panel field border">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/mapyrus.webp"
            title="Mapyrus"
            alt="Mapyrus"
            class="warning-level-icon"
          />
        </div>
        <div class="grid-item small-9">
          <div class="panel-header">
            <p>Mapyrus</p>
            <h4>Mapy na lavínové výstrahy</h4>
          </div>
          <p>
            <a
              href="https://gitlab.com/hzs-sk/avalanche-warning-maps"
              target="_blank"
              rel="noopener noreferrer"
            >
              https://gitlab.com/hzs-sk/avalanche-warning-maps
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-centered">
    <div id="software" class="panel">
      <h2>Externý softvér</h2>
      <p>Nasledujúci externý softvér sa používa v našom projekte:</p>
    </div>

    <div id="geonames" class="panel field border">
      <div class="grid">
        <div class="grid-item small-12">
          <div class="panel-header">
            <h6>
              <a
                href="http://mapyrus.sourceforge.net/"
                target="_blank"
                rel="noopener noreferrer"
              >
                Mapyrus
              </a>
            </h6>
            <p>Vrstvy ako aj všetky ďalšie mapy sú kreslené Mapyrusom.</p>
          </div>
          <div class="panel-header">
            <h6>
              <a
                href="https://www.geonames.org/"
                target="_blank"
                rel="noopener noreferrer"
              >
                GeoNames
              </a>
            </h6>
            <p>Hľadanie názvov geografických lokalít zabezpečuje GeoNames.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-centered section-dangerscale">
    <div id="geodata" class="panel">
      <h2>Geodáta</h2>
      <p>Všetky naše geografické dáta sú voľne dostupné:</p>
    </div>

    <div id="micro-regions" class="panel field border">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/micro-regions.webp"
            title="Micro Regions"
            alt="Micro Regions"
            class="warning-level-icon"
          />
        </div>
        <div class="grid-item small-9">
          <div class="panel-header">
            <p>Polygóny</p>
            <h4>Mikro regióny</h4>
          </div>
          <p>
            <a
              href="https://gitlab.com/hzs-sk/eaws-regions"
              target="_blank"
              rel="noopener noreferrer"
            >
              https://gitlab.com/hzs-sk/eaws-regions
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
