<div>
  <h1>Množstvo nebezpečných miest</h1>

  <section class="section-centered">
    <div class="panel">
      <p>
        <a href="/education/snowpack-stability">Stabilita snehovej pokrývky</a>
        spolu s množstvom nebezpečných miest a
        <a href="/education/avalanche-sizes">veľkosťou lavíny</a> jedným z
        kľúčových faktorov pri hodnotení
        <a href="/education/danger-scale">stupňa lavínového nebezpečenstva</a>
        pomocou <a href="/education/matrix">matice EAWS</a>. Od valného
        zhromaždenia EAWS v Davose v júni 2022 boli všetky tri premenné
        definované a podložené príkladmi používanými v praxi. Definície,
        poznámky, príklady a podrobnejšie informácie k premennej množstvo
        nebezpečných miest nájdete v nasledujúcich častiach alebo na stránke
        <a href="www.avalananches.org/standards/">avalanches.org</a>
      </p>

      <h6>Definícia</h6>
      <p>
        Množstvo nebezpečných miest opisuje percentuálny podiel nebezpečných
        plôch pre každú triedu stability voči všetkým plochám v lavínovom
        teréne. Teda množstvo svahov <i>f</i> pre všetky body s triedou
        stability <i>i</i> (n<sub>i<i></i></sub>) v porovnaní so všetkými
        miestami (<i>n</i>) je <i>f(i)</i> = <i>n</i><sub><i>i</i></sub
        >/<i>n</i>. Rozdelenie množstva nebezpečných miest sa opisuje pomocou
        štyroch tried: <i>Mnoho</i>, <i>Niektoré</i>, <i>Ojedinele</i> a
        <i>Žiadne alebo Takmer žiadne</i> (tabuľka 1).
      </p>

      <h6>Doplnok</h6>

      <p>
        Rozdelenie množstva nebezpečných miest poukazuje na množstvo lokálnych
        plôch-bodov (t. j. testov stability, modelov snehovej pokrývky alebo
        potenciálnych zón uvoľnenia) alebo zón odtrhu lavín.
      </p>

      <p>
        Množstvo nebezpečnýchm miest sa musí posudzovať pre konkrétnu výstražnú
        oblasť (región), ktorá musí byť rovnaká alebo väčšia ako
        <a href="/education/spatio-temporal-scale">referenčná jednotka</a>.
      </p>

      <p>
        Definícia sa teoreticky odkazuje na percentuálny podiel. To však často
        nie je možné posúdiť, pretože rozdelenie množstva nebezpečných miest sa
        často musí odvodiť z údajov v reálnej situácii, ktorých množstvo je vo
        všeobecnosti malé. Percentá alebo prahové hodnoty pre stanovenie tried
        <i>Mnoho</i>, <i>Niektoré</i>, <i>Ojedinele</i> a
        <i>Žiadne alebo Takmer žiadne</i> sa líšia v závislosti od použitého
        alebo dostupného merania / dôkazu (podrobnejšie informácie sú uvedené
        ďalej). Napríklad percentuálne hraničné hodnoty pre svahy náchylné na
        samovoľné lavíny, môžu byť nižšie ako percentuálne hraničné hodnoty pre
        miesta, na ktorých sa vykonali testy stability s výsledkom poukazujúcim
        na <i>veľmi slabú</i> stabilitu.
      </p>
      <p>
        Stručný prehľad výskumu týkajúceho sa rozdelenia množstva nebezpečných
        miest nájdete v<a
          href="https://www.avalanches.org/wp-content/uploads/2022/12/EAWS_matrix_definitions_EN.pdf"
        >
          prílohe B</a
        >
        v rámci verejného dokumentu o EAWS.
      </p>

      <p class="small" style="text-align: center">
        Tabuľka 1: Triedy rozdelenia množstva nebezpečných miest.
      </p>

      <div class="table-container">
        <table class="pure-table pure-table-striped full-width">
          <thead>
            <tr>
              <th>Trieda množstva nebezpečných miest</th>
              <th>Popis</th>
              <th>Dôkazy (napr. pozorovania)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mnoho</td>
              <td>Plochy s touto triedou stability sú rozsiahle.</td>
              <td>Dôkazy o nestabilite sú evidentné.</td>
            </tr>
            <tr>
              <td>Niektoré</td>
              <td>
                Plôch s touto triedou stability nie je ani veľa, ani málo, ale
                tieto plochy sa zvyčajne vyskytujú v terénnych prvkoch so
                spoločnými charakteristikami (t. j. v blízkosti hrebeňov, v
                roklinách).
              </td>
              <td></td>
            </tr>
            <tr>
              <td>Ojedinele</td>
              <td>
                Plôch s touto triedou stability je len pár, a to zriedkavých.
                Hoci sú zriedkavé, ich počet sa považuje za relevantný pre
                hodnotenie stability.
              </td>
              <td>Dôkazy o nestabilite sa hľadajú ťažko.</td>
            </tr>
            <tr>
              <td>Žiadne alebo takmer žiadne</td>
              <td>
                Plochy s touto triedou stability neexistujú alebo sú také
                zriedkavé, že sa nepovažujú za relevantné pre hodnotenie
                stability.
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2>
        Posudzovanie počas zaraďovania do tried množstva nebezpečných miest
      </h2>

      <p>
        Obrázok 1 znázorňuje koncept rozdelenia množstva nebezpečných miest.
        Tento príklad zobrazuje idealizovaný prípad. Posudzujeme hypotetický a
        idealizovaný scenár, v ktorom sú k dispozícii hodnotenia stability pre
        plochy v rámci východiskových zón. V tomto prípade je náš mikroregión
        vymedzený obrysovou mapou v paneli a). Kvôli zjednodušeniu sme zvolili
        referenčnú jednotku rovnú mikroregiónu. Posudzujeme teda všetky plochy
        vo východiskových zónach v rámci regiónu nezávisle od nadmorskej výšky,
        expozície alebo iného možného členenia (obrázok b). Na obrázku c) je
        uvedená trieda stability posudzovaná v každom bode. Na obrázku d) je
        znázornené výsledné rozdelenie množstva nebezpečných miest do tried
        stability. Vo všeobecnosti je potrebné pri hodnotení stupňa lavínového
        nebezpečenstva zohľadniť množstvo nebezpečných miest v najhoršej triede
        stability – v tomto prípade triede <i>Veľmi slabej</i>.
      </p>

      <table style="width: 100%; border: 0px solid #000; text-align: center">
        <tbody>
          <tr>
            <td>
              <img
                style="width: 100%"
                title="Obrázok 1: Koncept rozdelenia množstva nebezpečných miest - idealizovaný prípad"
                alt="Obrázok 1: Koncept rozdelenia množstva nebezpečných miest - idealizovaný prípad"
                data-entity-type="file"
                data-entity-uuid="d397a528-6f80-4ea3-afdf-255ab9ae681d"
                src="/content_files/FrequencyDistributionExample_SK.png"
              />
            </td>
          </tr>
        </tbody>
      </table>
      <p class="small" style="text-align: center">
        Obrázok 1: Koncept rozdelenia množstva nebezpečných miest - idealizovaný
        prípad
      </p>

      <p>
        O probléme prideľovania percent alebo rozhodovania o hraniciach medzi
        jednotlivými triedami sa veľa diskutuje - výskumníci a odborníci z praxe
        zatiaľ nemajú jasnú odpoveď na tento problém. Len málo prognostikov
        alebo odborníkov z praxe má k dispozícii dostatok údajov, ktoré sú
        presvedčivé a rovnomerne rozložené v príslušných oblastiach v regióne,
        ktorý posudzujú. Komunita lavínových prognostikov sa domnieva, že je
        potrebné vyhodnotiť oveľa viac údajov v kombinácii s ich vedeckým
        overovaním, kým dospeje k jednoznačnej vedeckej kvantifikácii.
        Stanovenie množstva nebezpečných miest si preto zatiaľ vyžaduje
        predovšetkým skúsenosti a nedá sa jednoznačne vedecky charakterizovať. V
        nasledujúcich odsekoch je možné vidieť niektoré štúdie, ktoré sa
        pokúsili kvantifikovať rozdelenie množstva nebezpečných miest. Uvedené
        príklady opisujú množstvo nebezpečných miest, majú rôzne základy a
        nedajú sa priamo porovnávať ani kombinovať na opis jednotlivých tried. V
        budúcnosti je potrebné vykonať viac štúdií tohto typu, aby bolo možné
        poskytnúť spoľahlivé percentuálne údaje o množstve nebezpečných miest a
        ich rozdelení do tried.
      </p>

      <h6>Testy stability (Zosuvný blok - Rutschblock)</h6>

      <p>
        Triedy množstva nebezpečných miest odvodené
        <a
          href="https://tc.copernicus.org/articles/14/3503/2020/tc-14-3503-2020.html"
          >Techelom et al. (2020)
        </a>
        pre test stability Zosuvný blok s výsledkom stability - veľmi slabý:
      </p>

      <ul>
        <li><i>Mnoho</i> : &gt;20%</li>
        <li><i>Niektoré</i>: &gt;4% - 20%</li>
        <li><i>Ojedinele</i>: &gt;0% - &lt;4%</li>
        <li><i>Žiadne alebo takmer žiadne</i>: 0%</li>
      </ul>
      <h6>Lavínová aktivita (Príklad 1)</h6>
      <p>
        Lavínová aktivita pozorovaná na satelitných snímkoch nad Švajčiarskom v
        dvoch extrémnych lavínových situáciách v januári 2018 a v januári 2019
        (Hafner, 2019): Podiel potenciálnych uvoľnených oblastí, kde sa reálne
        uvoľnila lavína, sa pre podskupinu 13 mikroregiónov pohyboval od 4 % do
        23 % s priemerom 13 %. Tieto mikroregióny pokrývajú plochu od 56 do 506
        km<sup>2</sup>, zatiaľ čo potenciálna oblasť uvoľnenia v rámci týchto
        mikroregiónov pokrýva od 21 do 159 km<sup>2</sup> plochy týchto
        regiónov. Ak sa v rámci týchto regiónov zohľadnia len dve najaktívnejšie
        susedné expozície (napr. od SZ-JV), pozorované maximum kde sa reálne
        uvoľnili lavíny bolo 41 % celkovej plochy. Tieto hodnoty možno považovať
        za hodnoty predstavujúce vysoké hodnoty pre termín <i>Mnoho</i>.
      </p>

      <h6>Lavínová aktivita (Príklad 2)</h6>
      <p>
        Na základe 15-ročného súboru údajov o ručne zmapovaných prirodzených
        lavínach v regióne Davos vo Švajčiarsku (Völk, 2020) boli pomocou
        prístupu opísaného
        <a
          href="https://tc.copernicus.org/articles/14/3503/2020/tc-14-3503-2020.html"
          >Techelom et al. (2020)</a
        >
        získané nasledujúce triedy množstva nebezpečných miest pre podiel
        potenciálnych uvoľnených oblastí, kde sa reálne uvoľnila lavína:
      </p>

      <ul>
        <li><i>Mnohé</i>: &gt;2.2%</li>
        <li><i>Niektoré</i>: &gt;0.02% - 2.2%</li>
        <li><i>Ojedinele</i>:&lt;0.02%</li>
      </ul>
      <p>
        Posledný prístup má nízku mieru detekcie
        <a href="https://tc.copernicus.org/articles/15/983/2021/"
          >(Hafner et al. 2021)</a
        >. Odhadom sú tieto prahové hodnoty tried príliš nízke.
      </p>
    </div>
  </section>
  <section classname="section-centered section-context">
    <div classname="panel">
      <h2 classname="subheader">Vzdelávanie &amp; Prevencia</h2>

      <ul classname="list-inline list-buttongroup-dense">
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/danger-scale"
            title="Stupnica lavínového nebezpečenstva"
            >Stupnica lavínového nebezpečenstva</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/avalanche-problems"
            title="Typické lavínové problémy"
            >Typické lavínové problémy</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/workflow"
            title="Pracovný postup"
            >Pracovný postup</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/matrix"
            title="EAWS Matica"
            >EAWS Matica</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/snowpack-stability"
            title="Stabilita snehovej pokrývky"
            >Stabilita snehovej pokrývky</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/avalanche-sizes"
            title="Veľkost lavín"
            >Veľkost lavín</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/spatio-temporal-scale"
            title="Stanovenie priestorovej a časovej mierky"
            >Stanovenie priestorovej a časovej mierky</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/danger-patterns"
            title="Modely lavínového nebezpečenstva "
            >Modely lavínového nebezpečenstva
          </a>
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/handbook"
            title="Príručka"
            >Príručka</a
          >
        </li>
      </ul>
    </div>
  </section>
</div>
