<div>
<h1>Season Reports</h1>

<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#arge" title="Austrian Avalanche Warning Services" class="secondary pure-button" data-scroll>Austrian Avalanche Warning Services</a></li>
      <li><a href="#bz" title="Avalanche Warning Service South Tyrol" class="secondary pure-button" data-scroll>Avalanche Warning Service South Tyrol</a></li>
    </ul></header></section><section class="section-centered"><div id="arge" class="panel">
    <h2>Austrian Avalanche Warning Services</h2>
  </div>
</section><section class="section-centered"><div id="arge_2021-2022" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/season_reports/arge/deckblatt_2021_2022.jpg" title="arge_2021-2022" alt="arge_2021-2022" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>Season 2021/2022</h4>
        </div>
        <p><a href="https://static.avalanche.report/season_reports/arge/OeBericht_2021_2022.pdf" target="_blank" rel="noopener noreferrer">
            PDF
          </a></p>
      </div>
    </div>
  </div>
  <div id="arge_2020-2021" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/season_reports/arge/deckblatt_2020_2021.jpg" title="arge_2020-2021" alt="arge_2020-2021" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>Season 2020/2021</h4>
        </div>
        <p><a href="https://static.avalanche.report/season_reports/arge/OeBericht_2020_2021.pdf" target="_blank" rel="noopener noreferrer">
            PDF
          </a></p>
      </div>
    </div>
  </div>
  <div id="arge_2019-2020" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/season_reports/arge/deckblatt_2019_2020.jpg" title="arge_2019-2020" alt="arge_2019-2020" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>Season 2019/2020</h4>
        </div>
        <p><a href="https://static.avalanche.report/season_reports/arge/OeBericht_2019_2020.pdf" target="_blank" rel="noopener noreferrer">
            PDF
          </a></p>
      </div>
    </div>
  </div>
  <div id="arge_2018-2019" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/season_reports/arge/deckblatt_2018_2019.jpg" title="arge_2018-2019" alt="arge_2018-2019" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>Season 2018/2019</h4>
        </div>
        <p><a href="https://static.avalanche.report/season_reports/arge/OeBericht_2018_2019.pdf" target="_blank" rel="noopener noreferrer">
            PDF
          </a></p>
      </div>
    </div>
  </div>
  <div id="arge_2017-2018" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/season_reports/arge/deckblatt_2017_2018.jpg" title="arge_2017-2018" alt="arge_2017-2018" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>Season 2017/2018</h4>
        </div>
        <p><a href="https://static.avalanche.report/season_reports/arge/OeBericht_2017_2018.pdf" target="_blank" rel="noopener noreferrer">
            PDF
          </a></p>
      </div>
    </div>
  </div>
  <div id="arge_2016-2017" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/season_reports/arge/deckblatt_2016_2017.jpg" title="arge_2016-2017" alt="arge_2016-2017" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>Season 2016/2017</h4>
        </div>
        <p><a href="https://static.avalanche.report/season_reports/arge/OeBericht_2016_2017.pdf" target="_blank" rel="noopener noreferrer">
            PDF
          </a></p>
      </div>
    </div>
  </div>
  <div id="arge_2015-2016" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/season_reports/arge/deckblatt_2015_2016.jpg" title="arge_2015-2016" alt="arge_2015-2016" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>Season 2015/2016</h4>
        </div>
        <p><a href="https://static.avalanche.report/season_reports/arge/OeBericht_2015_2016.pdf" target="_blank" rel="noopener noreferrer">
            PDF
          </a></p>
      </div>
    </div>
  </div>
  <div id="arge_2014-2015" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/season_reports/arge/deckblatt_2014_2015.jpg" title="arge_2014-2015" alt="arge_2014-2015" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>Season 2014/2015</h4>
        </div>
        <p><a href="https://static.avalanche.report/season_reports/arge/OeBericht_2014_2015.pdf" target="_blank" rel="noopener noreferrer">
            PDF
          </a></p>
      </div>
    </div>
  </div>
  <div id="arge_2013-2014" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/season_reports/arge/deckblatt_2013_2014.jpg" title="arge_2013-2014" alt="arge_2013-2014" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>Season 2013/2014</h4>
        </div>
        <p><a href="https://static.avalanche.report/season_reports/arge/OeBericht_2013_2014.pdf" target="_blank" rel="noopener noreferrer">
            PDF
          </a></p>
      </div>
    </div>
  </div>
  <div id="arge_2012-2013" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/season_reports/arge/deckblatt_2012_2013.jpg" title="arge_2012-2013" alt="arge_2012-2013" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>Season 2012/2013</h4>
        </div>
        <p><a href="https://static.avalanche.report/season_reports/arge/OeBericht_2012_2013.pdf" target="_blank" rel="noopener noreferrer">
            PDF
          </a></p>
      </div>
    </div>
  </div>
  <div id="arge_2011-2012" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/season_reports/arge/deckblatt_2011_2012.jpg" title="arge_2011-2012" alt="arge_2011-2012" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>Season 2011/2012</h4>
        </div>
        <p><a href="https://static.avalanche.report/season_reports/arge/OeBericht_2011_2012.pdf" target="_blank" rel="noopener noreferrer">
            PDF
          </a></p>
      </div>
    </div>
  </div>
  <div id="arge_2010-2011" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/season_reports/arge/deckblatt_2010_2011.jpg" title="arge_2010-2011" alt="arge_2010-2011" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>Season 2010/2011</h4>
        </div>
        <p><a href="https://static.avalanche.report/season_reports/arge/OeBericht_2010_2011.pdf" target="_blank" rel="noopener noreferrer">
            PDF
          </a></p>
      </div>
    </div>
  </div>
  <div id="arge_2009-2010" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/season_reports/arge/deckblatt_2009_2010.jpg" title="arge_2009-2010" alt="arge_2009-2010" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>Season 2009/2010</h4>
        </div>
        <p><a href="https://static.avalanche.report/season_reports/arge/OeBericht_2009_2010.pdf" target="_blank" rel="noopener noreferrer">
            PDF
          </a></p>
      </div>
    </div>
  </div>
</section><section class="section-centered"><div id="bz" class="panel">
    <h2>Service de Prévision d’Avalanches du Haut-Adige</h2>
  </div>
</section><section class="section-centered"><div id="bz_2021-2022" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/season_reports/bz/AvalancheReport_2021-22.jpg" title="bz_2021-2022" alt="bz_2021-2022" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>AvalancheReport 2021/2022</h4>
        </div>
        <p><a href="https://static.avalanche.report/season_reports/bz/AvalancheReport_2021-22.pdf" target="_blank" rel="noopener noreferrer">
            PDF
          </a></p>
      </div>
    </div>
  </div>
  <div id="bz_2020-2021" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/season_reports/bz/AvalancheReport_2020-21.jpg" title="bz_2020-2021" alt="bz_2020-2021" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>AvalancheReport 2020/2021</h4>
        </div>
        <p><a href="https://static.avalanche.report/season_reports/bz/AvalancheReport_2020-21.pdf" target="_blank" rel="noopener noreferrer">
            PDF
          </a></p>
      </div>
    </div>
  </div>
  <div id="bz_2019-2020" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/season_reports/bz/AvalancheReport_2019-20.jpg" title="bz_2019-2020" alt="bz_2019-2020" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>AvalancheReport 2019/2020</h4>
        </div>
        <p><a href="https://static.avalanche.report/season_reports/bz/AvalancheReport_2019-20.pdf" target="_blank" rel="noopener noreferrer">
            PDF
          </a></p>
      </div>
    </div>
  </div>
  <div id="bz_2018-2019" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/season_reports/bz/AvalancheReport_2018-19.jpg" title="bz_2018-2019" alt="bz_2018-2019" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>AvalancheReport 2018/2019</h4>
        </div>
        <p><a href="https://static.avalanche.report/season_reports/bz/AvalancheReport_2018-19.pdf" target="_blank" rel="noopener noreferrer">
            PDF
          </a></p>
      </div>
    </div>
  </div>
  <div id="bz_2017-2018" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/season_reports/bz/AvalancheReport_2017-18.jpg" title="bz_2017-2018" alt="bz_2017-2018" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>AvalancheReport 2017/2018</h4>
        </div>
        <p><a href="https://static.avalanche.report/season_reports/bz/AvalancheReport_2017-18.pdf" target="_blank" rel="noopener noreferrer">
            PDF
          </a></p>
      </div>
    </div>
  </div>
  <div id="bz_2016-2017" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/season_reports/bz/AvalancheReport_2016-17.jpg" title="bz_2016-2017" alt="bz_2016-2017" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>AvalancheReport 2016/2017</h4>
        </div>
        <p><a href="https://static.avalanche.report/season_reports/bz/AvalancheReport_2016-17.pdf" target="_blank" rel="noopener noreferrer">
            PDF
          </a></p>
      </div>
    </div>
  </div>
  <div id="bz_2015-2016" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/season_reports/bz/AvalancheReport_2015-16.jpg" title="bz_2015-2016" alt="bz_2015-2016" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>AvalancheReport 2015/2016</h4>
        </div>
        <p><a href="https://static.avalanche.report/season_reports/bz/AvalancheReport_2015-16.pdf" target="_blank" rel="noopener noreferrer">
            PDF
          </a></p>
      </div>
    </div>
  </div>
  <div id="bz_2014-2015" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/season_reports/bz/AvalancheReport_2014-15.jpg" title="bz_2014-2015" alt="bz_2014-2015" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>AvalancheReport 2014/2015</h4>
        </div>
        <p><a href="https://static.avalanche.report/season_reports/bz/AvalancheReport_2014-15.pdf" target="_blank" rel="noopener noreferrer">
            PDF
          </a></p>
      </div>
    </div>
  </div>
</section>
</div>
