<div>
<h1>Imprint</h1>&#13;
&#13;
<section class="section-centered"><div class="panel">&#13;
    <h4>Media owner and publisher</h4>&#13;
&#13;
    <p><b>Tyrol</b><br><a href="https://www.tirol.gv.at" target="_blank" rel="noopener noreferrer">Office of the Tyrolean Provincial Government </a><br><a href="https://maps.tirol.gv.at/tirisMaps/login_pvp.jsp?user=guest&amp;project=tmap_master&amp;query=q_adresse&amp;keyname=ADRCD&amp;keyvalue=5006194" target="_blank" rel="noopener noreferrer">Eduard-Wallnöfer-Platz 3, 6020 Innsbruck, Austria</a><br><a href="http://fahrplan.vvt.at/bin/query.exe/dn?L=vs_vvt&amp;Z=6020%20Innsbruck%2C%20Eduard-Walln%C3%B6fer-Platz%203&amp;ZADR=1&amp;MCX=11428189&amp;MCY=47284626&amp;MZ=9" target="_blank" rel="noopener noreferrer">How to find us</a>&#13;
      <br>+43 512 508 <br>+43 512 508 741990 <br>post@tirol.gv.at&#13;
      <a href="https://www.tirol.gv.at/telefonbuch/bww/organisationseinheit/oe/300033/ag/0/#Kontaktformular" target="_blank" rel="noopener noreferrer">&#13;
        Contact form&#13;
      </a>&#13;
&#13;
      <br>Homepage:&#13;
      <a href="https://www.tirol.gv.at/" target="_blank" rel="noopener noreferrer">www.tirol.gv.at</a>&#13;
      <br>Editorial office: Avalanche Warning Service Tirol, Avalanche Warning&#13;
      Service Südtirol, Avalanche Warning Service Trentino.<br></p>&#13;
&#13;
    <h4>Technical responsibility</h4>&#13;
    <p>Office of the Tyrolean Provincial Government<br><a href="https://www.tirol.gv.at/" target="_blank" rel="noopener noreferrer">www.tirol.gv.at</a></p>&#13;
&#13;
    <h4>Concept, webdesign, templating</h4>&#13;
    <p>Transporter Webagentur OG<br><a href="http://www.transporter.at" target="_blank" rel="noopener noreferrer">www.transporter.at</a></p>&#13;
&#13;
    <h4>Technical implementation</h4>&#13;
    <p>University of Vienna, Department of Geography and Regional Research&#13;
      <br><a href="https://geographie.univie.ac.at" target="_blank" rel="noopener noreferrer">geographie.univie.ac.at</a>&#13;
      <br>Office of the Tyrolean Provincial Government<br><a href="https://www.tirol.gv.at/" target="_blank" rel="noopener noreferrer">www.tirol.gv.at</a>&#13;
      <br>Transporter Webagentur OG<br><a href="http://www.transporter.at" target="_blank" rel="noopener noreferrer">www.transporter.at</a>&#13;
      <br>TBBM Technisches Büro Buchauer Markus GmbH<br><a href="https://www.tbbm.at/" target="_blank" rel="noopener noreferrer">www.tbbm.at</a></p>&#13;
&#13;
    <h4>Disclosure according to § 25 MedG Abs. 4</h4>&#13;
    <p>"Blattlinie": Avalanche.report / Lawinen.report / Valanghe.report is an&#13;
      online information service. The internet portal Avalanche.report /&#13;
      Lawinen.report / Valanghe.report provides comprehensive information on the&#13;
      current and past avalanche situation in the European region Tyrol-South&#13;
      Tyrol-Trentino, as well as extensive information on snow and avalanches.&#13;
      The website is a services portal for all those who are looking for&#13;
      information on the avalanche situation or want to find out more about snow&#13;
      and avalanches.</p>&#13;
&#13;
    <h4>Terms of use</h4>&#13;
    <p>The information provided on this website is subject to a disclaimer, a&#13;
      copyright notice, provisions on the protection of personal data and final&#13;
      provisions.</p>&#13;
&#13;
    <h4>1. Disclaimer:</h4>&#13;
    <p>The website of the European Avalanche Warning Services is intended to&#13;
      provide public access to comprehensive information on the avalanche&#13;
      situation in the European region Tyrol – South Tyrol – Trentino and&#13;
      background information.&#13;
&#13;
      <br>Our aim is to disseminate accurate and up-to-date information to&#13;
      citizens. We assume no liability for the accuracy, up-to-dateness,&#13;
      completeness or availability of the information or data provided.&#13;
&#13;
      <br>In the case of references or links to external websites which lie&#13;
      outside our area of responsibility, we may only be liable if our editorial&#13;
      staff is aware of the content and it would be technically possible and&#13;
      reasonable for them to prevent the use in case of illegal content.&#13;
&#13;
      <br>We would like to point out that the information provided does not&#13;
      constitute comprehensive legal advice (you should always consult an expert&#13;
      for such advice).&#13;
&#13;
      <br>We cannot guarantee that the accessible content, in particular legal&#13;
      texts, always corresponds to the current or legally binding version.&#13;
&#13;
      <br>Note: The legally valid version of laws and decrees are published in&#13;
      the Tyrol Provincial Law Gazette: the “Landesgesetzblatt für Tirol”, the&#13;
      ”Bote für Tirol” and the ”Legal Information System (RIS)”.&#13;
&#13;
      <br>Although we strive to avoid technical interferences, the Province of&#13;
      Tyrol cannot guarantee that the website will not incur interruptions or&#13;
      other technical problems.</p>&#13;
&#13;
    <h4>2. Copyright:</h4>&#13;
    <p>All contents, the layout, any sound and video sequences, etc. are&#13;
      protected by copyright and other intellectual property laws. All these&#13;
      rights are reserved to the province of Tyrol. Changes to this website may&#13;
      not be made.&#13;
&#13;
      <br>If you wish to use information services on this website for purposes&#13;
      other than your personal information, you first have to submit a request&#13;
      in accordance with the ”Tyrolean Law on Re-Use of Public Sector&#13;
      Information (Tiroler Informationsweiterverwendungsgesetz)”.&#13;
&#13;
      <br>In principle everyone is at liberty to merely provide a link to our&#13;
      contents and needs no special permission, as long as it does not mislead&#13;
      or degrade the province of Tyrol or the information/services offered here.&#13;
&#13;
      <br>Separate licenses and terms of use apply for ”Open Government Data”.</p>&#13;
&#13;
    <h4>3. Protection of personal data:</h4>&#13;
    <p>The Province of Tyrol respects your privacy and processes your personal&#13;
      data in accordance to the European General Data Protection Regulation&#13;
      (GDPR - (EU) 2016/679), the Federal Act concerning the Protection of&#13;
      Personal Data (Datenschutzgesetz 2018) and the Tyrolean Act concerning the&#13;
      Protection of Personal Data Data Protection Act 2018 (Tiroler&#13;
      Datenschutzgesetz 2018).&#13;
&#13;
      <br>Although you can use most of the contents of our website without&#13;
      providing any personal information, in some cases personal information is&#13;
      required in order to provide the online services you have requested. You&#13;
      can find more detailed information on the processing of your personal data&#13;
      <a href="/privacy" target="_blank">here</a>.</p>&#13;
&#13;
    <b>What happens to the e-mails you send us?</b>&#13;
&#13;
    <p>If you send us e-mails, your personal data will only be processed to the&#13;
      extent necessary for a reply. If necessary, the recipient will forward&#13;
      your message to another responsible department of the Tyrolean regional&#13;
      administration or the responsible Avalanche Warning Service of South Tyrol&#13;
      or Trentino.</p>&#13;
&#13;
    <b>References and links</b>&#13;
&#13;
    <p>In case of direct or indirect references to third-party websites (links)&#13;
      which are outside the scope of responsibility of the respective&#13;
      Avalanche.report / Lawinen.report / Valanghe.report editorial staff or the&#13;
      cooperation partners, a liability obligation would only arise in the event&#13;
      that the respective Avalanche.report / Lawinen.report / Valanghe.report&#13;
      editorial staff / the specialist department is aware of the content and it&#13;
      would be technically possible and reasonable to prevent its use in the&#13;
      case of illegal content. <br>The respective specialist department&#13;
      therefore expressly states that at the time the links were placed in the&#13;
      text, the sites they refer to were free of illegal content. The respective&#13;
      specialist department has no influence whatsoever on the current and&#13;
      future design and content of the linked websites. For this reason, the&#13;
      respective specialist department expressly disclaims any responsibility&#13;
      for the contents of all linked websites that have been changed since the&#13;
      link was placed. This statement applies to all links and references set&#13;
      within our own website and to third-party entries on our platform.&#13;
      Liability for illegal, erroneous or incomplete content and in particular&#13;
      for the damages which originate from the use or disuse of such&#13;
      information, shall lie solely with the provider of the page to which any&#13;
      of these links refer and not with the party that merely refers to the&#13;
      content via links.</p>&#13;
&#13;
    <h4>4. Final provisions:</h4>&#13;
    <p>By opening one of our Internet pages or using our offer, the terms of use&#13;
      stated here are accepted. These terms of use are subject to Austrian law.&#13;
      The exclusive place of jurisdiction is the competent court in Innsbruck.&#13;
      <br>If parts or individual formulations of these Terms of Use do not, no&#13;
      longer or do not fully comply with the current legal situation, the&#13;
      content and validity of the remaining parts shall remain unaffected.</p>&#13;
&#13;
    <b>YouTube videos</b>&#13;
&#13;
    <p>As soon as the YouTube link of a video on the Avalanche.report /&#13;
      Lawinen.report / Valanghe.report website is clicked, you will be taken to&#13;
      the YouTube channel. We explicitly point out that you will then be subject&#13;
      to the terms and conditions of YouTube/Google.</p>&#13;
&#13;
    <b>Gender reference</b>&#13;
    <p>For better readability, we have refrained from using the gender-neutral&#13;
      form of the relevant and person-related terms on our website.</p>&#13;
  </div>&#13;
</section>
</div>
