/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

//http://purecss.io/buttons

@import "../../../../node_modules/purecss-sass/vendor/assets/stylesheets/purecss/_buttons.scss";

.pure-button,
a.pure-button {
  position: relative;
  display: inline-block;
  padding: $padding ($padding * 1.5);
  font-size: $tiny-font-size; //$body-font-size-tiny;
  @include font-heavy;
  line-height: $header-line-height;
  @include letter-spacing(0.1em);
  @include uppercase;
  //@include font-smoothing(antialiased);
  color: $white;
  background: $primary-color;
  border: $border-width $border-style transparent;
  border-radius: $global-radius;
  @include rollout;

  @media (hover: hover) {
    &:hover {
      color: $primary-color;
      background: $white;
      border-color: $primary-color;
      @include box-shadow;
      @include rollover;
    }
  }
  &.js-active {
    color: $primary-color;
    background: $white;
    border-color: $primary-color;
    @include box-shadow;
    @include rollover;
  }
  &:focus {
    filter: none;
    background-image: none;
    outline: initial;
  }
  //Focusing  with a keyboard
  &:focus-visible {
    @include keyboard-focus();
  }
  //Focusing with a mouse, touch, or stylus
  &:focus:not(:focus-visible) {
    outline: none;
  }

  &.primary {
  }
  &.inverse {
    color: $primary-color;
    background: $white;
    border-color: $primary-color;
    @media (hover: hover) {
      &:hover {
        color: $white;
        background: $primary-color;
        border-color: $primary-color;
      }
    }
    &.js-active {
      color: $white;
      background: $primary-color;
      border-color: $primary-color;
    }
  }
  &.secondary {
    color: $text-color;
    background: $white;
    border-color: $secondary-color;
    @media (hover: hover) {
      &:hover {
        color: $primary-color;
        background: $white;
        border-color: $primary-color;
      }
    }
    &.js-active {
      color: $primary-color;
      background: $white;
      border-color: $primary-color;
    }
    .controlbar & {
      color: $primary-color;
      border-color: $primary-color;
    }
  }
  &.tertiary {
    color: $text-color;
    background: $tertiary-color;
    border-color: $tertiary-color;
    @media (hover: hover) {
      &:hover {
        color: $primary-color;
        background: $white;
        border-color: $primary-color;
      }
    }
    &.js-active {
      color: $primary-color;
      background: $white;
      border-color: $primary-color;
    }
  }

  &.success {
    background: $success-color;
    @media (hover: hover) {
      &:hover {
        color: $success-color;
        background: $white;
        border-color: $success-color;
      }
    }
    &.js-active {
      color: $success-color;
      background: $white;
      border-color: $success-color;
    }
  }
  &.error {
    background: $error-color;
    @media (hover: hover) {
      &:hover {
        color: $error-color;
        background: $white;
        border-color: $error-color;
      }
    }
    &.js-active {
      color: $error-color;
      background: $white;
      border-color: $error-color;
    }
  }
  &.warning {
    background: $warning-color;
    @media (hover: hover) {
      &:hover {
        color: $warning-color;
        background: $white;
        border-color: $warning-color;
      }
    }
    &.js-active {
      color: $warning-color;
      background: $white;
      border-color: $warning-color;
    }
  }
  &.emphasize {
    background: $green;
    @media (hover: hover) {
      &:hover {
        color: $orange;
        background: $white;
        border-color: $orange;
      }
    }
    &.js-active {
      color: $orange;
      background: $white;
      border-color: $orange;
    }
  }

  &.black {
    background: $black;
    @media (hover: hover) {
      &:hover {
        color: $black;
        background: $white;
        border-color: $black;
      }
    }
    &.js-active {
      color: $black;
      background: $white;
      border-color: $black;
    }
  }

  &.round {
    border-radius: $global-rounded;
  }
  &.expand {
    display: block;
  }

  &.small {
    font-size: $micro-font-size; //$body-font-size-micro;
  }
  &.large {
    font-size: $medium-font-size; //$body-font-size-medium;
  }

  &.pure-button-icon {
    margin: 0;
    padding: $padding;
    //font-size: $normal-font-size;//$body-font-size-tiny;
    //@media #{$medium-up} { font-size: $tiny-font-size; }
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
    }
    span {
      display: block;
      width: 1em + $header-line-height - 1;
    }
    .controlbar & {
      background-color: $white;
      color: $brand;
      &:hover {
        border-color: $white;
        background-color: $brand;
        color: $white;
      }
    }
  }
}

.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
  border: $border-width solid transparent;
  border-color: transparent;
}

.pure-buton-wrap {
  white-space: normal;
  text-align: left;
}
