<div>
  <h1>About us</h1>

  <section class="section-centered">
    <div class="panel">
      <img
        src="/content_files/logo-SLP.svg"
        style="width: 350px"
        title="Avalanche prevention center - logo"
        alt="Avalanche prevention center - logo"
      />
      <h2>Stredisko lavínovej prevencie (Avalanche prevention center)</h2>
      <p>
        The issue of avalanche threat has been felt in Slovakia for a long time.
        Slovakia, as a country with a significant share of mountain territories,
        has had extensive experience with avalanches and unfortunately also with
        avalanche accidents. With the establishment of the Mountain Rescue
        Service, whose task was primarily to save human lives in mountain
        accidents, there was also a need to have an expert unit that would
        systematically monitor the snow cover, avalanche conditions in Slovakia
        and study the possibilities of avalanche prevention. Following the
        example of the Alpine countries, the Avalanche Prevention Centre in
        Jasná in the Low Tatras below Chopok started its activity in 1972. At
        present, the SLP performs all tasks related to avalanche prevention in
        Slovakia, in particular:
      </p>
      <ul>
        <li>
          during the winter season, daily compilation of data necessary for the
          assessment of the avalanche situation in mountains in Slovakia and
          daily publication of the regional avalanche bulletin according to
          international rules
        </li>
        <li>
          observation of the development of snow cover and meteorological
          conditions for avalanches
        </li>
        <li>
          central registration of avalanches and maintenance of the Mountain
          Avalanche Service's avalanche cadastre
        </li>
        <li>
          organisation of preventive measures against avalanches, in particular
          by blasting with explosives, stationary and mobile avalanche release
          systems
        </li>
        <li>
          building a network to automate the collection of data needed to assess
          the avalanche situation and disseminating information through these
          networks (automatic measuring stations, transmission of graphical
          information, etc.)
        </li>
        <li>
          maintenance, servicing and renewal of the data collection automation
          network
        </li>
        <li>
          operation of the meteoportal
          <a href="https://meteo.hzs.sk" target="_blank">www.meteo.hzs.sk</a>
        </li>
        <li>maintaining a methodology for avalanche prevention and rescue</li>
        <li>
          membership of EAWS (European Avalanche Warning Services) and
          participation in the development of international methodology and
          rules as well as implementation of agreed rules in practice in
          Slovakia
        </li>
        <li>
          international cooperation at the level of ICAR avalanche commissions
          with Poland, Germany, Austria, Switzerland, France, Italy, Slovenia,
          Norway, USA, Canada
        </li>
        <li>
          cooperation with domestic professional institutions in the field of
          avalanche prevention and problems of the high mountain environment
          (Technical and natural science universities - diploma theses, Forestry
          organisations - assessment of forest management plans, Slovak
          Hydrometeorological Institute - exchange of data and information,
          design offices - annexes to land cadastral plans, etc.)
        </li>
      </ul>

      <h3>History</h3>

      <p>
        <b>1924</b> - In Slovakia, foresters began to deal more intensively with
        the problem of avalanches after 1924, when an avalanche from the slopes
        of Krížna in Veľká Fatra destroyed half of the mountain village of Rybô
        and killed 18 of its inhabitants. One of the first pioneers of the
        avalanche problem in the 1950s was the forest engineer Bukovčan, who is
        credited with building avalanche barriers above the village of Rybô and
        in other mountain areas of Slovakia.
      </p>
      <img
        src="/content_files/about01_1924-rybo.jpg"
        title="Avalanche in Rybô village"
        alt="Avalanche in Rybô village"
        class="image-centered"
      />
      <img
        src="/content_files/about02_1924_rybo_2.jpg"
        title="Avalanche in Rybô village"
        alt="Avalanche in Rybô village"
        class="image-centered"
      />
      <p>
        <b>1956</b> - After the second largest avalanche tragedy in Slovakia in
        the Vajskovská valley on the southern slopes of the Low Tatras, several
        groups of experts began to observe the development of avalanche
        conditions. The first avalanche observation station at the
        meteorological station of the SHMÚ is being established on Chopok under
        the leadership of Ing. Dušan Holý. In the High Tatras, avalanches are
        dealt with by the TANAP Research Station under the leadership of
        <a href="https://blog.laviny.sk/?p=862" target="_blank">
          Dr. Ing. Ladislav Kňazovický CSc.
        </a>
        and Ing. Milič Blahout.
      </p>
      <img
        src="/content_files/about03_1956_vajskovska_1.jpg"
        title="Avalanche in Vajskovska valley"
        alt="Avalanche in Vajskovska valley"
        class="image-centered image-narrow"
      />
      <img
        src="/content_files/about04_1956_vajskovska_2.jpg"
        title="Avalanche in Vajskovska valley"
        alt="Avalanche in Vajskovska valley"
        class="image-centered image-narrow"
      />
      <p>
        <b>1964</b> - In the sixties of the last century, snow cover profiles
        are more systematically carried out by HS and TANAP employees in the
        area of the Western, High and Belianske Tatras. In the Low Tatras this
        activity was carried out by the employees of HS in Jasná in 1964-1968 by
        prof. Karol Špánik and in 1968-1972 Ing. Ladislav Milan, Pavol Hvorka
        and Štefan Hošala
      </p>
      <img
        src="/content_files/about05_meranie_profilu_80roky.jpg"
        title="Measuring snow profile in 1980s"
        alt="Measuring snow profile in 1980s"
        class="image-centered"
      />
      <p>
        <b>1972</b> - The final decision to establish a specialized workplace in
        Slovakia for avalanche research, prediction and prevention of avalanches
        fell after the disaster at Kubínská Hora, when in 1968 an avalanche hit
        53 students on ski training, 6 students died, 8 were seriously injured.
      </p>
      <img
        src="/content_files/about06_kubinka_68.jpg"
        title="Disaster at Kubínska Hola"
        alt="Disaster at Kubínska Hola"
        class="image-centered image-narrow"
      />
      <p>
        The construction of the Avalanche Prevention Centre based in Jasná
        begins, the building was completed and put into use in 1972. The centre
        is part of Mountain rescue service (ČSZTV) and is involved in avalanche
        prevention, snow study as well as other scientific activities. Under the
        direction of
        <a href="https://blog.laviny.sk/?p=862" target="_blank"
          >Ladislav Kňazovický</a
        >
        a number of publications and studies are being produced.
      </p>
      <img
        src="/content_files/about07_stavba_SLP.jpg"
        title="Building new headquarters of SLP"
        alt="Building new headquarters of SLP"
        class="image-centered"
      />
      <img
        src="/content_files/about08_budova_SLP.jpg"
        title="New headquarters of SLP"
        alt="New headquarters of SLP"
        class="image-centered"
      />
      <p class="small" style="text-align: center"></p>

      <p>
        <b>1979</b> - Ladislav Milan processes the avalanche cadastre of
        Slovakia. 3594 avalanche paths are registered.
      </p>
      <p>
        <b>1990</b> - Ladislav Milan becomes the director of the Avalanche
        Prevention Centre, the first personal computer arrives at the Avalanche
        Prevention Centre. The exchange of meteorological information with the
        Slovak Hydrometeorological Institute begins.
      </p>
      <img
        src="/content_files/about09_merania_SLP_1.jpg"
        title="SLP works in the field"
        alt="SLP works in the field"
        class="image-centered image-narrow"
      />
      <img
        src="/content_files/about10_merania_SLP_2.jpg"
        title="SLP works in the field"
        alt="SLP works in the field"
        class="image-centered image-narrow"
      />
      <p class="small" style="text-align: center">
        Avalanche prevention center was part of Mountain rescue Service and
        belonged which was section of National park of High Tatras (TANAP)
      </p>

      <p>
        <b>1992</b> - The first snow reports with avalanche warnings are issued.
      </p>
      <p>
        <b>1993</b> - adoption of the international 5-part avalanche danger
        scale, from winter 1995 this scale is also implemented in Slovakia and
        the daily publication of an avalanche bulletin begins.
      </p>
      <p>
        <b>1995</b> - Ján Peťo becomes the Director of the Centre, under his
        leadership the avalanche reports are gradually formed and the five-grade
        international avalanche danger scale is introduced. The Centre
        establishes itself on the international avalanche service scene.
      </p>
      <img
        src="/content_files/about11_prva_lavinovka_1995.jpg"
        title="First avalanche forecast."
        alt="First avalanche forecast."
        class="image-centered"
      />
      <p>
        <b>1999</b> - Avalanche Bulletin is published on the web for the first
        time.
      </p>

      <p>
        <b>2000</b> - the first automatic meteorological station in Jasná is
        built.
      </p>
      <img
        src="/content_files/about12_1_meteo_stanica1.jpg"
        title="Weather station"
        alt="Weather station"
        class="image-centered"
      />
      <p>
        <b>2003</b> - Avalanche Prevention Centre becomes part of the newly
        established Mountain Rescue Service (HZS) and on the basis of Act
        544/2002 Coll. on the Mountain Rescue Service falls under the Ministry
        of the Interior of the Slovak Republic
      </p>
      <p>
        <b>2007</b> - The Avalanche Prevention Centre built another 5 automatic
        meteorological stations in the area of the Western and High Tatras.
      </p>
      <p>
        <b>2011 - 2021</b> - The Avalanche Prevention Centre continues its
        scientific research work in addition to practical tasks. Marek Biskupič
        becomes the director. Under his leadership, the network of automatic
        meteorological stations is expanded, the meteoportal of the HZS is
        created. The Centre starts to deal intensively with geohazard research,
        to use modern knowledge and technologies for snow and avalanche research
        (satellite images, drone mapping).
      </p>
      <img
        src="/content_files/about13_ams_hruba_kopa.jpg"
        title="Weather station"
        alt="Weather station"
        class="image-centered"
      />
      <img
        src="/content_files/about14_ams_krizna_cistenie.jpg"
        title="Weather station cleaning"
        alt="Weather station cleaning"
        class="image-centered image-narrow"
      />
      <p><b>2014</b> - Moving the office from Jasná to Liptovský Hrádok.</p>
      <p>
        <b>2022</b> - The Avalanche Prevention Centre is here for 50 years. The
        director is Filip Kyzek, under his leadership the projects are being
        completed - meteoportal and network of automatic stations (47 in total)
        - stationary system for remote avalanche shooting in Lomnickom saddle
        and on Predny Salatin.
      </p>
      <p>
        The avalanche bulletin is being changed from the morning to the evening
        edition of the previous day.
      </p>

      <img
        src="/content_files/about15_obalka.jpg"
        title="SLP works in the field"
        alt="SLP works in the field"
        class="image-centered"
      />
      <img
        src="/content_files/about16_lupa.jpg"
        title="SLP works in the field"
        alt="SLP works in the field"
        class="image-centered"
      />
      <img
        src="/content_files/about17_obellx.jpg"
        title="O’Bellx"
        alt="O’Bellx"
        class="image-centered"
      />

      <h2>About the euregio</h2>

      <p>
        The convergence of avalanche warning services in the so-called Euregio
        region has long been considered. The Euregio Region - Tyrol, South
        Tyrol, Trentino (ETCT) developed the project together with the avalanche
        warning services of the Province of Tyrol, the autonomous provinces of
        Bolzano-South Tyrol and Trento and the University of Vienna, and then
        submitted it to the Bolzano Administrative Authority on 6 June 2016 for
        funding under the INTERREG V-A Italy-Austria programme. The project was
        approved at the Monitoring Committee meeting on 27-28 September 2016.
      </p>
      <p>
        As of January 2017, the Interreg ALBINA Euregio-Avalanche Bulletin has
        been approved under the Interreg Italia-Austria project and work has
        started.
      </p>
      <p>
        The main objective of the project was the implementation of a common
        multilingual avalanche forecast designed to inform citizens on a daily
        basis about the avalanche situation in the whole Euregio territory. To
        achieve this goal, the project aimed at standardising the work of
        avalanche forecasters through a common working procedure based on the
        EAWS standards for avalanche forecast preparation and at the same time
        organising appropriate regular training sessions. The communication
        structures developed within the project support and facilitate the
        exchange of information between experts from the three territories
        thanks to a software system that displays data from meteorological
        stations, observations, snow profiles and avalanche activity of the
        whole region and allows the publication of a common avalanche forecast.
      </p>
      <p>
        Information is exchanged through standardised interfaces and formats to
        facilitate future extensions and interconnections. The Euregio avalanche
        forecast is presented on the website in an intuitive and uniform way
        thanks to optimised mapping and descriptions based on predefined text
        blocks. Standardised interfaces with media and social networks
        facilitate the broadcast of the forecast.
      </p>
      <p>
        All data is freely accessible, supporting the Open Data initiative. This
        first cross-border avalanche forecast was a decisive step forward in the
        field of prevention and risk management in the Euregio area.
      </p>
      <p>
        Following the example of the avalanche services of Tyrol, South Tyrol
        and Trentino, the Avalanche Prevention Centre implemented the Albina
        project into its structures in 2023. The aim is to make avalanche
        forecasting more transparent, the information easy to read and
        understand and last but not least bilingual support for avalanche
        forecasting. After a pilot test run, the Avalanche Prevention Centre
        will aim to include the Polish avalanche forecast in the version of
        laviny.sk.
      </p>
    </div>
  </section>
</div>
