<div>
<h1>Chi siamo</h1>&#13;
&#13;
<section class="section-centered"><div class="panel">&#13;
    <p>In questi ultimi anni gli appassionati di scialpinismo in Tirolo, Alto Adige e Trentino stanno scoprendo sempre nuovi ed entusiasmanti itinerari entro il territorio dell’Euregio. Per garantire la massima sicurezza i Servizi valanghe dei tre territori inizieranno a partire dalla stagione invernale 2018-2019 la regolare pubblicazione di un bollettino valanghe congiunto per l’intero territorio euroregionale corredato da carte specifiche riportanti l’altezza del manto nevoso, gli apporti di neve fresca, la temperatura dell’aria e i venti. </p>&#13;
&#13;
    <h2>L’idea: un progetto congiunto</h2>&#13;
    <p>Da qualche tempo è stata avanzata l'idea di avvicinare i servizi previsione valanghe dell'Euregio. Dal gennaio 2017 è stato approvato il progetto Interreg ALBINA Euregio-Bollettino Valanghe nel ambito del progetto Interreg Italia-Austria e sono iniziati i lavori su questo progetto.<br>
Obiettivo principale del progetto è la realizzazione di un bollettino valanghe congiunto multilingue che informi quotidianamente i cittadini sulla situazione valanghe nell’intero territorio dell’Euregio. A tal fine il progetto si propone di uniformare il lavoro degli addetti mediante un workflow unificato basato su standard EAWS per la redazione del bollettino e appositi periodici corsi di formazione. Le strutture di comunicazione sviluppate nell’ambito del progetto favoriranno e faciliteranno lo scambio di informazioni tra gli esperti dei tre territori, grazie anche a un sistema software che visualizzerà dati delle stazioni meteo, osservazioni, profili nivologici ed eventi valanghivi dell’intera regione e che permetterà di caricare il bollettino valanghe.<br>
Lo scambio di informazioni avverrà tramite interfacce e formati standardizzati che faciliteranno futuri ampliamenti e collegamenti. Il bollettino valanghe dell’Euregio si presenterà sul sito in modo intuitivo e uniforme grazie a una cartografia ottimizzata e a descrizioni basate su blocchi di testo predefiniti. Interfacce standardizzate con i media e i social network faciliteranno la diffusione del bollettino. I dati saranno liberamente accessibili supportando così l’iniziativa Open Data. Questo primo bollettino valanghe transfrontaliero costituirà un decisivo passo avanti nella prevenzione e nella gestione dei rischi nel territorio dell’Euregio. </p>&#13;
&#13;
    <h2>I partner del progetto</h2>&#13;
    <p>l’Euregio (GECT) ha elaborato il progetto in collaborazione con i servizi previsione valanghe del Land Tirolo e delle Province Autonome di Trento e di Bolzano e con l'Università di Vienna e il 6 giugno 2016 lo ha presentato alla competente Autorità di gestione di Bolzano chiedendone il finanziamento nell’ambito del programma INTERREG V-A Italia-Austria. Il Comitato di sorveglianza ha integralmente approvato il progetto nella seduta del 27-28 settembre 2016 garantendone quindi il finanziamento. </p>&#13;
  </div>&#13;
</section><section class="section-centered section-dangerscale"><div id="evtz" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/euregio.png" title="Euregio" alt="Euregio"></div>&#13;
&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>Partner del progetto</p>&#13;
          <h2>Euregio Tirolo Alto Adige Trentino</h2>&#13;
        </div>&#13;
        <p>L’Euregio Tirolo-Alto Adige-Trentino sostiene una cooperazione transfrontaliera nelle tre Province attraverso varie cooperazioni in diversi settori come trasporto l'agricoltura, educazione o cultura. L'idea di approfondire la vita politica, economica e culturale si evidenzia in pratica, e porta molti progetti fruttuosi. </p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="tirol" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/land_tirol.png" title="Avalanche Warning Service Tirol" alt="Avalanche Warning Service Tirol"></div>&#13;
&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>Partner del progetto</p>&#13;
          <h2>Servizio Valanghe del Tirolo</h2>&#13;
        </div>&#13;
        <p>Il servizio valanghe del Tirolo fa parte del Dipartimento della Protezione Civile e fornisce il pubblico da più di 50 anni con il stato attuale del manto nevoso e il pericolo valanghe nelle montagne del Tirolo. Per le attività di propria competenza, l’Ufficio raccoglie, valuta e interpreta una serie di informazioni sul manto nevoso e il tempo. Tutte le informazioni e le interpretazioni aiutano a fornire il prodotto centrale del servizio valanghe, il bollettino valanghe. </p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="south-tyrol" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/bozen.png" title="Avalanche Warning Service South Tyrol" alt="Avalanche Warning Service South Tyrol"></div>&#13;
&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>Partner del progetto</p>&#13;
          <h2>Servizio Previsione Valanghe dell’Alto Adige</h2>&#13;
        </div>&#13;
        <p>Il servizio valanghe dell'Alto Adige fa parte dell'Ufficio Idrografico della Provincia Autonoma di Bolzano Alto Adige. L’Ufficio fornisce informazioni attuali e la valutazione del pericolo valanghe a tutti i appassionati di neve e montagna, ma anche alle istituzioni locali e per le commissioni locali valanghe. L’Ufficio raccoglie e valuta misurazioni e osservazioni del manto nevoso. In combinazione con le previsioni meteorologiche, l’Ufficio pubblica ogni giorno durante la stagione d’inverno una previsione del pericolo valanghe. </p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="trentino" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/meteo_trentino.png" title="Avalanche Warning Service Trentino" alt="Avalanche Warning Service Trentino"></div>&#13;
&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>Partner del progetto</p>&#13;
          <h2>Servizio Valanghe del Trentino</h2>&#13;
        </div>&#13;
        <p>Il servizio valanghe del Trentino fa parte del Dipartimento Protezione Civile della Provincia Autonoma di Trento. L'Ufficio, meglio conosciuto come 'Meteotrentino', fornisce informazioni meteorologiche e nivometeorologiche per la popolazione residente, per i turisti, per le istituzioni locali e per le commissioni locali valanghe. Per le attività di propria competenza e soprattutto per la valutazione del pericolo valanghe, l'Ufficio ha una rete di stazioni automatiche e una serie di campi neve dove vengono effettuate le misurazioni e le osservazioni sullo stato del manto nevoso.</p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="univie" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/uniwien.jpg" title="University of Vienna" alt="University of Vienna"></div>&#13;
&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>Partner del progetto</p>&#13;
          <h2>Università di Vienna</h2>&#13;
        </div>&#13;
        <p>L'Università di Vienna è una delle più antiche istituzioni educative in Europa e vuole interagire e influenzare la società con le sue attività di ricerca. L’interazione viene in particolare compiuta occupandosi con questioni sociali rilevanti, attraverso presentazioni dei risultati di ricerca a un pubblico generale, e aumentando le attività di trasferimento di conoscenze e cooperazioni con l'industria.</p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
</section>
</div>
