<div>
  <h1>O nás</h1>

  <section class="section-centered">
    <div class="panel">
      <img
        src="/content_files/logo-SLP.svg"
        style="width: 350px"
        title="Stredisko lavínovej prevencie - logo"
        alt="Stredisko lavínovej prevencie - logo"
      />
      <h2>Stredisko lavínovej prevencie</h2>
      <p>
        Problematika hrozby lavín bola na Slovensku dlhodobo citeľná. Slovensko
        ako štát s významným podielom horských území malo bohaté skúsenosti s
        lavínami a bohužiaľ aj s lavínovými nešťastiami. Vznikom Horskej služby,
        ktorej úloha bola predovšetkým záchrana ľudských životov pri horských
        nešťastiach, vznikla aj potreba mať odbornú zložku, ktorá by
        systematicky sledovala snehovú pokrývku, podmienky vzniku lavín na
        Slovensku a študovala možnosti predchádzania vzniku lavín. Po vzore
        alpských krajín začalo svoju činnosť v r. 1972 Stredisko lavínovej
        prevencie v Jasnej v Nízkych Tatrách pod Chopkom. V súčasnosti plní SLP
        všetky úlohy, týkajúce sa lavínovej prevencie na Slovensku, a to najmä:
      </p>
      <ul>
        <li>
          počas zimnej sezóny denné sústreďovanie dát potrebných na posúdenie
          lavínovej situácie v horstvách na Slovensku a denné vydávanie
          regionálneho lavínového bulletínu podľa medzinárodných pravidiel
        </li>
        <li>
          pozorovanie vývoja snehovej pokrývky a meteorologických podmienok
          vzniku lavín
        </li>
        <li>
          centrálna evidencia lavín a vedenie lavínového katastra Horskej služby
        </li>
        <li>
          organizácia preventívnych opatrení proti lavínam najmä odstrelom
          pomocou trhavín, stacionárnych a mobilných systémov na uvoľňovanie
          lavín
        </li>
        <li>
          budovanie siete na automatizáciu zberu dát, potrebných na posúdenie
          lavínovej situácie a šírenie informácií týmito sieťami (automatické
          meracie stanice, prenosy grafických informácií a pod.)
        </li>
        <li>
          udržovanie siete na automatizáciu zber dát v prevádzke, ich servis a
          obnova
        </li>
        <li>
          prevádzkovanie meteoportálu
          <a href="https://meteo.hzs.sk" target="_blank">www.meteo.hzs.sk</a>
        </li>
        <li>vedenie metodiky v lavínovej prevencii a záchrane</li>
        <li>
          členstvo v EAWS (Európske lavínové výstražné služby) a podieľanie sa
          na tvorbe medzinárodnej metodiky a pravidiel ako aj zavádzanie
          dohodnutých pravidiel do praxe na Slovensku
        </li>
        <li>
          v medzinárodnom meradle spolupráca na úrovni lavínových komisií ICARu
          s Poľskom, Nemeckom, Rakúskom, Švajčiarskom, Francúzskom, Talianskom,
          Slovinskom, Nórskom, USA, Kanadou
        </li>
        <li>
          spolupráca s domácimi odbornými inštitúciami na poli lavínovej
          prevencie a problematiky vysokohorského prostredia (Vysoké školy
          technického a prírodovedného zamerania - diplomové práce, Lesnícke
          organizácie - posudku lesných hospodárskych plánov, Slovenský
          hydrometeorologický ústav - výmena dát a informácií, projekčné
          kancelárie - prílohy k územným katastrálnym plánom a pod.)
        </li>
      </ul>

      <h3>História</h3>

      <p>
        <b>1924</b> - Na Slovensku sa intenzívnejšie s problematikou lavín
        začali zaoberať lesníci po r. 1924, keď lavína zo svahov Krížnej vo
        Veľkej Fatre zničila polovicu horskej osady Rybô a zabila 18 jej
        obyvateľov. Jedným z prvých priekopníkov lavínovej problematiky v
        päťdesiatych rokoch minulého storočia bol lesný inžinier Bukovčan, ktorý
        má veľkú zásluhu na vybudovaní protilavínových zábran nad osadou Rybô a
        aj v iných horských oblastiach Slovenska.
      </p>
      <img
        src="/content_files/about01_1924-rybo.jpg"
        title="Lavína v osade Rybô"
        alt="Lavína v osade Rybô"
        class="image-centered"
      />
      <img
        src="/content_files/about02_1924_rybo_2.jpg"
        title="Lavína v osade Rybô"
        alt="Lavína v osade Rybô"
        class="image-centered"
      />
      <p>
        <b>1956</b> - Po druhej najväčšej lavínovej tragédii na Slovensku vo
        Vajskovskej doline na južných svahoch Nízkych Tatier sa pozorovaním
        vývoja podmienok na vznik lavín začínajú zaoberať viaceré skupiny
        odborníkov. Na Chopku vzniká prvá lavínová pozorovacia stanica pri
        meteorologickej stanici SHMÚ pod vedením Ing. Dušana Holého. Vo Vysokých
        Tatrách sa lavínami zaoberá Výskumná stanica TANAPu pod vedením
        <a href="https://blog.laviny.sk/?p=862" target="_blank">
          Dr. Ing. Ladislava Kňazovického CSc.
        </a>
        a Ing. Miliča Blahouta.
      </p>
      <img
        src="/content_files/about03_1956_vajskovska_1.jpg"
        title="Lavína vo Vajskovskej doline"
        alt="Lavína vo Vajskovskej doline"
        class="image-centered image-narrow"
      />
      <img
        src="/content_files/about04_1956_vajskovska_2.jpg"
        title="Lavína vo Vajskovskej doline"
        alt="Lavína vo Vajskovskej doline"
        class="image-centered image-narrow"
      />
      <p>
        <b>1964</b> - V šeťdesiatych rokoch minulého storočia sa začínajú
        systematickejšie vykonávať aj profily snehovej pokrývky zamestnancami HS
        a TANAPu v oblasti Západných, Vysokých a Belianskych Tatier. V Nízkych
        Tatrách túto činnosť vykonávajú pracovníci HS v Jasnej a to v r. 1964 až
        1968 prof. Karol Špánik a v r. 1968 až 1972 Ing. Ladislav Milan, Pavol
        Hvorka a Štefan Hošala.
      </p>
      <img
        src="/content_files/about05_meranie_profilu_80roky.jpg"
        title="Meranie snehového profile v 80. rokoch."
        alt="Meranie snehového profile v 80. rokoch."
        class="image-centered"
      />
      <p>
        <b>1972</b> - Definitívne rozhodnutie zriadiť na Slovensku
        špecializované pracovisko na výskum lavín, ich predpovedanie ako aj
        predchádzanie vzniku, padá po katastrofe na Kubínskej Holi, kedy v roku
        1968 lavína zasiahla 53 študentov na lyžiarskom výcviku, 6-ti študenti
        zahynuli, 8 bolo ťažko zranených.
      </p>
      <img
        src="/content_files/about06_kubinka_68.jpg"
        title="Katastrofa na Kubínskej Holi"
        alt="Katastrofa na Kubínskej Holi"
        class="image-centered image-narrow"
      />
      <p>
        Začína sa s výstavbou Strediska lavínovej prevencie so sídlom v Jasnej,
        budova bola skolaudovaná a daná do užívania v roku 1972. Stredisko sa
        stáva odborným pracoviskom v rámci Horskej služby (ČSZTV), zaoberá sa
        protilavínovými opatreniami, štúdiom snehu ako aj iným vedeckým
        aktivitám. Pod vedením
        <a href="https://blog.laviny.sk/?p=862" target="_blank"
          >Ladislava Kňazovického</a
        >
        vzniká viacero publikácií a štúdií.
      </p>
      <img
        src="/content_files/about07_stavba_SLP.jpg"
        title="Stavba SLP"
        alt="Stavba SLP"
        class="image-centered"
      />
      <img
        src="/content_files/about08_budova_SLP.jpg"
        title="Nová budova SLP"
        alt="Nová budova SLP"
        class="image-centered"
      />
      <p class="small" style="text-align: center"></p>

      <p>
        <b>1979</b> - Ladislav Milan spracováva lavínový kataster Slovenska.
        Eviduje sa tu 3594 lavínových dráh.
      </p>
      <p>
        <b>1990</b> - riaditeľom Strediska lavínovej prevencie sa stáva Ladislav
        Milan, na Stredisko lavínovej prevencie dorazí prvý osobný počítač.
        Začína sa s výmenou meteorologických informácií so Slovenským
        hydrometeorologickým ústavom.
      </p>
      <img
        src="/content_files/about09_merania_SLP_1.jpg"
        title="Merania SLP"
        alt="Merania SLP"
        class="image-centered image-narrow"
      />
      <img
        src="/content_files/about10_merania_SLP_2.jpg"
        title="Merania SLP"
        alt="Merania SLP"
        class="image-centered image-narrow"
      />
      <p class="small" style="text-align: center"></p>

      <p>
        <b>1992</b> - začínajú sa vydávať prvé snehové správy s lavínovými
        výstrahami.
      </p>
      <p>
        <b>1993</b> - prijatie medzinárodnej 5-dielnej stupnice lavínového
        nebezpečenstva, od nasledujúcej zimy sa začína s každodenným vydávaním
        lavínového bulletinu
      </p>
      <p>
        <b>1995</b> - Riaditeľom Strediska sa stáva Ján Peťo, pod jeho vedením
        sa postupne začínajú formovať lavínové správy a zavádza sa päťstupňová
        medzinárodná stupnica lavínového nebezpečenstva. Stredisko sa etabluje
        na medzinárodnej scéne lavínových služieb.
      </p>
      <img
        src="/content_files/about11_prva_lavinovka_1995.jpg"
        title="Prvá lavínová predpoveď."
        alt="Prvá lavínová predpoveď."
        class="image-centered"
      />
      <p><b>1999</b> - Lavínový bulletin sa prvýkrát publikuje na webe.</p>

      <p>
        <b>2000</b> - postavená prvá automatická meteorologická stanica v Jasnej
      </p>
      <img
        src="/content_files/about12_1_meteo_stanica1.jpg"
        title="Meteostanica"
        alt="Meteostanica"
        class="image-centered"
      />
      <p>
        <b>2003</b> - Stredisko lavínovej prevencie sa stáva súčasťou
        novovzniknutej Horskej záchrannej služby (HZS) a na základe zákona
        544/2002 Z.z. o Horskej záchrannej službe spadá pod Ministersvo vnútra
        Slovenskej republiky
      </p>
      <p>
        <b>2007</b> - Stredisko lavínovej prevencie vybudovalo ďalších 5
        automatických meteorologických staníc v oblasti Západných a Vysokých
        Tatier.
      </p>
      <p>
        <b>2011 - 2021</b> - Stredisko lavínovej prevencie pokračuje okrem
        praktických úloh aj vo vedeckovýskumnej práci. Riaditeľom sa stáva Marek
        Biskupič. Pod jeho vedením sa rozširuje sieť automatických
        meteorologických staníc, vzniká meteoportál HZS. Stredisko sa intenzívne
        začína zaoberať výskumom geohazardov, využívať moderné poznatky a
        technológie na výskum snehu a lavín (družicové snímky, mapovanie
        dronmi).
      </p>
      <img
        src="/content_files/about13_ams_hruba_kopa.jpg"
        title="Meteostanica na hrubej kope"
        alt="Meteostanica na hrubej kope"
        class="image-centered"
      />
      <img
        src="/content_files/about14_ams_krizna_cistenie.jpg"
        title="Čistenie meteostanice"
        alt="Čistenie meteostanice"
        class="image-centered image-narrow"
      />
      <p>
        <b>2014</b> - Presťahovanie pracoviska z Jasnej do Liptovského Hrádku.
      </p>
      <p>
        <b>2022</b> - Stredisko lavínovej prevencie je tu 50 rokov. Riaditeľom
        je Filip Kyzek, pod jeho vedením sa dokončujú rozbehnuté projekty -
        meteoportál a sieť automatických staníc (spolu 47) - stacionárny systém
        na diaľkový odstrel lavín v Lomnickom sedle a na Prednom Salatíne.
      </p>
      <p>
        Mení sa čas vydávania lavínového bulletinu z ranného na večerný v
        predchádzajúcom dni.
      </p>

      <img
        src="/content_files/about15_obalka.jpg"
        title="Práca SLP v teréne."
        alt="Práca SLP v teréne."
        class="image-centered"
      />
      <img
        src="/content_files/about16_lupa.jpg"
        title="Práca SLP v teréne."
        alt="Práca SLP v teréne."
        class="image-centered"
      />
      <img
        src="/content_files/about17_obellx.jpg"
        title="O’Bellx"
        alt="O’Bellx"
        class="image-centered"
      />

      <h2>O projekete euregio</h2>

      <p>
        O zblížení lavínových výstražných služieb v takzvanom regióne Euregio sa
        uvažovalo už dlhšie. Región Euregio - Tirolsko, Južné Tirolsko, Trentino
        (EZÚS) vypracoval projekt spolu s lavínovými výstražnými službami
        provincie Tirolsko, autonómnymi provinciami Bolzano-Južné Tirolsko a
        Trento a Viedenskou univerzitou, následne ho 6. júna 2016 predložili
        správnemu orgánu Bolzana na financovanie v rámci programu INTERREG V-A
        Taliansko-Rakúsko. Projekt bol schválený na zasadnutí monitorovacieho
        výboru 27. - 28. septembra 2016.
      </p>
      <p>
        Od januára 2017 bol schválený projekt Interreg ALBINA Euregio-Avalanche
        Bulletin v rámci projektu Interreg Italia-Austria a začali sa práce.
      </p>
      <p>
        Hlavným cieľom projektu bola realizácia spoločnej viacjazyčnej lavínovej
        predpovede určenej na každodenné informovanie občanov o lavínovej
        situácii na celom území Euregia. Na dosiahnutie tohto cieľa bol projekt
        zameraný na štandardizáciu práce lavínových predpovedí prostredníctvom
        jednotného pracovného postupu založeného na štandardoch EAWS na prípravu
        lavínovej predpovede a zároveň na organizovanie vhodných pravidelných
        školení. Komunikačné štruktúry vyvinuté v rámci projektu podporujú a
        uľahčujú výmenu informácií medzi odborníkmi z troch území vďaka
        softvérovému systému, ktorý zobrazuje údaje z meteorologických staníc,
        pozorovania, snehové profily a lavínovú aktivitu celého regiónu a
        umožňuje publikovanie spoločnej lavínovej predpovede.
      </p>
      <p>
        Výmena informácií prebieha prostredníctvom štandardizovaných rozhraní a
        formátov, ktoré uľahčujú budúce rozšírenia a prepojenia. Lavínová
        predpoveď Euregio sa prezentuje na webovej stránke intuitívnym a
        jednotným spôsobom vďaka optimalizovanému mapovaniu a popisom založeným
        na vopred definovaných textových blokoch. Štandardizované rozhrania s
        médiami a sociálnymi sieťami uľahčujú vysielanie predpovede.
      </p>
      <p>
        Všetky údaje sú voľne prístupné, čím sa podporuje iniciatíva Open Data.
        Táto prvá cezhraničná lavínová predpoveď bola rozhodujúcim krokom vpred
        v oblasti prevencie a riadenia rizík na území Euregia.
      </p>
      <p>
        Stredisko lavínovej prevencie po vzore lavínových služieb Tirolska,
        Južného Tirolska a Trentina implementovalo v roku 2023 projekt Albina do
        svojich štruktúr. Cieľom je sprehľadnenie lavínovej predpovede,
        jednoduchá čitateľnosť a zrozumiteľnosť informácií a v neposlednom rade
        dvojjazyčná podpora lavínovej predpovede. Po pilotnej testovacej
        prevádzke bude snahou Strediska lavínovej prevencie zahrnúť do verzie
        laviny.sk aj poľskú lavínovú predpoveď.
      </p>
    </div>
  </section>
</div>
