<div>
<h1>EAWS Matrix</h1>&#13;
&#13;
<section class="section-centered"><div class="panel">&#13;
    <p>The EAWS Matrix is a tool introduced by the European Avalanche Warning&#13;
      Services with to goal of helping avalanche forecasters in determining the&#13;
      <a href="/education/danger-scale">avalanche danger levels </a> in a more&#13;
      objective way. The EAWS Matrix serves to standardize the avalanche danger&#13;
      level assessed and issued by the various warning services and is intended&#13;
      to exclude subjective influences as far as possible when forecasting&#13;
      avalanche danger.</p>&#13;
&#13;
    <table style="width: 100%; border: 0px solid #000; text-align: center"><tbody><tr>
<td><img style="width: 100%" title="Updated EAWS Matrix for objectively assessing the avalanche danger&#13;
                    level (Version 06/2022)." alt="Updated EAWS Matrix for objectively assessing the avalanche danger&#13;
                  level (Version 06/2022)." data-entity-type="file" data-entity-uuid="d397a528-6f80-4ea3-afdf-255ab9ae681d" src="/content_files/EAWS-Matrix_EN.png"></td>&#13;
        </tr></tbody></table>
<p class="small" style="text-align: center">Figure 1: Updated EAWS Matrix for objectively assessing the avalanche&#13;
      danger level (Version 06/2022).</p>&#13;
&#13;
    <h2>Die EAWS-Matrix: Ein Werkzeug zur objektiven Einschätzung der&#13;
      Lawinengefahrenstufe in Europa</h2>&#13;
&#13;
    <p>The EAWS Matrix is used to determine&#13;
      <a href="/education/danger-scale">avalanche danger levels </a> based on&#13;
      snowpack stability, frequency of snowpack stability and&#13;
      <a href="/education/avalanche-sizes">avalanche size</a>.</p>&#13;
    <p>The EAWS Matrix is a substitial part of the decisional workflow for&#13;
      avalanche forecasters in Europe. The forecaster approaches the EAWS Matrix&#13;
      with the following thoughts: In a first step she assess snowpack stability&#13;
      by picking one of the classes very poor, poor, or fair and concurrently&#13;
      the frequency of the given class with lowest snowpack stability (many,&#13;
      some, or few) that decribes the&#13;
      <a href="/education/avalanche-problems">avalanche problem</a> best. In a&#13;
      second step the forecaster assesses how large the largest expected&#13;
      avalanche can become and chooses the corresponding field within the&#13;
      selected snowpack stability and frequency chart. For a more detailed&#13;
      description of the assessment process go and check the Eureopean workflow&#13;
      on avalanche danger assessment.</p>&#13;
    <p>The given avalanche danger levels of the current EAWS Matrix was obtained&#13;
      by a survey of numerous forecasters in Europe. They were asked to assess a&#13;
      danger level for the various combinations of snowpack stability, frequency&#13;
      of snowpack stability and avalanche size. Figure 1 shows that some fields&#13;
      within the EAWS Matrix contain two proposed danger levels. The median&#13;
      danger level is indicated showing the integer value for each danger level&#13;
      (e.g., 1 for <i>1-Low</i>). If the distribution of responses by the&#13;
      forecasters was rather heterogeneous, a second value is given in brackets,&#13;
      representing the interquartile range, if this value was different from the&#13;
      median danger level. When applying the EAWS Matrix (Figure 1), the&#13;
      forecaster should use the first danger level given in the cell. An&#13;
      optional danger level in parenthesis indicates that forecasters might&#13;
      disagree and a tendency towards a second danger level. These cells should&#13;
      be considered carefully and collected feedback on for future evaluation.&#13;
      For example, if the forecaster assessed that the dominant avalanche&#13;
      problem is best described by the factors <i>poor</i> snow stability on&#13;
      <i>manny</i> slopes and avalanches up to <i>size 3</i> are expected, the&#13;
      result would be avalanche danger level <i>4-High</i>.</p>&#13;
    <p>If you are interested on more detailed information on how the updated EAWS&#13;
      Matrix was derived, go and check the&#13;
      <a href="https://www.avalanches.org/wp-content/uploads/2022/12/EAWS_matrix_definitions_EN.pdf">documented explanations</a>&#13;
      presented at the&#13;
      <a href="https://www.avalanches.org/eaws-general-assembly-davos-06-2022/">General Assembly</a>&#13;
      of EAWS in Davos in June 2022.</p>&#13;
    <p>If you are interested on more detailed information on how the EAWS Matrix&#13;
      fields were appointed with their respective avalanche danger leve, go and&#13;
      check the&#13;
      <a href="https://www.avalanches.org/wp-content/uploads/2022/12/eaws_matrix_poster_v1.pdf">&#13;
        poster presented</a>&#13;
      during the EAWS General Assembly in Davos in June 2022.</p>&#13;
  </div>&#13;
</section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Ausbildung &amp; Prävention</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Lawinengefahrenstufen</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-problems" title="Avalanche Problems">2Lawinenprobleme2</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-sizes" title="Avalanche Sizes">Lawinengrößen</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/danger-patterns" title="Danger Patterns">Gefahrenmuster</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/spatio-temporal-scale" title="Spatio-temporal Scale">Räumliche und zeitliche Skala</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/workflow" title="Workflow">Workflow</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/snowpack-stability" title="Snowpack stability">Schneedeckenstabilität</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/frequency" title="Frequency">Häufikeitsverteilung der Schneedeckenstabilitätsklassen</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/handbook" title="Handbook">Handbuch</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
