<div>
  <h1>EAWS Matica</h1>
  &#13; &#13;
  <section class="section-centered">
    <div class="panel">
      &#13;
      <p>
        Matica EAWS je nástroj, ktorý zaviedli Európske lavínové služby s cieľom
        pomôcť lavínovým prognostikom objektívnejšie určiť
        <a href="/education/danger-scale">stupeň lavínového nebezpečenstva</a>.
        Matica EAWS slúži na štandardizáciu stupňa lavínového nebezpečenstva
        hodnoteného a vydávaného rôznymi lavínovými službami. Matica je určená
        na čo najväčšie vylúčenie subjektívnych vplyvov pri predpovedaní
        lavínového nebezpečenstva.
      </p>
      &#13; &#13;
      <table style="width: 100%; border: 0px solid #000; text-align: center">
        <tbody>
          <tr>
            <td>
              <img
                style="width: 100%"
                title="Aktualizovaná EAWS Matica pre objektívne zhodnotenie lavínového nebezpečenstva.                    (Verzia 06/2022)."
                alt="Aktualizovaná EAWS Matica pre objektívne zhodnotenie lavínového nebezpečenstva.                    (Verzia 06/2022)."
                data-entity-type="file"
                data-entity-uuid="d397a528-6f80-4ea3-afdf-255ab9ae681d"
                src="/content_files/EAWS-Matrix_SK.png"
              />
            </td>
            &#13;
          </tr>
        </tbody>
      </table>
      <p class="small" style="text-align: center">
        Príklad 1: Aktualizovaná EAWS Matica pre objektívne zhodnotenie
        lavínového nebezpečenstva. (Verzia 06/2022).
      </p>
      &#13; &#13;
      <h2>
        Matica EAWS: Nástroj na objektívne hodnotenie stupňa lavínového
        nebezpečenstva v Európe
      </h2>
      &#13; &#13;
      <p>
        EAWS Matica sa používa na určenie<a href="/education/danger-scale">
          stupňa lavínového nebezpečenstva </a
        >, ktorý vychádza zo stability snehovej pokrývky, množstva nebezpečných
        miest a <a href="/education/avalanche-sizes">veľkosti lavín</a>.
      </p>
      &#13;
      <p>
        Matica EAWS je podstatnou súčasťou rozhodovacieho procesu pre lavínových
        prognostikov v Európe. Prognostik pristupuje k matici EAWS s
        nasledujúcimi myšlienkami: V prvom kroku posúdi stabilitu snehovej
        pokrývky výberom jednej z tried - veľmi slabá, slabá alebo stredná a
        súčasne množstvo nebezpečných miest danej triedy s najnižšou stabilitou
        snehovej pokrývky (na mnohých, niektorých, ojedinelých svahoch), ktorá
        najlepšie vystihuje
        <a href="/education/avalanche-problems">lavínový problém</a>. V druhom
        kroku prognostik posúdi, aká veľká môže byť najväčšia očakávaná lavína a
        zvolí zodpovedajúce pole v rámci vybranej tabuľky stability a množstvo
        nebezpečných miest. Podrobnejší popis procesu hodnotenia nájdete v
        európskom pracovnom postupe hodnotenia lavínového nebezpečenstva.
      </p>
      &#13;
      <p>
        Dané stupne lavínového nebezpečenstva súčasnej matice EAWS boli získané
        prieskumom mnohých prognostikov v Európe. Boli požiadaní, aby zhodnotili
        stupeň nebezpečenstva pre rôzne kombinácie stability snehovej pokrývky,
        množstva nebezpečných miest a veľkosti lavín. Obrázok 1 ukazuje, že
        niektoré polia v matici EAWS obsahujú dve navrhované úrovne
        nebezpečenstva. Stredná úroveň nebezpečenstva je uvedená s celočíselnou
        hodnotou pre každý stupeň nebezpečenstva (napr. 1 pre <i>1-Nízka</i>).
        Ak bola distribúcia odpovedí prognostikov dosť heterogénna, v zátvorkách
        je uvedená druhá hodnota, ktorá predstavuje medzikvartilové rozpätie, ak
        sa táto hodnota líšila od strednej úrovne nebezpečenstva. Pri aplikácii
        matice EAWS (obrázok 1) by prognostik mal použiť prvý stupeň
        nebezpečenstva uvedený v bunke. Voliteľná úroveň nebezpečenstva v
        zátvorkách naznačuje, že prognostici môžu nesúhlasiť a majú tendenciu
        smerovať k druhej úrovni nebezpečenstva. Tieto bunky by sa mali
        starostlivo zvážiť a získať spätnú väzbu pre budúce hodnotenie. Ak by
        napríklad prognostik vyhodnotil, že dominantný lavínový problém
        najlepšie vystihujú faktory <i>zlá</i> stabilita snehu na
        <i>mnohých</i> svahoch a očakávajú sa lavíny až do <i>veľkosti 3</i>,
        výsledkom by bol stupeň lavínového nebezpečenstva <i>4 – vysoký</i>.
      </p>
      &#13;
      <p>
        Ak máte záujem o podrobnejšie informácie o tom, ako bola aktualizovaná
        matica EAWS odvodená, pozrite si
        <a
          href="https://www.avalanches.org/wp-content/uploads/2022/12/EAWS_matrix_definitions_EN.pdf"
          >zdokumentované vysvetlenia</a
        >
        prezentované na
        <a
          href="https://www.avalanches.org/eaws-general-assembly-davos-06-2022/"
          >valnom zhromaždení</a
        >
        EAWS v Davose v júni 2022.
      </p>
      &#13;
      <p>
        Ak vás zaujímajú podrobnejšie informácie o tom, ako boli polia EAWS
        Matrix menované s príslušnou úrovňou lavínového nebezpečenstva, pozrite
        si
        <a
          href="https://www.avalanches.org/wp-content/uploads/2022/12/eaws_matrix_poster_v1.pdf"
          >poster predstavený</a
        >
        počas valného zhromaždenia EAWS v Davose v júni 2022.
      </p>
      &#13;
    </div>
    &#13;
  </section>
  <section classname="section-centered section-context">
    <div classname="panel">
      &#13;
      <h2 classname="subheader">Vzdelávanie &amp; Prevencia</h2>
      &#13; &#13;
      <ul classname="list-inline list-buttongroup-dense">
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/danger-scale"
            title="Stupnica lavínového nebezpečenstva"
            >Stupnica lavínového nebezpečenstva</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/avalanche-problems"
            title="Typické lavínové problémy"
            >Typické lavínové problémy</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/workflow"
            title="Pracovný postup"
            >Pracovný postup</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/snowpack-stability"
            title="Stabilita snehovej pokrývky"
            >Stabilita snehovej pokrývky</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/frequency"
            title="Množstvo nebezpečných miest"
            >Množstvo nebezpečných miest</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/avalanche-sizes"
            title="Veľkost lavín"
            >Veľkost lavín</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/spatio-temporal-scale"
            title="Stanovenie priestorovej a časovej mierky"
            >Stanovenie priestorovej a časovej mierky</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/danger-patterns"
            title="Modely lavínového nebezpečenstva "
            >Modely lavínového nebezpečenstva
          </a>
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/handbook"
            title="Príručka"
            >Príručka</a
          >
        </li>
      </ul>
    </div>
    &#13;
  </section>
</div>
