<div>
<h1>Patrons de Perill</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#dp1" title="deep persistent weak layer" class="secondary pure-button" data-scroll>capes febles persistents</a></li>&#13;
      <li><a href="#dp2" title="gliding snow" class="secondary pure-button" data-scroll="">lliscaments</a></li>&#13;
      <li><a href="#dp3" title="rain on snow" class="secondary pure-button" data-scroll="">pluja en neu</a></li>&#13;
      <li><a href="#dp4" title="cold on warm / warm on cold" class="secondary pure-button" data-scroll="">fred en càlid /càlid en fred</a></li>&#13;
      <li><a href="#dp5" title="snowfall after long period of cold" class="secondary pure-button" data-scroll="">nevada després d'un llar període fred</a></li>&#13;
      <li><a href="#dp6" title="loose snow and wind" class="secondary pure-button" data-scroll="">neu solta i vent</a></li>&#13;
      <li><a href="#dp7" title="shallow snow next to deep snow" class="secondary pure-button" data-scroll="">mantell prim vora mantell gruixut</a></li>&#13;
      <li><a href="#dp8" title="buried surface hoar" class="secondary pure-button" data-scroll="">gebre de superfície enterrat</a></li>&#13;
      <li><a href="#dp9" title="buried graupel" class="secondary pure-button" data-scroll="">neu granulada enterrada</a></li>&#13;
      <li><a href="#dp10" title="springtime situation" class="secondary pure-button" data-scroll="">situació de primavera</a></li>&#13;
    </ul></header></section><section class="section-centered"><div class="panel">&#13;
    <p>Typical avalanche problems and danger patterns have one thing in common:&#13;
      they point to typical, repetitive and usually obvious danger&#13;
      situations.<br>The difference lies in the level of observation. While&#13;
      avalanche problems give an initial rough overview of possible sources of&#13;
      danger (e.g. new snow), danger patterns immerse deeper into the processes&#13;
      within the snowpack and focus on the causes of the problem (e.g. problem&#13;
      due to excessive new snow load on a weak layer). Danger patterns thus&#13;
      describe different scenarios or processes that lead to the respective&#13;
      avalanche problem.<br>The goal is clear: dangerous situations should be&#13;
      recognized quickly with the help of the avalanche problems and danger&#13;
      patterns. In that way, recreationsist may adapt their behavior accordingly&#13;
      and thereby may avoid avalanche accidents.</p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="dp1" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm1.jpg" title="dp.1 deep persistent weak layer" alt="dp.1 deep persistent weak layer"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.1: capa feble persistent profunda</h2>&#13;
    </div>&#13;
    <p>At the onset of winter, slab avalanches are often observed following the&#13;
      second heavy snowfall, usually at high altitudes (&gt;2000&nbsp;m) and high&#13;
      alpine altitudes (&gt;3000&nbsp;m) on shady, very steep slopes. This is&#13;
      because in autumn after the first big snowfalls, a lengthy period of&#13;
      stable, highpressure weather or at least precipitation-free weather&#13;
      frequently follows. That is when ideal conditions prevail for the partial&#13;
      metamorphism of snow into loose crystals, which then form a deep&#13;
      persistent weak layer for subsequent snowfall to be deposited on. During&#13;
      the course of early winter, this can occur in a wide range of altitudes&#13;
      and aspects. In general, deep persistent weak layers formed in early&#13;
      winter are triggered by skiers and freeriders at the beginning of the&#13;
      season, but it is also possible later on in winters with little snowfall.&#13;
      This occurs especially in spring when deep persistent weak layers are&#13;
      weakened further by water.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=rdYIWWzOWWY" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp2" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm2.jpg" title="dp.2 gliding snow" alt="dp.2 gliding snow"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.2: allaus de lliscament</h2>&#13;
    </div>&#13;
&#13;
    <p>La neu llisca amb més facilitat cap a la vall sobre superfícies pendents i llises. Mentre aquest procés es desenvolupa, es formen esquerdes de lliscament (fàcilment visibles, de vegades, esquerdes de diversos metres de profunditat a la superfície del mantell de neu). Actualment, es considera que aquestes fissures no són signes favorables com els coneixements populars antics plantejaven (aquestes tradicions són difícils de superar...), sinó que són indicadors absolutament desfavorables de possibles allaus, de vegades imminents. Una esquerda de lliscament apunta a la possibilitat d’una allau sense donar cap indicació de si o quan es produirà l'allau de neu lliscant. Pel que fa al seu horari, elslliscaments estan entre les allaus més difícils de predir, ja que poden desencadenar-se literalment a qualsevol hora del dia o de la nit, fins i tot quan la situació de neu és força estable. Això inclou el dia més fred i el dia més càlid de l’hivern. A més, no es desencadenen allaus de lliscament per una càrrega addicional.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=Pnb-sSwtccc" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp3" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm3.jpg" title="dp.3 rain on snow" alt="dp.3 rain on snow"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.3: pluja a sobre la neu</h2>&#13;
    </div>&#13;
&#13;
    <p>La pluja sobre neu es considera el senyal d’alarma clàssic en la ciència de la neu i les allaus perquè, d’una banda, el seu pes addicional carrega el mantell de neu; i de l’altra, perquè es perd immediatament la fermesa del mantell. Per aquestes raons, les allaus estan assegurades. La pluja es pot produir en qualsevol moment de l’hivern. El gran avantatge és que cap senyal de perill podria ser més senzill de reconèixer.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=Hegy61JcLsQ" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp4" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm4.jpg" title="dp.4 cold on warm / warm on cold" alt="dp.4 cold on warm / warm on cold"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.4: fred a sobre de temperat / temperat a sobre de fred</h2>&#13;
    </div>&#13;
&#13;
    <p>Una teoria que es va mantenir durant massa temps en la ciència de les allaus afirma que grans variacions de temperatura durant les nevades (independentment de si són escalfaments o refredaments) exerceixen un efecte positiu sobre la situació d'allaus. De fet, aquest és el cas només en determinades condicions anteriors molt específiques. Majoritàriament, aquestes diferències de temperatura tenen un efecte negatiu, ja que reforcen el metamorfisme de la neu dins del mantell. Per regla general, es forma una capa fina i feble que és molt propensa a desencadenar. Aquesta capa es troba sovint als vessants orientats al sud. És molt traïdor per la raó addicional que la capa feble encara no existeix immediatament després de dipositar-se la neu nova, si no que es forma al llarg dels dies següents.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=OQWqjRIqf3c" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp5" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm5.jpg" title="dp.5 snowfall after long period of cold" alt="dp.5 snowfall after long period of cold"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.5: nevada després d'un llarg període fred</h2>&#13;
    </div>&#13;
&#13;
    <p>Among avalanche events, this is a classic: following a lengthy period of&#13;
      cold, it begins to snow. In addition, strong winds prevail which transport&#13;
      the new snow accordingly. Within the shortest imaginable time, a&#13;
      treacherous situation arises for backcountry skiers. This is also the case&#13;
      if, following a lengthy period of cold, “only” strong winds are blowing&#13;
      without snowfall. The problem is that fresh snowdrifts are deposited on&#13;
      wind-protected leeward slopes on top of a loose old snow cover surface&#13;
      which usually contains depth hoar. Wind slab and persistent weak layers&#13;
      are very poorly bonded with each other. The snowpack is just waiting to be&#13;
      triggered by additional loading.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=Eo7BJEVRMqc" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp6" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm6.jpg" title="dp.6 loose snow and wind" alt="dp.6 loose snow and wind"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.6: neu freda i solta i vent</h2>&#13;
    </div>&#13;
&#13;
    <p>"El vent és l'arquitecte de les allaus." Aquest refrany clàssic de la dècada de 1930 de Wilhelm Paulcke continua sent inalterat encara avui. El vent influeix tant en la neu que cau com en la neu que ja s'ha dipositat. És un factor important en la formació d'allaus. Quan la neu està solta i seca, el vent la transporta i augmenta el perill d'allaus. Com més freda sigui la neu transportada, més fàcilment reaccionarà a la càrrega addicional, perquè és més fràgil. És característic d’aquest patró de perill que la capa feble la sol constituir neu recent que queda enterrada per diposits de neu ventada. Així, hi ha d'haver hagut nevades a temperatures baixes sense vent o just abans o en un període anterior a quan va començar el transport o bé, la nevada es va iniciar sense vent, però van aparèixer vents durant la nevada. Aquest és un patró que normalment es pot reconèixer amb facilitat i que dura poc temps. L’excepció és la situació en què l’antiga superfície del mantell de neu que consisteix en cristalls solts i facetats és transportada pel vent. Quan això succeeix, es formen plaques dures i fràgils que poden ser propenses a desencadenar-se durant un llarg període.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=CXnfPRZIIao" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp7" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm7.jpg" title="dp.7 shallow snow next to deep snow" alt="dp.7 shallow snow next to deep snow"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.7: mantell prim vora mantell gruixut</h2>&#13;
    </div>&#13;
&#13;
    <p>Les zones en què la neu és poc profunda solen tenir una estratificació  menys favorable que les que presenten un mantell profund. Això es deu a l'amplificació dels processos que es produeixen a l'interior d'un mantell de neu poc profund. A més, les allaus de placa són més fàcils de desencadenar on la neu és poc profunda, ja que les capes dèbils no estan tan profundament enterrades i són més fàcils de desencadenar amb càrregues addicionals. Per això, sovint s’observen desencadenaments d’allaus en zones de transició des de la neu poc profunda cap a la neu fonda. Es produeixen freqüentment a prop dels límits del terreny i, repetidament, en carenes amples.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=FIZpZvthr84" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp8" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm8.jpg" title="dp.8 buried surface hoar" alt="dp.8 buried surface hoar"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.8: gebre enterrat</h2>&#13;
    </div>&#13;
&#13;
    <p>El gebre de superfície és un dels tipus ne neu més bells. En si mateix, no presenta cap potencial de perill. Aquest potencial només es desplega quan està enterrat per capes de neu fresques i cohesives. Llavors es torna perillós. De fet, es considera una de les capes febles més crítiques en tota la ciència de neu i allaus.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=AYEEA14IVOk" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp9" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm9.jpg" title="dp.9 buried graupel" alt="dp.9 buried graupel"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.9: Neu rodona enterrada</h2>&#13;
    </div>&#13;
&#13;
    <p>Sovint es compara una capa feble dins d’un mantell de neu amb els coixinets. Aquesta imatge és realment adequada només per a la neu granulada: una forma esfèrica i granular de precipitació que es diposita sovint durant els xàfecs com les tempestes de trons a la primavera. És fàcil comprendre que les acumulacions de neu que es dipositen a sobre  d’una capa de neu granulada segur que no s'hi uniran bé, de manera que augmenta el perill d’allaus. La neu granulada està freqüentment distribuïda per zones molt petites. Sense examinar el mantell en si és difícil de detectar, fins i tot per a professionals. Es tracta d’un fenomen extremadament traïdor. Afortunadament, els problemes que crea són de curta durada.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=X3vNbaO4lCA" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp10" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm10.jpg" title="dp.10 springtime situation" alt="dp.10 springtime situation"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.10: escenari de primavera</h2>&#13;
    </div>&#13;
&#13;
    <p>La primavera presenta un repte especialment delicat per als esquiadors i els surfers de muntanya, així com per als membres de les comissions d’allaus. Rarament hi ha estats de “segur” i “insegur” tan a prop en el temps. Així, la franja de graus de perill que es produeixen en el transcurs d'un sol dia és molt àmplia. D'una banda, el perill d'allaus no és mai tan fàcil d'avaluar com en condicions de fusió regel; de l’altra, allaus de tanta magnitud com a la primavera rarament es registren a l’hivern profund. A més de l'estratificació de la neu, la complexa interacció de la temperatura de l’aire, la humitat de l’aire, la radiació solar i el vent tenen un paper principal. Per als esquiadors i els surfers de muntanya, la disciplina en l'horari i la flexibilitat en la planificació de rutes són més essencials que mai.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=MqELgeDEFxY" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
</section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Educació &amp; Prevenció</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Escala de perill</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-problems" title="Avalanche Problems">Problemes d'allaus</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/matrix" title="EAWS Matrix">Matriu EAWS </a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-sizes" title="Avalanche Sizes">Mides d'allaus</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/handbook" title="Handbook">Manual</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
