<div>
<h1>Gefahrenmuster</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#dp1" title="bodennahe Schwachschicht" class="secondary pure-button" data-scroll>bodennahe Schwachschicht</a></li>&#13;
      <li><a href="#dp2" title="Gleitschnee" class="secondary pure-button" data-scroll>Gleitschnee</a></li>&#13;
      <li><a href="#dp3" title="Regen" class="secondary pure-button" data-scroll>Regen</a></li>&#13;
      <li><a href="#dp4" title="kalt auf warm / warm auf kalt" class="secondary pure-button" data-scroll>kalt auf warm / warm auf kalt</a></li>&#13;
      <li><a href="#dp5" title="Schnee nach langer Kälteperiode" class="secondary pure-button" data-scroll>Schnee nach langer Kälteperiode</a></li>&#13;
      <li><a href="#dp6" title="lockerer Schnee und Wind" class="secondary pure-button" data-scroll>lockerer Schnee und Wind</a></li>&#13;
      <li><a href="#dp7" title="schneearm neben schneereich" class="secondary pure-button" data-scroll>schneearm neben schneereich</a></li>&#13;
      <li><a href="#dp8" title="eingeschneiter Oberflächenreif" class="secondary pure-button" data-scroll>eingeschneiter Oberflächenreif</a></li>&#13;
      <li><a href="#dp9" title="eingeschneiter Graupel" class="secondary pure-button" data-scroll>eingeschneiter Graupel</a></li>&#13;
      <li><a href="#dp10" title="Frühjahrssituation" class="secondary pure-button" data-scroll>Frühjahrssituation</a></li>&#13;
    </ul></header></section><section class="section-centered"><div class="panel">&#13;
    <p>Typical avalanche problems and danger patterns have one thing in common:&#13;
      they point to typical, repetitive and usually obvious danger&#13;
      situations.<br>The difference lies in the level of observation. While&#13;
      avalanche problems give an initial rough overview of possible sources of&#13;
      danger (e.g. new snow), danger patterns immerse deeper into the processes&#13;
      within the snowpack and focus on the causes of the problem (e.g. problem&#13;
      due to excessive new snow load on a weak layer). Danger patterns thus&#13;
      describe different scenarios or processes that lead to the respective&#13;
      avalanche problem.<br>The goal is clear: dangerous situations should be&#13;
      recognized quickly with the help of the avalanche problems and danger&#13;
      patterns. In that way, recreationsist may adapt their behavior accordingly&#13;
      and thereby may avoid avalanche accidents.</p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="dp1" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm1.jpg" title="dp.1 deep persistent weak layer" alt="dp.1 deep persistent weak layer"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>gm.1 bodennahe schwachschicht</h2>&#13;
    </div>&#13;
    <p>At the onset of winter, slab avalanches are often observed following the&#13;
      second heavy snowfall, usually at high altitudes (&gt;2000&nbsp;m) and high&#13;
      alpine altitudes (&gt;3000&nbsp;m) on shady, very steep slopes. This is&#13;
      because in autumn after the first big snowfalls, a lengthy period of&#13;
      stable, highpressure weather or at least precipitation-free weather&#13;
      frequently follows. That is when ideal conditions prevail for the partial&#13;
      metamorphism of snow into loose crystals, which then form a deep&#13;
      persistent weak layer for subsequent snowfall to be deposited on. During&#13;
      the course of early winter, this can occur in a wide range of altitudes&#13;
      and aspects. In general, deep persistent weak layers formed in early&#13;
      winter are triggered by skiers and freeriders at the beginning of the&#13;
      season, but it is also possible later on in winters with little snowfall.&#13;
      This occurs especially in spring when deep persistent weak layers are&#13;
      weakened further by water.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=rdYIWWzOWWY" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp2" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm2.jpg" title="dp.2 gliding snow" alt="dp.2 gliding snow"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>gm.2 gleitschnee</h2>&#13;
    </div>&#13;
&#13;
    <p>Schnee gleitet bevorzugt auf steilen, glatten Flächen talwärts. Dabei&#13;
      bilden sich Gleitschneemäuler, also gut sichtbare, teilweise mehrere Meter&#13;
      tiefe Risse in der Schneedecke. Solche Gleitschneemäuler gelten entgegen&#13;
      einer alten, leider schwer auszurottenden „Lehrmeinung“ nicht als&#13;
      günstige, sondern durchwegs als ungünstige Kriterien hinsichtlich eines&#13;
      möglichen Lawinenabgangs. Ein Gleitschneemaul deutet auf die Möglichkeit&#13;
      einer Gleitschneelawine hin, sagt jedoch nichts darüber aus, ob und wann&#13;
      die Schneemasse tatsächlich als Gleitschneelawine abgeht.&#13;
      Gleitschneelawinen zählen hinsichtlich des Abgangszeitpunktes zu den am&#13;
      schwierigsten vorhersagbaren Lawinen, weil diese auch bei allgemein&#13;
      stabilen Schneeverhältnissen zu jeder Tages- und Nachtzeit, sowohl am&#13;
      kältesten als auch am wärmsten Tag eines Winters abgehen können. Zudem&#13;
      sind Gleitschneelawinen nicht durch Zusatzbelastung auszulösen.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=Pnb-sSwtccc" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp3" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm3.jpg" title="dp.3 rain on snow" alt="dp.3 rain on snow"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>gm.3 regen</h2>&#13;
    </div>&#13;
&#13;
    <p>Regen gilt als ein klassisches Alarmzeichen in der Schnee- und&#13;
      Lawinenkunde, weil er einerseits zusätzliches Gewicht in die Schneedecke&#13;
      bringt und andererseits zu einem raschen Festigkeitsverlust führt. Lawinen&#13;
      sind deshalb vorprogrammiert. Regen kann in jedem Abschnitt eines Winters&#13;
      auftreten. Der große Vorteil: Kein Gefahrenmuster kann leichter erkannt&#13;
      werden als Regen.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=Hegy61JcLsQ" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp4" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm4.jpg" title="dp.4 cold on warm / warm on cold" alt="dp.4 cold on warm / warm on cold"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>gm.4 kalt auf warm / warm auf kalt</h2>&#13;
    </div>&#13;
&#13;
    <p>Zu lange wurde in der Lawinenkunde die Lehrmeinung vertreten, dass sich&#13;
      ein großer Temperaturunterschied während des Einschneiens (egal ob kalt&#13;
      auf warm oder umgekehrt) günstig auf die Lawinensituation auswirke. Dies&#13;
      trifft jedoch nur unter bestimmten Voraussetzungen zu. Mehrheitlich wirkt&#13;
      sich ein solcher Temperaturunterschied jedoch negativ aus, weil er die&#13;
      aufbauende Umwandlung innerhalb der Schneedecke begünstigt: In der Regel&#13;
      bildet sich dadurch eine dünne, durchwegs störanfällige Schwachschicht.&#13;
      Diese findet man oft auch im südseitigen Gelände. Eine heimtückische&#13;
      Angelegenheit, auch deshalb, weil die Schwachschicht unmittelbar nach dem&#13;
      Einschneien noch nicht vorhanden ist und sich erst im Laufe der folgenden&#13;
      Tage bildet.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=OQWqjRIqf3c" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp5" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm5.jpg" title="dp.5 snowfall after long period of cold" alt="dp.5 snowfall after long period of cold"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>gm.5 schnee nach langer kälteperiode</h2>&#13;
    </div>&#13;
&#13;
    <p>Among avalanche events, this is a classic: following a lengthy period of&#13;
      cold, it begins to snow. In addition, strong winds prevail which transport&#13;
      the new snow accordingly. Within the shortest imaginable time, a&#13;
      treacherous situation arises for backcountry skiers. This is also the case&#13;
      if, following a lengthy period of cold, “only” strong winds are blowing&#13;
      without snowfall. The problem is that fresh snowdrifts are deposited on&#13;
      wind-protected leeward slopes on top of a loose old snow cover surface&#13;
      which usually contains depth hoar. Wind slab and persistent weak layers&#13;
      are very poorly bonded with each other. The snowpack is just waiting to be&#13;
      triggered by additional loading.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=Eo7BJEVRMqc" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp6" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm6.jpg" title="dp.6 loose snow and wind" alt="dp.6 loose snow and wind"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>gm.6 lockerer schnee und wind</h2>&#13;
    </div>&#13;
&#13;
    <p>„Der Wind ist der Baumeister der Lawinen“: Dieser klassische Spruch von&#13;
      Wilhelm Paulcke aus den dreißiger Jahren des vorigen Jahrhunderts gilt&#13;
      auch heute noch unverändert. Wind beeinflusst sowohl den fallenden als&#13;
      auch den bereits abgelagerten Schnee und ist einer der wesentlichsten&#13;
      Lawinen bildenden Faktoren. Bei lockerem, trockenen Schnee führt Wind&#13;
      immer zu Verfrachtungen und damit zu einer Zunahme der Lawinengefahr! Je&#13;
      kälter der verfrachtete Schnee, desto empfindlicher reagiert er auf&#13;
      Belastung, weil die Sprödigkeit zunimmt. Charakteristisch für dieses gm&#13;
      ist, dass die Schwachschicht meist aus lockerem Neuschnee besteht und von&#13;
      Triebschnee überlagert ist. Es hat also entweder kurz zuvor bei kalten&#13;
      Temperaturen ohne Wind geschneit und dann zu wehen begonnen oder aber es&#13;
      beginnt ohne Windeinfluss zu schneien, wobei der Wind während des&#13;
      Schneefalls an Stärke zunimmt. Ein Muster, das sich in der Regel recht gut&#13;
      erkennen lässt und nur von kurzer Dauer ist. Eine Ausnahme bilden nur jene&#13;
      (seltenen) Situationen, bei denen die aus lockeren, aufbauend&#13;
      umgewandelten Kristallen bestehende Altschneeoberfläche vom Wind&#13;
      verfrachtet wird. In der Regel bilden sich dann harte, spröde und über&#13;
      längere Zeit störanfällige Schneebretter.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=CXnfPRZIIao" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp7" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm7.jpg" title="dp.7 shallow snow next to deep snow" alt="dp.7 shallow snow next to deep snow"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>gm.7 schneearm neben schneereich</h2>&#13;
    </div>&#13;
&#13;
    <p>Schneearme Bereiche weisen in der Regel einen ungünstigeren&#13;
      Schneedeckenaufbau auf als schneereiche. Dies hat mit vermehrten&#13;
      Umwandlungsprozessen innerhalb der Schneedecke zu tun. Zusätzlich lassen&#13;
      sich Schneebrettlawinen an schneearmen Stellen auch deshalb leichter&#13;
      auslösen, weil die Schwachschichten nicht allzu tief begraben liegen und&#13;
      somit eher durch Zusatzbelastung gestört werden können. Häufig beobachtet&#13;
      man Lawinenauslösungen deshalb auch an Übergangsbereichen von schneearmen&#13;
      zu schneereichen Stellen. Dies trifft häufig im Nahbereich von&#13;
      Geländekanten, immer wieder auch auf Rücken zu.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=FIZpZvthr84" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp8" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm8.jpg" title="dp.8 buried surface hoar" alt="dp.8 buried surface hoar"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>gm.8 eingeschneiter oberflächenreif</h2>&#13;
    </div>&#13;
&#13;
    <p>Oberflächenreif zählt zu den schönsten Schneearten überhaupt und birgt für&#13;
      sich allein gesehen noch kein Gefahrenpotenzial: Erst wenn er von neuen,&#13;
      gebundenen Schneeschichten überdeckt wird, wird er gefährlich und gilt&#13;
      deshalb zu Recht als eine der kritischsten Schwachschichten der Schnee-&#13;
      und Lawinenkunde.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=AYEEA14IVOk" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp9" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm9.jpg" title="dp.9 buried graupel" alt="dp.9 buried graupel"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>gm.9 eingeschneiter graupel</h2>&#13;
    </div>&#13;
&#13;
    <p>Schwachschichten innerhalb der Schneedecke werden bei Lawinenkursen häufig&#13;
      mit Kugellagern verglichen. Wirklich passend ist dieses Bild nur für den&#13;
      Graupel: eine kugelförmige Niederschlagsform, die sich bevorzugt im&#13;
      Frühjahr bei gewitterartigen Schauern ablagert. Leicht vorzustellen, dass&#13;
      Triebschnee, der sich darüber ansammelt, meist nur schlecht mit dieser&#13;
      Schwachschicht verbunden ist und damit die Gefahr von Lawinenabgängen&#13;
      steigt. Graupel ist häufig kleinräumig verteilt und lässt sich ohne Blick&#13;
      in die Schneedecke selbst von Experten meist nur schwer erkennen. Eine&#13;
      durchwegs heimtückische Angelegenheit, die zum Glück nur kurzfristig zu&#13;
      Problemen führt.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=X3vNbaO4lCA" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp10" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm10.jpg" title="dp.10 springtime situation" alt="dp.10 springtime situation"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>gm.10 frühjahrssituation</h2>&#13;
    </div>&#13;
&#13;
    <p>Eine besondere Herausforderung für den Wintersportler, aber auch für&#13;
      Lawinenprognostiker sowie Lawinenkommissionsmitglieder stellt das Frühjahr&#13;
      dar. Selten liegen „sicher“ und „gefährlich“ zeitlich so eng beieinander&#13;
      und somit ist auch die Bandbreite der während eines Tages ausgegebenen&#13;
      Gefahrenstufen so weit gefächert. Einerseits ist die Lawinengefahr kaum&#13;
      einmal leichter einzuschätzen als bei stabilen Firnverhältnissen,&#13;
      andererseits werden aber auch kaum jemals während eines Winters so große&#13;
      Lawinenabgänge verzeichnet wie während kritischer Frühjahrssituationen.&#13;
      Dabei spielt neben dem Schneedeckenaufbau das zum Teil komplexe&#13;
      Wechselspiel aus Lufttemperatur, Luftfeuchte, Strahlungseinfluss und Wind&#13;
      eine entscheidende Rolle. Für den Wintersportler sind zeitliche Disziplin&#13;
      sowie Flexibilität bei der Tourenplanung gefragter denn je.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=MqELgeDEFxY" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
</section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Ausbildung &amp; Prävention</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Lawinengefahrenstufen</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-problems" title="Avalanche Problems">Lawinenprobleme</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/matrix" title="EAWS Matrix">EAWS Matrix</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-sizes" title="Avalanche Sizes">Lawinengrößen</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/handbook" title="Handbook">Handbuch</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
