<div>
<h1>Patrones de Peligro</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#dp1" title="deep persistent weak layer" class="secondary pure-button" data-scroll>capas débiles persistentes</a></li>&#13;
      <li><a href="#dp2" title="gliding snow" class="secondary pure-button" data-scroll="">deslizamientos</a></li>&#13;
      <li><a href="#dp3" title="rain on snow" class="secondary pure-button" data-scroll="">lluvia sobre nieve</a></li>&#13;
      <li><a href="#dp4" title="cold on warm / warm on cold" class="secondary pure-button" data-scroll="">frío sobre cálido / cálido sobre frío</a></li>&#13;
      <li><a href="#dp5" title="snowfall after long period of cold" class="secondary pure-button" data-scroll="">nevada después de un largo periodo de frío</a></li>&#13;
      <li><a href="#dp6" title="loose snow and wind" class="secondary pure-button" data-scroll="">nieve suelta y viento</a></li>&#13;
      <li><a href="#dp7" title="shallow snow next to deep snow" class="secondary pure-button" data-scroll="">manto delgado cerca de manto grueso</a></li>&#13;
      <li><a href="#dp8" title="buried surface hoar" class="secondary pure-button" data-scroll="">escarcha de superfície enterrada</a></li>&#13;
      <li><a href="#dp9" title="buried graupel" class="secondary pure-button" data-scroll="">nieve granulada enterrada</a></li>&#13;
      <li><a href="#dp10" title="springtime situation" class="secondary pure-button" data-scroll="">situación de primavera</a></li>&#13;
    </ul></header></section><section class="section-centered"><div class="panel">&#13;
    <p>Typical avalanche problems and danger patterns have one thing in common:&#13;
      they point to typical, repetitive and usually obvious danger&#13;
      situations.<br>The difference lies in the level of observation. While&#13;
      avalanche problems give an initial rough overview of possible sources of&#13;
      danger (e.g. new snow), danger patterns immerse deeper into the processes&#13;
      within the snowpack and focus on the causes of the problem (e.g. problem&#13;
      due to excessive new snow load on a weak layer). Danger patterns thus&#13;
      describe different scenarios or processes that lead to the respective&#13;
      avalanche problem.<br>The goal is clear: dangerous situations should be&#13;
      recognized quickly with the help of the avalanche problems and danger&#13;
      patterns. In that way, recreationsist may adapt their behavior accordingly&#13;
      and thereby may avoid avalanche accidents.</p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="dp1" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm1.jpg" title="dp.1 deep persistent weak layer" alt="dp.1 deep persistent weak layer"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.1 capas débiles persistentes</h2>&#13;
    </div>&#13;
    <p>At the onset of winter, slab avalanches are often observed following the&#13;
      second heavy snowfall, usually at high altitudes (&gt;2000&nbsp;m) and high&#13;
      alpine altitudes (&gt;3000&nbsp;m) on shady, very steep slopes. This is&#13;
      because in autumn after the first big snowfalls, a lengthy period of&#13;
      stable, highpressure weather or at least precipitation-free weather&#13;
      frequently follows. That is when ideal conditions prevail for the partial&#13;
      metamorphism of snow into loose crystals, which then form a deep&#13;
      persistent weak layer for subsequent snowfall to be deposited on. During&#13;
      the course of early winter, this can occur in a wide range of altitudes&#13;
      and aspects. In general, deep persistent weak layers formed in early&#13;
      winter are triggered by skiers and freeriders at the beginning of the&#13;
      season, but it is also possible later on in winters with little snowfall.&#13;
      This occurs especially in spring when deep persistent weak layers are&#13;
      weakened further by water.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=rdYIWWzOWWY" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp2" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm2.jpg" title="dp.2 gliding snow" alt="dp.2 gliding snow"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.2 aludes de deslizamiento</h2>&#13;
    </div>&#13;
&#13;
    <p>La nieve se desliza con más facilidad hacia el valle sobre superficies inclinadas y lisas. Mientras este proceso se desarrolla, se forman grietas de deslizamiento (fácilmente visibles, a veces se forman grietas de varios metros de profundidad en la superficie del manto de nieve). Actualmente, se considera que estas fisuras no son signos favorables como los conocimientos populares antiguos planteaban (estas tradiciones son difíciles de superar ...), sino que son indicadores absolutamente desfavorables de posibles aludes, a veces inminentes. Una grieta de deslizamiento apunta a la posibilidad de una avalancha sin dar ninguna indicación de si o cuando se producirá la avalancha de nieve deslizante. En cuanto a su horario, los deslizamientos están entre los aludes más difíciles de predecir, ya que pueden desencadenarse literalmente a cualquier hora del día o de la noche, incluso cuando la situación de nieve es bastante estable. Esto incluye el día más frío y el día más cálido del invierno. Además, no se desencadenan aludes de deslizamiento por una carga adicional.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=Pnb-sSwtccc" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp3" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm3.jpg" title="dp.3 rain on snow" alt="dp.3 rain on snow"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.3 lluvia sobre nieve</h2>&#13;
    </div>&#13;
&#13;
    <p>La lluvia sobre nieve se considera la señal de alarma clásico en la ciencia de la nieve y los aludes porque, por un lado, su peso adicional carga el manto de nieve; y por otro, porque se pierde inmediatamente la firmeza del manto. Por estas razones, las avalanchas están aseguradas. La lluvia se puede producir en cualquier momento del invierno. La gran ventaja es que ninguna señal de peligro podría ser más sencillo de reconocer.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=Hegy61JcLsQ" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp4" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm4.jpg" title="dp.4 cold on warm / warm on cold" alt="dp.4 cold on warm / warm on cold"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.4 frío sobre cálido / cálido sobre frío</h2>&#13;
    </div>&#13;
&#13;
    <p>Una teoría que se mantuvo durante demasiado tiempo en la ciencia de los aludes afirma que grandes variaciones de temperatura durante las nevadas (independientemente de si son calentamientos o enfriamientos) ejercen un efecto positivo sobre la situación de aludes. De hecho, este es el caso sólo en determinadas condiciones anteriores muy específicas. La mayoría de estas diferencias de temperatura tienen un efecto negativo, ya que refuerzan el metamorfismo de la nieve dentro del manto. Por regla general, se forma una capa fina y débil que es muy propensa a desencadenar. Esta capa se encuentra a menudo en las vertientes orientadas al sur. Es muy traidor por la razón adicional que la capa débil aún no exista inmediatamente después de depositarse la nieve nueva, sino que se forme a lo largo de los días siguientes.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=OQWqjRIqf3c" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp5" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm5.jpg" title="dp.5 snowfall after long period of cold" alt="dp.5 snowfall after long period of cold"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.5 nevada después de un largo periodo frío</h2>&#13;
    </div>&#13;
&#13;
    <p>Among avalanche events, this is a classic: following a lengthy period of&#13;
      cold, it begins to snow. In addition, strong winds prevail which transport&#13;
      the new snow accordingly. Within the shortest imaginable time, a&#13;
      treacherous situation arises for backcountry skiers. This is also the case&#13;
      if, following a lengthy period of cold, “only” strong winds are blowing&#13;
      without snowfall. The problem is that fresh snowdrifts are deposited on&#13;
      wind-protected leeward slopes on top of a loose old snow cover surface&#13;
      which usually contains depth hoar. Wind slab and persistent weak layers&#13;
      are very poorly bonded with each other. The snowpack is just waiting to be&#13;
      triggered by additional loading.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=Eo7BJEVRMqc" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp6" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm6.jpg" title="dp.6 loose snow and wind" alt="dp.6 loose snow and wind"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.6 nieve suelta y viento</h2>&#13;
    </div>&#13;
&#13;
    <p>"El viento es el arquitecto de los aludes." Este refrán clásico de la década de 1930 de Wilhelm Paulcke sigue siendo vigente aún hoy. El viento influye tanto en la nieve que cae como en la nieve que ya se ha depositado. Es un factor importante en la formación de aludes. Cuando la nieve está suelta y seca, el viento la transporta y aumenta el peligro de aludes. Cuanto más fría sea la nieve transportada, más fácilmente reaccionará a la carga adicional, porque es más frágil. Es característico de este patrón de peligro que la capa débil la suele constituir nieve reciente que queda enterrada por depósitos de nieve venteada. Así, debe haber habido nevadas a temperaturas bajas sin viento o justo antes o en un período anterior a cuando comenzó el transporte o bien, la nevada se inició sin viento, pero aparecieron vientos durante la nevada. Este es un patrón que normalmente se puede reconocer con facilidad y que dura poco tiempo. La excepción es la situación en la que la antigua superficie del manto de nieve que consiste en cristales sueltos y facetados es transportada por el viento. Cuando esto sucede, se forman placas duras y frágiles que pueden ser propensas a desencadenarse durante un largo periodo.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=CXnfPRZIIao" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp7" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm7.jpg" title="dp.7 shallow snow next to deep snow" alt="dp.7 shallow snow next to deep snow"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.7 manto delgado al lado de manto profundo</h2>&#13;
    </div>&#13;
&#13;
    <p>Las zonas en las que la nieve es poco profunda suelen tener una estratificación menos favorable que las que presentan un manto profundo. Esto se debe a la amplificación de los procesos que se producen en el interior de un manto de nieve poco profundo. Además, los aludes de placa son más fáciles de desencadenar donde la nieve es poco profunda, ya que las capas débiles no están tan profundamente enterradas y son más fáciles de desencadenar con cargas adicionales. Por ello, a menudo se observan aludes en zonas de transición desde la nieve poco profunda hacia la nieve profunda. Se producen frecuentemente cerca de los límites del terreno y, repetidamente, en crestas anchas.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=FIZpZvthr84" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp8" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm8.jpg" title="dp.8 buried surface hoar" alt="dp.8 buried surface hoar"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.8 escarcha de superficie enterrada</h2>&#13;
    </div>&#13;
&#13;
    <p>La escarcha de superficie es uno de los tipos su nieve más bellos. En sí mismo, no presenta ningún potencial de peligro. Este potencial sólo se despliega cuando está enterrado por capas de nieve frescas y cohesivas. Entonces se vuelve peligroso. De hecho, se considera una de las capas débiles más críticas en toda la ciencia de nieve y aludes.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=AYEEA14IVOk" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp9" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm9.jpg" title="dp.9 buried graupel" alt="dp.9 buried graupel"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.9 nieve granulada enterrada</h2>&#13;
    </div>&#13;
&#13;
    <p>A menudo se compara una capa débil dentro de un manto de nieve con las almohadillas. Esta imagen es realmente adecuada sólo para la nieve granulada: una forma esférica y granular de precipitación que se deposita a menudo durante los chubascos como las tormentas de truenos en primavera. Es fácil comprender que las acumulaciones de nieve que se depositan sobre una capa de nieve granulada seguro que no se unirán bien, por lo que aumenta el peligro de aludes. La nieve granulada está frecuentemente distribuida por zonas muy pequeñas. Sin examinar el manto en sí es difícil de detectar, incluso para profesionales. Se trata de un fenómeno extremadamente traidor. Afortunadamente, los problemas que crea son de corta duración.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=X3vNbaO4lCA" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp10" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm10.jpg" title="dp.10 springtime situation" alt="dp.10 springtime situation"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.10 escenario de primavera</h2>&#13;
    </div>&#13;
&#13;
    <p>La primavera presenta un reto especialmente delicado para los esquiadores y los surfers de montaña, así como para los miembros de las comisiones de aludes. Raramente hay estados de "seguro" e "inseguro" tan cerca en el tiempo. Así, la franja de grados de peligro que se producen en el transcurso de un solo día es muy amplia. Por un lado, el peligro de aludes no es tan fácil de evaluar como en condiciones de fusión rehielo; por otro, aludes de tanta magnitud como la primavera raramente se registran en pleno invierno. Además de la estratificación de la nieve, la compleja interacción de la temperatura del aire, la humedad del aire, la radiación solar y el viento tienen un papel principal. Para los esquiadores y surfers de montaña, la disciplina en el horario y la flexibilidad en la planificación de rutas son más esenciales que nunca.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=MqELgeDEFxY" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
</section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Educación &amp; Prevención</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Escala de Peligro</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-problems" title="Avalanche Problems">Tamaño de aludes</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/matrix" title="EAWS Matrix">Matriz EAWS </a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-sizes" title="Avalanche Sizes">Tamaño de aludes</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/handbook" title="Handbook">Manual</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
