<div>
<h1>Modèle de risques</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#dp1" title="deep persistent weak layer" class="secondary pure-button" data-scroll>sous-couche fragile persistante</a></li>&#13;
      <li><a href="#dp2" title="gliding snow" class="secondary pure-button" data-scroll="">neige glissante</a></li>&#13;
      <li><a href="#dp3" title="rain on snow" class="secondary pure-button" data-scroll="">pluie</a></li>&#13;
      <li><a href="#dp4" title="cold on warm / warm on cold" class="secondary pure-button" data-scroll="">froid suivant chaud / chaud suivant froid</a></li>&#13;
      <li><a href="#dp5" title="snowfall after long period of cold" class="secondary pure-button" data-scroll="">chute de neige après une longue période de froid</a></li>&#13;
      <li><a href="#dp6" title="loose snow and wind" class="secondary pure-button" data-scroll="">froid, neige légère et vent</a></li>&#13;
      <li><a href="#dp7" title="shallow snow next to deep snow" class="secondary pure-button" data-scroll="">zones avec peu de neige à coté des zones enneigées</a></li>&#13;
      <li><a href="#dp8" title="buried surface hoar" class="secondary pure-button" data-scroll="">givre de surface enneigé</a></li>&#13;
      <li><a href="#dp9" title="buried graupel" class="secondary pure-button" data-scroll="">neige roulée enneigé</a></li>&#13;
      <li><a href="#dp10" title="springtime situation" class="secondary pure-button" data-scroll="">situation de printemps</a></li>&#13;
    </ul></header></section><section class="section-centered"><div class="panel">&#13;
    <p>Typical avalanche problems and danger patterns have one thing in common:&#13;
      they point to typical, repetitive and usually obvious danger&#13;
      situations.<br>The difference lies in the level of observation. While&#13;
      avalanche problems give an initial rough overview of possible sources of&#13;
      danger (e.g. new snow), danger patterns immerse deeper into the processes&#13;
      within the snowpack and focus on the causes of the problem (e.g. problem&#13;
      due to excessive new snow load on a weak layer). Danger patterns thus&#13;
      describe different scenarios or processes that lead to the respective&#13;
      avalanche problem.<br>The goal is clear: dangerous situations should be&#13;
      recognized quickly with the help of the avalanche problems and danger&#13;
      patterns. In that way, recreationsist may adapt their behavior accordingly&#13;
      and thereby may avoid avalanche accidents.</p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="dp1" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm1.jpg" title="dp.1 deep persistent weak layer" alt="dp.1 deep persistent weak layer"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>mr.1 : Sous-couche fragile persistante</h2>&#13;
    </div>&#13;
    <p>At the onset of winter, slab avalanches are often observed following the&#13;
      second heavy snowfall, usually at high altitudes (&gt;2000&nbsp;m) and high&#13;
      alpine altitudes (&gt;3000&nbsp;m) on shady, very steep slopes. This is&#13;
      because in autumn after the first big snowfalls, a lengthy period of&#13;
      stable, highpressure weather or at least precipitation-free weather&#13;
      frequently follows. That is when ideal conditions prevail for the partial&#13;
      metamorphism of snow into loose crystals, which then form a deep&#13;
      persistent weak layer for subsequent snowfall to be deposited on. During&#13;
      the course of early winter, this can occur in a wide range of altitudes&#13;
      and aspects. In general, deep persistent weak layers formed in early&#13;
      winter are triggered by skiers and freeriders at the beginning of the&#13;
      season, but it is also possible later on in winters with little snowfall.&#13;
      This occurs especially in spring when deep persistent weak layers are&#13;
      weakened further by water.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=rdYIWWzOWWY" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp2" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm2.jpg" title="dp.2 gliding snow" alt="dp.2 gliding snow"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>mr.2 : Neige glissante</h2>&#13;
    </div>&#13;
&#13;
    <p>La neige glisse plus facilement sur des surfaces lisses et raides. Pendant ce processus, des fissures de glissement se forment, c'est-à-dire des fissures bien visibles dans la couche de neige, parfois de plusieurs mètres de profondeur. Ces fissures ne sont plus considérées comme les signes favorables que les anciens savoirs populaires posaient autrefois (ces traditions sont difficiles à surmonter), mais plutôt comme des indicateurs tout à fait défavorables d'avalanches potentielles, parfois imminentes. Une fissure de glissement indique la possibilité d'une avalanche de fond sans donner aucune indication si ou quand une telle avalanche va effectivement se déclencher. En termes de moment de déclenchement, les avalanches de neige glissante sont parmi les plus difficiles à prévoir, car même dans des conditions de neige généralement stables, elles peuvent se déclencher à n'importe quel moment du jour ou de la nuit, aussi bien le jour le plus froid que le plus chaud de l'hiver. En outre, les avalanches de neige glissante ne peuvent pas être déclenchées par des charges supplémentaires.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=Pnb-sSwtccc" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp3" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm3.jpg" title="dp.3 rain on snow" alt="dp.3 rain on snow"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>mr.3 : Pluie</h2>&#13;
    </div>&#13;
&#13;
    <p>La pluie sur la neige est considérée comme un signal d'alarme dans la science de la neige et des avalanches car d'une part, elle ajoute du poids au manteau neigeux et d'autre part, elle entraîne une perte rapide de force. C'est pour ces raisons que les avalanches sont prédestinées. La pluie peut se produire à tout moment pendant l'hiver. Le grand avantageest qu'aucun modèle de danger n'est plus facilement reconnaissable que la pluie.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=Hegy61JcLsQ" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp4" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm4.jpg" title="dp.4 cold on warm / warm on cold" alt="dp.4 cold on warm / warm on cold"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>mr.4 : Froid suivant chaud/ chaud suivant froid</h2>&#13;
    </div>&#13;
&#13;
    <p>Une théorie selon laquelle les énormes disparités de température lors des chutes de neige (que ce soit froid sur chaud ou chaud sur froid) ont un effet positif sur la situation des avalanches a trop longtemps prévalu dans la science des avalanches. En fait, ce n'est le cas que dans certaines conditions préalables très spécifiques. Dans la plupart des cas, ces différences de température ont un effet négatif, car elles renforcent le métamorphisme de la neige à l'intérieur du manteau neigeux. En générale, il se forme une couche mince et faible qui est très susceptible de se déclencher. Cette couche se trouve souvent sur les pentes orientées au sud. Elle est très dangereuse car la couche faible n'est pas encore présente immédiatement après la chute de neige, elle ne se forme qu'au cours des jours suivants.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=OQWqjRIqf3c" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp5" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm5.jpg" title="dp.5 snowfall after long period of cold" alt="dp.5 snowfall after long period of cold"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>mr.5 : Chute de neige après une longue période de froid</h2>&#13;
    </div>&#13;
&#13;
    <p>Among avalanche events, this is a classic: following a lengthy period of&#13;
      cold, it begins to snow. In addition, strong winds prevail which transport&#13;
      the new snow accordingly. Within the shortest imaginable time, a&#13;
      treacherous situation arises for backcountry skiers. This is also the case&#13;
      if, following a lengthy period of cold, “only” strong winds are blowing&#13;
      without snowfall. The problem is that fresh snowdrifts are deposited on&#13;
      wind-protected leeward slopes on top of a loose old snow cover surface&#13;
      which usually contains depth hoar. Wind slab and persistent weak layers&#13;
      are very poorly bonded with each other. The snowpack is just waiting to be&#13;
      triggered by additional loading.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=Eo7BJEVRMqc" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp6" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm6.jpg" title="dp.6 loose snow and wind" alt="dp.6 loose snow and wind"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>mr.6 : Neige meuble et vent</h2>&#13;
    </div>&#13;
&#13;
    <p>"Le vent est l’architecte des avalanches." Ce proverbe classique des années 1930 de Wilhelm Paulcke est toujours valable aujourd'hui. Le vent influence à la fois la neige qui tombe et la neige déjà déposée. Il est un des facteurs les plus importants dans la formation des avalanches. Lorsque la neige est meuble et sèche, le vent la transporte, augmentant ainsi le danger d'avalanche. Plus la neige transportée est froide, plus elle est sensible à une charge supplémentaire,car sa fragilité augmente.  Ce type de danger se caractérise par une couche faible, généralement constituée de neige fraîche, recouverte de neige soufflée. Soit il y a eu des chutes de neige à basse température sans influence du vent et s'est ensuite mis à souffler, soit il se met à neiger sans l'influence du vent, mais les vents se sont levés pendant la chute de neige. Il s'agit là d'un schéma qui est généralement facile à reconnaître et qui ne dure que peu de temps. L'exception est une situation dans laquelle l'ancien manteau neigeux, constitué de cristaux facettés et non fixés, est lui-même emportée par le vent. Dans ce cas, il se forme des plaques dures et fragiles qui restent fragile sur une longue période.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=CXnfPRZIIao" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp7" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm7.jpg" title="dp.7 shallow snow next to deep snow" alt="dp.7 shallow snow next to deep snow"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>mr.7 : Enneigement faible à coté d'enneigement abondant</h2>&#13;
    </div>&#13;
&#13;
    <p>Les zones peu enneigées présentent généralement une manteaux de neige moins favorable que  les zones où la neige est épaisse. Cela est dû au processus de transformation amplifié qui se déroulent à l'intérieur d'un manteau neigeux peu profond. En outre, les avalanches de plaque sont également plus faciles à déclencher dans les zones peu enneigées, car les couches faibles ne sont pas enfoncées trop profondément et sont donc plus susceptibles de se déclencher par des charges supplémentaires. Les avalanches sont donc souvent déclenchées dans les zones de transition entre les zones peu enneigées et les zones fortement enneigées. Cela se produit fréquemment sous des ruptures de pente et sur de larges croupes.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=FIZpZvthr84" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp8" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm8.jpg" title="dp.8 buried surface hoar" alt="dp.8 buried surface hoar"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>mr.8 : Givre de surface recouvert de neige</h2>&#13;
    </div>&#13;
&#13;
    <p>Le givre de surface compte parmi les plus beaux types de neige qui existent. En soi, il ne présente aucun danger potentiel. Ce potentiel ne se développe que lorsqu'il est enterré par des couches de neige fraîche et collée. Donc il est considérée comme  l'une des couches faibles les plus critiques dans la science de la neige et des avalanches.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=AYEEA14IVOk" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp9" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm9.jpg" title="dp.9 buried graupel" alt="dp.9 buried graupel"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>mr.9 : Neige roulée recouverte de neige</h2>&#13;
    </div>&#13;
&#13;
    <p>Une couche fragile à l'intérieur du manteau neigeux est souvent comparée à des roulements à billes. Cette image ne convient en fait qu'au graupel: une forme sphérique et granulaire de précipitation qui se dépose souvent lors d'averses comme les orages au printemps. Il est facile d'imaginer que la neige qui s'accumule au-dessus d'une couche de graupel est généralement mal reliée à cette couche, ce qui augmente le risque d'avalanches. Le graupel est souvent deposé localement et est, sans examiner le manteau neigeux lui-même, difficile à détecter, même par les experts. C'est un phénomène extrêmement traître. Heureusement, il est de courte durée.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=X3vNbaO4lCA" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp10" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm10.jpg" title="dp.10 springtime situation" alt="dp.10 springtime situation"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>mr.10 : Situation de printemps</h2>&#13;
    </div>&#13;
&#13;
    <p>Le printemps est un défi particulier pour les amateurs de sports d'hiver, mais aussi pour les prévisionnistes et les membres des commissions des avalanches. Il est rare que les états "en sécurité" et "dangereux" soient aussi proches l'un de l'autre dans le temps. Ainsi, l'étendue de degrés de danger pronostiqués au cours d'une seule journée est très large. D'une part, le danger d'avalanche n'est jamais plus facile à évaluer que dans des conditions stables de névé, d'autre part, des avalanches d'une telle ampleur comme au printemps sont rarement enregistrées en plein hiver. Outre la structure du manteau neigeux, l'interaction complexe de la température de l'air, de l'humidité de l'air, du rayonnement solaire et du vent joue un rôle décisif. Pour les amateurs de sports d'hiver, une grande discipline temporelle et de flexibilité des plans sont plus essentielle que jamais.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=MqELgeDEFxY" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
</section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Pédagogie &amp; Prévention</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Échelle de danger</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-problems" title="Situations avalancheuses typiques">Situations avalancheuses typiques</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/matrix" title="EAWS Matrix">EAWS Matrice</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-sizes" title="Avalanche Sizes">Taille d'avalanche</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/handbook" title="Handbook">Manuel</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
