<div>
<h1>Situazioni Tipo</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#dp1" title="Strato debole persistente basale" class="secondary pure-button" data-scroll>Strato debole persistente basale</a></li>&#13;
      <li><a href="#dp2" title="Valanga per scivolamento di neve" class="secondary pure-button" data-scroll>Valanga per scivolamento di neve</a></li>&#13;
      <li><a href="#dp3" title="Pioggia" class="secondary pure-button" data-scroll>Pioggia</a></li>&#13;
      <li><a href="#dp4" title="Freddo su caldo / caldo su freddo" class="secondary pure-button" data-scroll>Freddo su caldo / caldo su freddo</a></li>&#13;
      <li><a href="#dp5" title="Neve dopo un lungo periodo di freddo" class="secondary pure-button" data-scroll>Neve dopo un lungo periodo di freddo</a></li>&#13;
      <li><a href="#dp6" title="Neve fresca fredda, a debole coesione, e vento" class="secondary pure-button" data-scroll>Neve fresca fredda, a debole coesione, e vento</a></li>&#13;
      <li><a href="#dp7" title="Zone con poca neve entro zone con molta neve" class="secondary pure-button" data-scroll>Zone con poca neve entro zone con molta neve</a></li>&#13;
      <li><a href="#dp8" title="Brina di superficie sepolta" class="secondary pure-button" data-scroll>Brina di superficie sepolta</a></li>&#13;
      <li><a href="#dp9" title="Neve pallottolare coperta da neve fresca" class="secondary pure-button" data-scroll>Neve pallottolare coperta da neve fresca</a></li>&#13;
      <li><a href="#dp10" title="Situazione primaverile" class="secondary pure-button" data-scroll>Situazione primaverile</a></li>&#13;
    </ul></header></section><section class="section-centered"><div class="panel">&#13;
    <p>Typical avalanche problems and danger patterns have one thing in common:&#13;
      they point to typical, repetitive and usually obvious danger&#13;
      situations.<br>The difference lies in the level of observation. While&#13;
      avalanche problems give an initial rough overview of possible sources of&#13;
      danger (e.g. new snow), danger patterns immerse deeper into the processes&#13;
      within the snowpack and focus on the causes of the problem (e.g. problem&#13;
      due to excessive new snow load on a weak layer). Danger patterns thus&#13;
      describe different scenarios or processes that lead to the respective&#13;
      avalanche problem.<br>The goal is clear: dangerous situations should be&#13;
      recognized quickly with the help of the avalanche problems and danger&#13;
      patterns. In that way, recreationsist may adapt their behavior accordingly&#13;
      and thereby may avoid avalanche accidents.</p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="dp1" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm1.jpg" title="dp.1 deep persistent weak layer" alt="dp.1 deep persistent weak layer"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>st.1 strato debole persistente basale</h2>&#13;
    </div>&#13;
    <p>At the onset of winter, slab avalanches are often observed following the&#13;
      second heavy snowfall, usually at high altitudes (&gt;2000&nbsp;m) and high&#13;
      alpine altitudes (&gt;3000&nbsp;m) on shady, very steep slopes. This is&#13;
      because in autumn after the first big snowfalls, a lengthy period of&#13;
      stable, highpressure weather or at least precipitation-free weather&#13;
      frequently follows. That is when ideal conditions prevail for the partial&#13;
      metamorphism of snow into loose crystals, which then form a deep&#13;
      persistent weak layer for subsequent snowfall to be deposited on. During&#13;
      the course of early winter, this can occur in a wide range of altitudes&#13;
      and aspects. In general, deep persistent weak layers formed in early&#13;
      winter are triggered by skiers and freeriders at the beginning of the&#13;
      season, but it is also possible later on in winters with little snowfall.&#13;
      This occurs especially in spring when deep persistent weak layers are&#13;
      weakened further by water.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=rdYIWWzOWWY" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp2" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm2.jpg" title="dp.2 gliding snow" alt="dp.2 gliding snow"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>st.2 valanga di slittamento</h2>&#13;
    </div>&#13;
&#13;
    <p>La neve che giace su superfici lisce e ripide solitamente slitta a valle.&#13;
      Questo slittamento fa sì, che si creino delle crepe da slittamento “a&#13;
      bocca di balena”, cioè delle fratture nel manto nevoso ben visibili,&#13;
      profonde anche alcuni metri. Queste crepe da slittamento, contrariamente a&#13;
      una vecchia "dottrina" difficile da sradicare, rappresentano un fattore&#13;
      negativo per quanto riguarda la situazione valanghiva. Infatti, una tale&#13;
      fenditura indica la possibilità di una valanga per scivolamento di neve,&#13;
      anche se non dice niente sul se e quando la massa di neve si distaccherà&#13;
      veramente. Le valanghe per scivolamento di neve sono le valanghe per le&#13;
      quali il momento di distacco risulta più difficile da prevedere, dato che&#13;
      possono distaccarsi anche con condizioni nivologiche generalmente stabili,&#13;
      ad ogni momento del giorno e della notte, sia nelle giornate più fredde&#13;
      che in quelle più calde dell'inverno. Inoltre, gli slittamenti non si&#13;
      distaccano in seguito ad un sovraccarico.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=Pnb-sSwtccc" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp3" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm3.jpg" title="dp.3 rain on snow" alt="dp.3 rain on snow"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>st.3 pioggia</h2>&#13;
    </div>&#13;
&#13;
    <p>La pioggia viene considerata un classico segnale d’allarme nella&#13;
      nivologia. Questo perché da un lato apporta del peso supplementare al&#13;
      manto nevoso e dall’altro comporta una rapida perdita di resistenza&#13;
      all'interno del manto. In sostanza fa sì, che le valanghe risultano&#13;
      inevitabili. La pioggia può cadere in qualsiasi momento dell’inverno. Il&#13;
      grande vantaggio: si tratta della situazione tipo più facilmente&#13;
      identificabile.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=Hegy61JcLsQ" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp4" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm4.jpg" title="dp.4 cold on warm / warm on cold" alt="dp.4 cold on warm / warm on cold"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>st.4 freddo su caldo / caldo su freddo</h2>&#13;
    </div>&#13;
&#13;
    <p>Per troppo tempo nella nivologia si credeva alla teoria che una grande&#13;
      differenza di temperatura durante la nevicata (indipendentemente se da&#13;
      freddo a caldo o viceversa) avesse un impatto favorevole sulla situazione&#13;
      valanghiva. Ma ciò è vero solo a determinate condizioni. Nella maggior&#13;
      parte dei casi, una tale differenza di temperatura ha degli effetti&#13;
      negativi, perché favorisce il metamorfismo costruttivo all’interno del&#13;
      manto nevoso. Di solito si crea così uno strato debole sottile&#13;
      generalmente instabile. Questo avviene spesso anche su pendii esposti a&#13;
      sud. È una faccenda insidiosa, anche perché lo strato debole non esiste&#13;
      ancora immediatamente dopo la nevicata, ma si forma solo nell’arco delle&#13;
      giornate successive.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=OQWqjRIqf3c" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp5" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm5.jpg" title="dp.5 snowfall after long period of cold" alt="dp.5 snowfall after long period of cold"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>st.5 neve dopo un lungo periodo di freddo</h2>&#13;
    </div>&#13;
&#13;
    <p>Among avalanche events, this is a classic: following a lengthy period of&#13;
      cold, it begins to snow. In addition, strong winds prevail which transport&#13;
      the new snow accordingly. Within the shortest imaginable time, a&#13;
      treacherous situation arises for backcountry skiers. This is also the case&#13;
      if, following a lengthy period of cold, “only” strong winds are blowing&#13;
      without snowfall. The problem is that fresh snowdrifts are deposited on&#13;
      wind-protected leeward slopes on top of a loose old snow cover surface&#13;
      which usually contains depth hoar. Wind slab and persistent weak layers&#13;
      are very poorly bonded with each other. The snowpack is just waiting to be&#13;
      triggered by additional loading.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=Eo7BJEVRMqc" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp6" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm6.jpg" title="dp.6 loose snow and wind" alt="dp.6 loose snow and wind"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>st.6 neve fresca fredda a debole coesione e vento</h2>&#13;
    </div>&#13;
&#13;
    <p>“Il vento è il costruttore delle valanghe”. Questo classico detto di&#13;
      Wilhelm Paulcke degli anni trenta del secolo scorso è tuttora valido. Il&#13;
      vento influenza la neve, che quando è già depositata al suolo e&#13;
      rappresenta uno dei fattori più importanti per la formazione di valanghe.&#13;
      La neve asciutta a debole coesione è quasi sempre oggetto di trasporto&#13;
      eolico con conseguente aumento del pericolo valanghe! Quanto più fredda è&#13;
      la neve trasportata dal vento, tanto più facilmente reagisce al&#13;
      sovraccarico, in quanto il freddo aumenta la sua fragilità. Con questo st&#13;
      tipicamente lo strato debole è composto da neve a debole coesione che&#13;
      viene coperto dalla neve ventata.Quindi o ha nevicato poco prima con&#13;
      temperature basse e senza vento, che poi ha iniziato a soffiare in un&#13;
      secondo momento, oppure inizia a nevicare senza vento, che poi però ha&#13;
      cominciato a soffiare ancora durante la nevicata. Si tratta di una&#13;
      situazione tipo, di solito, ben riconoscibile e solo di breve durata.&#13;
      Eccezione fanno le (rare) situazioni, dove la superficie della neve&#13;
      vecchia, composta da cristalli di debole coesione soggetti a metamorfismo&#13;
      costruttivo, viene trasportata dal vento. In tal caso si formano dei&#13;
      lastroni duri e fragili, che possono essere distaccati facilmente per un&#13;
      lungo periodo.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=CXnfPRZIIao" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp7" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm7.jpg" title="dp.7 shallow snow next to deep snow" alt="dp.7 shallow snow next to deep snow"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>st.7 passaggio da poca a molta neve</h2>&#13;
    </div>&#13;
&#13;
    <p>Le zone con poca neve sono solitamente caratterizzate da una struttura del&#13;
      manto nevoso meno favorevole rispetto alle zone con tanta neve. Questo è&#13;
      dovuto a un aumento dei processi di metamorfismo all’interno del manto&#13;
      nevoso. Inoltre, valanghe a lastroni possono essere distaccate più&#13;
      facilmente in zone con poca neve, perché gli strati deboli non sono&#13;
      sepolti molto in profondità e sono quindi più suscettibili a un&#13;
      sovraccarico. Si osservano perciò spesso distacchi di valanghe in zone di&#13;
      passaggio da poca a molta neve. Ciò capita spesso in corrispondenza di&#13;
      bruschi cambi di pendenza e sui dorsali.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=FIZpZvthr84" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp8" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm8.jpg" title="dp.8 buried surface hoar" alt="dp.8 buried surface hoar"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>st.8 brina di superficie sepolta</h2>&#13;
    </div>&#13;
&#13;
    <p>La brina di superficie è uno dei tipi di neve più belli e non possiede di&#13;
      per sé nessun potenziale di rischio: solo quando viene sepolta da nuovi&#13;
      strati di neve consolidata diventa pericolosa e viene considerata&#13;
      giustamente uno degli strati deboli più critici nella nivo-meteorologia.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=AYEEA14IVOk" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp9" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm9.jpg" title="dp.9 buried graupel" alt="dp.9 buried graupel"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>st.9 neve pallottolare coperta da neve fresca</h2>&#13;
    </div>&#13;
&#13;
    <p>Nei corsi che teniamo sulle valanghe, gli strati deboli all’interno del&#13;
      manto nevoso vengono spesso paragonati a cuscinetti a sfera. Questa&#13;
      immagine è veramente adeguata solo per la neve pallottolare: si tratta di&#13;
      una forma sferica di precipitazione che si deposita preferibilmente in&#13;
      primavera durante dei rovesci temporaleschi. E’ facile immaginarsi che la&#13;
      neve trasportata dal vento che la copre è solitamente mal legata con&#13;
      questo strato debole, con conseguente aumento del rischio valanghe. La&#13;
      neve pallottolare è spesso distribuita solo su piccola scala e anche per&#13;
      gli esperti è spesso difficile riconoscerla senza analizzare il manto&#13;
      nevoso. Si tratta di una situazione generalmente insidiosa, ma&#13;
      fortunatamente di breve durata.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=X3vNbaO4lCA" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp10" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm10.jpg" title="dp.10 springtime situation" alt="dp.10 springtime situation"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>st.10 situazione primaverile</h2>&#13;
    </div>&#13;
&#13;
    <p>La primavera rappresenta una sfida particolare per lo sportivo, ma anche&#13;
      per il previsore valanghe e i membri delle commissioni valanghe. Raramente&#13;
      il “sicuro” e il “pericoloso” sono così vicini nel tempo, e raramente la&#13;
      gamma dei gradi di pericolo per una giornata è talmente ampia. Da un lato,&#13;
      con condizioni stabili di firn, il pericolo valanghe è veramente facile da&#13;
      valutare, ma dall’altro lato, in primavera si assiste a valanghe di&#13;
      dimensioni che spesso non vengono raggiunte nell'arco di tutto l'inverno.&#13;
      <br>Oltre alla struttura del manto nevoso, il ruolo decisivo nella&#13;
      determinazione del pericolo valanghe spetta all’interazione spesso&#13;
      complessa di temperatura e umidità dell’aria, l’irraggiamento e il vento.&#13;
      Per chi vuol praticare gli sport invernali, vale alzarsi presto e essere&#13;
      flessibile nella programmazione delle escursioni.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=MqELgeDEFxY" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
</section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Educazione &amp; Prevenzione</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Scala del Pericolo</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-problems" title="Avalanche Problems">Problemi Tipici Valanghivi</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/matrix" title="EAWS Matrix">Matrice EAWS</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-sizes" title="Avalanche Sizes">Dimensioni delle valanghe</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/handbook" title="Handbook">Manuale</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
