<div>
<h1>Patrons de perilh</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#dp1" title="deep persistent weak layer" class="secondary pure-button" data-scroll>cocha fèbla persistenta prigonda</a></li>&#13;
      <li><a href="#dp2" title="gliding snow" class="secondary pure-button" data-scroll="">esguitlament basau de nhèu</a></li>&#13;
      <li><a href="#dp3" title="rain on snow" class="secondary pure-button" data-scroll="">ploja dessús de nhèu</a></li>&#13;
      <li><a href="#dp4" title="cold on warm / warm on cold" class="secondary pure-button" data-scroll="">heired dessús de caud / caud dessús de heired</a></li>&#13;
      <li><a href="#dp5" title="snowfall after long period of cold" class="secondary pure-button" data-scroll="">nheuada dempús de long periòde de heired</a></li>&#13;
      <li><a href="#dp6" title="loose snow and wind" class="secondary pure-button" data-scroll="">nhèu sense coesion e vent</a></li>&#13;
      <li><a href="#dp7" title="shallow snow next to deep snow" class="secondary pure-button" data-scroll="">nhèu pòc prigonda ath costat de nhèu prigonda</a></li>&#13;
      <li><a href="#dp8" title="buried surface hoar" class="secondary pure-button" data-scroll="">geladiua de superfícia enterrada</a></li>&#13;
      <li><a href="#dp9" title="buried graupel" class="secondary pure-button" data-scroll="">nhèu granulada enterrada</a></li>&#13;
      <li><a href="#dp10" title="springtime situation" class="secondary pure-button" data-scroll="">scenari de primauera</a></li>&#13;
    </ul></header></section><section class="section-centered"><div class="panel">&#13;
    <p>Typical avalanche problems and danger patterns have one thing in common:&#13;
      they point to typical, repetitive and usually obvious danger&#13;
      situations.<br>The difference lies in the level of observation. While&#13;
      avalanche problems give an initial rough overview of possible sources of&#13;
      danger (e.g. new snow), danger patterns immerse deeper into the processes&#13;
      within the snowpack and focus on the causes of the problem (e.g. problem&#13;
      due to excessive new snow load on a weak layer). Danger patterns thus&#13;
      describe different scenarios or processes that lead to the respective&#13;
      avalanche problem.<br>The goal is clear: dangerous situations should be&#13;
      recognized quickly with the help of the avalanche problems and danger&#13;
      patterns. In that way, recreationsist may adapt their behavior accordingly&#13;
      and thereby may avoid avalanche accidents.</p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="dp1" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm1.jpg" title="dp.1 deep persistent weak layer" alt="dp.1 deep persistent weak layer"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.1  capa fèbla persistenta e prigonda</h2>&#13;
    </div>&#13;
    <p>At the onset of winter, slab avalanches are often observed following the&#13;
      second heavy snowfall, usually at high altitudes (&gt;2000&nbsp;m) and high&#13;
      alpine altitudes (&gt;3000&nbsp;m) on shady, very steep slopes. This is&#13;
      because in autumn after the first big snowfalls, a lengthy period of&#13;
      stable, highpressure weather or at least precipitation-free weather&#13;
      frequently follows. That is when ideal conditions prevail for the partial&#13;
      metamorphism of snow into loose crystals, which then form a deep&#13;
      persistent weak layer for subsequent snowfall to be deposited on. During&#13;
      the course of early winter, this can occur in a wide range of altitudes&#13;
      and aspects. In general, deep persistent weak layers formed in early&#13;
      winter are triggered by skiers and freeriders at the beginning of the&#13;
      season, but it is also possible later on in winters with little snowfall.&#13;
      This occurs especially in spring when deep persistent weak layers are&#13;
      weakened further by water.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=rdYIWWzOWWY" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp2" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm2.jpg" title="dp.2 gliding snow" alt="dp.2 gliding snow"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.2 esguitlaments basaus</h2>&#13;
    </div>&#13;
&#13;
    <p>Era nhèu esguitle damb mès facilitat cap ara val dessús superfícies arribentes e llises.
Mentre aguest procès s'amie a tèrme, se formen henedures - facilaments visibles,
a viatges de diuèrsi mètres de prigondor ara superfícia deth celh de nhèu-.
Se considère qu'aguestes henedures non son es signes favorables qu'es
ancianes coneishences populares que se prepausèren (aguestes tradicions son malaisides de superar) mès, per contra, a viatges son uns indicadors fòrça desfavorables de potenciaus
lauegi imminenti. Ua henedura d'esguitlament indique era possibilitat d'un laueg d'esguitlament basau sense dar cap indicacion de quan en realitat se pòt produsirà. Per çò qu'ei deth sòn orari,
entre es lauegi mès malaisidi de toti, es lauegi d'esguitlament de nhèu son es mès difícils de predíder, donques que pòden desencadenar-se literalaments a quina ora que sigue deth dia o dera net, encara qu'era situacion de nhèu ei ath mès estable. Açò includís
eth dia mès heired e eth dia mès caud der iuèrn. Ath delà, es lauegi d'esguitlament basau non se desencadenen per ua carga addicionau.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=Pnb-sSwtccc" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp3" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm3.jpg" title="dp.3 rain on snow" alt="dp.3 rain on snow"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.3 ploja ath dessús de nhèu</h2>&#13;
    </div>&#13;
&#13;
    <p>Ploja dessús nhèu se considère era senhau d’alarme classic de nhèu e lauegi pr'amor que, d’ua banda, eth sòn pes addicionau cargue eth conjunt deth celh de nhèu; e der auta, pr'amor qu'era fermetat deth celh de nhèu ei
immediataments perduda. Per aguestes arrasons, es lauegi son predestinadi. Era ploja se pòt
produsir en quinsevolh moment der iuèrn. Era gran avantatge ei que non i a senhau de perilh
mès simple d'arreconéisher.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=Hegy61JcLsQ" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp4" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm4.jpg" title="dp.4 cold on warm / warm on cold" alt="dp.4 cold on warm / warm on cold"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.4 heired dempús de caud / caud dempús de heired</h2>&#13;
    </div>&#13;
&#13;
    <p>Ua teoria qu'afirme que fòrça granes disparitats de temperatura pendent es nheuades
(independentaments de s'ei heired o caud de heired) hèn efèctes positius dessús dera situacion de lauegi se mantenguec pendent massa temps ena sciéncia des lauegi. De hèt, aguest ei eth cas solament en condicions anteriors fòrça especifiques. Ena sua majoria, aguestes diferéncies de temperatura an un efècte negatiu, donques que refortilhen eth metamorfisme dera nhèu laguens deth celh de nhèu. Per nòrma generau, se forme ua cocha prima e fèbla qu'ei fòrça propensa ath desencadenament. Aguesta cocha se tròbe soent as versants orientadi ath sud. Ei extrèmaments traïdora pera arrason addicionau qu'era cocha fèbla encara non existís immediataments dempús qu'era naua nhèu sigue depausada, solament se forme ath cors des dies següents.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=OQWqjRIqf3c" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp5" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm5.jpg" title="dp.5 snowfall after long period of cold" alt="dp.5 snowfall after long period of cold"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.5 nheuades dempús d’un long periòde de heired</h2>&#13;
    </div>&#13;
&#13;
    <p>Among avalanche events, this is a classic: following a lengthy period of&#13;
      cold, it begins to snow. In addition, strong winds prevail which transport&#13;
      the new snow accordingly. Within the shortest imaginable time, a&#13;
      treacherous situation arises for backcountry skiers. This is also the case&#13;
      if, following a lengthy period of cold, “only” strong winds are blowing&#13;
      without snowfall. The problem is that fresh snowdrifts are deposited on&#13;
      wind-protected leeward slopes on top of a loose old snow cover surface&#13;
      which usually contains depth hoar. Wind slab and persistent weak layers&#13;
      are very poorly bonded with each other. The snowpack is just waiting to be&#13;
      triggered by additional loading.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=Eo7BJEVRMqc" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp6" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm6.jpg" title="dp.6 loose snow and wind" alt="dp.6 loose snow and wind"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.6 nhèu heireda, sense coesion e vent</h2>&#13;
    </div>&#13;
&#13;
    <p>"Eth vent ei er arquitècte des lauegi." Aguest refranh classic des ans 1930
de Wilhelm Paulcke contunhe d'èster inalterat encara aué. Eth vent influís tant era nhèu
que què coma era nhèu ja depausada. Ei un important factor ena formacion de lauegi. Quan era nhèu ei solta e shuta, eth vent la transpòrte, en tot aumentar atau eth perilh de lauegi. Com mès heireda ei era nhèu transportada, mès sensibla reaccione ara carga addicionau,
pr'amor qu'ei tan trencadissa. Ei caracteristica d’aguest patron de perilh qu'era
cocha fèbla ei soent formada per nhèu naua qu'ei enterrada per nhèu ventada.
D’aguesta manèra, i a d’auer nheuades a temperatures baishes sense er efècte deth vent
just abantes o en un periòde anterior quan comence eth vent;
o ben, era nheuada s'establic sense influéncia deth vent, mès sorgiren es vents pendent 
era nheuada. Aguest ei un patron que normauments se pòt arreconéisher
damb facilitat e solament dure pòc temps. Era excepcion ei ua situacion damb ua superfícia anciana de nhèu formada per cristalhs sense coesion e facetats que son
transportadi per vent. Quan açò succedís, se formen plaques dures e trencadisses
que son propenses a estèr desencadenades pendent un long periòde.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=CXnfPRZIIao" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp7" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm7.jpg" title="dp.7 shallow snow next to deep snow" alt="dp.7 shallow snow next to deep snow"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.7 nhèu superficiau ath costat de nhèu prigonda</h2>&#13;
    </div>&#13;
&#13;
    <p>Es zònes a on era nhèu ei pòc prigonda sòlen auer un celh de nhèu mens favorable
qu'aquiu a on era nhèu ei prigonda. Açò ei pr'amor qu'es procèssi de transformacion s'amplifiquen en un celh de nhèu pòc prigond.
Ath delà, es lauegi de placa son mès facils de desencadenar a on se tròbe era nhèu
superficiau pr'amor qu'es coches fèbles non son tan prigondaments incrustades en celh de nhèu, donques, son mès propenses a èster desencadenades mejançant ua carga addicionau. Per açò que soent s’obsèrven desencadenaments de lauegi en zònes de transicion de nhèu pòc prigonda enquia nhèu prigonda. Açò se produsís soent apròp des aurères deth terren, e repetidaments en amples dorses.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=FIZpZvthr84" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp8" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm8.jpg" title="dp.8 buried surface hoar" alt="dp.8 buried surface hoar"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.8 gibra de superfícia enterrada</h2>&#13;
    </div>&#13;
&#13;
    <p>Era geladiua de superfícia ei entre es mès polidi tipes de nhèu existenta.
En se madeish, non presente cap potenciau de perilh. Aguest potenciau se desplegue
solament quan ei enterrat per coches de nhèu fresca e junhuda. Alavetz se convertís
perilhós. De hèt, se considère ua des coches fèbles mès critiques en totes es sciéncies de nhèu e lauegi.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=AYEEA14IVOk" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp9" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm9.jpg" title="dp.9 buried graupel" alt="dp.9 buried graupel"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.9 graupel enterrat</h2>&#13;
    </div>&#13;
&#13;
    <p>Soent se compare ua cocha fèbla laguens d’un celh de nhèu damb es coixinets de bòles. Aguesta imatge solament ei adaptada entà era nhèu granulada: ua forma esfèrica e granular de precipitacion que se depause soent pendent es doches des tempèstes de tronades ena primauera. Ei facil de compréner qu'era nhèu ventada acumulada ara part superiora d’ua cocha de nhèu granulada solament se pòt júnher mau damb eth, çò qu'aumente eth perilh de lauegi. Era nhèu granulada ei freqüentment estenuda dessús superfícies fòrça petites. Sense examinar eth celh de nhèu, ei malaisit de detectar, tanben entàs professionaus. Açò ei un fenomèn extrèmaments traïdor. Erosaments, es problèmes que cree son de vida cuerta.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=X3vNbaO4lCA" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
&#13;
  <div id="dp10" class="panel field border">&#13;
    <div class="panel-image"><img src="/content_files/gm10.jpg" title="dp.10 springtime situation" alt="dp.10 springtime situation"></div>&#13;
&#13;
    <div class="panel-header">&#13;
      <h2>pp.10 situación de primauera</h2>&#13;
    </div>&#13;
&#13;
    <p>Era primauera presente un rèpte mès que mès delicat entàs esquiaires e surfistes de nhèu, atau coma as membres des comissions de lauegi.
Raraments es estadis de "segur" e "insegur" son tan apròp cadun der
aute. Donques, er intervau des nivèus de perilh, que se produsissen ath long de un
solet dia ei ampla. D'ua banda, eth perilh de lauegi non ei jamès
mès facil d’avalorar que damb condicions estables de nhèu transformada; ar auta,
pòqui còps s’i enregistren lauegi de tanta magnitud coma era primauera
son raraments registradi en iuèrn prigond. A part deth celh de nhèu, era complèxa interaccion dera temperatura der aire, era umiditat der aire, era radiacion solara e eth vent an un papèr principau. Entas esquiaires e surfistes de nhèu, ua nauta disciplina enes oraris e
flexibilitat dera planificacion de rotes ei mès essenciau que jamès.</p>&#13;
    <p><a href="https://www.youtube.com/watch?v=MqELgeDEFxY" target="_blank" rel="noopener noreferrer">Watch the video on YouTube</a></p>&#13;
  </div>&#13;
</section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Educacion; Prevencion</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Escala de perilh</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-problems" title="Avalanche Problems">Problèmes de lauegi</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/matrix" title="EAWS Matrix">Mairitz EAWS</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-sizes" title="Avalanche Sizes">Mides de lauegi</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/handbook" title="Handbook">Manuau</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
