<div>
  <h1>Modely lavínového nebezpečenstva</h1>

  <section class="section-padding">
    <header class="section-centered">
      <ul class="list-inline list-buttongroup-dense">
        <li>
          <a
            href="#dp1"
            title="deep persistent weak layer"
            class="secondary pure-button pure-buton-wrap"
            data-scroll
            >Trvalá slabá vrstva blízko pri zemi</a
          >
        </li>
        <li>
          <a
            href="#dp2"
            title="gliding snow"
            class="secondary pure-button pure-buton-wrap"
            data-scroll
            >Kĺzavý sneh</a
          >
        </li>
        <li>
          <a
            href="#dp3"
            title="rain on snow"
            class="secondary pure-button pure-buton-wrap"
            data-scroll
            >Dážď</a
          >
        </li>
        <li>
          <a
            href="#dp4"
            title="cold on warm / warm on cold"
            class="secondary pure-button pure-buton-wrap"
            data-scroll
            >Ochladenie po oteplení/Oteplenie po mraze</a
          >
        </li>
        <li>
          <a
            href="#dp5"
            title="snowfall after long period of cold"
            class="secondary pure-button pure-buton-wrap"
            data-scroll
            >Sneženie po dlhodobom ochladení</a
          >
        </li>
        <li>
          <a
            href="#dp6"
            title="loose snow and wind"
            class="secondary pure-button pure-buton-wrap"
            data-scroll
            >Nesúdžný sneh a vietor</a
          >
        </li>
        <li>
          <a
            href="#dp7"
            title="shallow snow next to deep snow"
            class="secondary pure-button pure-buton-wrap"
            data-scroll
            >Dobre vysnežené miesta vedľa málo vysnežených</a
          >
        </li>
        <li>
          <a
            href="#dp8"
            title="buried surface hoar"
            class="secondary pure-button pure-buton-wrap"
            data-scroll
            >Zasnežená povrchová inoväť</a
          >
        </li>
        <li>
          <a
            href="#dp9"
            title="buried graupel"
            class="secondary pure-button pure-buton-wrap"
            data-scroll
            >Zasnežené krúpky</a
          >
        </li>
        <li>
          <a
            href="#dp10"
            title="springtime situation"
            class="secondary pure-button pure-buton-wrap"
            data-scroll
            >Jarná situácia</a
          >
        </li>
      </ul>
    </header>
  </section>
  <section class="section-centered">
    <div class="panel">
      <p>
        Typické lavínové problémy a modely lavínového nebezpečenstva majú
        spoločný cieľ : Poukazujú na typické opakujúce sa a zjavne nebezpečné
        situácie. <br />Rozdiel spočíva v úrovni pozorovania. Zatiaľ čo lavínové
        problémy poskytujú prvotný pohľad na možné zdroje nebezpečenstva (napr.
        nový sneh), modely lavínového nebezpečenstva sa viac zameriavajú na
        procesy prebiehajúce v snehovej pokrývke a sústreďujú sa na príčinu
        problému (napr. zasnežená povrchová inovať). Modely lavínového
        nebezpečenstva teda popisujú rôzne scenáre a procesy, ktoré vedú k
        príslušným lavínovým problémom. Cieľom stanovenia typických lavínových
        problémov a modelv lavínového nebezpečenstva je čo najrýchlejšie a
        najlepšie rozpoznanie nebezpečných situácií. Vďaka týmto informáciám
        môže skialpinista/turista prispôsobiť svoj pohyb v horskom teréne a
        vyhnúť sa lavínovým nehodám.
      </p>
    </div>
  </section>
  <section class="section-centered">
    <div id="dp1" class="panel field border">
      <div class="panel-image">
        <img
          src="/content_files/gm1.jpg"
          title="dp.1 deep persistent weak layer"
          alt="dp.1 deep persistent weak layer"
        />
      </div>

      <div class="panel-header">
        <h2>vz.1 trvalo slabá vrstva blízko pri zemi</h2>
      </div>
      <p>
        Na začiatku zimy, zvyčajne po druhom snežení, často pozorujeme zvýšenú
        lavínou aktivitu. Obzvlášť na svahoch nad 2000 m n.m. na tienistých,
        alebo veľmi strmých svahoch. Táto situácia zvyčajne nastáva ak sa po
        prvom snežení vytvorí okno stabilného počasia s vysokým tlakom, alebo
        aspoň počasie bez zrážok. Takto sa vytvoria ideálne podmienky pre
        konštruktívnu premenu snehu (tvorí sa dutinová inovať, hranatozrnný
        sneh). Následné sneženie prekryje vytvorenú kritickú vrstvu snehu, ktorá
        sa nachádza hlboko pri zemi a vie tu pretrvať celú zimu. Vo všeobecnosti
        sa trvalo slabé vrstvy tvoria na začiatku zimy, mimoriadne však podobná
        situácia môže nastať aj neskôr na jar, keď sú tieto vrstvy oslabené
        vplyvom vody z topiaceho sa snehu.
      </p>
      <p>
        <a
          href="https://www.youtube.com/watch?v=rdYIWWzOWWY"
          target="_blank"
          rel="noopener noreferrer"
          >Watch the video on YouTube</a
        >
      </p>
    </div>

    <div id="dp2" class="panel field border">
      <div class="panel-image">
        <img
          src="/content_files/gm2.jpg"
          title="dp.2 gliding snow"
          alt="dp.2 gliding snow"
        />
      </div>

      <div class="panel-header">
        <h2>vz.2 kĺzavý sneh</h2>
      </div>

      <p>
        Sneh skĺzava do údolí najmä po hladkom strmom povrchu. Príznakom tejto
        situácie je, že sa v snehovej pokrývke vytvárajú takzvané "rybie ústa" -
        dobre viditeľné trhliny v snehovej pokrývke, ktorých hĺbka môže
        dosahovať až niekoľko metrov. Napriek tomu, že minulosti boli tieto
        trhliny mylne považované za stabilizujúce znaky z hľadiska lavínovej
        bezpečnosti, je to naopak znamenie, že môže dôjsť k uvoľneniu lavíny.
        Trhlina teda naznačuje, že môže spadnúť kĺzavá lavína, ale nevieme
        stanoviť kedy. Predpovedať čas kedy padne kĺzavá lavína je v porovnaní s
        ostatnými lavínami najnáročnejšie, pretože ich uvoľnenie je možné aj za
        všeobecne stabilných podmienok, v ktorúkoľvek hodinu dňa nezávisle od
        teploty. Navyše kĺzavé lavíny neuvoľňuje dodatočné zaťaženie.
      </p>
      <p>
        <a
          href="https://www.youtube.com/watch?v=Pnb-sSwtccc"
          target="_blank"
          rel="noopener noreferrer"
          >Pozrite si video na YouTube</a
        >
      </p>
    </div>

    <div id="dp3" class="panel field border">
      <div class="panel-image">
        <img
          src="/content_files/gm3.jpg"
          title="dp.3 rain on snow"
          alt="dp.3 rain on snow"
        />
      </div>

      <div class="panel-header">
        <h2>vz.3 dážď</h2>
      </div>

      <p>
        Náuka o snehu a lavínach považuje dážď za klasický varovný signál,
        pretože zvyšuje hmotnosť snehovej pokrývky a zároveň spôsobuje náhlu
        stratu jej pevnosti. Logický dôsledkom je pád lavín. Dážď sa môže
        objaviť kedykoľvek v priebehu zimy. Jeho výhodou je, že zo všetkých
        problémov sa najjednoduchšie rozpoznáva.
      </p>
      <p>
        <a
          href="https://www.youtube.com/watch?v=Hegy61JcLsQ"
          target="_blank"
          rel="noopener noreferrer"
          >Pozrite si video na YouTube</a
        >
      </p>
    </div>

    <div id="dp4" class="panel field border">
      <div class="panel-image">
        <img
          src="/content_files/gm4.jpg"
          title="dp.4 cold on warm / warm on cold"
          alt="dp.4 cold on warm / warm on cold"
        />
      </div>

      <div class="panel-header">
        <h2>vz.4 ochladenie po teple / oteplenie po mraze</h2>
      </div>

      <p>
        Teória, podľa ktorej mali veľké teplotné rozdiely počas sneženia ( bez
        ohľadu či sa výrazne ochladí, alebo oteplí) pozitívny vplyv na stabilitu
        snehovej pokrývky, bola v lavínovej problematike platná veľmi dlho. V
        skutočnosti to však platí len za určitých veľmi špecifických
        predchádzajúcich podmienok. Väčšinou majú veľké teplotné rozdiely
        negatívny vplyv na stabilitu, pretože podporujú vznik kritických vrstiev
        vo vnútri snehovej pokrývky. Zvyčajne sa vytvorí, tenká slabá vrstva,
        ktorá je náchylná na uvoľnenie. Takúto vrstvu môžeme zvyčajne nájsť na
        južných orientáciách a je veľmi zradná, pretože sa nevytvorí
        bezprostredne po sneží, ale až v nasledujúcich dňoch.
      </p>
      <p>
        <a
          href="https://www.youtube.com/watch?v=OQWqjRIqf3c"
          target="_blank"
          rel="noopener noreferrer"
          >Pozrite si video na YouTube</a
        >
      </p>
    </div>

    <div id="dp5" class="panel field border">
      <div class="panel-image">
        <img
          src="/content_files/gm5.jpg"
          title="dp.5 snowfall after long period of cold"
          alt="dp.5 snowfall after long period of cold"
        />
      </div>

      <div class="panel-header">
        <h2>vz.5 Sneženie po dlhodobom ochladení</h2>
      </div>

      <p>
        Medzi lavínovými udalosťami je to klasický scenár: po dlhšom období
        chladu začne snežiť. Okrem toho prevláda silný vietor, ktorý nový sneh
        presúva a ukladá. V krátkom čase vzniká pre lyžiarov v teréne zradná
        situácia. Táto situácia nastáva aj za podmienok bez sneženia, teda
        vtedy, ak po dlhšom období zimy "len" fúka silný vietor. Na záveterných
        svahoch chránených pred vetrom sa na voľnom povrchu starej snehovej
        pokrývky, ktorá zvyčajne obsahuje dutinovú inoväť, ukladajú snehové
        záveje z nového snehu. Veterná doska a pretrvávajúce slabé vrstvy sú
        navzájom veľmi slabo spojené. Snehová pokrývka len čaká na uvoľnenie
        vplyvom dodatočného zaťaženia.
      </p>
      <p>
        <a
          href="https://www.youtube.com/watch?v=Eo7BJEVRMqc"
          target="_blank"
          rel="noopener noreferrer"
          >Pozrite si video na YouTube</a
        >
      </p>
    </div>

    <div id="dp6" class="panel field border">
      <div class="panel-image">
        <img
          src="/content_files/gm6.jpg"
          title="dp.6 loose snow and wind"
          alt="dp.6 loose snow and wind"
        />
      </div>

      <div class="panel-header">
        <h2>vz.6 voľný sneh a vietor</h2>
      </div>

      <p>
        Vietor je architektom lavín. Toto klasické príslovie z roku 1930 od
        Wilhelm Paulcke platí bez zmien aj dnes. Vietor ovplyvňuje nie len voľne
        padajúci sneh, ale aj starý uložený sneh z predchádzajúcich dní. Vďaka
        tomu je vietor hlavný problém pri tvorbe lavín. Keď je voľný, nesúdržný
        a suchý sneh prenášaný vetrom, znamená to nárast lavínového
        nebezpečenstva. Čím je transportovaný sneh chladnejší, tým citlivejšie
        reaguje na dodatočné zaťaženie, pretože sa zvyšuje jeho krehkosť. Pre
        tento model lavínového nebezpečenstva je typické, že slabú vrstvu
        obvykle tvorí nesúdržný nový sneh, na ktorom je nafúkaná vetrom ubitá
        doska. Musí teda platiť podmienka, že pred tým ako vietor vytvoril
        vetrom ubité dosky a snehové vankúše muselo snežiť bez vplyvu vetra a
        pri nízkych teplotách, prípadne počas sneženia vietor nabral na sile.
        Takýto model sa zvyčajné dá ľahko rozpoznať a trvá len krátko. Výnimkou
        je keď sa v starej snehovej pokrývke nachádzajú nebezpečné vrstvy
        (hranato zrnný sneh), ktoré sú prenášané vetrom. V takom prípade sa
        vytvoria tvrdé, krehké dosky, ktoré zostávajú náchylné na uvoľnenie
        počas dlhého obdobia.
      </p>
      <p>
        <a
          href="https://www.youtube.com/watch?v=CXnfPRZIIao"
          target="_blank"
          rel="noopener noreferrer"
          >Pozrite si video na YouTube</a
        >
      </p>
    </div>

    <div id="dp7" class="panel field border">
      <div class="panel-image">
        <img
          src="/content_files/gm7.jpg"
          title="dp.7 shallow snow next to deep snow"
          alt="dp.7 shallow snow next to deep snow"
        />
      </div>

      <div class="panel-header">
        <h2>dp.7 Dobre vysnežené miesta vedľa málo vysnežených</h2>
      </div>

      <p>
        Na územiach, kde leží málo snehu, býva štruktúra snehovej pokrývky
        obvykle horšia ako v miestach kde je snehu veľa. Dôvodom je
        intenzívnejšia metamorfóza, ktorá prebieha vo vnútri plytkej snehovej
        pokrývky. V miestach, kde je málo snehu, je taktiež ľahšie uvoľniť
        doskovú lavínu, pretože slabé vrstvy sa nenachádzajú príliš hlboko a je
        ich možné ľahšie narušiť dodatočným zaťažením. Z tohto dôvodu sa lavíny
        často uvoľňujú na prechodoch medzi plytkým a hlbokým snehom, t.j. často
        v blízkosti terénnych hrán alebo na širokých hrebeňoch.
      </p>
      <p>
        <a
          href="https://www.youtube.com/watch?v=FIZpZvthr84"
          target="_blank"
          rel="noopener noreferrer"
          >Pozrite si video na YouTube</a
        >
      </p>
    </div>

    <div id="dp8" class="panel field border">
      <div class="panel-image">
        <img
          src="/content_files/gm8.jpg"
          title="dp.8 buried surface hoar"
          alt="dp.8 buried surface hoar"
        />
      </div>

      <div class="panel-header">
        <h2>vz.8 zasnežená povrchová inovať</h2>
      </div>

      <p>
        Povrchová inoväť je jeden z najkrajších druhov snehu. Sám o sebe
        nepredstavuje žiadne nebezpečenstvo. Nebezpečná sa však stáva vtedy, keď
        ju pokryjú nové čerstvé, súdržné vrstvy snehu. Potom sa považuje za
        jednu z najkritickejších slabých vrstiev, ktorú náuka o snehu a lavínach
        pozná.
      </p>
      <p>
        <a
          href="https://www.youtube.com/watch?v=AYEEA14IVOk"
          target="_blank"
          rel="noopener noreferrer"
          >Pozrite si video na YouTube</a
        >
      </p>
    </div>

    <div id="dp9" class="panel field border">
      <div class="panel-image">
        <img
          src="/content_files/gm9.jpg"
          title="dp.9 buried graupel"
          alt="dp.9 buried graupel"
        />
      </div>

      <div class="panel-header">
        <h2>vz.9 zasnežené krúpky</h2>
      </div>

      <p>
        Slabá vrstva vo vnútri snehovej pokrývky sa často prirovnáva ku
        guľôčkovým ložiskám. Tento obraz je však v skutočnosti vhodný len pre
        krúpky: guľaté amorfné tvary zŕn, ktoré sa často vytvárajú počas dažďov,
        alebo počas búrok na jar. Nie je ťažké si predstaviť, že naviaty sneh,
        ktorý sa nahromadí na vrstve krúpok, sa s touto slabou vrstvou príliš
        nespojí, preto má podstatný vplyv na nebezpečenstvo pádu lavín. Krúpky
        často napadajú na veľmi malom území a bez preskúmania samotnej snehovej
        pokrývky je aj pre odborníkov ťažké tento problém odhaliť. Ide o
        mimoriadne zradný jav, ktorý našťastie nespôsobuje dlhodobý problém.
      </p>
      <p>
        <a
          href="https://www.youtube.com/watch?v=X3vNbaO4lCA"
          target="_blank"
          rel="noopener noreferrer"
          >Pozrite si video na YouTube</a
        >
      </p>
    </div>

    <div id="dp10" class="panel field border">
      <div class="panel-image">
        <img
          src="/content_files/gm10.jpg"
          title="dp.10 springtime situation"
          alt="dp.10 springtime situation"
        />
      </div>

      <div class="panel-header">
        <h2>vz.10 Jarná situácia</h2>
      </div>

      <p>
        Jar predstavuje pre milovníkov zimných športov, ako aj pre lavínových
        prognostikov špeciálnu výzvu. Málokedy bývajú "bezpečné" a "nebezpečné"
        situácie tak málo vzdialené. Rozpätie stupňov nebezpečenstva, ktoré sa
        vyskytujú v priebehu jedného dňa, je teda veľmi veľké. Na jednej strane
        sa lavínové nebezpečenstvo nikdy nevyhodnocuje ľahšie ako v stabilných
        podmienkach firnového snehu, na druhej strane, takmer nikdy v priebehu
        zimy nepadajú také veľké lavíny ako za kritickej jarnej situácie.
        Najdôležitejšiu rolu má na jar okrem štruktúry snehovej pokrývky
        komplexná súhra teploty, vlhkosti vzduchu. slnečného žiarenia a vetra.
        Flexibilita pri plánovaní trasy a zároveň disciplína pri dodržiavaní
        časového plánu je na jarných túrach najdôležitejší faktor redukovania
        rizika.
      </p>
      <p>
        <a
          href="https://www.youtube.com/watch?v=MqELgeDEFxY"
          target="_blank"
          rel="noopener noreferrer"
          >Pozrite si video na YouTube</a
        >
      </p>
    </div>
  </section>
  <section classname="section-centered section-context">
    <div classname="panel">
      <h2 classname="subheader">Vzdelávanie &amp; Prevencia</h2>

      <ul classname="list-inline list-buttongroup-dense">
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/danger-scale"
            title="Stupnica lavínového nebezpečenstva"
            >Stupnica lavínového nebezpečenstva</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/avalanche-problems"
            title="Typické lavínové problémy"
            >Typické lavínové problémy</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/workflow"
            title="Pracovný postup"
            >Pracovný postup</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/matrix"
            title="EAWS Matica"
            >EAWS Matica</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/snowpack-stability"
            title="Stabilita snehovej pokrývky"
            >Stabilita snehovej pokrývky</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/frequency"
            title="Množstvo nebezpečných miest"
            >Množstvo nebezpečných miest</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/avalanche-sizes"
            title="Veľkost lavín"
            >Veľkost lavín</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/spatio-temporal-scale"
            title="Stanovenie priestorovej a časovej mierky"
            >Stanovenie priestorovej a časovej mierky</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/handbook"
            title="Príručka"
            >Príručka</a
          >
        </li>
      </ul>
    </div>
  </section>
</div>
