<div>
  <h1>Stupnica lavínového nebezpečenstva</h1>

  <section class="section-centered">
    <div class="panel">
      <p>
        Lavínové nebezpečenstvo je charakterizované päťdielnou medzinárodne
        uznávanou stupnicou. Na Slovensku je stupeň lavínového nebezpečenstva
        vydávaný Strediskom lavínovej prevencie HZS na stránke laviny.sk. Stupne
        lavínového nebezpečenstva sa popisujú tromi rôznymi parametrami.
      </p>

      <ul>
        <li>Pravdepodobnosť uvoľnenia lavín</li>
        <li>Rozsah nebezpečných miest</li>
        <li>Veľkosť a početnosť očakávaných lavín</li>
      </ul>
      <p>
        Stupeň lavínového nebezpečenstva sa vzťahuje pre oblasti väčšie ako
        100&nbsp;km&sup2; a nie na samostatné doliny alebo svahy. Lavínové
        nebezpečenstvo je vždy vydávané ako predpoveď s určitou mierou neistoty,
        preto je potrebné ho vždy overiť na konkrétnom mieste.
      </p>

      <h2>Prehľad stupňov lavínového nebezpečenstva</h2>
    </div>
  </section>
  <section class="section-centered section-dangerscale">
    <div id="level5" class="panel field border warning-level-5">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/level_5.png"
            title="Danger Level 5"
            alt="Danger Level 5"
            class="warning-level-icon"
          />
        </div>

        <div class="grid-item small-9">
          <div class="panel-header">
            <p>Stupeň lavínového nebezpečenstva</p>
            <h2>5&nbsp;–&nbsp;Veľmi&nbsp;veľké</h2>
          </div>
          <h6>Výnimočná lavínová situácia</h6>
          <p>
            Predpokladané sú mnohé veľké, v niektorých prípadoch aj veľmi veľké,
            samovoľné lavíny, dokonca aj v miernom teréne. Možnosť zásahu
            horských osád a ciest.
          </p>
          <h6>Odporúčania pre turistov</h6>
          <p>Neodporúča sa pohyb mimo zabezpečených lyžiarskych tratí.</p>
          <h6>Predpovedané veľmi zriedkavo.</h6>
        </div>
      </div>
    </div>
    <div id="level4" class="panel field border warning-level-4">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/level_4.png"
            title="Danger Level 4"
            alt="Danger Level 4"
            class="warning-level-icon"
          />
        </div>

        <div class="grid-item small-9">
          <div class="panel-header">
            <p>Stupeň lavínového nebezpečenstva</p>
            <h2>4&nbsp;–&nbsp;Veľké</h2>
          </div>
          <h6>Veľmi kritická lavínová situácia</h6>
          <p>
            Uvoľnenie lavín je pravdepodobné už pri malom dodatočnom zaťažení na
            mnohých strmých svahoch. Typické je uvoľnenie lavíny na diaľku.
            Predpokladá sa zvýšený výskyt samovoľných veľkých až veľmi veľkých
            lavín. Veľmi častý je výskyt varovných signálov, (čerstvo spadnuté
            lavíny, zvuk sadania snehovej pokrývky- "whump", vytváranie
            prasklín).
          </p>
          <h6>Odporúčania pre turistov</h6>
          <p>
            Pohyb obmedziť len na mierne strmý terén a zohľadniť dosah veľkých
            lavín. Neskúseným osobám sa neodporúča pohyb mimo zabezpečených
            lyžiarskych tratí.
          </p>
          <h6>
            Predpovedané len pár dní v roku. Približne 10&nbsp;% lavínových
            nehôd.
          </h6>
        </div>
      </div>
    </div>
    <div id="level3" class="panel field border warning-level-3">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/level_3.png"
            title="Danger Level 3"
            alt="Danger Level 3"
            class="warning-level-icon"
          />
        </div>

        <div class="grid-item small-9">
          <div class="panel-header">
            <p>Stupeň lavínového nebezpečenstva</p>
            <h2>3&nbsp;–&nbsp; Zvýšené</h2>
          </div>

          <h6>Kritická lavínová situácia</h6>
          <p>
            Uvoľnenie lavín je možné už pri malom dodatočnom zaťažení, obzvlášť
            na strmých svahoch charakterizovaných v lavínovom bulletine. Typické
            je tiež diaľkové uvoľnenie lavín. V niektorých prípadoch sú možné
            veľké lavíny, výnimočne veľmi veľké samovoľné lavíny.
          </p>
          <h6>Odporúčania pre turistov</h6>
          <p>
            Najkritickejšia situácia pre skialpinistov a turistov v zimnom
            období. Potrebné dodržiavanie bezpečnostných zásad na zníženie
            rizika uvoľnenia lavíny (vyhnúť sa svahom uvedeným v lavínovom
            bulletine, pohybovať sa v menej strmom teréne, dodržiavať bezpečné
            rozostupy... ). Neskúseným osobám sa neodporúča pohyb mimo
            zabezpečených lyžiarskych tratí.
          </p>
          <h6>
            Kritická situácia, ktorá sa vyskytuje asi 30&nbsp;% zimy. Približne
            50&nbsp;% lavínových nehôd.
          </h6>
        </div>
      </div>
    </div>
    <div id="level2" class="panel field border warning-level-2">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/level_2.png"
            title="Danger Level 2"
            alt="Danger Level 2"
            class="warning-level-icon"
          />
        </div>

        <div class="grid-item small-9">
          <div class="panel-header">
            <p>Stupeň lavínového nebezpečenstva</p>
            <h2>2&nbsp;–&nbsp;Mierne</h2>
          </div>

          <h6>Prevažne priaznivá lavínová situácia</h6>
          <p>
            Uvoľnenie lavín je možné hlavne pri veľkom dodatočnom zaťažení,
            najmä na veľmi strmých svahoch charakterizovaných v lavínovom
            bulletine. Väčšie samovoľne vzniknuté lavíny sa neočakávajú. Varovné
            signály sa objavujú v ojedinelých prípadoch.
          </p>
          <h6>Odporúčania pre turistov</h6>
          <p>
            Pohyb v lavínovom teréne je potrebné prispôsobiť sklonu a orientácií
            nebezpečných svahov charakterizovaných v lavínovom bulletine. Na
            veľmi strmých svahoch je potrebné dodržiavať bezpečnostné rozostupy.
            V prípade kritickej vrstvy v snehovom profile (<a
              href="/education/avalanche-problems#persistent_weak_layers"
              >trvalo slabá vrstva</a
            >) sa odporúča zvýšiť pozornosť.
          </p>
          <h6>
            Najčastejšia situácia vyskytujúca sa 50&nbsp;% zimy. Približne
            30&nbsp;% lavínových nehôd.
          </h6>
        </div>
      </div>
    </div>
    <div id="level1" class="panel field border warning-level-1">
      <div class="grid">
        <div class="grid-item small-3">
          <img
            src="/content_files/level_1.png"
            title="Danger Level 1"
            alt="Danger Level 1"
            class="warning-level-icon"
          />
        </div>

        <div class="grid-item small-9">
          <div class="panel-header">
            <p>Stupeň lavínového nebezpečenstva</p>
            <h2>1&nbsp;–&nbsp; Malé</h2>
          </div>
          <h6>Všeobecne priaznivá lavínová situácia</h6>
          <p>
            Uvoľnenie lavín je vo všeobecnosti možné len pri veľkom dodatočnom
            zaťažení na ojedinelých plochách vo veľmi strmom, extrémnom teréne.
            Vo výnimočných prípadoch je možné uvoľnenie malých a stredných
            samovoľných lavín.
          </p>
          <h6>Odporúčania pre turistov</h6>
          <p>
            Na extrémne strmých svahoch sa odporúča dodržanie bezpečnostných
            rozostupov.
          </p>
          <h6>
            Najbezpečnejšie obdobie na vykonávanie vysokohorských túr.
            <br />Pretrváva 20&nbsp;% zimnej sezóny. Približne 5% lavínových
            nehôd.
          </h6>
        </div>
      </div>
    </div>
  </section>
  <section class="section-centered">
    <div class="panel">
      <h2>História vývoja Európskej stupnice lavínového nebezpečenstva</h2>

      <p>
        Do roku 1993 existovali v Európe rôzne stupnice lavínového
        ne­bezpečenstva. Vo Francúzsku a Taliansku 8-dielna, vo Švajčiars­ku 7,
        v Rakúsku a Nemecku 6, na Slovensku a v Poľsku 4-dielne stupnice
        lavínového nebezpečenstva. Na  zasadnutí európskych lavínových služieb v
        nemeckom Baden - Badene v r. 1992 bola schválená nová jednotná 5-dielna
        stupnica pre celú Európu.
      </p>

      <p>
        <a
          href="https://www.avalanches.org/wp-content/uploads/2022/09/Stupnica_lavinoveho_nebezpecenstva-EAWS.pdf"
          target="_blank"
          >Európska stupnica lavínového nebezpečenstva PDF</a
        >
      </p>

      <h6>
        Stupne lavínového nebezpečenstva - zjednodušené vyjadrenie komplexných
        prírodných procesov.
      </h6>

      <p>
        Európska stupnica lavínového nebezpečenstva je kategoricky stúpajúca
        päťdielna stupnica. Kategoricky znemená, že aj keď stupnica pozostáva z
        čísel zoradených od 1 do 5 nemožno tento číselný rad vnímať lineárne,
        ale exponenciálne. To napríklad znemená, že rozdiel medzi druhým a
        tretím stupňom nie je väčší iba o jedno číslo, ale stupeň nebezpečenstva
        je dva krát väčší.
      </p>

      <h6>Definície v Európskej stupnici lavínového nebezpečenstva</h6>

      <p>
        Každý stupeň lavínového nebezpečenstva je charakterizovaný pomocou
        týchto parametrov
      </p>

      <ul>
        <li>Pravdepodobnosť uvoľnenia lavín</li>
        <li>Rozsah nebezpečných miest a</li>
        <li>Veľkosť a početnosť očakávaných lavín</li>
      </ul>
      <p>
        Stupeň lavínového nebezpečenstva určujú zmeny alebo kombinácia týchto
        premenných. Lavínoví špecialisti v Európe sa zhodli na používaní EAWS
        matice za účelom čo najpresnejšieho určenia lavínového stupňa.
        Zohľadňujú sa v nej tieto tri parametre: pravdepodobnosť uvoľnenia
        lavíny, rozsah nebezpečných miest, veľkosť a početnosť predpokladaných
        lavín. Napríklad pri prvom stupni lavínového nebezpečenstva je
        predpokladané uvoľnenie lavín vo všeobecnosti možné len pri veľkom
        dodatočnom zaťažení na ojedinelých svahoch vo veľmi strmom, extrémnom
        teréne. Na rozdiel od štvrtého stupňa, pri ktorom je uvoľnenie lavín
        pravdepodobné na mnohých strmých svahoch už pri malom dodatočnom
        zaťažení. V niektorých prípadoch sú predpokladané početné stredné lavíny
        a často aj veľké spontánne lavíny. Hoci európska stupnica lavínového
        nebezpečenstva pozostáva z piatich stupňov, v prírode sa lavínové
        nebezpečenstvo mení plynulo a rastie exponenciálne.
      </p>

      <table style="width: 100%; border: 0px solid #000; text-align: center">
        <tbody>
          <tr>
            <td>
              <img
                style="align: middle; height: 50%; width: 50%"
                title="Avalanche danger"
                alt="Avalanche danger"
                data-entity-type="file"
                data-entity-uuid="374a9b53-8018-40c7-9e8d-6ac15fa05968"
                src="/content_files/ava_danger_en.png"
              />
            </td>
          </tr>
        </tbody>
      </table>
      <p class="small" style="text-align: center">
        Obrázok č.1: Prirodzený priebeh lavínového nebezpečenstva (modrá čiara)
        narastá nelineárne. Charakter úrovní nebezpečenstva musí pre to vždy
        odrážať celý rad podmienok prirodzeného lavínového nebezpečenstva.
      </p>

      <p>
        Preto môže mať lavínové nebezpečenstvo v rámci jedného stupňa veľmi
        odlišné charakteristiky. Tento rozsah ja najzreteľnejší pri treťom
        stupni lavínového nebezpečenstva. V hornej hranici stupňa tohto
        nebezpečenstva pozorujeme mnoho varovných signálov ( "whumps" ,
        praskliny, spontánne lavíny). V dolnej hranici tohto stupňa tieto
        varovné signály chýbajú. Často - väčšinou nevedome - to vedie k
        podceneniu stupňa a napr. k riskantnejšej voľbe trasy.
      </p>

      <h6>Početnosť lavínových stupňov</h6>

      <p>
        V európskom priemere je druhý stupeň lavínového nebezpečenstva 2
        (mierne) predpovedaný pre takmer polovicu zimnej sezóny. Opisuje teda
        deň s priemerným lavínovým rizikom. Tretí stupeň (zvýšené) tvorí
        približne 1/3 predpovedí. Práve pri tomto stupni dochádza k najvyššiemu
        počtu smrteľných nehôd (približne 50 %). Štvrtý stupeň (veľké) je vydaný
        len zhruba 2% zimnej sezóny, čo tvorí približne 2-4 dni za sezónu. Piaty
        stupeň (veľmi veľké) sa vydáva pre katastrofické situácie, a preto sa
        vyskytuje len výnimočne.
      </p>

      <h2>Rôzne charakteristiky lavínového nebezpečenstva</h2>

      <h6>Malé, jednoduché na uvoľnenie vetrom naviate dosky</h6>

      <p>
        Vetrom čerstvo naviaty sneh často krát dokáže uvoľniť aj jediný
        skialpinista/turista. Veľkosť vetrom naviatych dosiek nezáleží len od
        sily vetra, ale aj od množstva čerstvo napadnutého snehu, alebo od
        množstva voľného, neviazaného snehu v doline. Veľkosť vetrom naviatych
        dosiek závisí od rýchlosti vetra a množstva snehu. V prípade, že dokáže
        byť transportované len malé množstvo snehu dochádza k vytvoreniu malých
        dosiek. Pokiaľ dôjde k uvoľneniu takýchto malých dosiek úplne zasypanie
        strhnutého je len málo pravdepodobné. Hoci pravdepodobnosť uvoľnenia je
        v takomto prípade pomerne vysoká, často krát je predpovedaný druhý
        stupeň lavínového nebezpečenstva. Pre dostatočne skúseného turistu je
        tento problém pri dobrej viditeľnosti relatívne ľahko rozpoznateľný. Vo
        všeobecnosti sa treba vyhýbať vetrom naviatym doskám najmä v teréne, kde
        by pošmyknutie a pád mohli mať fatálne následky.
      </p>

      <h6>Trvalo slabá vrstva blízko pri zemi</h6>

      <p>
        Trvalo slabú vrstvu blízko pri zemi (napr. zasnežená povrchová inovať,
        hranatozrnný sneh, chladno po teple/teplo po chladne) je ťažko uvoľniť
        pretože je ťažké iniciovať zlom. Odtrhnutie trvalo slabej vrstvy blízko
        pri zemi je najpravdepodobnejšie v mieste malej výšky snehu, alebo v
        mieste zmeny výšky snehovej pokrývky. V prípade dlho pretrvávajúceho
        problému trvalo slabej vrstvy nachádzajúcej sa hlboko v snehovom
        profile, je len málo pravdepodobné, že by jediný lyžiar dokázal uvoľniť
        lavínu. Avšak v prípade že by došlo k odtrhu, takáto lavína by
        dosahovala veľké rozmery a tým by predstavovala značné riziko pre
        lyžiara - častokrát fatálne. Pri tomto type situácií je zvyčajne
        vydávaný tretí stupeň lavínového nebezpečenstva. Určiť tieto miesta je
        veľmi náročné aj pre skúsených lyžiarov/turistov. Vo vysokých pohoriach,
        napr. v Alpách má tento problém na svedomí väčšinu smrteľných lavínových
        nehôd.
      </p>

      <h6>4&nbsp;–&nbsp; Veľké: Mnoho lavín uvoľnených lyžiarmi</h6>

      <p>
        Ak je očakávaných mnoho veľkých, alebo veľmi veľkých spontánnych lavín,
        spravidla je vydaný štvrtý stupeň lavínového nebezpečenstva. Pri
        takýchto podmienkach sú ohrozené údolné cesty a iné objekty. Štvrtý
        stupeň lavínového nebezpečenstva môže byť vydaný aj v prípade ak sa
        neočakáva výskyt veľmi veľkých lavín (napr. na začiatku zimy keď je málo
        snehu), ale na viacerých miestach dochádza k samovoľnému uvoľneniu
        stredných a veľkých lavín, prípadne k častému mechanickému uvoľneniu
        lavín. Takýto prípad lavínoví špecialisti nazývajú "lyžiarska štvorka".
        I keď pre turistov a lyžiarov predstavuje táto situácia značné riziko,
        prístupové cesty sú ohrozené len v ojedinelých prípadoch.
      </p>

      <h6>Lavínová aktivita z mokrého a kĺzavého snehu</h6>

      <p>
        Pravdepododobnosť uvoľnenia lavíny z mokrého snehu lyžiarom je malá, a
        pri kĺzavom snehu je to prakticky nemožné. Pri týchto typoch lavín je
        typické samovoľné uvoľnenie, a to aj pri nižších stupňoch lavínového
        nebezpečenstva. Výskyt samovoľných lavín pri nižších stupňoch lavínového
        nebezpečenstva (napr. 2-MIERNOM) súvisí často s mokrým a kĺzavým snehom.
        Naopak, ak sú podmienky vhodné pre vznik samovoľných lavín zo suchého
        snehu ( zvyčajne hovoríme o treťom stupni lavínového nebezpečenstva ),
        je veľmi pravdepodobné mechanické uvoľnenie lavín ( napríklad lyžiarmi)
        .
      </p>
    </div>
  </section>
  <section classname="section-centered section-context">
    <div classname="panel">
      <h2 classname="subheader">Vzdelávanie</h2>

      <ul classname="list-inline list-buttongroup-dense">
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            style="display: none"
            href="/education/danger-scale"
            title="Stupnica lavínového nebezpečenstva"
            >Stupnica lavínového nebezpečenstva</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/avalanche-problems"
            title="Typické lavínové problémy"
            >Typické lavínové problémy</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/workflow"
            title="Pracovný postup"
            >Pracovný postup</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/matrix"
            title="EAWS Matica"
            >EAWS Matica</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/snowpack-stability"
            title="Stabilita snehovej pokrývky"
            >Stabilita snehovej pokrývky</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/frequency"
            title="Množstvo nebezpečných miest"
            >Množstvo nebezpečných miest</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/avalanche-sizes"
            title="Veľkost lavín"
            >Veľkost lavín</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/spatio-temporal-scale"
            title="Stanovenie priestorovej a časovej mierky"
            >Stanovenie priestorovej a časovej mierky</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/danger-patterns"
            title="Modely lavínového nebezpečenstva "
            >Modely lavínového nebezpečenstva
          </a>
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/handbook"
            title="Príručka"
            >Príručka</a
          >
        </li>
      </ul>
    </div>
  </section>
</div>
