<div>
<h1>Mides d'Allaus</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#anchor-1" title="Allau petita (purga)" class="secondary pure-button" data-scroll="">Allau petita (purga)</a></li>&#13;
      <li><a href="#anchor-2" title="Allau mitjana" class="secondary pure-button" data-scroll="">Allau mitjana</a></li>&#13;
      <li><a href="#anchor-3" title="Allau gran" class="secondary pure-button" data-scroll="">Allau gran</a></li>&#13;
      <li><a href="#anchor-4" title="Allau molt gran" class="secondary pure-button" data-scroll="">Allau molt gran</a></li>&#13;
      <li><a href="#anchor-5" title="Allau extremadament gran" class="secondary pure-button" data-scroll="">Allau extremadament gran</a></li>&#13;
    </ul></header></section><section class="section-centered"><div class="panel">&#13;
    <p>The European avalanche warning services divide avalanche sizes into five&#13;
      size classes (based on the Canadian classification). The avalanche size&#13;
      class is defined, among other things, by the potential damage caused.<br>Under&#13;
      this definition, fatal 'skier-triggered avalanches' are often classified&#13;
      as 'small' or (barely) as 'medium' avalanches despite their considerable&#13;
      dimensions, being typically 150&nbsp;m in length and having a slab size of&#13;
      some 50&nbsp;m by 80&nbsp;m and an average slab thickness of around&#13;
      50&nbsp;cm. This is equivalent to a slab volume of approximately&#13;
      2'000&nbsp;m&sup3; or around 400 tonnes.<br>In the following we present&#13;
      the different size classes with their potential damage, run out and&#13;
      typical dimensions.</p>&#13;
  </div>&#13;
</section><section class="section-centered section-dangerscale"><div id="anchor-1" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size1-640.webp   640w,&#13;
              /content_files/ava_size1-1280.webp 1280w,&#13;
              /content_files/ava_size1-1920.webp 1920w,&#13;
              /content_files/ava_size1-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size1-640.jpg   640w,&#13;
              /content_files/ava_size1-1280.jpg 1280w,&#13;
              /content_files/ava_size1-1920.jpg 1920w,&#13;
              /content_files/ava_size1-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size1-640.jpg" title="Avalanche size 1" alt="Avalanche size 1">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Mides d'allaus</p>&#13;
          <h2>Mida&nbsp;1: Allau petita (purga)</h2>&#13;
        </div>&#13;
        <h6>Danys potencials</h6>&#13;
        <ul>
<li>És improbable que enterri una persona, excepte en zones d'arribada desfavorables (trampes del terreny)</li>&#13;
          <li>En terreny extremadament inclinat el perill de caiguda preval sobre el d'enterrament.</li>&#13;
        </ul>
<h6>Zona d'arribada</h6>&#13;
        <ul>
<li>S'atura dins del vessant.</li>&#13;
        </ul>
<h6>Mides típiques</h6>&#13;
        <ul>
<li>Llargada: &lt;&nbsp;50&nbsp;m</li>&#13;
          <li>Volum: 100&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-2" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size2-640.webp   640w,&#13;
              /content_files/ava_size2-1280.webp 1280w,&#13;
              /content_files/ava_size2-1920.webp 1920w,&#13;
              /content_files/ava_size2-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size2-640.jpg   640w,&#13;
              /content_files/ava_size2-1280.jpg 1280w,&#13;
              /content_files/ava_size2-1920.jpg 1920w,&#13;
              /content_files/ava_size2-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size2-640.jpg" title="Avalanche size 2" alt="Avalanche size 2">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Mides d'allaus</p>&#13;
          <h2>Mida&nbsp;2: Allau mitjana</h2>&#13;
        </div>&#13;
        <h6>Danys potencials</h6>&#13;
        <ul>
<li>Pot enterrar, ferir o matar una persona</li>&#13;
          <li>Mida&nbsp;2 correspon a l'allau accidental típic</li>&#13;
        </ul>
<h6>Zona d'arribada</h6>&#13;
        <ul>
<li>Pot arribar a la base del vessant</li>&#13;
        </ul>
<h6>Mides típiques</h6>&#13;
        <ul>
<li>Llargada: 50-200&nbsp;m</li>&#13;
          <li>Volum: 1000&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-3" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size3-640.webp   640w,&#13;
              /content_files/ava_size3-1280.webp 1280w,&#13;
              /content_files/ava_size3-1920.webp 1920w,&#13;
              /content_files/ava_size3-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size3-640.jpg   640w,&#13;
              /content_files/ava_size3-1280.jpg 1280w,&#13;
              /content_files/ava_size3-1920.jpg 1920w,&#13;
              /content_files/ava_size3-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size3-640.jpg" title="Avalanche size 3" alt="Avalanche size 3">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Mides d'allaus</p>&#13;
          <h2>Mida&nbsp;3: Allau gran</h2>&#13;
        </div>&#13;
        <h6>Danys potencials</h6>&#13;
        <ul>
<li>Pot enterrar i destruir cotxes, danyar camions, destruïr petits edificis i trencar alguns arbres.</li>&#13;
          <li>Quan un esquiador es veu atrapat per una allau d'aquesta mida, les probabilitats de conseqüències greus són molt elevades.</li>&#13;
        </ul>
<h6>Zona d'arribada</h6>&#13;
        <ul>
<li>Pot creuar terreny pla (ben per sota dels 30º) en una distància de menys de 50&nbsp;m.</li>&#13;
        </ul>
<h6>Mides típiques</h6>&#13;
        <ul>
<li>Llargada: alguns 100 de m</li>&#13;
          <li>Volum: 10.000&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-4" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size4-640.webp   640w,&#13;
              /content_files/ava_size4-1280.webp 1280w,&#13;
              /content_files/ava_size4-1920.webp 1920w,&#13;
              /content_files/ava_size4-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size4-640.jpg   640w,&#13;
              /content_files/ava_size4-1280.jpg 1280w,&#13;
              /content_files/ava_size4-1920.jpg 1920w,&#13;
              /content_files/ava_size4-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size4-640.jpg" title="Avalanche size 4" alt="Avalanche size 4">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Mides d'allaus</p>&#13;
          <h2>Mida&nbsp;4: Allau molt gran</h2>&#13;
        </div>&#13;
        <h6>Danys potencials</h6>&#13;
        <ul>
<li>Pot enterrar i destruir camions i trens</li>&#13;
          <li>Pot destruir edificis força grans i petites zones de bosc</li>&#13;
          <li>Very large avalanches may occur at danger level&#13;
            3&nbsp;–&nbsp;considerable and are typical during periods with&#13;
            danger levels 4&nbsp;–&nbsp;high and 5&nbsp;–&nbsp;very&nbsp;high.</li>&#13;
        </ul>
<h6>Zona d'arribada</h6>&#13;
        <ul>
<li>Creuen terreny pla (ben per sota dels 30º) en una distància de més de 50&nbsp;m.</li>&#13;
          <li>Poden atènyer el fons de vall.</li>&#13;
        </ul>
<h6>Mides típiques</h6>&#13;
        <ul>
<li>Llargada 1-2&nbsp;km</li>&#13;
          <li>Volum: 100.000&nbsp;m&sup3; </li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-5" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size5-640.webp   640w,&#13;
              /content_files/ava_size5-1280.webp 1280w,&#13;
              /content_files/ava_size5-1920.webp 1920w,&#13;
              /content_files/ava_size5-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size5-640.jpg   640w,&#13;
              /content_files/ava_size5-1280.jpg 1280w,&#13;
              /content_files/ava_size5-1920.jpg 1920w,&#13;
              /content_files/ava_size5-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size5-640.jpg" title="Avalanche size 5" alt="Avalanche size 5">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Mides d'allaus</p>&#13;
          <h2>Mida&nbsp;5: Allau extremadament gran</h2>&#13;
        </div>&#13;
        <h6>Danys potencials</h6>&#13;
        <ul>
<li>Pot devastar el paisatge i té un potencial destructiu catastròfic. </li>&#13;
          <li>Típiques en perill d'allaus 5&nbsp;–&nbsp;Molt&nbsp;Fort</li>&#13;
        </ul>
<h6>Zona d'arribada</h6>&#13;
        <ul>
<li>Atenyen el fons de vall</li>&#13;
          <li>Allaus més grans conegudes</li>&#13;
        </ul>
<h6>Mides típiques</h6>&#13;
        <ul>
<li>Llargada &gt;&nbsp;2&nbsp;km</li>&#13;
          <li>Volum: &gt;&nbsp;100.000&nbsp;m&sup3; </li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
</section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Educació &amp; Prevenció</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Escala de perill</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-problems" title="Avalanche Problems">Problemes d'allaus</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/matrix" title="EAWS Matrix">Matriu EAWS </a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/danger-patterns" title="Danger Patterns">Patrons de perill</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/handbook" title="Handbook">Manual</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
