<div>
<h1>Lawinengrößen</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#anchor-1" title="Kleine Lawine (Rutsch)" class="secondary pure-button" data-scroll="">Kleine Lawine (Rutsch)</a></li>&#13;
      <li><a href="#anchor-2" title="Mittlere Lawine" class="secondary pure-button" data-scroll="">Mittlere Lawine</a></li>&#13;
      <li><a href="#anchor-3" title="Große Lawine" class="secondary pure-button" data-scroll="">Große Lawine</a></li>&#13;
      <li><a href="#anchor-4" title="Sehr große Lawine" class="secondary pure-button" data-scroll="">Sehr große Lawine</a></li>&#13;
      <li><a href="#anchor-5" title="Extrem große Lawine" class="secondary pure-button" data-scroll="">Extrem große Lawine</a></li>&#13;
    </ul></header></section><section class="section-centered"><div class="panel">&#13;
    <p>The European avalanche warning services divide avalanche sizes into five&#13;
      size classes (based on the Canadian classification). The avalanche size&#13;
      class is defined, among other things, by the potential damage caused.<br>Under&#13;
      this definition, fatal 'skier-triggered avalanches' are often classified&#13;
      as 'small' or (barely) as 'medium' avalanches despite their considerable&#13;
      dimensions, being typically 150&nbsp;m in length and having a slab size of&#13;
      some 50&nbsp;m by 80&nbsp;m and an average slab thickness of around&#13;
      50&nbsp;cm. This is equivalent to a slab volume of approximately&#13;
      2'000&nbsp;m&sup3; or around 400 tonnes.<br>In the following we present&#13;
      the different size classes with their potential damage, run out and&#13;
      typical dimensions.</p>&#13;
  </div>&#13;
</section><section class="section-centered section-dangerscale"><div id="anchor-1" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size1-640.webp   640w,&#13;
              /content_files/ava_size1-1280.webp 1280w,&#13;
              /content_files/ava_size1-1920.webp 1920w,&#13;
              /content_files/ava_size1-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size1-640.jpg   640w,&#13;
              /content_files/ava_size1-1280.jpg 1280w,&#13;
              /content_files/ava_size1-1920.jpg 1920w,&#13;
              /content_files/ava_size1-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size1-640.jpg" title="Avalanche size 1" alt="Avalanche size 1">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Lawinengröße</p>&#13;
          <h2>Größe&nbsp;1: Kleine Lawine (Rutsch)</h2>&#13;
        </div>&#13;
        <h6>Schadenspotenzial</h6>&#13;
        <ul>
<li>Eine Verschüttung ist unwahrscheinlich, außer bei ungünstigem Auslaufbereich (Geländefallen).</li>&#13;
          <li>Im extremen Gelände überwiegt die Absturzgefahr die Verschüttungsgefahr.</li>&#13;
        </ul>
<h6>Reichweite</h6>&#13;
        <ul>
<li>Kommt im Bereich des Steilhanges zum Stillstand</li>&#13;
        </ul>
<h6>Typisches Ausmaß</h6>&#13;
        <ul>
<li>Länge: &lt;&nbsp;50&nbsp;m</li>&#13;
          <li>Volumen: 100&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-2" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size2-640.webp   640w,&#13;
              /content_files/ava_size2-1280.webp 1280w,&#13;
              /content_files/ava_size2-1920.webp 1920w,&#13;
              /content_files/ava_size2-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size2-640.jpg   640w,&#13;
              /content_files/ava_size2-1280.jpg 1280w,&#13;
              /content_files/ava_size2-1920.jpg 1920w,&#13;
              /content_files/ava_size2-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size2-640.jpg" title="Avalanche size 2" alt="Avalanche size 2">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Lawinengröße</p>&#13;
          <h2>Größe&nbsp;2: Mittlere Lawine</h2>&#13;
        </div>&#13;
        <h6>Schadenspotenzial</h6>&#13;
        <ul>
<li>Kann eine Person verschütten, verletzen oder töten</li>&#13;
          <li>Diese Größe entspricht der "Skifahrerlawine”</li>&#13;
        </ul>
<h6>Reichweite</h6>&#13;
        <ul>
<li>Kann den Hangfuß erreichen</li>&#13;
        </ul>
<h6>Typisches Ausmaß</h6>&#13;
        <ul>
<li>Länge: 50-200&nbsp;m</li>&#13;
          <li>Volumen: 1’000&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-3" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size3-640.webp   640w,&#13;
              /content_files/ava_size3-1280.webp 1280w,&#13;
              /content_files/ava_size3-1920.webp 1920w,&#13;
              /content_files/ava_size3-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size3-640.jpg   640w,&#13;
              /content_files/ava_size3-1280.jpg 1280w,&#13;
              /content_files/ava_size3-1920.jpg 1920w,&#13;
              /content_files/ava_size3-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size3-640.jpg" title="Avalanche size 3" alt="Avalanche size 3">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Lawinengröße</p>&#13;
          <h2>Größe&nbsp;3: Große Lawine</h2>&#13;
        </div>&#13;
        <h6>Schadenspotenzial</h6>&#13;
        <ul>
<li>Kann PKWs verschütten und zerstören, schwere Lastwagen beschädigen, kleine Gebäude zerstören und einzelne Bäume brechen.</li>&#13;
          <li>Gelangen Skifahrer in Lawinen dieser Größe, ist das Todesfallrisiko sehr hoch.</li>&#13;
        </ul>
<h6>Reichweite</h6>&#13;
        <ul>
<li>Kann flache Geländeteile (deutlich unter 30°) über eine Distanz von bis zu 50&nbsp;m überwinden.</li>&#13;
        </ul>
<h6>Typisches Ausmaß</h6>&#13;
        <ul>
<li>Länge: mehrere 100&nbsp;m</li>&#13;
          <li>Volumen: 10’000&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-4" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size4-640.webp   640w,&#13;
              /content_files/ava_size4-1280.webp 1280w,&#13;
              /content_files/ava_size4-1920.webp 1920w,&#13;
              /content_files/ava_size4-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size4-640.jpg   640w,&#13;
              /content_files/ava_size4-1280.jpg 1280w,&#13;
              /content_files/ava_size4-1920.jpg 1920w,&#13;
              /content_files/ava_size4-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size4-640.jpg" title="Avalanche size 4" alt="Avalanche size 4">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Lawinengröße</p>&#13;
          <h2>Größe&nbsp;4: Sehr große Lawine</h2>&#13;
        </div>&#13;
        <h6>Schadenspotenzial</h6>&#13;
        <ul>
<li>Kann schwere LKWs und Züge verschütten und zerstören.</li>&#13;
          <li>Kann größere Gebäude und kleine Waldflächen zerstören</li>&#13;
          <li>Very large avalanches may occur at danger level&#13;
            3&nbsp;–&nbsp;considerable and are typical during periods with&#13;
            danger levels 4&nbsp;–&nbsp;high and 5&nbsp;–&nbsp;very&nbsp;high.</li>&#13;
        </ul>
<h6>Reichweite</h6>&#13;
        <ul>
<li>Überwindet flachere Geländeteile (deutlich unter 30°) über eine Distanz von mehr als 50&nbsp;m.</li>&#13;
          <li>Kann den Talboden erreichen</li>&#13;
        </ul>
<h6>Typisches Ausmaß</h6>&#13;
        <ul>
<li>Länge: 1-2&nbsp;km</li>&#13;
          <li>Volumen: 100’000&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-5" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size5-640.webp   640w,&#13;
              /content_files/ava_size5-1280.webp 1280w,&#13;
              /content_files/ava_size5-1920.webp 1920w,&#13;
              /content_files/ava_size5-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size5-640.jpg   640w,&#13;
              /content_files/ava_size5-1280.jpg 1280w,&#13;
              /content_files/ava_size5-1920.jpg 1920w,&#13;
              /content_files/ava_size5-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size5-640.jpg" title="Avalanche size 5" alt="Avalanche size 5">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Lawinengröße</p>&#13;
          <h2>Größe&nbsp;5: Extrem große Lawine</h2>&#13;
        </div>&#13;
        <h6>Schadenspotenzial</h6>&#13;
        <ul>
<li>Kann die Landschaft verwüsten, katastrophales Zerstörungspotenzial möglich.</li>&#13;
          <li>Typisch für Gefahrenstufe 5&nbsp;–&nbsp;Sehr&nbsp;Groß</li>&#13;
        </ul>
<h6>Reichweite</h6>&#13;
        <ul>
<li>Erreicht den Talboden</li>&#13;
          <li>Größte bekannte Lawinen</li>&#13;
        </ul>
<h6>Typisches Ausmaß</h6>&#13;
        <ul>
<li>Länge: &gt;&nbsp;2&nbsp;km</li>&#13;
          <li>Volumen: &gt;&nbsp;100’000&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
</section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Ausbildung &amp; Prävention</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Lawinengefahrenstufen</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-problems" title="Avalanche Problems">Lawinenprobleme</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/matrix" title="EAWS Matrix">EAWS Matrix</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/danger-patterns" title="Danger Patterns">Gefahrenmuster</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/handbook" title="Handbook">Handbuch</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
