<div>
<h1>Tamaño de Aludes</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#anchor-1" title="Small avalanche (sluff)" class="secondary pure-button" data-scroll>Alud pequeño (purga)</a></li>&#13;
      <li><a href="#anchor-2" title="Medium avalanche" class="secondary pure-button" data-scroll>Alud mediano</a></li>&#13;
      <li><a href="#anchor-3" title="Large avalanche" class="secondary pure-button" data-scroll>Alud grande</a></li>&#13;
      <li><a href="#anchor-4" title="Very large avalanche" class="secondary pure-button" data-scroll>Alud muy grande</a></li>&#13;
      <li><a href="#anchor-5" title="Extremely large avalanche" class="secondary pure-button" data-scroll>Alud extremadamente grande</a></li>&#13;
    </ul></header></section><section class="section-centered"><div class="panel">&#13;
    <p>The European avalanche warning services divide avalanche sizes into five&#13;
      size classes (based on the Canadian classification). The avalanche size&#13;
      class is defined, among other things, by the potential damage caused.<br>Under&#13;
      this definition, fatal 'skier-triggered avalanches' are often classified&#13;
      as 'small' or (barely) as 'medium' avalanches despite their considerable&#13;
      dimensions, being typically 150&nbsp;m in length and having a slab size of&#13;
      some 50&nbsp;m by 80&nbsp;m and an average slab thickness of around&#13;
      50&nbsp;cm. This is equivalent to a slab volume of approximately&#13;
      2'000&nbsp;m&sup3; or around 400 tonnes.<br>In the following we present&#13;
      the different size classes with their potential damage, run out and&#13;
      typical dimensions.</p>&#13;
  </div>&#13;
</section><section class="section-centered section-dangerscale"><div id="anchor-1" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size1-640.webp   640w,&#13;
              /content_files/ava_size1-1280.webp 1280w,&#13;
              /content_files/ava_size1-1920.webp 1920w,&#13;
              /content_files/ava_size1-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size1-640.jpg   640w,&#13;
              /content_files/ava_size1-1280.jpg 1280w,&#13;
              /content_files/ava_size1-1920.jpg 1920w,&#13;
              /content_files/ava_size1-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size1-640.jpg" title="Avalanche size 1" alt="Avalanche size 1">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Tamaño de Aludes</p>&#13;
          <h2>Tamaño&nbsp;1: Alud pequeño (purga)</h2>&#13;
        </div>&#13;
        <h6>Daños potenciales</h6>&#13;
        <ul>
<li>Es improbable que entierre a una persona, excepto en zonas de llegada desfavorables (por ejemplo trampas del terreno)</li>&#13;
          <li>En terreno extremadamente inclinado, el peligro de caídas prevale sobre el de enterramientos.</li>&#13;
        </ul>
<h6>Zona de llegada</h6>&#13;
        <ul>
<li>Se detiene dentro de la ladera.</li>&#13;
        </ul>
<h6>Dimensiones típicas</h6>&#13;
        <ul>
<li>Longitud: &lt;&nbsp;50&nbsp;m</li>&#13;
          <li>Volumen: 100&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-2" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size2-640.webp   640w,&#13;
              /content_files/ava_size2-1280.webp 1280w,&#13;
              /content_files/ava_size2-1920.webp 1920w,&#13;
              /content_files/ava_size2-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size2-640.jpg   640w,&#13;
              /content_files/ava_size2-1280.jpg 1280w,&#13;
              /content_files/ava_size2-1920.jpg 1920w,&#13;
              /content_files/ava_size2-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size2-640.jpg" title="Avalanche size 2" alt="Avalanche size 2">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Tamaño de Aludes</p>&#13;
          <h2>Tamaño&nbsp;2: Alud mediano</h2>&#13;
        </div>&#13;
        <h6>Daños potenciales</h6>&#13;
        <ul>
<li>Puede enterrar, herir o matar a una persona</li>&#13;
          <li>El tamaño&nbsp;2 corresponde al típico alud desencadenado por un esquiador</li>&#13;
        </ul>
<h6>Zona de llegada</h6>&#13;
        <ul>
<li>Puede alcanzar la base de la ladera </li>&#13;
        </ul>
<h6>Dimensiones típicas</h6>&#13;
        <ul>
<li>Longitud: 50-200&nbsp;m</li>&#13;
          <li>Volumen: 1'000&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-3" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size3-640.webp   640w,&#13;
              /content_files/ava_size3-1280.webp 1280w,&#13;
              /content_files/ava_size3-1920.webp 1920w,&#13;
              /content_files/ava_size3-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size3-640.jpg   640w,&#13;
              /content_files/ava_size3-1280.jpg 1280w,&#13;
              /content_files/ava_size3-1920.jpg 1920w,&#13;
              /content_files/ava_size3-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size3-640.jpg" title="Avalanche size 3" alt="Avalanche size 3">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Tamaño de Aludes</p>&#13;
          <h2>Tamaño&nbsp;3: Alud grande</h2>&#13;
        </div>&#13;
        <h6>Daños potenciales</h6>&#13;
        <ul>
<li>Puede enterrar y destruir coches, dañar camiones, destruir pequeños edificios y romper algunos árboles.</li>&#13;
          <li>Cuando los esquiadores son atrapados por aludes de este tamaño, las probabilidades de consecuencias graves son muy grandes. </li>&#13;
        </ul>
<h6>Zona de llegada</h6>&#13;
        <ul>
<li>Puede alcanzar terreno plano (por debajo de 30º) en una distancia de menos de 50&nbsp;m</li>&#13;
        </ul>
<h6>Dimensiones típicas</h6>&#13;
        <ul>
<li>Longitud: varios cientos de &nbsp;m</li>&#13;
          <li>Volumen: 10’000&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-4" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size4-640.webp   640w,&#13;
              /content_files/ava_size4-1280.webp 1280w,&#13;
              /content_files/ava_size4-1920.webp 1920w,&#13;
              /content_files/ava_size4-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size4-640.jpg   640w,&#13;
              /content_files/ava_size4-1280.jpg 1280w,&#13;
              /content_files/ava_size4-1920.jpg 1920w,&#13;
              /content_files/ava_size4-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size4-640.jpg" title="Avalanche size 4" alt="Avalanche size 4">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Tamaño de Aludes</p>&#13;
          <h2>Tamaño&nbsp;4: Alud muy grande</h2>&#13;
        </div>&#13;
        <h6>Daños potenciales</h6>&#13;
        <ul>
<li>Puede enterrar y destruir camiones y trenes</li>&#13;
          <li>Puede destruir edificios realmente grandes y pequeñas áreas de bosque.</li>&#13;
          <li>Very large avalanches may occur at danger level&#13;
            3&nbsp;–&nbsp;considerable and are typical during periods with&#13;
            danger levels 4&nbsp;–&nbsp;high and 5&nbsp;–&nbsp;very&nbsp;high.</li>&#13;
        </ul>
<h6>Zona de llegada</h6>&#13;
        <ul>
<li>Atraviesan terreno llano (ámpliamente por debajo de 30º) en distancias mayores de 50&nbsp;m</li>&#13;
          <li>Pueden alcanzar el fondo de valle</li>&#13;
        </ul>
<h6>Dimensiones típicas</h6>&#13;
        <ul>
<li>Longitud: 1-2&nbsp;km</li>&#13;
          <li>Volumen: 100’000&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-5" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size5-640.webp   640w,&#13;
              /content_files/ava_size5-1280.webp 1280w,&#13;
              /content_files/ava_size5-1920.webp 1920w,&#13;
              /content_files/ava_size5-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size5-640.jpg   640w,&#13;
              /content_files/ava_size5-1280.jpg 1280w,&#13;
              /content_files/ava_size5-1920.jpg 1920w,&#13;
              /content_files/ava_size5-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size5-640.jpg" title="Avalanche size 5" alt="Avalanche size 5">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Tamaño de Aludes</p>&#13;
          <h2>Tamaño&nbsp;5: Alud extremadamente grande</h2>&#13;
        </div>&#13;
        <h6>Daños potenciales</h6>&#13;
        <ul>
<li>Puede devastar el paisaje y tiene un potencial destructivo catastrófico</li>&#13;
          <li>Típicos en peligro de aludes 5&nbsp;–&nbsp;Muy&nbsp;Fuerte</li>&#13;
        </ul>
<h6>Zona de llegada</h6>&#13;
        <ul>
<li>Alcanza el fondo de valle</li>&#13;
          <li>Los aludes más grandes conocidos</li>&#13;
        </ul>
<h6>Dimensiones típicas</h6>&#13;
        <ul>
<li>Longitud: &gt;&nbsp;2&nbsp;km</li>&#13;
          <li>Volumen: &gt;&nbsp;100’000&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
</section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Educación &amp; Prevención</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Escala de Peligro</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-problems" title="Avalanche Problems">Tamaño de aludes</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/matrix" title="EAWS Matrix">Matriz EAWS </a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/danger-patterns" title="Danger Patterns">Patrones de Peligro</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/handbook" title="Handbook">Manual</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
