<div>
<h1>Taille d'avalanche</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#anchor-1" title="Coulée" class="secondary pure-button" data-scroll="">Coulée</a></li>&#13;
      <li><a href="#anchor-2" title="Avalanche moyenne" class="secondary pure-button" data-scroll="">Avalanche moyenne</a></li>&#13;
      <li><a href="#anchor-3" title="Grande avalanche" class="secondary pure-button" data-scroll="">Grande avalanche</a></li>&#13;
      <li><a href="#anchor-4" title="Très grande avalanche" class="secondary pure-button" data-scroll="">Très grande avalanche</a></li>&#13;
      <li><a href="#anchor-5" title="Avalanche d‘ampleur exceptionnelle" class="secondary pure-button" data-scroll="">Avalanche d‘ampleur exceptionnelle</a></li>&#13;
    </ul></header></section><section class="section-centered"><div class="panel">&#13;
    <p>The European avalanche warning services divide avalanche sizes into five&#13;
      size classes (based on the Canadian classification). The avalanche size&#13;
      class is defined, among other things, by the potential damage caused.<br>Under&#13;
      this definition, fatal 'skier-triggered avalanches' are often classified&#13;
      as 'small' or (barely) as 'medium' avalanches despite their considerable&#13;
      dimensions, being typically 150&nbsp;m in length and having a slab size of&#13;
      some 50&nbsp;m by 80&nbsp;m and an average slab thickness of around&#13;
      50&nbsp;cm. This is equivalent to a slab volume of approximately&#13;
      2'000&nbsp;m&sup3; or around 400 tonnes.<br>In the following we present&#13;
      the different size classes with their potential damage, run out and&#13;
      typical dimensions.</p>&#13;
  </div>&#13;
</section><section class="section-centered section-dangerscale"><div id="anchor-1" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size1-640.webp   640w,&#13;
              /content_files/ava_size1-1280.webp 1280w,&#13;
              /content_files/ava_size1-1920.webp 1920w,&#13;
              /content_files/ava_size1-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size1-640.jpg   640w,&#13;
              /content_files/ava_size1-1280.jpg 1280w,&#13;
              /content_files/ava_size1-1920.jpg 1920w,&#13;
              /content_files/ava_size1-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size1-640.jpg" title="Avalanche size 1" alt="Avalanche size 1">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Taille d'avalanche</p>&#13;
          <h2>Taille&nbsp;1 : Petite avalanche (coulée)</h2>&#13;
        </div>&#13;
        <h6>Potentiel destructeur</h6>&#13;
        <ul>
<li>L’ensevelissement est peu probable, sauf dans une zone de dépôt défavorable.</li>&#13;
          <li>En terrain extrêmement raide, il existe un danger d’être emporté.</li>&#13;
        </ul>
<h6>Distance parcourue</h6>&#13;
        <ul>
<li>S’arrête dans une pente raide.</li>&#13;
        </ul>
<h6>Dimensions typiques</h6>&#13;
        <ul>
<li>Longueur : &lt;&nbsp;50&nbsp;m</li>&#13;
          <li>Volume : 100&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-2" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size2-640.webp   640w,&#13;
              /content_files/ava_size2-1280.webp 1280w,&#13;
              /content_files/ava_size2-1920.webp 1920w,&#13;
              /content_files/ava_size2-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size2-640.jpg   640w,&#13;
              /content_files/ava_size2-1280.jpg 1280w,&#13;
              /content_files/ava_size2-1920.jpg 1920w,&#13;
              /content_files/ava_size2-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size2-640.jpg" title="Avalanche size 2" alt="Avalanche size 2">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Taille d'avalanche</p>&#13;
          <h2>Taille&nbsp;2 : Avalanche moyenne</h2>&#13;
        </div>&#13;
        <h6>Potentiel destructeur</h6>&#13;
        <ul>
<li>Peut ensevelir, blesser ou tuer des personnes.</li>&#13;
          <li>C'est la taille typique des avalanches déclenchées par des skieurs.</li>&#13;
        </ul>
<h6>Distance parcourue</h6>&#13;
        <ul>
<li>Peut atteindre le pied de la pente.</li>&#13;
        </ul>
<h6>Dimensions typiques</h6>&#13;
        <ul>
<li>Longueur : 50-200&nbsp;m</li>&#13;
          <li>Volume : 1'000&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-3" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size3-640.webp   640w,&#13;
              /content_files/ava_size3-1280.webp 1280w,&#13;
              /content_files/ava_size3-1920.webp 1920w,&#13;
              /content_files/ava_size3-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size3-640.jpg   640w,&#13;
              /content_files/ava_size3-1280.jpg 1280w,&#13;
              /content_files/ava_size3-1920.jpg 1920w,&#13;
              /content_files/ava_size3-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size3-640.jpg" title="Avalanche size 3" alt="Avalanche size 3">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Taille d'avalanche</p>&#13;
          <h2>Taille&nbsp;3 : Grande avalanche</h2>&#13;
        </div>&#13;
        <h6>Potentiel destructeur</h6>&#13;
        <ul>
<li>Peut ensevelir et détruire des véhicules, endommager de gros poids lourds, détruire de petits bâtiments, et casser des arbres.</li>&#13;
          <li>De nombreuses avalanches dans lesquelles des personnes meurent sont „grandes“.</li>&#13;
        </ul>
<h6>Distance parcourue</h6>&#13;
        <ul>
<li>Peut s’avancer en terrain plat (bien en dessous de 30°) sur une distance inférieure à 50&nbsp;m.</li>&#13;
        </ul>
<h6>Dimensions typiques</h6>&#13;
        <ul>
<li>Longueur : plusieurs centaines de mètres</li>&#13;
          <li>Volume : 10’000&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-4" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size4-640.webp   640w,&#13;
              /content_files/ava_size4-1280.webp 1280w,&#13;
              /content_files/ava_size4-1920.webp 1920w,&#13;
              /content_files/ava_size4-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size4-640.jpg   640w,&#13;
              /content_files/ava_size4-1280.jpg 1280w,&#13;
              /content_files/ava_size4-1920.jpg 1920w,&#13;
              /content_files/ava_size4-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size4-640.jpg" title="Avalanche size 4" alt="Avalanche size 4">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Taille d'avalanche</p>&#13;
          <h2>Taille&nbsp;4 : Très grande avalanche</h2>&#13;
        </div>&#13;
        <h6>Potentiel destructeur</h6>&#13;
        <ul>
<li>Peut ensevelir et détruire de gros poids lourds et trains.</li>&#13;
          <li>Peut détruire des bâtiments importants et de petites surfaces boisées.</li>&#13;
          <li>Very large avalanches may occur at danger level&#13;
            3&nbsp;–&nbsp;considerable and are typical during periods with&#13;
            danger levels 4&nbsp;–&nbsp;high and 5&nbsp;–&nbsp;very&nbsp;high.</li>&#13;
        </ul>
<h6>Distance parcourue</h6>&#13;
        <ul>
<li>Traverse les terrains en pente peu raide (nettement moins de 30°) sur une distance de plus de 50&nbsp;m.</li>&#13;
          <li>Peut atteindre le fond de la vallée.</li>&#13;
        </ul>
<h6>Dimensions typiques</h6>&#13;
        <ul>
<li>Longueur : 1-2&nbsp;km</li>&#13;
          <li>Volume : 100’000&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-5" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size5-640.webp   640w,&#13;
              /content_files/ava_size5-1280.webp 1280w,&#13;
              /content_files/ava_size5-1920.webp 1920w,&#13;
              /content_files/ava_size5-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size5-640.jpg   640w,&#13;
              /content_files/ava_size5-1280.jpg 1280w,&#13;
              /content_files/ava_size5-1920.jpg 1920w,&#13;
              /content_files/ava_size5-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size5-640.jpg" title="Avalanche size 5" alt="Avalanche size 5">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Taille d'avalanche</p>&#13;
          <h2>Taille&nbsp;5 : Avalanche extrêmement grande </h2>&#13;
        </div>&#13;
        <h6>Potentiel destructeur</h6>&#13;
        <ul>
<li>Peut dévaster le paysage, potentiel de destruction catastrophique.</li>&#13;
          <li>Typique de l'indice de risque 5&nbsp;–&nbsp;Très&nbsp;Fort.</li>&#13;
        </ul>
<h6>Distance parcourue</h6>&#13;
        <ul>
<li>Atteint le fond de la vallée.</li>&#13;
          <li>C'est la plus grande ampleur d'avalanche connue.</li>&#13;
        </ul>
<h6>Dimensions typiques</h6>&#13;
        <ul>
<li>Longueur : &gt;&nbsp;2&nbsp;km</li>&#13;
          <li>Volume : &gt;&nbsp;100’000&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
</section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Pédagogie &amp; Prévention</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Échelle de danger</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-problems" title="Situations avalancheuses typiques">Situations avalancheuses typiques</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/matrix" title="EAWS Matrix">EAWS Matrice</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/danger-patterns" title="Modèles de danger">Modèles de danger</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/handbook" title="Handbook">Manuel</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
