<div>
<h1>Dimensioni valanghe</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#anchor-1" title="Valanga di piccole dimensioni (scaricamento)" class="secondary pure-button" data-scroll="">Valanga di piccole dimensioni (scaricamento)</a></li>&#13;
      <li><a href="#anchor-2" title="Valanga di medie dimensioni" class="secondary pure-button" data-scroll="">Valanga di medie dimensioni</a></li>&#13;
      <li><a href="#anchor-3" title="Valanga di grandi dimensioni" class="secondary pure-button" data-scroll="">Valanga di grandi dimensioni</a></li>&#13;
      <li><a href="#anchor-4" title="Valanga di dimensioni molto grandi" class="secondary pure-button" data-scroll="">Valanga di dimensioni molto grandi</a></li>&#13;
      <li><a href="#anchor-5" title="Valanga di dimensioni estreme" class="secondary pure-button" data-scroll="">Valanga di dimensioni estreme</a></li>&#13;
    </ul></header></section><section class="section-centered"><div class="panel">&#13;
    <p>The European avalanche warning services divide avalanche sizes into five&#13;
      size classes (based on the Canadian classification). The avalanche size&#13;
      class is defined, among other things, by the potential damage caused.<br>Under&#13;
      this definition, fatal 'skier-triggered avalanches' are often classified&#13;
      as 'small' or (barely) as 'medium' avalanches despite their considerable&#13;
      dimensions, being typically 150&nbsp;m in length and having a slab size of&#13;
      some 50&nbsp;m by 80&nbsp;m and an average slab thickness of around&#13;
      50&nbsp;cm. This is equivalent to a slab volume of approximately&#13;
      2'000&nbsp;m&sup3; or around 400 tonnes.<br>In the following we present&#13;
      the different size classes with their potential damage, run out and&#13;
      typical dimensions.</p>&#13;
  </div>&#13;
</section><section class="section-centered section-dangerscale"><div id="anchor-1" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size1-640.webp   640w,&#13;
              /content_files/ava_size1-1280.webp 1280w,&#13;
              /content_files/ava_size1-1920.webp 1920w,&#13;
              /content_files/ava_size1-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size1-640.jpg   640w,&#13;
              /content_files/ava_size1-1280.jpg 1280w,&#13;
              /content_files/ava_size1-1920.jpg 1920w,&#13;
              /content_files/ava_size1-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size1-640.jpg" title="Avalanche size 1" alt="Avalanche size 1">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Dimensione della valanga</p>&#13;
          <h2>Dim&nbsp;1: Valanga di piccole dimensioni (colata)</h2>&#13;
        </div>&#13;
        <h6>Potenziale distruttivo</h6>&#13;
        <ul>
<li>Relativamente innocua per le persone, seppellimento improbabile, eccetto quando la zona di deposito è sfavorevole (p. es. trappole di terreno).</li>&#13;
          <li>Il pericolo di caduta sui pendii estremi è più marcato del pericolo di seppellimento.</li>&#13;
        </ul>
<h6>Portata</h6>&#13;
        <ul>
<li>Si ferma su un pendio ripido.</li>&#13;
        </ul>
<h6>Dimensioni tipiche</h6>&#13;
        <ul>
<li>Lunghezza: &lt;&nbsp;50&nbsp;m</li>&#13;
          <li>Volume: 100&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-2" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size2-640.webp   640w,&#13;
              /content_files/ava_size2-1280.webp 1280w,&#13;
              /content_files/ava_size2-1920.webp 1920w,&#13;
              /content_files/ava_size2-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size2-640.jpg   640w,&#13;
              /content_files/ava_size2-1280.jpg 1280w,&#13;
              /content_files/ava_size2-1920.jpg 1920w,&#13;
              /content_files/ava_size2-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size2-640.jpg" title="Avalanche size 2" alt="Avalanche size 2">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Dimensione della valanga</p>&#13;
          <h2>Dim&nbsp;2: Valanga di medie dimensioni</h2>&#13;
        </div>&#13;
        <h6>Potenziale distruttivo</h6>&#13;
        <ul>
<li>Può seppellire, ferire o causare la morte di persone.</li>&#13;
          <li>Dim&nbsp;2 valanghe rappresentano tipicamente le valanghe del sciatore</li>&#13;
        </ul>
<h6>Portata</h6>&#13;
        <ul>
<li>Può raggiungere il piede del pendio</li>&#13;
        </ul>
<h6>Dimensioni tipiche</h6>&#13;
        <ul>
<li>Lunghezza: 50-200&nbsp;m</li>&#13;
          <li>Volume: 1'000&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-3" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size3-640.webp   640w,&#13;
              /content_files/ava_size3-1280.webp 1280w,&#13;
              /content_files/ava_size3-1920.webp 1920w,&#13;
              /content_files/ava_size3-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size3-640.jpg   640w,&#13;
              /content_files/ava_size3-1280.jpg 1280w,&#13;
              /content_files/ava_size3-1920.jpg 1920w,&#13;
              /content_files/ava_size3-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size3-640.jpg" title="Avalanche size 3" alt="Avalanche size 3">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Dimensione della valanga</p>&#13;
          <h2>Dim&nbsp;3: Valanga di grandi dimensioni</h2>&#13;
        </div>&#13;
        <h6>Potenziale distruttivo</h6>&#13;
        <ul>
<li>Può seppellire e distruggere automobili, danneggiare autocarri, può distruggere piccoli edifici e piegare alberi isolati.</li>&#13;
          <li>Se sciatori sono coinvolti in valanghe di questa dimensione, le conseguenze sono spesso fatali.</li>&#13;
        </ul>
<h6>Portata</h6>&#13;
        <ul>
<li>Può percorrere terreni pianeggianti (nettamente inferiore a 30°) per una distanza inferiore ai 50&nbsp;m.</li>&#13;
        </ul>
<h6>Dimensioni tipiche</h6>&#13;
        <ul>
<li>Lunghezza: diverse centinaia di m</li>&#13;
          <li>Volume: 10’000&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-4" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size4-640.webp   640w,&#13;
              /content_files/ava_size4-1280.webp 1280w,&#13;
              /content_files/ava_size4-1920.webp 1920w,&#13;
              /content_files/ava_size4-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size4-640.jpg   640w,&#13;
              /content_files/ava_size4-1280.jpg 1280w,&#13;
              /content_files/ava_size4-1920.jpg 1920w,&#13;
              /content_files/ava_size4-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size4-640.jpg" title="Avalanche size 4" alt="Avalanche size 4">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Dimensione della valanga</p>&#13;
          <h2>Dim&nbsp;4: Valanga di dimensioni molto grandi</h2>&#13;
        </div>&#13;
        <h6>Potenziale distruttivo</h6>&#13;
        <ul>
<li>Può seppellire e distruggere autocarri pesanti e vagoni ferroviari.</li>&#13;
          <li>Può distruggere edifici più grandi e parti del bosco.</li>&#13;
          <li>Very large avalanches may occur at danger level&#13;
            3&nbsp;–&nbsp;considerable and are typical during periods with&#13;
            danger levels 4&nbsp;–&nbsp;high and 5&nbsp;–&nbsp;very&nbsp;high.</li>&#13;
        </ul>
<h6>Portata</h6>&#13;
        <ul>
<li>Percorre terreni a ridotta inclinazione (nettamente inferiore a 30°) per una distanza superiore ai 50&nbsp;m</li>&#13;
          <li>Può raggiungere il fondovalle.</li>&#13;
        </ul>
<h6>Dimensioni tipiche</h6>&#13;
        <ul>
<li>Lunghezza: 1-2&nbsp;km</li>&#13;
          <li>Volume: 100’000&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-5" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size5-640.webp   640w,&#13;
              /content_files/ava_size5-1280.webp 1280w,&#13;
              /content_files/ava_size5-1920.webp 1920w,&#13;
              /content_files/ava_size5-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size5-640.jpg   640w,&#13;
              /content_files/ava_size5-1280.jpg 1280w,&#13;
              /content_files/ava_size5-1920.jpg 1920w,&#13;
              /content_files/ava_size5-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size5-640.jpg" title="Avalanche size 5" alt="Avalanche size 5">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Dimensione della valanga</p>&#13;
          <h2>Dim&nbsp;5: Valanga di dimensioni estreme</h2>&#13;
        </div>&#13;
        <h6>Potenziale distruttivo</h6>&#13;
        <ul>
<li>Può devastare il paesaggio, ha un potenziale distruttivo catastrofico.</li>&#13;
          <li>Tipica valanga del grado di pericolo 5&nbsp;–&nbsp;molto&nbsp;forte.</li>&#13;
        </ul>
<h6>Portata</h6>&#13;
        <ul>
<li>Raggiunge il fondovalle</li>&#13;
          <li>Rappresenta le massime dimensioni note.</li>&#13;
        </ul>
<h6>Dimensioni tipiche</h6>&#13;
        <ul>
<li>Lunghezza: &gt;&nbsp;2&nbsp;km</li>&#13;
          <li>Volume: &gt;&nbsp;100’000&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
</section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Formazione &amp; Prevenzione</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Scala del Pericolo</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-problems" title="Avalanche Problems">Problemi Tipici Valanghivi</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/matrix" title="EAWS Matrix">Matrice EAWS</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/danger-patterns" title="Danger Patterns">Situazioni Tipo</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/handbook" title="Handbook">Manuale</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
