<div>
<h1>Mides de lauegi</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#anchor-1" title="Laueg petit (purga)" class="secondary pure-button" data-scroll="">Laueg petit (purga)</a></li>&#13;
      <li><a href="#anchor-2" title="Medium avalanche" class="secondary pure-button" data-scroll>Laueg mejan</a></li>&#13;
      <li><a href="#anchor-3" title="Large avalanche" class="secondary pure-button" data-scroll>Laueg gran</a></li>&#13;
      <li><a href="#anchor-4" title="Very large avalanche" class="secondary pure-button" data-scroll>Laueg fòrça gran</a></li>&#13;
      <li><a href="#anchor-5" title="Extremely large avalanche" class="secondary pure-button" data-scroll>Laueg extramadament gran</a></li>&#13;
    </ul></header></section><section class="section-centered"><div class="panel">&#13;
    <p>The European avalanche warning services divide avalanche sizes into five&#13;
      size classes (based on the Canadian classification). The avalanche size&#13;
      class is defined, among other things, by the potential damage caused.<br>Under&#13;
      this definition, fatal 'skier-triggered avalanches' are often classified&#13;
      as 'small' or (barely) as 'medium' avalanches despite their considerable&#13;
      dimensions, being typically 150&nbsp;m in length and having a slab size of&#13;
      some 50&nbsp;m by 80&nbsp;m and an average slab thickness of around&#13;
      50&nbsp;cm. This is equivalent to a slab volume of approximately&#13;
      2'000&nbsp;m&sup3; or around 400 tonnes.<br>In the following we present&#13;
      the different size classes with their potential damage, run out and&#13;
      typical dimensions.</p>&#13;
  </div>&#13;
</section><section class="section-centered section-dangerscale"><div id="anchor-1" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size1-640.webp   640w,&#13;
              /content_files/ava_size1-1280.webp 1280w,&#13;
              /content_files/ava_size1-1920.webp 1920w,&#13;
              /content_files/ava_size1-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size1-640.jpg   640w,&#13;
              /content_files/ava_size1-1280.jpg 1280w,&#13;
              /content_files/ava_size1-1920.jpg 1920w,&#13;
              /content_files/ava_size1-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size1-640.jpg" title="Avalanche size 1" alt="Avalanche size 1">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Mides de lauegi</p>&#13;
          <h2>Mida&nbsp;1: petit laueg (purga)</h2>&#13;
        </div>&#13;
        <h6>Potenciau destructiu</h6>&#13;
        <ul>
<li>Ei pòc probable qu'entèrre a ua persona, a excepcion de zònes d'arribada damb
caracteristiques deth terren desfavorables (p.ex. trampes deth terren)</li>&#13;
          <li>Es terren extrèmaments arribent, predomine eth perilh de casudes prigondes deth
perilh d’enterraments.</li>&#13;
        </ul>
<h6>Zòna d'arribada</h6>&#13;
        <ul>
<li>S'arture enes pales pendentes.</li>&#13;
        </ul>
<h6>Dimensions tipiques</h6>&#13;
        <ul>
<li>Longitud: &lt;&nbsp;50&nbsp;m</li>&#13;
          <li>Volum: 100&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-2" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size2-640.webp   640w,&#13;
              /content_files/ava_size2-1280.webp 1280w,&#13;
              /content_files/ava_size2-1920.webp 1920w,&#13;
              /content_files/ava_size2-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size2-640.jpg   640w,&#13;
              /content_files/ava_size2-1280.jpg 1280w,&#13;
              /content_files/ava_size2-1920.jpg 1920w,&#13;
              /content_files/ava_size2-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size2-640.jpg" title="Avalanche size 2" alt="Avalanche size 2">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Mides de lauegi</p>&#13;
          <h2>Mida&nbsp;2: laueg mejan</h2>&#13;
        </div>&#13;
        <h6>Potenciau destructiu</h6>&#13;
        <ul>
<li>Pòt enterrar, herir o aucir a ua persona</li>&#13;
          <li>Era mida&nbsp;2 correspon ath tipic lauet desencadenat per un esquiaire</li>&#13;
        </ul>
<h6>Zòna d'arribada</h6>&#13;
        <ul>
<li>Pòt arribar ara fin der arribent prononciat</li>&#13;
        </ul>
<h6>Dimensions tipiques</h6>&#13;
        <ul>
<li>Longitud: 50-200&nbsp;m</li>&#13;
          <li>Volum: 1'000&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-3" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size3-640.webp   640w,&#13;
              /content_files/ava_size3-1280.webp 1280w,&#13;
              /content_files/ava_size3-1920.webp 1920w,&#13;
              /content_files/ava_size3-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size3-640.jpg   640w,&#13;
              /content_files/ava_size3-1280.jpg 1280w,&#13;
              /content_files/ava_size3-1920.jpg 1920w,&#13;
              /content_files/ava_size3-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size3-640.jpg" title="Avalanche size 3" alt="Avalanche size 3">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Mides de lauegi</p>&#13;
          <h2>Mida&nbsp;3: laueg gran</h2>&#13;
        </div>&#13;
        <h6>Potenciau destructiu</h6>&#13;
        <ul>
<li>Pòt enterrar e destruïr coches, espatracar camions, destruïr petites bastisses
e trincar quauqui arbes.</li>&#13;
          <li>Quan es esquiaires son atrapadi per lauegi d’aguesta mida, era probabilitat de
conseqüéncies severes ei fòrça elevada.</li>&#13;
        </ul>
<h6>Zòna d'arribada</h6>&#13;
        <ul>
<li>Pòt crotzar terren plan (fòrça per jos es 30°) a ua distància inferiora a 50&nbsp;m</li>&#13;
        </ul>
<h6>Dimensions tipiques</h6>&#13;
        <ul>
<li>Longitud: diuèrsi 100&nbsp;m</li>&#13;
          <li>Volum: 10’000&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-4" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size4-640.webp   640w,&#13;
              /content_files/ava_size4-1280.webp 1280w,&#13;
              /content_files/ava_size4-1920.webp 1920w,&#13;
              /content_files/ava_size4-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size4-640.jpg   640w,&#13;
              /content_files/ava_size4-1280.jpg 1280w,&#13;
              /content_files/ava_size4-1920.jpg 1920w,&#13;
              /content_files/ava_size4-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size4-640.jpg" title="Avalanche size 4" alt="Avalanche size 4">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Mides de lauegi</p>&#13;
          <h2>Mida&nbsp;4: laueg fòrça gran</h2>&#13;
        </div>&#13;
        <h6>Potenciau destructiu</h6>&#13;
        <ul>
<li>Pòt enterrar e destruïr camions e trens</li>&#13;
          <li>Pòt destruïr bastisses fòrça granes e petites zònes de bòsc.</li>&#13;
          <li>Very large avalanches may occur at danger level&#13;
            3&nbsp;–&nbsp;considerable and are typical during periods with&#13;
            danger levels 4&nbsp;–&nbsp;high and 5&nbsp;–&nbsp;very&nbsp;high.</li>&#13;
        </ul>
<h6>Zòna d'arribada</h6>&#13;
        <ul>
<li>Crotze terren plan (fòrça per jos es 30°) a ua distància de mès de 50&nbsp;m</li>&#13;
          <li>Pòt arténher eth hons dera val</li>&#13;
        </ul>
<h6>Dimensions tipiques</h6>&#13;
        <ul>
<li>Longitud: 1-2&nbsp;km</li>&#13;
          <li>Volum: 100’000&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="anchor-5" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-6">&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/ava_size5-640.webp   640w,&#13;
              /content_files/ava_size5-1280.webp 1280w,&#13;
              /content_files/ava_size5-1920.webp 1920w,&#13;
              /content_files/ava_size5-2560.webp 2560w&#13;
            " sizes="30vw"><source type="image/jpeg" srcset="&#13;
              /content_files/ava_size5-640.jpg   640w,&#13;
              /content_files/ava_size5-1280.jpg 1280w,&#13;
              /content_files/ava_size5-1920.jpg 1920w,&#13;
              /content_files/ava_size5-2560.jpg 2560w&#13;
            " sizes="30vw">&#13;
          <img src="/content_files/ava_size5-640.jpg" title="Avalanche size 5" alt="Avalanche size 5">&#13;
        </picture>
</div>&#13;
&#13;
      <div class="grid-item small-6">&#13;
        <div class="panel-header">&#13;
          <p>Mides de lauegi</p>&#13;
          <h2>Mida&nbsp;5: laueg extremadament gran</h2>&#13;
        </div>&#13;
        <h6>Potenciau destructiu</h6>&#13;
        <ul>
<li>Pòt arrasar eth païsatge e a potenciau destructiu catastròfic</li>&#13;
          <li>Tipic peth perilh de lauegi 5&nbsp;–&nbsp;Plan&nbsp;Fort </li>&#13;
        </ul>
<h6>Zòna d'arribada</h6>&#13;
        <ul>
<li>Artenh eth hons dera val</li>&#13;
          <li>Lauet mès gran coneishut</li>&#13;
        </ul>
<h6>Dimensions tipiques</h6>&#13;
        <ul>
<li>Longitud: &gt;&nbsp;2&nbsp;km</li>&#13;
          <li>Volum: &gt;&nbsp;100’000&nbsp;m&sup3;</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
</section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Educacion; Prevencion</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Escala de perilh</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-problems" title="Avalanche Problems">Problèmes de lauegi</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/matrix" title="EAWS Matrix">Mairitz EAWS</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/danger-patterns" title="Danger Patterns">Patrons de perilh</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/handbook" title="Handbook">Manuau</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
