<div>
  <h1>Veľkosti lavín</h1>

  <section class="section-padding">
    <header class="section-centered">
      <ul class="list-inline list-buttongroup-dense">
        <li>
          <a
            href="#anchor-1"
            title="Small avalanche (sluff)"
            class="secondary pure-button"
            data-scroll
            >Malá lavína (splaz)</a
          >
        </li>
        <li>
          <a
            href="#anchor-2"
            title="Medium avalanche"
            class="secondary pure-button"
            data-scroll
            >Stredná lavína</a
          >
        </li>
        <li>
          <a
            href="#anchor-3"
            title="Large avalanche"
            class="secondary pure-button"
            data-scroll
            >Veľká lavína</a
          >
        </li>
        <li>
          <a
            href="#anchor-4"
            title="Very large avalanche"
            class="secondary pure-button"
            data-scroll
            >Veľmi veľká lavína</a
          >
        </li>
        <li>
          <a
            href="#anchor-5"
            title="Extremely large avalanche"
            class="secondary pure-button"
            data-scroll
            >Extrémne veľká lavína</a
          >
        </li>
      </ul>
    </header>
  </section>
  <section class="section-centered">
    <div class="panel">
      <p>
        Európske lavínové služby rozdeľujú veľkosti lavín do 5 kategórií
        (založených na Kanadskej klasifikácií). Trieda veľkosti lavíny je
        definovaná, okrem iného, najmä jej deštrukčným potenciálom. <br />
        Pod touto definíciou sa často klasifikujú smrteľné lavíny uvoľnené
        lyžiarom ako malé, alebo (zriedkavo) ako stredné lavíny navzdory ich
        značným rozmerom, štandardne dosahujú dĺžku 150&nbsp;m a rozmer doskovej
        lavíny môže byť 50&nbsp;m na 80&nbsp;m a priemerná výška odtrhu je
        50&nbsp;cm. Takáto veľkosť zodpovedá objemu cca 2'000&nbsp;m&sup3; alebo
        400 ton.<br />Nižšie uvádzame rozdielne veľkosti lavín s ich deštrukčným
        potenciálom, dosahom a typickým rozmermi.
      </p>
    </div>
  </section>
  <section class="section-centered section-dangerscale">
    <div id="anchor-1" class="panel field border">
      <div class="grid">
        <div class="grid-item small-6">
          <picture
            ><source
              type="image/webp"
              srcset="
                /content_files/ava_size1-640.webp   640w,
                /content_files/ava_size1-1280.webp 1280w,
                /content_files/ava_size1-1920.webp 1920w,
                /content_files/ava_size1-2560.webp 2560w
              "
              sizes="30vw"
            />
            <source
              type="image/jpeg"
              srcset="
                /content_files/ava_size1-640.jpg   640w,
                /content_files/ava_size1-1280.jpg 1280w,
                /content_files/ava_size1-1920.jpg 1920w,
                /content_files/ava_size1-2560.jpg 2560w
              "
              sizes="30vw"
            />
            <img
              src="/content_files/ava_size1-640.jpg"
              title="Avalanche size 1"
              alt="Avalanche size 1"
            />
          </picture>
        </div>

        <div class="grid-item small-6">
          <div class="panel-header">
            <p>Veľkosti lavín</p>
            <h2>Veľkosť&nbsp;1: Malá lavína (splaz)</h2>
          </div>
          <h6>Deštrukčný potenciál</h6>
          <ul>
            <li>
              Zvyčajne nezasype osobu, s výnimkou nepriaznivých terénnych
              pomerov v dosahu lavíny (terénne pasce)
            </li>
            <li>
              V extrémne strmom teréne , prevláda nebezpečenstvo pádu (skalné
              prahy) pred zasypaním.
            </li>
          </ul>
          <h6>Dosah lavín</h6>
          <ul>
            <li>Zastane v rámci svahu.</li>
          </ul>
          <h6>Typická dĺžka a objem</h6>
          <ul>
            <li>Dĺžka: &lt;&nbsp;50&nbsp;m</li>
            <li>Objem: 100&nbsp;m&sup3;</li>
          </ul>
        </div>
      </div>
    </div>

    <div id="anchor-2" class="panel field border">
      <div class="grid">
        <div class="grid-item small-6">
          <picture
            ><source
              type="image/webp"
              srcset="
                /content_files/ava_size2-640.webp   640w,
                /content_files/ava_size2-1280.webp 1280w,
                /content_files/ava_size2-1920.webp 1920w,
                /content_files/ava_size2-2560.webp 2560w
              "
              sizes="30vw"
            />
            <source
              type="image/jpeg"
              srcset="
                /content_files/ava_size2-640.jpg   640w,
                /content_files/ava_size2-1280.jpg 1280w,
                /content_files/ava_size2-1920.jpg 1920w,
                /content_files/ava_size2-2560.jpg 2560w
              "
              sizes="30vw"
            />
            <img
              src="/content_files/ava_size2-640.jpg"
              title="Avalanche size 2"
              alt="Avalanche size 2"
            />
          </picture>
        </div>

        <div class="grid-item small-6">
          <div class="panel-header">
            <p>Veľkosti lavín</p>
            <h2>Veľkosť&nbsp;2: Stredná lavína</h2>
          </div>
          <h6>Deštrukčný potenciál</h6>
          <ul>
            <li>Môže zasypať, zraniť alebo zabiť človeka</li>
            <li>
              Veľkosť&nbsp;2 zodpovedá typickej lavíne uvoľnenej lyžiarom.
            </li>
          </ul>
          <h6>Dosah lavín</h6>
          <ul>
            <li>Zvyčajne zastane na konci lavínového svahu.</li>
          </ul>
          <h6>Typická dĺžka a objem</h6>
          <ul>
            <li>Dĺžka: 50-200&nbsp;m</li>
            <li>Objem: 1'000&nbsp;m&sup3;</li>
          </ul>
        </div>
      </div>
    </div>

    <div id="anchor-3" class="panel field border">
      <div class="grid">
        <div class="grid-item small-6">
          <picture
            ><source
              type="image/webp"
              srcset="
                /content_files/ava_size3-640.webp   640w,
                /content_files/ava_size3-1280.webp 1280w,
                /content_files/ava_size3-1920.webp 1920w,
                /content_files/ava_size3-2560.webp 2560w
              "
              sizes="30vw"
            />
            <source
              type="image/jpeg"
              srcset="
                /content_files/ava_size3-640.jpg   640w,
                /content_files/ava_size3-1280.jpg 1280w,
                /content_files/ava_size3-1920.jpg 1920w,
                /content_files/ava_size3-2560.jpg 2560w
              "
              sizes="30vw"
            />
            <img
              src="/content_files/ava_size3-640.jpg"
              title="Avalanche size 3"
              alt="Avalanche size 3"
            />
          </picture>
        </div>

        <div class="grid-item small-6">
          <div class="panel-header">
            <p>Veľkosti lavín</p>
            <h2>Veľkosť&nbsp;3: Veľká lavína</h2>
          </div>
          <h6>Deštrukčný potenciál</h6>
          <ul>
            <li>
              Môže zasypať a zničiť auto, poškodiť nákladné auto, zničiť malú
              budovu alebo polámať niekoľko stromov.
            </li>
            <li>
              Keď je lyžiar strhnutý takto veľkou lavínou, pravdepodobnosť
              závažných následkov je veľmi vysoká.
            </li>
          </ul>
          <h6>Dosah lavín</h6>
          <ul>
            <li>
              Môže prekonať rovinatý terén (so sklonom podstatne menším ako 30°)
              do vzdialenosti menšej ako 50&nbsp;m
            </li>
          </ul>
          <h6>Typická dĺžka a objem</h6>
          <ul>
            <li>Dĺžka: niekoľko 100&nbsp;m</li>
            <li>Objem: 10’000&nbsp;m&sup3;</li>
          </ul>
        </div>
      </div>
    </div>

    <div id="anchor-4" class="panel field border">
      <div class="grid">
        <div class="grid-item small-6">
          <picture
            ><source
              type="image/webp"
              srcset="
                /content_files/ava_size4-640.webp   640w,
                /content_files/ava_size4-1280.webp 1280w,
                /content_files/ava_size4-1920.webp 1920w,
                /content_files/ava_size4-2560.webp 2560w
              "
              sizes="30vw"
            />
            <source
              type="image/jpeg"
              srcset="
                /content_files/ava_size4-640.jpg   640w,
                /content_files/ava_size4-1280.jpg 1280w,
                /content_files/ava_size4-1920.jpg 1920w,
                /content_files/ava_size4-2560.jpg 2560w
              "
              sizes="30vw"
            />
            <img
              src="/content_files/ava_size4-640.jpg"
              title="Avalanche size 4"
              alt="Avalanche size 4"
            />
          </picture>
        </div>

        <div class="grid-item small-6">
          <div class="panel-header">
            <p>Veľkosti lavín</p>
            <h2>Veľkosť&nbsp;4: Veľmi veľká lavína</h2>
          </div>
          <h6>Deštrukčný potenciál</h6>
          <ul>
            <li>Môže zasypať a zničiť nákladné autá a vlaky.</li>
            <li>Môže zničiť pomerne veľké budovy a malé plochy lesa.</li>
            <li>
              Veľmi veľké lavíny môžu sa vyskytnúť od stupňa lavínového
              nebezpečenstva 3&nbsp;-&nbsp;ZVÝŠENÉ a typické sú pre stupeň
              lavínového nebezpečenstva 4&nbsp;-&nbsp;VEĽKÉ a 5&nbsp;-&nbsp;
              VEĽMI VEĽKÉ.
            </li>
          </ul>
          <h6>Dosah lavín</h6>
          <ul>
            <li>
              Prechádza rovinatým terénom (so sklonom podstatne menším ako 30°)
              do vzdialenosti väčšej ako 50&nbsp;m
            </li>
            <li>Môže dosiahnuť dno údolia.</li>
          </ul>
          <h6>Typická dĺžka a objem</h6>
          <ul>
            <li>Dĺžka: 1-2&nbsp;km</li>
            <li>Objem: 100’000&nbsp;m&sup3;</li>
          </ul>
        </div>
      </div>
    </div>

    <div id="anchor-5" class="panel field border">
      <div class="grid">
        <div class="grid-item small-6">
          <picture
            ><source
              type="image/webp"
              srcset="
                /content_files/ava_size5-640.webp   640w,
                /content_files/ava_size5-1280.webp 1280w,
                /content_files/ava_size5-1920.webp 1920w,
                /content_files/ava_size5-2560.webp 2560w
              "
              sizes="30vw"
            />
            <source
              type="image/jpeg"
              srcset="
                /content_files/ava_size5-640.jpg   640w,
                /content_files/ava_size5-1280.jpg 1280w,
                /content_files/ava_size5-1920.jpg 1920w,
                /content_files/ava_size5-2560.jpg 2560w
              "
              sizes="30vw"
            />
            <img
              src="/content_files/ava_size5-640.jpg"
              title="Avalanche size 5"
              alt="Avalanche size 5"
            />
          </picture>
        </div>

        <div class="grid-item small-6">
          <div class="panel-header">
            <p>Veľkosti lavín</p>
            <h2>Veľkosť&nbsp;5: Extrémne veľká lavína</h2>
          </div>
          <h6>Deštrukčný potenciál</h6>
          <ul>
            <li>
              Môže mať devastujúce účinky na krajinu a má katastrofický
              deštrukčný potenciál.
            </li>
            <li>
              Typické pre piaty stupeň lavínového nebezpečenstva
              5&nbsp;-&nbsp;VEĽMI VEĽKÉ
            </li>
          </ul>
          <h6>Dosah lavín</h6>
          <ul>
            <li>Dosahuje dno údolia.</li>
            <li>Najväčšia známa lavína</li>
          </ul>
          <h6>Typická dĺžka a objem</h6>
          <ul>
            <li>Dĺžka: &gt;&nbsp;2&nbsp;km</li>
            <li>Objem: &gt;&nbsp;100’000&nbsp;m&sup3;</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section classname="section-centered section-context">
    <div classname="panel">
      <h2 classname="subheader">Vzdelávanie &amp; Prevencia</h2>

      <ul classname="list-inline list-buttongroup-dense">
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/danger-scale"
            title="Stupnica lavínového nebezpečenstva"
            >Stupnica lavínového nebezpečenstva</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/avalanche-problems"
            title="Typické lavínové problémy"
            >Typické lavínové problémy</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/workflow"
            title="Pracovný postup"
            >Pracovný postup</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/matrix"
            title="EAWS Matica"
            >EAWS Matica</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/snowpack-stability"
            title="Stabilita snehovej pokrývky"
            >Stabilita snehovej pokrývky</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/frequency"
            title="Množstvo nebezpečných miest"
            >Množstvo nebezpečných miest</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/spatio-temporal-scale"
            title="Stanovenie priestorovej a časovej mierky"
            >Stanovenie priestorovej a časovej mierky</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/danger-patterns"
            title="Modely lavínového nebezpečenstva "
            >Modely lavínového nebezpečenstva
          </a>
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/handbook"
            title="Príručka"
            >Príručka</a
          >
        </li>
      </ul>
    </div>
  </section>
</div>
