<div>
<h1>Accessibility Declaration</h1>&#13;
&#13;
<section class="section-centered"><div class="panel">&#13;
    <p>Pursuant to Commission Implementing Decision (EU) 2018/1523 of 11 October&#13;
      2018 establishing a model accessibility statement in accordance with&#13;
      Directive (EU) 2016/2102 of the European Parliament and of the Council on&#13;
      barrier-free access to the websites and mobile applications of public&#13;
      sector bodies.</p>&#13;
&#13;
    <h4>Declaration on accessibility</h4>&#13;
&#13;
    <p>The Office of the Tyrolean Regional Government endeavours to make its&#13;
      website accessible in accordance with Section 14b of the Tyrolean&#13;
      Anti-Discrimination Act 2005 implementing Directive (EU) 2016/2102 of the&#13;
      European Parliament and of the Council of 26 October 2016 on barrier-free&#13;
      access to the websites and mobile applications of public sector bodies (OJ&#13;
      L 327, 2.12.2016, p. 1).</p>&#13;
    <p>This accessibility statement applies to "Avalanche.report" |&#13;
      "Avalanche.report" | "Valanghe.report".</p>&#13;
&#13;
    <h4>Status of compatibility with the requirements</h4>&#13;
&#13;
    <p>This website is partially compliant with compliance level AA of the "Web&#13;
      Accessibility Guidelines - WCAG 2.1" according to the applicable&#13;
      harmonised European standard "European Standard EN 301 549 V2.1.2&#13;
      (2018-08)" due to the following incompatibilities.</p>&#13;
&#13;
    <h5>Non-accessible content</h5>&#13;
&#13;
    <p>The content listed below is not accessible for the following reasons:</p>&#13;
&#13;
    <h6>1. Incompatibility with accessibility regulations.</h6>&#13;
&#13;
    <h7>1.1 Perceptibility</h7><p>For some images in blog entries the alternative text is missing, so this&#13;
      information is not accessible for screen reader users. This means that&#13;
      WCAG success criterion 1.1.1 (non-text content) is not met. All new images&#13;
      are published together with alternative text.</p>&#13;
    <p>Some pages are missing level 2, 3, 4 and 5 headings, thus WCAG success&#13;
      criteria 1.3.1 (info and relationships) is not met.</p>&#13;
    <p>On some pages, the minimum contrast ratio of 4.5:1 of text and images of&#13;
      text is not met. This means that WCAG success criterion 1.4.3 Contrast&#13;
      (minimum) is not met.</p>&#13;
    <p>Images and graphics are used to provide weather and climate content in a&#13;
      compact and effective way. For technical reasons and due to the high&#13;
      update rates of the files to be visualised, we are not able to design all&#13;
      illustrations and graphics in an accessible and barrier-free manner and in&#13;
      these cases do not fulfil success criterion 1.1.1 (text alternative). This&#13;
      includes animated weather forecasts and analyses.</p>&#13;
&#13;
    <h6>2. Disproportionate burden</h6>&#13;
&#13;
    <p>Our videos do not have audio description. This means that WCAG success&#13;
      criterion 1.2.5 (audio description recorded) is not met. The content of&#13;
      the video is available in textual form directly with the videos.</p>&#13;
&#13;
    <h4>Creation of this Accessibility Statement</h4>&#13;
&#13;
    <p>This statement was created on 15.05.2021.</p>&#13;
    <p>The content of some selected web pages (home page, blog overview, one blog&#13;
      entry, ward readings, and the pages under the Education and More menu&#13;
      items) underwent a WCAG 2.1 self-test at compliance level AA in May 2021.</p>&#13;
    <p>The statement was last reviewed on 15.05.2021.</p>&#13;
&#13;
    <h4>Feedback and contact details</h4>&#13;
&#13;
    <p>The offers and services on this website are constantly being improved,&#13;
      exchanged and expanded. Usability and accessibility are of great concern&#13;
      to us.</p>&#13;
    <p>If you notice any barriers that prevent you from using our website, please&#13;
      let us know by e-mail.</p>&#13;
    <p>Please send all messages and suggestions to lawine@tirol.gv.at with the&#13;
      subject "Report a barrier in the lawinen.report website". Please be&#13;
      specific in describing the problem and provide us with the URL(s) of the&#13;
      affected website or document.</p>&#13;
    <p><b>Contact</b><br>&#13;
      Office of the Tyrolean Provincial Government<br>&#13;
      Department Protection against Natural Hazards and Evacuation Management<br>&#13;
      Department Avalanche Warning Service<br>&#13;
      Leopoldstraße 3 6020 Innsbruck<br><a href="mailto:lawine@tirol.gv.at" target="_blank">lawine@tirol.gv.at</a></p>&#13;
&#13;
    <h4>Enforcement procedure</h4>&#13;
&#13;
    <p>If you do not receive satisfactory answers from the above-mentioned&#13;
      contact option, you can turn to the&#13;
      <a href="https://www.tirol.gv.at/gesellschaft-soziales/gleichbehandlung-antidiskriminierung/barrierefreies-internet/ombudsstelle/" target="_blank" rel="noopener noreferrer">Ombudsman's Office for Accessible Internet and Mobile Applications</a>&#13;
      of the Province of Tyrol by means of a complaint. The complaint will be&#13;
      examined to determine whether there has been a violation of the provisions&#13;
      of § 14b of the Tyrolean Anti-Discrimination Act by organs of the&#13;
      province, the municipalities, the associations of municipalities and the&#13;
      self-governing bodies established by provincial law. If the complaint is&#13;
      justified, the ombudsperson's office must make recommendations to the&#13;
      province or the legal entities concerned and propose measures to remedy&#13;
      the deficiencies. Further information on the complaints procedure can be&#13;
      found on the website of the Ombudsman's Office for Accessible Internet and&#13;
      Mobile Applications.</p>&#13;
  </div>&#13;
</section>
</div>
