<div>
<h1>Impostazione della struttura spazio-temporale</h1>&#13;
&#13;
<section class="section-centered"><div class="panel">&#13;
    <p>The following spatial scales must be considered when determining the&#13;
      avalanche danger level for a region.</p>&#13;
&#13;
    <h2>Dominio della previsione</h2>&#13;
    <p>Forecasting domain is the area of responsibility of an avalanche warning&#13;
      service issuing public avalanche forecasts. The forecasting domain is&#13;
      generally static for a service/operation. In the case of the warning&#13;
      services within the Euregio the static domain is represented by the bounds&#13;
      of the Euregio, i.e. the area of Tirol, South Tyrol and Trentino.</p>&#13;
&#13;
    <h2>Micro-zone</h2>&#13;
    <p>Micro-regions are the smallest, geographically clearly specified areas&#13;
      used for avalanche danger assessment. They are again static. Furthermore,&#13;
      they permit the forecast user to know exactly which region is described.&#13;
      They may be delineated by administrative boundaries (e.g., between&#13;
      countries, federal states, or regions and provinces); describe&#13;
      climatologically, hydrologically, or meteorologically homogeneous regions;&#13;
      or may be based on orographic divisions, or a combination of these&#13;
      <a href="https://nhess.copernicus.org/articles/18/2697/2018/">(Techel et al., 2018)</a>. For more details on the micro-regions defined within the Euregio please&#13;
      go and check our <a href="education/handbook">Handbook</a>.</p>&#13;
&#13;
    <h2>Unità di riferimento</h2>&#13;
&#13;
    <p>A reference unit is the smallest spatial-temporal entity at which an&#13;
      avalanche danger level can be assessed. A reference unit can be delineated&#13;
      by different elevations and/or aspects within a micro-region (Figure 1).&#13;
      It must still be large enough to include a variety of avalanche terrain,&#13;
      thus that issuing an avalanche danger level makes sense. The reference&#13;
      unit needs to be defined and remains consistent within a forecasting&#13;
      service (and ideally across forecasting services).</p>&#13;
&#13;
    <h2>Meteo-nivo zona</h2>&#13;
    <p>A warning region is an aggregation of micro-regions, where avalanche&#13;
      conditions are considered similar and are assessed with the same danger&#13;
      level, critical aspects, and elevations where the danger and the avalanche&#13;
      problems prevail, and danger description. The way they are aggregated can&#13;
      vary from day to day. A warning region is smaller or equal to the&#13;
      forecasting domain and larger or equal to a micro-region.</p>&#13;
&#13;
    <h2>Risoluzione</h2>&#13;
&#13;
    <p>The spatial-temporal resolution used to assess avalanche danger depends&#13;
      primarily on the availability of relevant and reliable data in a&#13;
      sufficient spatial density and temporal frequency. Therefore, the&#13;
      resolution of avalanche danger assessment will vary between warning&#13;
      services. Typically, the following elements characterize the&#13;
      spatial-temporal resolution used to determine the avalanche danger level:</p>&#13;
&#13;
    <ul>
<li>la dimensione delle micro-zone all'interno di un dominio di previsione (Figura 1a), </li>&#13;
      <li>la risoluzione della quota e/o dell’esposizione (Figura 1b e c), e </li>&#13;
      <li>the temporal subdivision within the valid period of a forecast (e.g., in&#13;
        the morning/evening, Figure 1d).</li>&#13;
    </ul>
<p>The resolution of these elements defines the lowest spatial and temporal&#13;
      units at which a forecaster can issue an avalanche danger level, which we&#13;
      refer to as reference unit. The warning services within the Euregio use&#13;
      the following set of spatial and temporal entities to assess avalanche&#13;
      danger:</p>&#13;
&#13;
    <ul>
<li>Almeno una micro-zona</li>&#13;
      <li>Al massimo due quote</li>&#13;
      <li>Almeno 1/8 di tutte le esposizioni possibili, ma in generale 3/8.</li>&#13;
      <li>Al massimo du punti nel tempo (p.es. mattina / pomeriggio)</li>&#13;
    </ul>
<table style="width: 100%; border: 0px solid #000; text-align: center"><tbody><tr>
<td><img style="width: 100%" title="Figure 1: Elements typically chosen to determin the reference unit." alt="Figure 1: Elements typically chosen to determin the reference unit." data-entity-type="file" data-entity-uuid="d397a528-6f80-4ea3-afdf-255ab9ae681d" src="/content_files/ReferenceUnitsResolution_EN.png"></td>&#13;
        </tr></tbody></table>
<p class="small" style="text-align: center">Figure 1: Figure 1: Elements typically chosen to determine the reference&#13;
      unit.</p>&#13;
&#13;
    <p>Figure 1 shows how a reference unit typically can be characterized by the&#13;
      combination of the smallest subdivisions for the elements: (a) the&#13;
      smallest geographical entity (the micro-region) within a forecasting&#13;
      domain, (b) the resolution of elevation and (c) aspect, and (d) a temporal&#13;
      subdivision. In the figure, exemplary sub-divisions are highlighted. Here,&#13;
      the size of a single micro region defines the spatial extent, elevation is&#13;
      resolved in 200 m increments, but is assessed as above (and below) an&#13;
      elevation threshold, the aspect is split into eight parts, while the&#13;
      temporal subdivision allows a distinction between morning and afternoon.&#13;
      The combination of the elements highlighted blue, would be the reference&#13;
      unit, the smallest spatial-temporal entity at which the avalanche danger&#13;
      level can be assessed.</p>&#13;
  </div>&#13;
</section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Formazione &amp; Prevenzione</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Scala del Pericolo</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-problems" title="Problemi Tipici Valanghivi">Problemi Tipici Valanghivi</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-sizes" title="Avalanche Sizes">Dimensioni delle valanghe</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/danger-patterns" title="Danger Patterns">Situazioni Tipo</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/spatio-temporal-scale" title="Spatio-temporal Scale">Struttura spazio-temporale </a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/workflow" title="Workflow">Flusso di lavoro</a></li>&#13;
      <li>Stabilià del manto nevoso</li>&#13;
      <li><a classname="secondary pure-button" href="/education/frequency" title="Frequency">Distribuzione della frequenza della stabilità del manto </a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/handbook" title="Handbook">Manuale</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
