<div>
  <h1>Stanovenie priestorovej a časovej mierky</h1>

  <section class="section-centered">
    <div class="panel">
      <p>
        Počas posudzovania lavínového nebezpečenstva pre konkrétne pohorie sa
        musí brať do úvahy nasledujúce priestorové rozdelenie.
      </p>

      <h2>Oblasť predpovede</h2>
      <p>
        Oblasť predpovede je územie, pre ktoré Stredisko lavínovej prevencie HZS
        predpovedá stupne lavínového nebezpečenstva. Hranice tohto územia sú
        pevne dané.
      </p>

      <h2>Mikro regióny</h2>
      <p>
        Mikro regióny sú najmenšie, geograficky jasne definované oblasti
        používané pre zhodnotenie lavínového nebezpečenstva. Ich hranice sú
        pevne dané. Používateľovi lavínového bulletinu jasne definujú región, na
        ktorý sa vzťahuje predpoveď. Môžu byť vymedzené administratívnymi
        hranicami (napr. štátnou hranicou, hranicou okresov, krajov ), prípadne
        opisujú klimaticky, hydrologicky alebo meteorologicky homogénne regióny
        alebo môžu byť založené na orografickom členení, prípadne na ich
        kombinácii
        <a href="https://nhess.copernicus.org/articles/18/2697/2018/"
          >(Techel et al., 2018)</a
        >. Podrobnejšie informácie o mikroregiónoch vymedzených v rámci Euregia
        nájdete v našej <a href="education/handbook">príručke</a>.
      </p>

      <h2>Referenčná jednotka</h2>

      <p>
        Referenčná jednotka je najmenšia priestorová-časová jednotka, v ktorej
        môže byt posudzované lavínové nebezpečenstvo. Referenčná jednotka môže
        byť vymedzená rôznymi nadmorskými výškami, alebo orientáciami v rámci
        mikro regiónu (Príklad č.1). Zároveň však musí byť dostatočne veľká na
        to aby zahŕňala rozmanitosť lavínového terénu, tak aby vydávanie
        lavínového stupňa malo zmysel. Referenčnú jednotku je potrebné definovať
        tak, aby bola stále rovnaká.
      </p>

      <h2>Lavínový región</h2>
      <p>
        Lavínový región je spojenie viacero mikro regiónov, kde sa lavínové
        podmienky považujú za podobné a sú posudzované rovnakým stupňom,
        nebezpečnými orientáciami prípadne nadmorskou výškou. Spôsob akým sú
        spájané sa môže v závislosti od podmienok v konkrétny deň líšiť.
      </p>

      <h2>Rozlíšenie</h2>

      <p>
        Časovo-priestorové rozlíšenie používané na zhodnotenie lavínového
        nebezpečenstva závisí predovšetkým od dostupnosti relevantných a
        spoľahlivých údajov v dostatočnom množstve a časovej frekvencií. Preto
        sa výsledok posúdenia lavínového nebezpečenstva, medzi jednotlivými
        lavínovým službami môže líšiť. Typické prvky slúžiace na posúdenie
        lavínového nebezpečenstva z hľadiska časového a priestorového delenia
        sú:
      </p>

      <ul>
        <li>
          veľkosť mikro- regiónov v rámci predpovednej oblasti (Príklad 1a),
        </li>
        <li>
          Rozdelenie nadmorskej výšky, a/alebo orientácie ( Príklad 1b, c), a
        </li>
        <li>
          časové členenie v rámci trvania lavínovej predpovede ( napr. doobeda,
          poobede, Príklad 1d).
        </li>
      </ul>
      <p>
        Rozlíšenie týchto prvkov definuje najnižšie priestorové a časové
        jednotky v ktorých môžu lavínoví prognostici vydať stupeň lavínového
        nebezpečenstva. Stredisko lavínovej prevencie používa na hodnotenie
        lavínového nebezpečenstva nasledujúci súbor priestorových a časových
        jednotiek:
      </p>

      <ul>
        <li>Aspoň jeden mikro-región</li>
        <li>Maximálne dve úrovne nadmorských výšok</li>
        <li>
          Aspoň 1/8 zo všetkých možných orientácií, ale vo všeobecnosti 1/3.
        </li>
        <li>Maximálne dva časové delenia (napr. doobedu/ poobede)</li>
      </ul>
      <table style="width: 100%; border: 0px solid #000; text-align: center">
        <tbody>
          <tr>
            <td>
              <img
                style="width: 100%"
                title="Prvky zvyčajne zvolené na určenie referenčnej jednotky."
                alt="Prvky zvyčajne zvolené na určenie referenčnej jednotky."
                data-entity-type="file"
                data-entity-uuid="d397a528-6f80-4ea3-afdf-255ab9ae681d"
                src="/content_files/ReferenceUnitsResolution_SK.png"
              />
            </td>
          </tr>
        </tbody>
      </table>
      <p class="small" style="text-align: center">
        Príklad 1: Prvky zvyčajne zvolené na určenie referenčnej jednotky.
      </p>

      <p>
        Príklad 1.: referenčná jednotka typicky charakterizovaná kombináciou
        najmenších delení rôznych prvkov: (a) najmenšia geografická jednotka
        (mikro-región) v rámci oblasti predpovede, (b) rozlíšenie nadmorskej
        výšky a (c) orientácie, a (d) časové delenie. V obrázku sú zvýraznené
        príklady pododdielov. Veľkosť jediného mikro-regiónu je definovaná
        priestorovým rozsahom, nadmorskou výškou - delenou po 200 m prírastkoch,
        kde lavínové nebezpečenstvo sa udáva pod alebo nad určenú hranicu,
        orientáciou delenou na osem svetových strán, časovým delením -doobeda a
        poobede. Vzájomná kombinácia týchto prvkov zvýraznená na modro je
        referenčnou jednotkou najmenších časovo-priestorových prvkov v ktorých
        je možné posudzovať lavínové nebezpečenstvo.
      </p>
    </div>
  </section>
  <section classname="section-centered section-context">
    <div classname="panel">
      <h2 classname="subheader">Vzdelávanie &amp; Prevencia</h2>

      <ul classname="list-inline list-buttongroup-dense">
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            style="display: none"
            href="/education/danger-scale"
            title="Stupnica lavínového nebezpečenstva"
            >Stupnica lavínového nebezpečenstva</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/avalanche-problems"
            title="Typické lavínové problémy"
            >Typické lavínové problémy</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/workflow"
            title="Pracovný postup"
            >Pracovný postup</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/matrix"
            title="EAWS Matica"
            >EAWS Matica</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/snowpack-stability"
            title="Stabilita snehovej pokrývky"
            >Stabilita snehovej pokrývky</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/frequency"
            title="Množstvo nebezpečných miest"
            >Množstvo nebezpečných miest</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/avalanche-sizes"
            title="Veľkost lavín"
            >Veľkost lavín</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/danger-patterns"
            title="Modely lavínového nebezpečenstva "
            >Modely lavínového nebezpečenstva
          </a>
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/handbook"
            title="Príručka"
            >Príručka</a
          >
        </li>
      </ul>
    </div>
  </section>
</div>
