<div>
<h1>Privacy Policy</h1>&#13;
&#13;
<section class="section-centered"><div class="panel">&#13;
    <p>The purpose of the website "Avalanche.report" | "Lawinen.report" |&#13;
      "Valanghe.report" is to provide comprehensive information on the current&#13;
      avalanche situation in the European region “Tyrol-South Tyrol-Trentino” as&#13;
      well as detailed background information. This privacy policy describes the&#13;
      processing (e.g. collection, use, and storage) and protection of your&#13;
      personal data, including your IP address, by the Office of the Tyrolean&#13;
      Provincial Government which operates this website. Since the protection of&#13;
      your personal data is important to us, the personal data is processed in&#13;
      accordance to the applicable legal acts and regulations, particularly the&#13;
      General Data Protection Regulation (GDPR - (EU) 2016/679) and the Federal&#13;
      Act concerning the Protection of Personal Data (Datenschutzgesetz 2018)&#13;
      and the Tyrolean Act concerning the Protection of Personal Data 2018&#13;
      (Tiroler Datenschutzgesetz 2018). <br>In order to guarantee the&#13;
      integrity of the processed personal data, to ensure that the personal data&#13;
      is processed properly and that it is not made accessible to unauthorised&#13;
      persons, appropriate data security measures have been implemented.</p>&#13;
&#13;
    <h4>Who is responsible for the processing of your data (Data Controller)?</h4>&#13;
&#13;
    <p>Responsible for the processing of your personal data is the Office of the&#13;
      Tyrolean Provincial Government, Eduard-Wallnöfer-Platz 3, 6020 Innsbruck,&#13;
      <a href="mailto:post@tirol.gv.at" target="_blank">post@tirol.gv.at</a>.</p>&#13;
&#13;
    <h4>What rights do you have based on the GDPR?</h4>&#13;
&#13;
    <p>You have the right to be informed about who is processing your personal&#13;
      data, for what purpose your personal data is processed (including the&#13;
      legal basis), if appropriate, the information about the data origin and in&#13;
      case of personal data being transferred, the name of the receiver. In&#13;
      addition to this you have the “Right of access by the data subject&#13;
      (Article 15 GDPR)“, the “Right to rectification (Article 16 GDPR)”, the&#13;
      “Right to erasure (Article 17 GDPR)“ , the “Right to restriction of&#13;
      processing (Article 18 GDPR)” and the “Right to data portability (Article&#13;
      20 GDPR)”. <br>In certain cases, if personal data processing is&#13;
      necessary for the performance of a task carried out in the public interest&#13;
      or in the exercise of official authority vested in the controller (Article&#13;
      6 (1) lit. e GDPR) or if personal data processing is necessary for the&#13;
      purposes of the legitimate interests pursued by the controller or by a&#13;
      third party (Article 6 (1) lit. f GDPR), you have the “Right to object&#13;
      (Article 21 GDPR)”. <br>Please note that the rights under the GDPR may&#13;
      be subject to legal restrictions, if the exercise of these rights would&#13;
      impair the fulfilment of legal tasks.</p>&#13;
&#13;
    <h4>Processing of your IP address</h4>&#13;
&#13;
    <p>The GDPR obliges us to protect our Information Technology (IT)&#13;
      infrastructure. In order to ensure the functionality of our IT services,&#13;
      we process the IP addresses of visitors to our website on the&#13;
      “World-Direct” servers. The personal data processing of IP addresses from&#13;
      visitors of the website takes place in accordance with Article 6 (1) lit.&#13;
      f GDPR. We have a legitimate interest in ensuring the stability and&#13;
      security of the servers by processing the IP addresses of website&#13;
      visitors. These are stored for a maximum of 31 days and are deleted after&#13;
      this time period. In addition, the anonymous IP range is used to analyse&#13;
      the location of the website user but only according to the respective&#13;
      country origin and to improve the website.</p>&#13;
&#13;
    <h4>Processing of your e-mail address</h4>&#13;
&#13;
    <p>A newsletter with the current avalanche report and blog entries on the&#13;
      Avalanche.report | Lawinen.report | Valanghe.report homepage is sent to&#13;
      those visitors that have subscribed the newsletter with entering their&#13;
      e-mail address. The processing of the e-mail addresses of visitors to the&#13;
      website takes place in accordance with Article 6 (1) lit. a GDPR (consent&#13;
      to the processing of personal data). The e-mail address will be deleted&#13;
      immediately after unsubscribing from the newsletter.</p>&#13;
&#13;
    <h4>Use of cookies</h4>&#13;
&#13;
    <p>Cookies are small text files with information about visited websites&#13;
      stored by the web browser on the hard disk of your computer. Cookies on&#13;
      this website are used only for technical implementation and do not store&#13;
      any personal data. Cookies are harmless and can only be read by their&#13;
      sender. They do not contain any viruses or other malware.</p>&#13;
&#13;
    <h4>Use of analytics and tracking tools</h4>&#13;
&#13;
    <p>The open source software Matomo is used for the statistical evaluation of&#13;
      visitor access. In order to enable the analysis of website usage, log&#13;
      files are evaluated which are stored exclusively on the servers of&#13;
      “World-Direct”. There is no transmission of data to external servers or to&#13;
      third parties. The IP address is anonymized during the import of the log&#13;
      files. Therefore, no personal data is stored in these evaluations.</p>&#13;
&#13;
    <h4>Use of social media</h4>&#13;
&#13;
    <p>If you visit Avalanche.report | Lawinen.report | Valanghe.report, no data&#13;
      from social media providers is loaded and no data is transferred to them.&#13;
      Integrated YouTube videos do not start automatically. They have to be&#13;
      activated manually by the visitor. Offered functions such as "Share"&#13;
      (Facebook) or "Twitter" (Twitter) can be called up by the visitor himself&#13;
      on request and are handled by the respective providers.</p>&#13;
&#13;
    <h4>Recipient of the data</h4>&#13;
&#13;
    <p>As data processor and host of the website for the Office of the Tyrolean&#13;
      Government, your data will be forwarded to “World-Direct”, eBusiness&#13;
      solutions GmbH, Unternehmerzentrum 10, 6073 Sistrans.</p>&#13;
&#13;
    <h4>Would you like to exercise your rights under the GDPR or do you have any&#13;
      further questions, requests or suggestions regarding the processing of&#13;
      your data?</h4>&#13;
&#13;
    <p>For the assertion of your rights under the GDPR, our data protection&#13;
      officer, Dr. Norbert Habel, is available to you</p>&#13;
&#13;
    <ul>
<li>by telephone at +43 512 508 1870 or</li>&#13;
      <li>by e-mail at&#13;
        <a href="mailto:datenschutzbeauftragter@tirol.gv.at" target="_blank">datenschutzbeauftragter@tirol.gv.at</a>&#13;
        or</li>&#13;
      <li>by postal mail to Dr. Norbert Habel, Eduard-Wallnöfer-Platz 3, 6020&#13;
        Innsbruck</li>&#13;
    </ul>
<p>Please enclose a copy of an official photo ID to uniquely identify&#13;
      yourself.&#13;
      <br>In order to process your enquiry as efficiently and quickly as&#13;
      possible, please provide further information in your enquiry about the&#13;
      factual context in which you suspect that your personal data is used.</p>&#13;
&#13;
    <h4>You would like to revoke a given consent?</h4>&#13;
&#13;
    <p>If you have submitted a declaration of consent for the processing of your&#13;
      personal data (Article 6 (1) lit. a GDPR) for the subscription of the&#13;
      newsletter, you can revoke this at any time by writing to&#13;
      <a href="mailto:lawine@tirol.gv.at" target="_blank">lawine@tirol.gv.at</a>.</p>&#13;
&#13;
    <h4>Right of appeal</h4>&#13;
&#13;
    <p>If you believe that the processing of your data violates data protection&#13;
      law or that your rights under data protection law have been violated in&#13;
      any other way, you may file a complaint with the&#13;
      <a href="https://www.data-protection-authority.gv.at/" target="_blank" rel="noopener noreferrer">Data Protection Authority</a>.</p>&#13;
&#13;
    <h4>Validity of this data protection declaration</h4>&#13;
&#13;
    <p>This privacy policy has been in effect since 01.08.2019.</p>&#13;
  </div>&#13;
</section>
</div>
