<div>
<h1>Manual</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#general" title="General Information" class="secondary pure-button" data-scroll>Informació General</a></li>&#13;
      <li><a href="#contents_and_design" title="Contents &amp; Design" class="secondary pure-button" data-scroll>Continguts &amp; Disseny</a></li>&#13;
      <li><a href="#basis" title="Basis of Assessment" class="secondary pure-button" data-scroll>Bases de Valoració</a></li>&#13;
      <li><a href="#possibilities_and_limits" title="Possibilities &amp; Limits" class="secondary pure-button" data-scroll>Possibilitats &amp; Límits</a></li>&#13;
      <li><a href="#products_and_channels" title="Products &amp; Information Channels" class="secondary pure-button" data-scroll>Productes &amp; Canals d'informació</a></li>&#13;
    </ul></header></section><section class="section-centered"><div id="general" class="panel field border">&#13;
    <div class="panel-header">&#13;
      <h2>Informació General</h2>&#13;
    </div>&#13;
&#13;
    <h3 class="normal">El butlletí d'allaus de la regió europea</h3>&#13;
&#13;
    <p>A través del butlletí d'allaus de l'Euregio i una gran varietat de productes auxiliars, els tres serveis d’avís d’allaus de Tirol, Tirol del Sud i Trentino proporcionen informació al públic sobre les condicions de neu i allaus d’aquesta regió europea. La informació està publicada en set idiomes: alemany, italià, anglès, francès, espanyol, català i aranès. 
<br> L'informe Euregio Avalanche inclou una anàlisi a curt termini del perill d'allaus i una tendència. Té la forma d'un avís. Això es publica almenys una vegada al dia durant la temporada d'hivern. Conté una previsió de perill d’allaus per a totes les zones d’aquesta regió europea, Tirol, Tirol del Sud i Trentino, com a comunicació més important i rellevant. Les dades addicionals relacionades amb  la previsió del temps i l'estructura del mantell relacionats amb les allaus proporcionen una imatge més precisa i en profunditat de la situació actual i que s'aproxima, que serveix de base per a les avaluacions i decisions individuals. <br>
Com que el butlletí d'allaus de l'Euregio és una previsió regional de perill d’allaus, està sotmès a incerteses, ex variacions geogràfiques i divergències, i també factors de temps. Per això, la informació del butlletí d'allaus de l'Euregio no pot substituir una avaluació local in situ. La informació proporcionada al butlletí d'allaus de l'Euregio es recopila a partir de dades limitades i és massa generalitzada per proporcionar anàlisis punt a punt. <br>
 El contingut i el disseny del butlletí d'allaus de l'Euregio corresponen a les normes i directrius actuals de l’Associació de <a href="https://www.avalanches.org/"> European Avalanche Warning Services (EAWS) </a>.</p>&#13;
&#13;
    <h3 class="normal">Públic objectiu</h3>&#13;
    <p>El butlletí d'allaus de l'Euregio s’adreça a totes les persones que es dediquen a la muntanya a l’hivern, ja sigui a nivell professional o per a esbarjo, i que estan exposades a perill d’allaus; o als responsables de la seguretat dels altres. Això inclou, entre altres coses:</p>&#13;
    <ul>
<li>Serveis locals d’alerta d’allaus i comissions d’allaus de pobles i carreteres, així com les autoritats de seguretat dels telefèrics i remuntadors de muntanya</li>&#13;
      <li>Membres dels serveis d'ambulàncies i de rescat, policia i personal militar</li>&#13;
      <li>Guies de muntanya, instructors d'esports de neu, guies turístics i directors</li>&#13;
      <li>Habitants dels nuclis de muntanya</li>&#13;
      <li>Els muntanyencs en terreny no protegit, pe. freeriders, esquiadors de muntanya, escaladors , escaladors de gel, excursionistes amb raquetes de neu</li>&#13;
    </ul>
<p>If a relatively favourable snow and avalanche situation prevails, the&#13;
      Euregio Avalanche Report serves particularly those persons who take part&#13;
      in winter sports in the mountains as a support for decisions to minimize&#13;
      their own risks. Starting at danger level 3&nbsp;–&nbsp;considerable the&#13;
      Euregio Avalanche Report contains an increased amount of information for&#13;
      local safety authorities and avalanche commissions. For danger level&#13;
      5&nbsp;–&nbsp;very&nbsp;high, when snow sports in backcountry terrain are&#13;
      hardly possible, the Euregio Avalanche Report by and large provides&#13;
      information for local safety authorities and avalanche commissions.</p>&#13;
&#13;
    <h3 class="normal">Moment de publicació i validesa</h3>&#13;
&#13;
    <p>Durant els mesos a les puntes de l’hivern, és a dir, a principis d’hivern i finals de primavera, així com en cas de nevades intenses a l’estiu, hi ha habitualment una manca d’informació disponible sobre l'estat del mantell de neu i la situació d’allaus predominant. En aquest període, no es publica cap mapa de graus de perill. En aquests casos, la informació és emesa pels serveis d’avís d’allaus de la regió europea Tirol - Tirol del Sud - Trentino mitjançant <a href="/blog">publicacions del bloc</a>. Aquests contenen detalls sobre les novetats actuals i pròximes de la situació del mantell de neu, així com sobre el perill d'allaus, que pot ser vàlid durant diversos dies.</p>&#13;
&#13;
    <p>A l'hivern, el butlletí d'allaus de l'Euregio es publica almenys una vegada al dia:</p>&#13;
    <ul>
<li>Edició 17:00: avaluació del perill d’allaus per l’endemà, vàlida des de les dotze de la nit fins a les dotze de la nit (en set idiomes).</li>&#13;
      <li>És possible una actualització coordinada a les 8:00 am: previsió per a aquell dia, vàlida des de les 8:00 am fins a les 12:00 de la mitjanit (en set idiomes).</li>&#13;
      <li>In principle, an assessment of avalanche danger can also be published at&#13;
        other times. As a rule, however, this is done only rarely.</li>&#13;
    </ul>
</div>&#13;
&#13;
  <section class="section-centered"><div id="contents_and_design" class="panel field border">&#13;
      <div class="panel-header">&#13;
        <h2>Continguts i disseny</h2>&#13;
      </div>&#13;
      <p>A l'hivern, la informació del butlletí d'allaus de l'Euregio es comunica mitjançant un mapa interactiu. Tots els continguts es mostren segons el principi de la piràmide d'informació (Figura 1). Així, el nivell de perill d’allaus representa la informació més important i, per tant, apareix en primer lloc.</p>&#13;
&#13;
      <div><img src="/content_files/pyramid_en.png" title="Information pyramid" alt="The information pyramid leads the information flow in the Euregio Avalanche Report"></div>&#13;
&#13;
      <p class="small" style="text-align: center">Figura 1: La piràmide d'informació lidera el flux d'informació al butlletí d'allaus de l'Euregio.</p>&#13;
&#13;
      <p>Més informació sobre els problemes d’allaus i els seus punts de perill, sobre les ubicacions propenses a l’allau, sobre la descripció del mantell o sobre la tendència dels propers dies, així com informació meteorològica s'inclouen als detalls. <br> A continuació, s’introdueixen els continguts del butlletí d'allaus de l'Euregio i s'explica el seu disseny.</p>&#13;
&#13;
      <h3 class="normal">Perill d'allaus i grau de perill</h3>&#13;
      <p>La previsió de perill d’allaus constitueix la part més important del butlletí de perill d'allaus de l'Euregio. Comprèn els següents:</p>&#13;
      <ul>
<li>El grau de perill (opcionalment amb dades d'elevació)</li>&#13;
        <li>Un o dos (en casos especials encara més) problemes actuals d'allaus amb la seva distribució espacial</li>&#13;
        <li>Valoració del perill d'allaus</li>&#13;
        <li>Un anàlisi del mantell de neu</li>&#13;
        <li>Tendència per les propers 24-48 hores</li>&#13;
        <li>Un enllaç d'internet a la predicció meteo</li>&#13;
      </ul>
<p>Per avaluar el grau de perill d’allaus, els tres serveis d’alerta d’allaus de la regió europea Tirol - Tirol del Sud - Trentino utilitzen <a href="/education/danger-scale">l'escala europea de perill d'allaus</a> de cinc nivells. En la mesura que sigui possible una anàlisi / descripció general del perill, les regions publiquen el mateix nivell de perill, descriuen els mateixos problemes d'allaus i assenyalen les mateixes orientacions i elevacions especialment en el mapa de perill (figura 2). A una àrea global es poden assignar dos nivells de perill diferents amb límits d'elevació designats.</p>&#13;
&#13;
      <div>&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/map_en-640.webp   640w,&#13;
              /content_files/map_en-1280.webp 1280w,&#13;
              /content_files/map_en-1663.webp 1663w&#13;
            "><source type="image/jpeg" srcset="&#13;
              /content_files/map_en-640.jpg   640w,&#13;
              /content_files/map_en-1280.jpg 1280w,&#13;
              /content_files/map_en-1663.jpg 1663w&#13;
            ">&#13;
          <img src="/content_files/map_en-1280.jpg" title="Danger level map for Tirol - South Tyrol - Trentino" alt="Danger level map for Tirol - South Tyrol - Trentino">&#13;
        </picture>
</div>&#13;
      <p class="small" style="text-align: center">Figura 2: visió general dels nivells de perill predominants a la regió europea Tirol - Tirol del Sud - Trentino. A l’anàlisi també s’inclouen regions més enllà de les fronteres amb la mateixa situació de perill d’allaus. En cas de canvis previstos durant la jornada, també es poden analitzar.</p>&#13;
&#13;
      <p>En el cas de preveure canvis de nivell de perill durant el dia, s’utilitzen dos mapes. Aquest doble mapa representa la situació del matí (normalment l'escenari més favorable) i la de la tarda. El canvi dels nivells de perillositat no es limita estrictament a les dotze del migdia, sinó que simplement descriu el canvi en curs al llarg del dia. També es pot fer una anàlisi més precisa a la part textual del butlletí d'allaus de l'Euregio.</p>&#13;
&#13;
      <h3 class="normal">Problema d'allaus</h3>&#13;
      <p>Una regió agregada pot tenir màxim dos <a href="/education/avalanche-problems">problemes d’allaus</a> assignats. Són possibles els cinc problemes següents:</p>&#13;
      <ul>
<li>Problema de neu recent</li>&#13;
        <li>Wind slab problem</li>&#13;
        <li>Problema de capes febles persistents</li>&#13;
        <li>Problema de neu humida</li>&#13;
        <li>Problema de lliscaments</li>&#13;
      </ul>
<p>Gràcies als pictogrames senzills i fàcils d’introduir, esmentar i identificar aquests problemes permet als lectors formar-se una imatge intuïtiva i concisa en la seva ment basada en el butlletí d'allaus de l'Euregio.</p>&#13;
&#13;
      <h3 class="normal">Localització dels llocs perillosos</h3>&#13;
      <p>An avalanche problem is usually allocated to a specific, particularly&#13;
        endangered spatial area, defined by elevation and aspect. The elevation&#13;
        limits of the problem generally coincide with the elevation limits of&#13;
        the danger level (Figure 3). If no particular avalanche problem&#13;
        predominates (often the case at danger level 1&nbsp;–&nbsp;low) this&#13;
        information is omitted and a favourable avalanche situation is declared.&#13;
        <br>&#13;
        The avalanche prone locations where a given avalanche problem prevails&#13;
        are delineated by the aspect and the elevation limits. The blue-marked&#13;
        segments of a wind rose are indicators of those aspects. The elevation&#13;
        can be indicated by a specific borderline or border zone. Apart from&#13;
        that, the altitude above sea level generally follows as a written number&#13;
        or the term “treeline” accompanied by a visual depiction with arrows&#13;
        pointing in the appropriate direction.</p>&#13;
&#13;
      <div><img src="/content_files/info_en.png" title="Danger overview" alt="Detailed overview of danger levels and avalanche problems including their corresponding danger zones (aspect and elevation)"></div>&#13;
&#13;
      <p class="small" style="text-align: center">Figura 3: Vista general detallada dels nivells de perill i dels problemes d'allaus, incloses les seves zones de perill corresponents (orientació i elevació).</p>&#13;
&#13;
      <h3 class="normal">Valoració del perill d'allaus</h3>&#13;
      <p>Per a cada regió d’alerta al mapa hi ha una avaluació específica del perill d’allaus en aquesta regió (Figura 4). Aquesta avaluació inclou detalls sobre la probabilitat de desencadenament d’allaus, la mida prevista i l’amplitud de les ubicacions propenses. Quan sigui necessari, es proporcionen referències, indicacions i recomanacions per a grups d'usuaris específics. 
<br> Al finalitzar l'avaluació del perill, també es pot proporcionar informació addicional als usuaris, per exemple, altres possibles fonts de risc o un desenvolupament meteorològic especialment desfavorable.</p>&#13;
&#13;
      <h3 class="normal">Mantell de neu</h3>&#13;
      <p>Per a cada regió d’avís del mapa hi ha una anàlisi del mantell de neu (figura 4). L’estructura del mantell de neu és un factor important en la formació d’allaus. L'anàlisi és general, normalment inclou l'estructura i l'estabilitat de la coberta de neu.</p>&#13;
      <p>L’estructura del mantell de neu es defineix per l'estratificació i les característiques estructurals de cada capa, és a dir, tipus de gra, mida de gra i duresa. L’estabilitat del mantell de neu tendeix a proporcionar una mesura de la probabilitat de desencadenar una allau. L'estratificació del mantell de neu determina en gran mesura l'estabilitat.</p>&#13;
      <p>En aquesta secció es poden descriure allaus observades.</p>&#13;
&#13;
      <div><img src="/content_files/info2_en.png" title="Danger assessment and snowpack analysis" alt="Danger assessment and snowpack analysis are provided as a&#13;
          text. They form the lower part of the Information Pyramid. In addition,&#13;
          information about the predominant danger pattern and the immediate&#13;
          outlook is also provided."></div>&#13;
&#13;
      <p class="small" style="text-align: center">Figura 4: Es proporciona com a text l’avaluació dels perills i l’anàlisi del mantell de neu. Formen la part inferior de la Piràmide de la Informació. A més, es proporciona informació sobre el patró de perill predominant (danger pattern) i l'evolució.</p>&#13;
&#13;
      <p>Per sobre de l’anàlisi detallada del mantell de neu, s’assignen <a href="/education/danger-patterns">patrons de perill</a> als problemes d’allaus donats. Es poden veure com a amplificacions dels problemes d’allaus. Designen deu situacions principals i recurrents que sovint condueixen a accidents d’allaus.</p>&#13;
&#13;
      <h3 class="normal">Tendència</h3>&#13;
      <p>A partir de la previsió meteo a dos dies , s'estima la tendència aproximada del perill d'allaus que inclou el darrer dia de validesa del butlletí.</p>&#13;
&#13;
      <h3 class="normal">Meteo</h3>&#13;
      <p>Per a les condicions meteorològiques previstes, ens referim a la informació proporcionada pels serveis meteorològics de les províncies Bolzano - Tirol del Sud i Trentino i les previsions subministrades pel Servei Meteorològic ZAMG Innsbruck.</p>&#13;
&#13;
      <h3 class="normal">Regions de prediccció flexibles</h3>&#13;
      <p>Per tal d’agrupar les regions on predomina el mateix nivell de perill, s’han definit 70 micro regions en funció de les condicions climatològiques de neu a la regió europea Tirol - Tirol del Sud - Trentino. Amb aquestes micro regions, es poden definir de manera flexible les grans regions d’alerta amb el mateix perill d’allaus previst.</p>&#13;
      <p>Amb aquest propòsit, Tirol es divideix en 29, Tirol del Sud en 20 i Trentino en 21 micro regions. Aquestes micro regions es defineixen mitjançant designacions específiques i acceptades. Es mostren a la figura 5. A part del nom, cada micro regió també té assignat un número de codi (vegeu Taula 1).</p>&#13;
&#13;
      <table style="width: 100%; border: 0px solid #000; text-align: center"><tbody><tr>
<td>&#13;
              <picture><source type="image/webp" srcset="&#13;
                    /content_files/regions_en-640.webp 640w,&#13;
                    /content_files/regions_en-741.webp 741w&#13;
                  "><source type="image/jpeg" srcset="&#13;
                    /content_files/regions_en-640.jpg 640w,&#13;
                    /content_files/regions_en-741.jpg 741w&#13;
                  ">&#13;
                <img src="/content_files/regions_en-640.jpg" title="Region map" alt="The 70 micro regions of the European region Tirol – South Tyrol – Trentino">&#13;
              </picture>
</td>&#13;
          </tr></tbody></table>
<p class="small" style="text-align: center">Figure 5: The 70 micro regions of the European region Tirol – South&#13;
        Tyrol – Trentino, including clear designation of their respective names&#13;
        (see Table 1)</p>&#13;
&#13;
      <regionstables></regionstables>
</div>&#13;
&#13;
    <section class="section-centered"><div id="basis" class="panel field border">&#13;
        <div class="panel-header">&#13;
          <h2>Bases de la Valoració</h2>&#13;
        </div>&#13;
        <p>L'alerta d’allaus té una gran varietat de dades a l’abast per tal de valorar el perill d’allaus (Figura 6). Aquesta informació inclou des de mesures, observacions i avaluacions in situ fins als resultats dels models informàtics. Només la combinació final de totes aquestes dades permet generar una previsió fiable de perill d’allaus enmig de situacions molt variades.</p>&#13;
&#13;
        <div>&#13;
          <picture><source type="image/webp" srcset="&#13;
                /content_files/illustration_en-640.webp   640w,&#13;
                /content_files/illustration_en-1280.webp 1280w,&#13;
                /content_files/illustration_en-1920.webp 1920w,&#13;
                /content_files/illustration_en-2560.webp 2560w,&#13;
                /content_files/illustration_en-3200.webp 3200w,&#13;
                /content_files/illustration_en-3860.webp 3860w&#13;
              "><source type="image/jpeg" srcset="&#13;
                /content_files/illustration_en-640.jpg   640w,&#13;
                /content_files/illustration_en-1280.jpg 1280w,&#13;
                /content_files/illustration_en-1920.jpg 1920w,&#13;
                /content_files/illustration_en-2560.jpg 2560w,&#13;
                /content_files/illustration_en-3200.jpg 3200w,&#13;
                /content_files/illustration_en-3860.jpg 3860w&#13;
              ">&#13;
            <img src="/content_files/illustration_en.png" title="Data sources" alt="Data from weather stations and feedback from local and&#13;
              mobile observers, as well as private persons on the current avalanche&#13;
              situation provide the basis for the avalanche forecast">&#13;
          </picture>
</div>&#13;
        <p class="small" style="text-align: center">Figura 6: Les dades de les estacions meteorològiques i els comentaris d’observadors locals i mòbils, així com de particulars sobre la situació d’allaus actual constitueixen la base de la previsió d’allaus. El butlletí d'allaus de l'Euregio es pot rebre a través d’Internet, correu electrònic, serveis mòbils, ràdio, TV i mitjans impresos.</p>&#13;
&#13;
        <h3 class="normal">Mesures</h3>&#13;
        <p>Per tal d’elaborar un butlletí d’allaus, els serveis d'alerta d'allaus operen una vasta xarxa <a href="/weather/stations">d’estacions meteorològiques automàtiques</a> a tota la regió europea Tirol - Tirol del Sud - Trentino. Disposen de la xarxa més densa del món d’estacions de mesurament alpí  disponibles per a l’anàlisi. Les mesures de les estacions de mesura automatitzades estan disponibles per al públic en general, es poden consultar a través d'Internet en forma de taules i gràfics al menú <a href="/weather/map/new-snow">Neu &amp; Meteo</a>.</p>&#13;
&#13;
        <h3 class="normal">Observacions i valoracions</h3>&#13;
        <p>Per a una avaluació fiable del perill d’allaus, els serveis d’alerta d’allaus requereixen informació actualitzada sobre grans extensions de terreny de muntanya. Per a aquest propòsit, els tres Serveis d'alerta d'allaus de la regió europea Tirol - Tirol del Sud - Trentino també mantenen la seva pròpia xarxa d'observadors. Segons la situació donada, es recopilen dades molt diverses, p.e. estimació de neu recent i transport de neu pel vent, signes d'alarma observats i allaus ja desencadenades, juntament amb les valoracions personals del perill actual d'allaus.</p>&#13;
        <p>Les comissions d’allaus, les autoritats locals de seguretat, les organitzacions de rescat, la policia i, finalment, però no menys important, els muntanyencs proporcionen informació addicional. En aquest sentit, tenen especial importància els informes sobre allaus que han estat produïts i provocats per persones i l'activitat general de les allaus. Important: També cal informar a les autoritats tan aviat com sigui possible de les allaus en què hi haguessin implicades persones encara que no fossin enterrades a la neu o ferides,  per evitar una cerca de rescat innecessària, cara i que requereix molta mà d'obra. A més, la informació sobre la superfície actual de la neu, pe. neu granulada, gebre de superfície, les cotes de les precipitacions / nevades, etc., proporcionen pistes decisives sobre fins a quin punt la superfície continua amenaçant com a capa feble i, en definitiva, pot comportar un canvi en el nivell de perill. Aquests indicadors es troben recollits al butlletí d'allaus de l'Euregio , classificats i identificats geogràficament. Com més detalls conté una observació determinada, més contribueix a una correcta avaluació del perill d’allaus en el butlletí d'allaus de l'Euregio.</p>&#13;
        <p>En tots els supòsits s'han de proporcionar els següents paràmetres, a part de qualsevol valoració general:</p>&#13;
        <ul>
<li>Localització (si no pot ser especificada, el punt conegut més proper)</li>&#13;
          <li>Altitud o zona d'altitud</li>&#13;
          <li>Orientació</li>&#13;
          <li>Gradient de pendent</li>&#13;
        </ul>
<p>Proporcionar les coordenades geogràfiques i imatges permet fer una valoració més precisa del perill d’allaus, però aquesta no és la prioritat màxima.</p>&#13;
&#13;
        <h3 class="normal">Observadors estacionaris</h3>&#13;
        <p>Alguns dels observadors del butlletí d'allaus de l'Euregio són estacionaris. Comuniquen allaus o signes de perill i subministren freqüentment la seva valoració personal del perill d’allaus actual. Si és possible, fan un informe tots els dies durant tot l’hivern, assegurant així la cobertura bàsica i el subministrament informatiu. Aquests informes es realitzen entre les 6:00 i les 8:00 am o el migdia.</p>&#13;
&#13;
        <h3 class="normal">Observadors mòbils </h3>&#13;
        <p>Alguns dels observadors són completament mòbils per les muntanyes de la regió europea Tirol - Tirol del Sud - Trentino. Es comuniquen sempre que disposen d’informació interessant o rellevant des d’on es troben. Aquests informes poden enviar-se als serveis d'alerta d'allaus a través de serveis de missatgeria o enviar-los per correu electrònic directament als serveis d'alerta d'allaus. A més, guies de muntanya seleccionats també fan informes mitjançant l’aplicació de telefonia mòbil NATLEFS i ens envien les seves observacions i valoracions normalitzades. <br>
Com que la regió europea Tirol - Tirol del Sud - Trentino és tan vasta i les diferències regionals tan grans, els observadors "oficials" no poden capturar sempre la situació completament. Per això, els butlletins d'allaus també depenen dels informes de persones particulars. Volem agraïr a tots aquells que ens han ajudat amb les seves observacions i informes. Al mateix temps, els volem animar a continuar donant-nos les seves impressions personals (per a més detalls, vegeu Observacions i valoracions).</p>&#13;
&#13;
        <h3 class="normal">Desencadenament d'allaus</h3>&#13;
        <p>Al marge dels desencadenaments d’allaus, que són observats, els centres de coordinació i els serveis de rescat també reporten accidents d’allaus. A més, els serveis d’alerta d’allaus també disposen de cartografia d’allaus de diverses estacions d’esquí, així com les dades dels sistemes automatitzats de detecció d’allaus. Persones particulars també poden reportar desencadenaments d'allaus registrant-los al <a href="https://www.lawis.at/incident/?lang=en">lloc web de LAWIS</a>.</p>&#13;
      </div>&#13;
&#13;
      <section class="section-centered"><div id="possibilities_and_limits" class="panel field border">&#13;
          <div class="panel-header">&#13;
            <h2>Possibilitats i límits del butlletí d'allaus de l'Euregio</h2>&#13;
          </div>&#13;
          <p>El butlletí d'allaus de l'Euregio inclou una previsió del perill d’allaus. Es troba en la naturalesa de totes les previsions que aquestes estan relacionades amb moltes incerteses i, per tant, es podrien demostrar infundades. Els serveis d'alerta d'allaus de la regió europea Tirol - Tirol del Sud - Trentino fan tot el possible per fer que el contingut i la informació proporcionats a la previsió d'allaus siguin el més complets i correctes possible. Tanmateix, no assumeixen cap responsabilitat per l’exactitud o l’exclusivitat dels continguts i informació subministrades.</p>&#13;
          <p>El perill d’allaus significa perill per a la vida i la integridad física. L'ús de la informació proporcionada pels Serveis d'Alerta d'Allaus de la regió europea Tirol - Tirol del Sud - Trentino en cap cas eximeix ningú de la responsabilitat de fer la seva pròpia valoració personal de la situació d'allaus i de comportar-se de manera concordant amb aquesta avaluació.</p>&#13;
&#13;
          <h3 class="normal">Àmbit d’aplicació</h3>&#13;
          <p>Al butlletí d'allaus de l'Euregio, només es descriuen les condicions del terreny de muntanya que es troben dins de la regió europea Tirol - Tirol Sud - Trentino (Figura 5 i Taula 1).</p>&#13;
&#13;
          <h3 class="normal">Valoració independent</h3>&#13;
          <p>Les avaluacions al butlletí d'allaus de l'Euregio són generals, és a dir, no es poden reflectir les condicions locals específiques en les previsions, per no dir res de condicions en un vessant de muntanya concret. La connexió entre nivells de perill vàlids regionalment, possibles activitats d'allaus i conseqüències corresponents, incloses les mesures que cal adoptar, les han de fer els usuaris  mitjançant una avaluació in situ. En aquesta avaluació, els muntanyencs i les autoritats de seguretat han d’aplicar la seva pròpia experiència i mètodes d’avaluació com a ajuts de suport. Cal incloure en això coneixement del clima local, observacions de neu i allaus, anàlisi del mantell de neu, estudi de mapes, judici personal sobre el lloc d'un vessant de muntanya determinat, al costat de les pròpies consideracions de risc d'una persona. Les autoritats de seguretat de vegades tenen a la seva disposició els resultats dels desencadenaments d’allaus artificials disponibles per a les seves avaluacions. En cada decisió individual, cal tenir en compte tota la informació disponible. La informació que condueix a la conclusió que prevalen les condicions inestables hauria de ser particularment important.</p>&#13;
&#13;
          <h3 class="normal">Precisió de les dades en les previsions d'allaus</h3>&#13;
          <p>Les previsions al butlletí d'allaus de l'Euregio, similars a les d'altres pronòstics de desastres naturals, pe. inundacions, terratrèmols, esllavissades, erupcions volcàniques, tornados, tsunamis, etc., es basen en les lleis de la probabilitat. De fet, a causa del nostre coneixement incomplet de la distribució en el temps i l'espai dels fenòmens meteorològics i, en conseqüència, de l’estratificació del mantell de neu, per definició  una previsió de perill d’allaus ha de ser incerta. Més enllà d’això, els perills derivats de les allaus poden resultar molt diversos fins i tot dins d’un nivell de perill indicat.</p>&#13;
          <p>Les disparitats entre la previsió general de la situació d’allaus actual in situ també estan relacionades amb la difusió geogràfica del nivell de perill (figura 7) i els seus límits d’elevació.</p>&#13;
&#13;
          <div>&#13;
            <picture><source type="image/webp" srcset="&#13;
                  /content_files/dangerscale_map_en-640.webp 640w,&#13;
                  /content_files/dangerscale_map_en-997.webp 997w&#13;
                "><source type="image/jpeg" srcset="&#13;
                  /content_files/dangerscale_map_en-640.jpg 640w,&#13;
                  /content_files/dangerscale_map_en-997.jpg 997w&#13;
                ">&#13;
              <img src="/content_files/dangerscale_map_en-640.jpg" title="Dangerscale map" alt="Map of the danger scale in parts of the Euregio">&#13;
            </picture>
</div>&#13;
          <p class="small" style="text-align: center">Figura 7: El perill d’allaus varia particularment a la línia de frontera de les regions d’alerta que s’avaluen de manera diferent, tal com es mostra en l’exemple anterior a la frontera de Tirol i Tirol del Sud.</p>&#13;
&#13;
          <p>De manera autònoma, també pot variar la informació sobre la ubicació i la difusió d’una determinada zona de perill, és a dir, l'orientació i l’elevació, tal com es mostra a la figura 8. Les divergències, especialment al llarg de les fronteres de les regions d’alerta, necessiten una avaluació in situ i la conducta personal ha de ser corresponent a aquesta avaluació.</p>&#13;
&#13;
          <div><img src="/content_files/danger_icons.png" title="Icons for avalanche prone locations" alt="Icons defining the elevation and aspect of avalanche prone locations"></div>&#13;
          <p class="small" style="text-align: center">Figura 8: En realitat, el grau assignat de perill prevalent, així com l'orientació i l’elevació dels llocs propensos a les allaus, poden desviar-se fàcilment de la informació continguda en la previsió d’allaus publicada.</p>&#13;
&#13;
          <p>Generalment, hi ha menys informació disponible per a regions molt altes alpines que per a altes, mitjanes i baixes. En conseqüència, totes les avaluacions sobre regions molt altes alpines requereixen una avaluació i verificació posteriors. Quan la situació meteorològica canvia ràpidament, també és necessària una revisió local de la situació, ja que el butlletí d'allaus de l'Euregio no pot reflectir canvis del perill d'allaus imprevisibles geogràficament o relacionats amb la meteo. </p>&#13;
        </div>&#13;
&#13;
        <section class="section-centered"><div id="products_and_channels" class="panel field border">&#13;
            <div class="panel-header">&#13;
              <h2>Productes i canals d'informació</h2>&#13;
            </div>&#13;
            <p>A l’hivern el butlletí d'allaus de l'Euregio consta d’un mapa interactiu, que es publica diàriament. A la temporada baixa no es publica cap mapa de perill al  butlletí d'allaus de l'Euregio. A la temporada baixa, es descriu la situació de perill d’allaus i del mantell en el nostre <a href="/blog">blog</a>.</p>&#13;
            <p>El butlletí d'allaus de l'Euregio i els continguts interns del nostre lloc web es publiquen en 7 idiomes. Estan a disposició dels lectors en alemany, italià, anglès, francès, espanyol, català i aranès.</p>&#13;
&#13;
            <h3 class="normal">Lloc web intercactiu</h3>&#13;
            <p>Es pot consultar el butlletí d'allaus interactiu de l'Euregio a Internet. Com que el disseny del lloc web es basa en l’entrada de l’usuari, es pot consultar no només en un ordinador d’escriptori, sinó també en dispositius de butxaca mòbils, p.e. telèfons intel·ligents, tauletes, etc. Les representacions que apareixen s’adapten, per descomptat, al dispositiu que s’utilitza.</p>&#13;
            <p>Per obtenir més informació sobre l’avaluació del perill d’allaus en una micro regió determinada, l’usuari amplia o redueix el <a href="/bulletin/latest">mapa interactiu de perill</a>. Al moure el ratolí sobre el mapa, es detalla la regió d'alerta. En fer clic a la regió d’alerta desitjada, s’obre una finestra addicional amb informació altitudinal més precisa d’on s’aplica el nivell de perill, així com els problemes d’allaus predominants. Fent clic a DETALLS, es pot veure amb més precisió el perill d'allaus, pe. les orientacions i l’altitud on prevalen els problemes d’allaus, l’avaluació del perill, la descripció del mantell de neu i la tendència apareixen de forma textual.</p>&#13;
&#13;
            <h3 class="normal">Versió per a imprimir</h3>&#13;
            <p>Paral·lelament al butlletí d'allaus de l' Euregio a Internet, també hi ha una versió impresa disponible com a fitxer PDF. Aquesta versió, incloses les possibles actualitzacions, es publica al mateix temps que l’informe en línia Euregio Avalanche. El seu contingut és idèntic. <br>
 Per tal de descarregar i imprimir el fitxer PDF, cal fer clic al botó PDF. Aleshores es pot seleccionar tota la regió europea o simplement seleccionar Tirol o Tirol del Sud o Trentino. A més, es pot activar la descàrrega en color o en blanc i negre.</p>&#13;
&#13;
            <h3 class="normal">Bloc</h3>&#13;
            <p>El <a href="/blog">blog oficial</a> del butlletí d'allaus de l'Euregio es pot consultar al lloc web. Fora del calendari habitual de publicació (per a més detalls, vegeu calendari de publicació i de vigència), també hi ha tota la informació pertinent sobre la situació d'allaus. <br> Durant la temporada d'hivern, els Serveis d'Alerta d'Allaus de la regió europea Tirol - Tirol del Sud - Trentino també publiquen habitualment detalls addicionals sobre l'estratificació del mantell de neu, la situació resultant de les allaus i el rerefons de les allaus que s'han desencadenat, ja sigui si van afectar persones, o bé la infraestructura afectada. Aquests blocs serveixen per complementar i completar el butlletí d'allaus de l'Euregio. No obstant això, no el substitueixen.</p>&#13;
&#13;
            <h3 class="normal">Productes adicionals </h3>&#13;
            <p>A banda del butlletí d'allaus de l'Euregio a Internet, com a versió impresa i la informació addicional del bloc, els Serveis d’Alerta d'Allaus de la regió europea Tirol - Tirol del Sud - Trentino també ofereixen productes addicionals, com
<a href="/weather/map/new-snow">Mapes de neu i temps</a>, informació sobre <a href="https://www.lawis.at/profile/?lang=en">Perfils de neu</a> i 
<a href="/weather/stations">Gràfics de les estacions meteorològiques</a>.</p>&#13;
&#13;
            <h3 class="normal">Email</h3>&#13;
            <p>Els usuaris es poden subscriure per rebre automàticament el butlletí d'allaus de l'Euregio a través del correu electrònic. A cada nova publicació (diària o imprevista) o actualització del butlletí d'allaus de l'Euregio, el destinatari és notificat per correu electrònic.</p>&#13;
&#13;
            <h3 class="normal">Serveis de Messenger</h3>&#13;
            <p>També és possible rebre automàticament el butlletí d'allaus de l'Euregio mitjançant diversos serveis de missatgeria per subscripció. A cada nova publicació (diària o imprevista) o actualització del butlletí d'allaus de l'Euregio , s'informa al subscriptor. Actualment és possible subscriure's al butlletí d'allaus de l'Euregio a través de Push i Telegram.</p>&#13;
&#13;
            <h3 class="normal">"Lawine Tirol-App"</h3>&#13;
            <p>A més del lloc web, també hi ha una aplicació amb diverses funcions addicionals per utilitzar en terrenys de muntanya. Aquesta aplicació és gratuïta per a dispositius Android i Apple. Està disponible a les botigues d’aplicacions corresponents. A més de la informació que també es pot consultar al lloc web, la Lawine Tirol-App també disposa d’eines per informar de les observacions, per mesurar el pendent, l'orientació i l’altitud d’un pendent, així com diverses llistes de control per planificar un recorregut de muntanya. Més enllà d’això, també es pot enviar una trucada d’emergència directament des de l’app.</p>&#13;
&#13;
            <h3 class="normal">Radio</h3>&#13;
            <p>Tirol: Cada dia a les 17:00 es posa a disposició una nota de veu a diversos mitjans de comunicació on es descriu el perill d’allaus del dia següent.</p>&#13;
            <p>Tirol del Sud: Cada divendres a la tarda es genera una nota de veu que es posa a disposició de totes les emissores de ràdio del Tirol del Sud i descriu la situació d’allaus per al cap de setmana. A causa de la validesa limitada, només es pot enviar i / o rebre entre divendres a les 16:30 i dissabte a les 10:00 hores.</p>&#13;
            <p>Trentino: A la província de Trentino, actualment no hi ha cap servei comparable disponible.</p>&#13;
&#13;
            <h3 class="normal">Suports impresos</h3>&#13;
            <p>Tirol del Sud: al diari Dolomiten es publica a diari una breu previsió del nivell de perill, amb indicacions de detalls a Internet.</p>&#13;
            <p>Tirol i Trentino: actualment a cap de les dues regions europees hi ha publicacions regulars del perill d’allaus als mitjans impresos, tret que el perill d’allaus sigui important.</p>&#13;
&#13;
            <h3 class="normal">Programes de TV</h3>&#13;
            <p>A les retransmissions regionals Tirol heute i Südtirol heute (ORF2), la situació d'allaus es transmet poc després de les respectives notícies estatals / provincials. S'emet de manera irregular, més freqüentment els divendres, de manera esporàdica també en altres dies, especialment quan augmenta el perill d’allaus.</p>&#13;
          </div>&#13;
        </section></section></section></section></section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Educació &amp; Prevenció</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Escala de perill</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-problems" title="Avalanche Problems">Problemes d'allaus</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/matrix" title="EAWS Matrix">Matriu EAWS </a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-sizes" title="Avalanche Sizes">Mides d'allaus</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/danger-patterns" title="Danger Patterns">Patrons de perill</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
