<div>
<h1>Handbuch</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#general" title="General Information" class="secondary pure-button" data-scroll>Allgemein</a></li>&#13;
      <li><a href="#contents_and_design" title="Contents &amp; Design" class="secondary pure-button" data-scroll>Inhalte &amp; Darstellung</a></li>&#13;
      <li><a href="#basis" title="Basis of Assessment" class="secondary pure-button" data-scroll>Beurteilungsgrundlagen</a></li>&#13;
      <li><a href="#possibilities_and_limits" title="Possibilities &amp; Limits" class="secondary pure-button" data-scroll>Möglichkeiten &amp; Grenzen</a></li>&#13;
      <li><a href="#products_and_channels" title="Products &amp; Information Channels" class="secondary pure-button" data-scroll>Produkte &amp; Bezugskanäle</a></li>&#13;
    </ul></header></section><section class="section-centered"><div id="general" class="panel field border">&#13;
    <div class="panel-header">&#13;
      <h2>Allgemein</h2>&#13;
    </div>&#13;
&#13;
    <h3 class="normal">Der Lawinenreport der Europaregion</h3>&#13;
&#13;
    <p>Mit dem Euregio-Lawinenreport und diversen Zusatzprodukten informieren die drei Lawinenwarndienste Tirol, Südtirol und Trentino die Öffentlichkeit über die Schnee- und Lawinensituation in der Europaregion. Die Informationen werden in 7 Sprachen, d. h. in Deutsch, Italienisch, Englisch, Französisch, Spanisch, Katalanisch und Aranesisch publiziert.<br>Der Euregio-Lawinenreport entspricht einer kurzfristigen Lawinenvorhersage und besitzt den Charakter einer Warnung. Er erscheint im Winter mindestens einmal täglich und enthält als wichtigste Information eine Prognose der Lawinengefahr für alle Gebiete innerhalb der Europaregion Tirol – Südtirol – Trentino. Zusätzliche Angaben zu den lawinenrelevanten Einflüssen des Wetters und der Beschaffenheit der Schneedecke vermitteln ein genaueres Bild der aktuellen und zukünftigen Situation und dienen als Grundlage für die eigene Beurteilung.<br>Da der Euregio-Lawinenreport eine regionale Vorhersage der Lawinengefahr darstellt, kann diese mit Unsicherheiten und räumlichen bzw. zeitlichen Fehlern behaftet sein. Deshalb kann die Information im Euregio-Lawinenreport eine eigenständige, lokale Einschätzung vor Ort nicht ersetzen. Dafür sind die Angaben im Euregio-Lawinenreport aufgrund der limitierten Basisdaten zu allgemein.<br>Inhalt und Aufbau des Euregio-Lawinenreports folgen den aktuellen Standards und Richtlinien der Vereinigung der <a href="https://www.avalanches.org/">Europäischen Lawinenwarndienste (EAWS)</a>.</p>&#13;
&#13;
    <h3 class="normal">Zielpublikum</h3>&#13;
    <p>Der Euregio-Lawinenreport richtet sich an alle, die im winterlichen Gebirge in Beruf oder Freizeit der Lawinengefahr ausgesetzt oder für die Sicherheit von Dritten zuständig sind. Dazu gehören zum Beispiel: </p>&#13;
    <ul>
<li>Lokale Lawinenwarndienste und Lawinenkommissionen von Gemeinden und Straßenbauämtern, sowie Sicherungsdienste von Bergbahnen </li>&#13;
      <li>Angehörige der Rettungsdienste, der Polizei und des Militärs</li>&#13;
      <li>Bergführer*innen, Schneesportlehrer*innen und Tourenleiter*innen</li>&#13;
      <li>Bewohner*innen von Siedlungen im Gebirge</li>&#13;
      <li>Wintersportler*innen abseits gesicherter Pisten wie z. B. Freerider*innen, Tourengeher*innen, Bergsteiger*innen oder Eiskletter- und Schneeschuhbegeisterte </li>&#13;
    </ul>
<p>If a relatively favourable snow and avalanche situation prevails, the&#13;
      Euregio Avalanche Report serves particularly those persons who take part&#13;
      in winter sports in the mountains as a support for decisions to minimize&#13;
      their own risks. Starting at danger level 3&nbsp;–&nbsp;considerable the&#13;
      Euregio Avalanche Report contains an increased amount of information for&#13;
      local safety authorities and avalanche commissions. For danger level&#13;
      5&nbsp;–&nbsp;very&nbsp;high, when snow sports in backcountry terrain are&#13;
      hardly possible, the Euregio Avalanche Report by and large provides&#13;
      information for local safety authorities and avalanche commissions.</p>&#13;
&#13;
    <h3 class="normal">Ausgabezeit und Gültigkeit</h3>&#13;
&#13;
    <p>Während der Randmonate des Winters, d. h. im Frühwinter und späten Frühjahr sowie bei großen Schneefällen im Sommer sind meist nur wenige Informationen zum Schneedeckenaufbau sowie der Lawinensituation vorhanden. In diesem Zeitraum wird keine Gefahrenstufenkarte veröffentlicht. Dann erfolgt die Informationsweitergabe seitens der Warndienste der Europaregion Tirol – Südtirol – Trentino über <a href="/blog">Blog-Posts</a>. Diese beinhalten Details über die aktuelle und zukünftige Entwicklung der Schneedeckensituation sowie Lawinengefahr, welche durchaus über mehrere Tage gültig sein können.</p>&#13;
&#13;
    <p>Im Winter erscheint der Lawinenreport mindestens einmal täglich: </p>&#13;
    <ul>
<li>Ausgabe 17 Uhr: Prognose der Lawinengefahr für den Folgetag mit einer Gültigkeit von 0-24 Uhr (7-sprachig). </li>&#13;
      <li>Ein koordiniertes Update ist um 8 Uhr morgens möglich: Prognose für den aktuellen Tag mit einer Gültigkeit von 8-24 Uhr (7-sprachig). </li>&#13;
      <li>In principle, an assessment of avalanche danger can also be published at&#13;
        other times. As a rule, however, this is done only rarely.</li>&#13;
    </ul>
</div>&#13;
&#13;
  <section class="section-centered"><div id="contents_and_design" class="panel field border">&#13;
      <div class="panel-header">&#13;
        <h2>Inhalte &amp; Darstellung</h2>&#13;
      </div>&#13;
      <p>Im Winter basieren alle Informationen im Euregio-Lawinenreport auf einer interaktiven Gefahrenkarte. Sämtliche Inhalte werden darin nach dem Prinzip der Informationspyramide aufbereitet (Abbildung 1). Dementsprechend stellt die Gefahrenstufe die bedeutendste Information dar und wird folglich als erstes angeführt. </p>&#13;
&#13;
      <div><img src="/content_files/pyramid_en.png" title="Information pyramid" alt="The information pyramid leads the information flow in the Euregio Avalanche Report"></div>&#13;
&#13;
      <p class="small" style="text-align: center">Abbildung 1: Die Informationspyramide – Zielgerichtete Steuerung des Informationsflusses im Euregio-Lawinenreport. </p>&#13;
&#13;
      <p>Erst in den Details werden weitere Angaben zu den Lawinenproblemen und deren Gefahrenstellen, zur Beurteilung der Lawinengefahr, zur Beschreibung der Schneedecke oder zur Tendenz der kommenden Tage sowie Wetterinfos bekannt gegeben.<br>
Im Folgenden werden vorerst die Inhalte des Euregio-Lawinenreports und deren Darstellung präsentiert. </p>&#13;
&#13;
      <h3 class="normal">Lawinengefahr und Gefahrenstufe</h3>&#13;
      <p>Die Vorhersage der Lawinengefahr bildet den wichtigsten Teil des Euregio-Lawinenreports und umfasst: </p>&#13;
      <ul>
<li>Die Gefahrenstufe (optional mit Höhengrenze)</li>&#13;
        <li>Ein bis zwei (in speziellen Fällen auch mehr) Lawinenprobleme und deren Gefahrenstellen</li>&#13;
        <li>Eine Gefahrenbeurteilung</li>&#13;
        <li>Die Beschreibung der Schneedecke</li>&#13;
        <li>Eine Tendenz für den Zeitraum von +24h bis +48h</li>&#13;
        <li>Einen Link zur Wettervorhersage</li>&#13;
      </ul>
<p>Die drei Lawinenwarndienste der Europaregion Tirol – Südtirol – Trentino nutzen zur Einschätzung der Lawinengefahrenstufe die fünfteilige, europäische <a href="/education/danger-scale">Lawinengefahrenstufenskala</a>. Sofern eine gemeinsame Gefahrenbeschreibung möglich ist werden Gebiete mit gleicher Gefahrenstufe, denselben Lawinenproblemen sowie dazugehörigen, besonders betroffenen Expositionen und Höhenlagen - Gefahrenstellen genannt - zusammengefasst. Die Gefahrenstufen und Lawinenprobleme werden auf einer Gefahrenkarte dargestellt (Abbildung 2). Einem aggregierten Gebiet können zwei Gefahrenstufen mit unterschiedlicher Höhenlage zugeordnet werden. </p>&#13;
&#13;
      <div>&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/map_en-640.webp   640w,&#13;
              /content_files/map_en-1280.webp 1280w,&#13;
              /content_files/map_en-1663.webp 1663w&#13;
            "><source type="image/jpeg" srcset="&#13;
              /content_files/map_en-640.jpg   640w,&#13;
              /content_files/map_en-1280.jpg 1280w,&#13;
              /content_files/map_en-1663.jpg 1663w&#13;
            ">&#13;
          <img src="/content_files/map_en-1280.jpg" title="Danger level map for Tirol - South Tyrol - Trentino" alt="Danger level map for Tirol - South Tyrol - Trentino">&#13;
        </picture>
</div>&#13;
      <p class="small" style="text-align: center">Abbildung 2: Überblick über die vorherrschenden Gefahrenstufen in der Europaregion Tirol – Südtirol – Trentino. Gebiete mit gleicher Lawinengefahrensituation werden auch über die Grenzen hinweg von den Lawinenwarnern zusammengefasst. Ebenso kann auf eine tageszeitliche Veränderung der Situation eingegangen werden (vormittags| nachmittags). </p>&#13;
&#13;
      <p>Im Falle einer tageszeitlichen Veränderung der Gefahrenstufe wird mit zwei Karten darauf hingewiesen. Diese Doppelkarte stellt sowohl die Vormittagssituation (typischerweise die günstigere Situation), als auch die Situation am Nachmittag dar. Dabei ist die Veränderung der Gefahrensituation von Vormittag zu Nachmittag zeitlich nicht strikt auf 12 Uhr mittags begrenzt, sondern beschreibt eine generelle Veränderung im Tagesverlauf. Eine genauere Beschreibung kann im Textteil des Euregio-Lawinenreports erfolgen. </p>&#13;
&#13;
      <h3 class="normal">Lawinenproblem</h3>&#13;
      <p>Einer aggregierten Region können ein oder maximal zwei typische <a href="/education/avalanche-problems">Lawinenprobleme</a> zugeordnet werden. Dabei werden folgende fünf Probleme unterschieden: </p>&#13;
      <ul>
<li>Neuschneeproblem</li>&#13;
        <li>Wind slab problem</li>&#13;
        <li>Altschneeproblem</li>&#13;
        <li>Nassschneeproblem</li>&#13;
        <li>Gleitschneeproblem</li>&#13;
      </ul>
<p>Diese Probleme ermöglichen nicht zu Letzt aufgrund einfach gehaltener Piktogramme einen intuitiven und zielgerichteten Informationsgewinn aus dem Euregio-Lawinenreport. </p>&#13;
&#13;
      <h3 class="normal">Gefahrenstellen</h3>&#13;
      <p>An avalanche problem is usually allocated to a specific, particularly&#13;
        endangered spatial area, defined by elevation and aspect. The elevation&#13;
        limits of the problem generally coincide with the elevation limits of&#13;
        the danger level (Figure 3). If no particular avalanche problem&#13;
        predominates (often the case at danger level 1&nbsp;–&nbsp;low) this&#13;
        information is omitted and a favourable avalanche situation is declared.&#13;
        <br>&#13;
        The avalanche prone locations where a given avalanche problem prevails&#13;
        are delineated by the aspect and the elevation limits. The blue-marked&#13;
        segments of a wind rose are indicators of those aspects. The elevation&#13;
        can be indicated by a specific borderline or border zone. Apart from&#13;
        that, the altitude above sea level generally follows as a written number&#13;
        or the term “treeline” accompanied by a visual depiction with arrows&#13;
        pointing in the appropriate direction.</p>&#13;
&#13;
      <div><img src="/content_files/info_en.png" title="Danger overview" alt="Detailed overview of danger levels and avalanche problems including their corresponding danger zones (aspect and elevation)"></div>&#13;
&#13;
      <p class="small" style="text-align: center">Abbildung 3: Detaillierter Überblick über Gefahrenstufe sowie die Lawinenprobleme inklusive ihrer zugehörigen Gefahrenstellen (Exposition und Höhenlage). </p>&#13;
&#13;
      <h3 class="normal">Gefahrenbeurteilung</h3>&#13;
      <p>Zu jedem auf der Karte eingezeichneten Warngebiet, gibt es eine eigene Gefahrenbeurteilung (Abbildung 4). Diese enthält unter anderem Angaben zur Auslösebereitschaft und Größe der zu erwartenden Lawinen sowie der Verteilung der Gefahrenstellen. Bei Bedarf werden auch Hinweise oder Empfehlungen für einzelne Benutzer*innen-Gruppen gegeben. <br>Am Ende der Gefahrenbeurteilung können weiterführende Informationen an die Benutzer*innen weitergegeben werden, wie beispielsweise zu beachtende weitere Gefahrenquellen oder eine besonders unsichere Wetterentwicklung. </p>&#13;
&#13;
      <h3 class="normal">Schneedecke</h3>&#13;
      <p>Zu jeder auf der Karte ausgewiesenen Warnregion, gibt es eine eigene Beschreibung der Schneedecke (Abbildung 4). Der Schneedeckenaufbau ist ein wichtiger lawinenbildender Faktor. Die Beschreibung ist generell und umfasst in der Regel sowohl den Aufbau als auch die Stabilität der Schneedecke. </p>&#13;
      <p>Während der Schneedeckenaufbau durch die Schichtung der Schneedecke und die strukturellen Eigenschaften der einzelnen Schichten (d. h. Kornformen, Korngrößen, Härten) bestimmt wird, bildet die Schneedeckenstabilität ein Maß für die Auslösebereitschaft von Lawinen. Im Wesentlichen bestimmt der Schneedeckenaufbau die Stabilität der Schneedecke. </p>&#13;
      <p>In diesem Abschnitt kann gegebenenfalls auch die beobachtete Lawinenaktivität beschrieben werden. </p>&#13;
&#13;
      <div><img src="/content_files/info2_en.png" title="Danger assessment and snowpack analysis" alt="Danger assessment and snowpack analysis are provided as a&#13;
          text. They form the lower part of the Information Pyramid. In addition,&#13;
          information about the predominant danger pattern and the immediate&#13;
          outlook is also provided."></div>&#13;
&#13;
      <p class="small" style="text-align: center">Abbildung 4: Gefahrenbeurteilung und Beschreibung der Schneedecke erfolgen in Textform und bilden den unteren Bereich der Informationspyramide. Zusätzlich wird man über das vorherrschende Gefahrenmuster sowie die Tendenz informiert. </p>&#13;
&#13;
      <p>Oberhalb der detaillierten Schneedeckenbeschreibung finden sich zu den Lawinenproblemen passende <a href="/education/danger-patterns">Gefahrenmuster</a>. Diese können als Erweiterungen der fünf Lawinenprobleme betrachtet werden und beschreiben im Grunde zehn typische, wiederkehrende Situationen, welche häufig zu Lawinenunfällen führen. </p>&#13;
&#13;
      <h3 class="normal">Tendenz</h3>&#13;
      <p>Basierend auf der Zweitagesprognose für das Wetter wird die ungefähre Tendenz der Lawinengefahr für jenen Tag, der an die Gültigkeitsdauer anschließt, abgeschätzt.</p>&#13;
&#13;
      <h3 class="normal">Wetter</h3>&#13;
      <p>Für den prognostizierten Wetterverlauf verweisen wir auf die Informationen der Wetterdienststellen der Provinzen Bozen - Südtirol und Trentino bzw. auf die Informationen der ZAMG Wetterdienststelle Innsbruck.</p>&#13;
&#13;
      <h3 class="normal">Flexible Warnregionen</h3>&#13;
      <p>Um Gebiete mit gleicher Gefahrenstufe aggregieren zu können, wurden auf Basis von schnee-klimatologischen Analysen innerhalb der Europaregion Tirol – Südtirol – Trentino 70 Kleinstregionen bestimmt. Anhand dieser können nun größere Warnregionen mit gleicher Lawinengefahrenbeurteilung flexibel definiert werden. </p>&#13;
      <p>Dabei teilt sich Tirol in 29, Südtirol in 21 und Trentino in 20 Kleinstregionen auf. Diese Kleinstregionen besitzen jeweils eine eindeutige Bezeichnung und werden in Abbildung 5 dargestellt. Darüber hinaus wird jeder Kleinstregion ein eindeutiger Code zugeordnet (Tabelle 1). </p>&#13;
&#13;
      <table style="width: 100%; border: 0px solid #000; text-align: center"><tbody><tr>
<td>&#13;
              <picture><source type="image/webp" srcset="&#13;
                    /content_files/regions_en-640.webp 640w,&#13;
                    /content_files/regions_en-741.webp 741w&#13;
                  "><source type="image/jpeg" srcset="&#13;
                    /content_files/regions_en-640.jpg 640w,&#13;
                    /content_files/regions_en-741.jpg 741w&#13;
                  ">&#13;
                <img src="/content_files/regions_en-640.jpg" title="Region map" alt="The 70 micro regions of the European region Tirol – South Tyrol – Trentino">&#13;
              </picture>
</td>&#13;
          </tr></tbody></table>
<p class="small" style="text-align: center">Figure 5: The 70 micro regions of the European region Tirol – South&#13;
        Tyrol – Trentino, including clear designation of their respective names&#13;
        (see Table 1)</p>&#13;
&#13;
      <regionstables></regionstables>
</div>&#13;
&#13;
    <section class="section-centered"><div id="basis" class="panel field border">&#13;
        <div class="panel-header">&#13;
          <h2>Beurteilungsgrundlagen</h2>&#13;
        </div>&#13;
        <p>Der Lawinenwarnung stehen verschiedenste Daten zur Einschätzung der Lawinengefahr zur Verfügung (Abbildung 6). Die Informationen reichen von Messungen, Beobachtungen, eigenen lokalen Einschätzungen hin bis zu Modellresultaten. Erst deren Zusammenspiel erlaubt es, in all den unterschiedlichen Situationen eine zuverlässige Prognose für die Lawinengefahr zur erstellen. </p>&#13;
&#13;
        <div>&#13;
          <picture><source type="image/webp" srcset="&#13;
                /content_files/illustration_en-640.webp   640w,&#13;
                /content_files/illustration_en-1280.webp 1280w,&#13;
                /content_files/illustration_en-1920.webp 1920w,&#13;
                /content_files/illustration_en-2560.webp 2560w,&#13;
                /content_files/illustration_en-3200.webp 3200w,&#13;
                /content_files/illustration_en-3860.webp 3860w&#13;
              "><source type="image/jpeg" srcset="&#13;
                /content_files/illustration_en-640.jpg   640w,&#13;
                /content_files/illustration_en-1280.jpg 1280w,&#13;
                /content_files/illustration_en-1920.jpg 1920w,&#13;
                /content_files/illustration_en-2560.jpg 2560w,&#13;
                /content_files/illustration_en-3200.jpg 3200w,&#13;
                /content_files/illustration_en-3860.jpg 3860w&#13;
              ">&#13;
            <img src="/content_files/illustration_en.png" title="Data sources" alt="Data from weather stations and feedback from local and&#13;
              mobile observers, as well as private persons on the current avalanche&#13;
              situation provide the basis for the avalanche forecast">&#13;
          </picture>
</div>&#13;
        <p class="small" style="text-align: center">Abbildung 6: Messwerte von Wetterstationen sowie Rückmeldungen von lokalen, mobiler Beobachter*innen und Privatpersonen über die aktuelle Lawinensituation, dienen als Grundlage für die Lawinenprognose. Diese kann via Internet, E-Mail, mobile Dienste, Radio, TV und Printmedien empfangen werden. </p>&#13;
&#13;
        <h3 class="normal">Messungen</h3>&#13;
        <p>Für die Erstellung des Lawinenreports betreiben die Lawinenwarndienste der Europaregion Tirol – Südtirol – Trentino ein umfangreiches Netz an <a href="/weather/stations">Messstationen</a> und verfügen dadurch über eines der weltweit dichtesten Netze an hochalpinen Messstationen. Die Messungen der Stationen sind für alle Nutzer*innen öffentlich zugänglich und können über Tabellen und Grafiken unter <a href="/weather/map/new-snow">Schnee &amp; Wetter</a> abgerufen werden. </p>&#13;
&#13;
        <h3 class="normal">Beobachtungen und Einschätzungen</h3>&#13;
        <p>Für eine zuverlässige Einschätzung der Lawinengefahr benötigen die Lawinenwarndienste aktuelle Informationen aus dem Gelände. Dazu unterhalten die drei Lawinenwarndienste der Europaregion Tirol – Südtirol – Trentino ein eigenes Beobachter*innen-Netz. Je nach Situation, werden teils unterschiedliche Daten erfasst, wie z. B. Schätzungen zu Neu- und Triebschnee, beobachtete Alarmzeichen und Lawinenabgänge bzw. auch eine Einschätzung der aktuellen Lawinengefahr. </p>&#13;
        <p>Zusätzliche Informationen kommen von Mitgliedern der Lawinenkommissionen, lokalen Sicherheitsdiensten, Rettungsorganisationen, Polizei und nicht zuletzt auch von Wintersportbegeisterten. Diesbezüglich sind vor allem Rückmeldungen von Lawinen, die durch Personen ausgelöst wurden sowie der generellen Lawinenaktivität von besonderer Bedeutung. Wichtig: Auch Lawinenabgängen mit Personenbeteiligung ohne Verschüttete bzw. Verletzte sollten vorerst zeitnah der zuständigen Leitstelle gemeldet werden, um eine unnötig aufwändige und kostspielige Suche zu verhindert. Zudem liefern Informationen über die derzeitige Schneeoberfläche (d. h. Graupel, Oberflächenreif, Windeinfluss, Regen / Schneefall-Grenze etc.) entscheidende Hinweise dafür, inwiefern diese als künftige Schwachschicht fungiert und letztlich zu einer Veränderung der Gefahrenstufe führen kann. Diese Daten werden von den Mitarbeiter*innen des Euregio-Lawinenreports erfasst, kategorisiert sowie georeferenziert. </p>&#13;
        <p>Je mehr Details eine Beobachtung enthält, desto eher trägt sie zur Beurteilung der Lawinengefahr im Euregio-Lawinenreport bei. Ferner sollten neben allgemeinen Hintergründen auf jeden Fall folgende Eckdaten erwähnt werden: </p>&#13;
        <ul>
<li>Örtlichkeit (falls nicht weiter bekannt, den nächsten vertrauten Fixpunkt angeben) </li>&#13;
          <li>Höhe bzw. Höhenbereich</li>&#13;
          <li>Exposition</li>&#13;
          <li>Hangneigung</li>&#13;
        </ul>
<p>Die Übermittlung von zugehörigen Koordinaten bzw. Bildmaterial ermöglicht eine noch präzisere Beurteilung der Lawinengefahr, ist jedoch nicht von oberster Priorität. </p>&#13;
&#13;
        <h3 class="normal">Ortsgebundene Beobachter*innen</h3>&#13;
        <p>Ein Teil der Beobachter*innen des Euregio-Lawinenreports sind ortsgebunden. Diese melden u. a. Lawinenabgänge oder Alarmzeichen und oft auch eine Einschätzung der aktuellen Lawinengefahr. Wenn möglich melden sie sich den ganzen Winter über täglich und stellen so eine Grundabdeckung an Informationen sicher. Die Meldungen erfolgen zwischen 6 und 8 Uhr, oder mittags.</p>&#13;
&#13;
        <h3 class="normal">Mobile Beobachter*innen</h3>&#13;
        <p>Ein Teil der Beobachter*innen bewegt sich völlig frei in den Bergen der Europaregion Tirol – Südtirol – Trentino. Sie melden immer dann, wenn sie interessante Informationen haben, von ihrem jeweiligen Standort aus. Dabei können Rückmeldungen via Messenger-Dienste oder Mail direkt an die Lawinenwarndienste gesendet werden. Zudem melden uns ausgewählte Bergführer*innen über die mobile App NATLEFS (nicht öffentlich zugänglich) standardisierte Beobachtungen und Einschätzungen. <br>Bei der Größe der Europaregion Tirol – Südtirol – Trentino und den regionalen Unterschieden, können die offiziellen Beobachter*innen niemals alles erfassen. Deshalb ist die Lawinenwarnung auch auf Meldungen von Privatpersonen angewiesen. An dieser Stelle möchten wir uns bei allen aktiven Beobachter*innen bedanken und weitere dazu ermuntern, die eigenen Eindrücke zu melden (Details unter Beobachtungen und Einschätzungen).</p>&#13;
&#13;
        <h3 class="normal">Lawinenabgänge</h3>&#13;
        <p>Neben den beobachteten Lawinenabgängen werden von den Leitstellen und Rettungsdiensten die Unfalllawinen gemeldet. Zudem stehen den Lawinenwarndiensten Lawinenkartierungen verschiedener Skigebiete und Daten automatischer Lawinendetektionssysteme zur Verfügung. Meldungen über Lawinenabgänge können auch von Privatpersonen durch einen Eintrag auf <a href="https://www.lawis.at/incident/">LAWIS</a> gemeldet werden. </p>&#13;
      </div>&#13;
&#13;
      <section class="section-centered"><div id="possibilities_and_limits" class="panel field border">&#13;
          <div class="panel-header">&#13;
            <h2>Möglichkeiten und Grenzen des Euregio-Lawinenreports</h2>&#13;
          </div>&#13;
          <p>Der Euregio-Lawinenreport beinhaltet eine Prognose der Lawinengefahr. Es liegt jedoch in der Natur von Vorhersagen, dass diese mit Unsicherheiten verbunden sind und dementsprechend auch unzutreffend sein können. Die Lawinenwarndienste der Europaregion Tirol – Südtirol - Trentino sind bemüht, dass Inhalte und Informationen auf der Website möglichst korrekt publiziert werden, übernehmen aber keine Gewähr für die Richtigkeit und Vollständigkeit von Inhalten und Informationen. </p>&#13;
          <p>Lawinengefahr bedeutet Lebensgefahr. Die Inanspruchnahme von Informationen der Lawinenwarndienste der Europaregion Tirol – Südtirol - Trentino entbindet in keiner Art und Weise von der Pflicht, die Lawinensituation eigenverantwortlich, lokal zu beurteilen und sich entsprechend zu verhalten. </p>&#13;
&#13;
          <h3 class="normal">Geltungsbereich</h3>&#13;
          <p>Im Euregio-Lawinenreport werden nur die Verhältnisse im freien Gelände beschrieben, welches innerhalb der Europaregion Tirol – Südtirol – Trentino liegt (Abbildung 5 bzw. Tabelle 1).</p>&#13;
&#13;
          <h3 class="normal">Eigenständige Beurteilung</h3>&#13;
          <p>Die Formulierung im Euregio-Lawinenreport ist generell, d. h. die lokalen Verhältnisse können in den Vorhersagen nicht beurteilt werden und schon gar nicht ein einzelner Hang. Die Verbindung zwischen regionaler Gefahrenstufe, möglicher Lawinenaktivität und entsprechenden Auswirkungen (mit allenfalls sich draus ergebenden Maßnahmen) muss durch die Nutzer*innen des Euregio-Lawinenreports vor Ort hergestellt werden. Dabei müssen sich Schneesportler*innen und Sicherheitsverantwortliche zusätzlich auf eigene Beurteilungsmethoden stützen. Darunter fallen lokale Wetter-, Schnee- und Lawinenbeobachtungen, Schneedeckenuntersuchungen, Kartenstudium, Hangbeurteilung vor Ort sowie individuelle Risikoüberlegungen. Sicherheitsdiensten stehen unter Umständen auch Resultate der künstlichen Lawinenauslösung zur Verfügung. In jede Entscheidung sollten alle zur Verfügung stehenden Informationen einfließen. Dabei haben Informationen, die auf instabile Verhältnisse schließen lassen, ein besonderes Gewicht. </p>&#13;
&#13;
          <h3 class="normal">Genauigkeit der Angaben der Lawinenvorhersage</h3>&#13;
          <p>Beim Euregio-Lawinenreport handelt es sich, wie auch bei anderen Naturgefahrenwarnungen (z. B. vor Starkniederschlagsereignissen, Erdbeben, Felsstürzen, Vulkanausbrüchen, Wirbelstürmen, Tsunamis etc.), um rein wahrscheinlichkeitsbasierte Angaben. Gerade aufgrund der unvollständigen Kenntnis über die räumliche sowie zeitliche Entwicklung des Wetters und folglich des Schneedeckenaufbaus, ist die Vorhersage der Lawinengefahr in erster Linie mit einer gewissen Unsicherheit behaftet. Darüber hinaus kann die von Lawinen ausgehende Gefahr auch innerhalb der angegebenen Lawinengefahrenstufe sehr unterschiedlich ausgeprägt sein.</p>&#13;
          <p>Unterschiede zwischen der allgemeinen Prognose und der tatsächlichen Lawinensituation vor Ort betreffen unter anderem die räumliche Ausdehnung der Gefahrenstufe (Abbildung 7) sowie deren Höhenabhängigkeit. </p>&#13;
&#13;
          <div>&#13;
            <picture><source type="image/webp" srcset="&#13;
                  /content_files/dangerscale_map_en-640.webp 640w,&#13;
                  /content_files/dangerscale_map_en-997.webp 997w&#13;
                "><source type="image/jpeg" srcset="&#13;
                  /content_files/dangerscale_map_en-640.jpg 640w,&#13;
                  /content_files/dangerscale_map_en-997.jpg 997w&#13;
                ">&#13;
              <img src="/content_files/dangerscale_map_en-640.jpg" title="Dangerscale map" alt="Map of the danger scale in parts of the Euregio">&#13;
            </picture>
</div>&#13;
          <p class="small" style="text-align: center">Abbildung 7: Die Lawinengefahr variiert vor allem an der Grenze unterschiedlich beurteilter Warnregionen, wie hier am Beispiel des Grenzsaums Tirol - Südtirol illustriert</p>&#13;
&#13;
          <p>Ebenso können die Angaben zur Verbreitung von Gefahrenstellen (d. h. Exposition und Höhe) variieren, wie Abbildung 8 nochmals veranschaulicht. Abweichungen vor allem im Bereich der Grenzsäume der Warnregionen müssen gegebenenfalls vor Ort beobachtet und davon abgeleitet dementsprechende Handlungen gesetzt werden. </p>&#13;
&#13;
          <div><img src="/content_files/danger_icons.png" title="Icons for avalanche prone locations" alt="Icons defining the elevation and aspect of avalanche prone locations"></div>&#13;
          <p class="small" style="text-align: center">Abbildung 8: In der Realität kann die Höhe der vorherrschenden Gefahrenstufe, sowie die Exposition und Höhenabhängigkeit der Gefahrenstellen durchaus von den Angaben der publizierten Lawinenvorhersage abweichen. </p>&#13;
&#13;
          <p>Meistens sind für das Hochgebirge (&gt;3000m) weniger Informationen verfügbar als für tiefe (&lt;1000m), mittlere (&gt;1000m) und hohe Lagen (&gt;2000m). Demzufolge erfordern Aussagen zum Hochgebirge eine besondere Überprüfung. Auch bei zeitlich rasch wechselnden Wettersituationen ist eine besonders genaue Erhebung notwendig, da der Euregio-Lawinenreport unvorhersehbare räumliche und zeitliche Veränderungen der Lawinengefahr in der Regel nicht berücksichtigen kann. </p>&#13;
        </div>&#13;
&#13;
        <section class="section-centered"><div id="products_and_channels" class="panel field border">&#13;
            <div class="panel-header">&#13;
              <h2>Produkte &amp; Bezugskanäle</h2>&#13;
            </div>&#13;
            <p>Im Winter besteht der Euregio-Lawinenreport aus einer täglich veröffentlichten, interaktiven Karte. Außerhalb der Saison erscheint keine Gefahrenkarte im Euregio-Lawinenreport. In diesem Fall wird die Lawinengefahr und Schneedeckensituation im <a href="/blog">Blog</a> beschrieben.</p>&#13;
            <p>Der Euregio-Lawinenreport sowie die internen Inhalte der Webseite sind in 7 Sprachen ausgeführt und demnach auf Deutsch, Italienisch, Englisch, Französisch, Spanisch, Katalanisch und Aranesisch verfügbar.</p>&#13;
&#13;
            <h3 class="normal">Interaktive Website</h3>&#13;
            <p>Der interaktive Euregio-Lawinenreport ist im Internet verfügbar. Aufgrund der responsiv gestalteten Webseite ist er nicht nur über den PC sondern auch über mobile Endgeräte (z. B. Smartphones, Tablets etc.) abrufbar. Das Erscheinungsbild passt sich hierbei selbstständig an das verwendete Gerät an. </p>&#13;
            <p>Zu weiteren Infos bezüglich der Gefahrenbeurteilung innerhalb einer gewünschten Kleinstregion gelangt man direkt über die <a href="/bulletin/latest">interaktive Gefahrenkarte</a>. Fährt man mit der Maus über die Karte, werden die aggregierte Warnregionen entsprechend hervorgehoben. Beim Klick auf die entsprechende Warnregion öffnet sich ein zusätzliches Fenster mit einer genaueren Höhenabgrenzung der Gefahrenstufe sowie den vorherrschenden Lawinenproblemen. Ein Klick auf DETAILS führt zu einer genauen Aufschlüsselung der Lawinengefahr, wie z. B. der den Lawinenproblemen zugehörigen Exposition und Höhe sowie der Gefahrenbeurteilung, Beschreibung der Schneedecke und Tendenz in Textform. </p>&#13;
&#13;
            <h3 class="normal">Printversion</h3>&#13;
            <p>Parallel zum Euregio-Lawinenreport im Internet steht eine Printversion als PDF zur Verfügung. Diese Version, inklusive möglicher Updates, erscheint zeitgleich mit dem online Euregio-Lawinenreport und ist inhaltlich mit diesem ident. <br>Damit das PDF-File heruntergeladen und ausgedruckt werden kann, muss der Button PDF angeklickt werden. Folglich kann man die gesamte Europaregion bzw. nur Tirol, Südtirol oder Trentino auswählen. Zusätzlich ist es möglich vor dem Herunterladen zwischen mehrfarbig oder schwarz/weiß zu wählen. </p>&#13;
&#13;
            <h3 class="normal">Blog</h3>&#13;
            <p>Im <a href="/blog">Blog</a> des Euregio-Lawinenwarndienstes finden sich außerhalb der regulären Ausgabezeit (Details unter Ausgabezeit und Gültigkeit) alle Informationen zur Lawinensituation wieder. <br>Während der Wintersaison veröffentlichen die Lawinenwarndienste der Europaregion Tirol – Südtirol – Trentino in der Regel mehrmals wöchentlich zusätzliche Details über den gegenwärtigen Schneedeckenaufbau, die daraus resultierende Lawinensituation und die Hintergründe zu Lawinenereignissen, welche Personen oder Infrastruktur betroffen haben. Die Blog-Posts dienen als Ergänzung zum Euregio-Lawinenreport ersetzen diesen jedoch nicht.</p>&#13;
&#13;
            <h3 class="normal">Zusatzprodukte</h3>&#13;
            <p>Neben dem Euregio-Lawinenreport im Internet, als Printversion und den Zusatzinformationen im Blog bieten die Lawinenwarndienste der Europaregion Tirol – Südtirol – Trentino zusätzliche Produkte, wie z. B. Schnee- und <a href="/weather/map/new-snow">Wetterkarten</a>, Informationen zu <a href="https://www.lawis.at/profile/">Schneeprofilen</a> und <a href="/weather/stations">Wetterstationsgrafiken</a> an.</p>&#13;
&#13;
            <h3 class="normal">Email</h3>&#13;
            <p>Nutzer*innen können eine automatische Zusendung des Euregio-Lawinenreports via E-Mail abonnieren. Bei jeder neuen Herausgabe (täglich oder unangekündigt) bzw. Aktualisierung des Euregio-Lawinenreports werden die Abonnent*innen per E-Mail benachrichtigt.</p>&#13;
&#13;
            <h3 class="normal">Messenger Dienste</h3>&#13;
            <p>Ebenso ist es möglich eine automatische Zusendung des Euregio-Lawinenreports über verschiedene Messenger-Dienste zu abonnieren. Bei jeder neuen Herausgabe (täglich oder unangekündigt) bzw. Aktualisierung des Euregio-Lawinenreports werden die Abonnent*innen benachrichtigt. Ein Abonnement des Euregio-Lawinenreports ist derzeit für Push Nachrichten und Telegram möglich.</p>&#13;
&#13;
            <h3 class="normal">Lawine Tirol-App</h3>&#13;
            <p>Zusätzlich zur Webseite gibt es eine App mit mehreren Zusatzfunktionen für den Einsatz im Gelände. Diese ist kostenlos für Android und Apple-Geräte in den dafür vorgesehenen App-Stores erhältlich. Neben allen Informationen, die auch auf der Webseite abgerufen werden können, verfügt die Lawine Tirol-App über Tools zur Rückmeldung von Beobachtungen, zur Messung der Hangneigung, der Exposition und Höhe sowie über diverse Checklisten zur Tourenplanung. Darüber hinaus kann man direkt von der App aus einen Notruf absetzten.</p>&#13;
&#13;
            <h3 class="normal">Radio</h3>&#13;
            <p>Tirol: Täglich um 17:00 Uhr wird diversen Medieninstitutionen ein Sprachmemo bereitgestellt, in dem die Lawinengefahr des Folgetages beschrieben wird. </p>&#13;
            <p>Südtirol: Jeden Freitagnachmittag wird ein Sprachmemo erstellt, das allen Südtiroler Radiosendern zur Verfügung steht und die Lawinengefahrensituation für das Wochenende beschreibt. Aufgrund der beschränkten Gültigkeit kann es nur von Freitag 16:30 Uhr bis Samstag 10:00 Uhr gesendet bzw. empfangen werden.</p>&#13;
            <p>Trentino: Für die Provinz Trentino existiert derzeit noch kein vergleichbarer Service.</p>&#13;
&#13;
            <h3 class="normal">Printmedien</h3>&#13;
            <p>Südtirol: In der Tageszeitung Dolomiten wird tägliche eine kurze Voransicht der Gefahrenstufenkarte mit Verweis auf die Details im Internet veröffentlicht.</p>&#13;
            <p>Tirol und Trentino: Derzeit wird in keiner der beiden Europaregionen regelmäßig in Printmedien über die Lawinengefahr berichtet, außer bei erhöhter Lawinengefahr.</p>&#13;
&#13;
            <h3 class="normal">Fernsehen</h3>&#13;
            <p>In den regionalen Nachrichtensendungen Tirol heute und Südtirol heute (ORF2) kann die Lawinensituation kurz nach den jeweiligen Landesnachrichten ausgestrahlt werden. Dies geschieht unregelmäßig, aber vielfach am Freitag, sporadisch auch an den übrigen Tagen, insbesondere bei erhöhter Lawinengefahr.</p>&#13;
          </div>&#13;
        </section></section></section></section></section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Ausbildung &amp; Prävention</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Lawinengefahrenstufen</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-problems" title="Avalanche Problems">Lawinenprobleme</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/matrix" title="EAWS Matrix">EAWS Matrix</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-sizes" title="Avalanche Sizes">Lawinengrößen</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/danger-patterns" title="Danger Patterns">Gefahrenmuster</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
