<div>
<h1>Handbook</h1>

<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#general" title="General Information" class="secondary pure-button" data-scroll>General Information</a></li>
      <li><a href="#contents_and_design" title="Contents &amp; Design" class="secondary pure-button" data-scroll>Contents &amp; Design</a></li>
      <li><a href="#basis" title="Basis of Assessment" class="secondary pure-button" data-scroll>Basis of Assessment</a></li>
      <li><a href="#possibilities_and_limits" title="Possibilities &amp; Limits" class="secondary pure-button" data-scroll>Possibilities &amp; Limits</a></li>
      <li><a href="#products_and_channels" title="Products &amp; Information Channels" class="secondary pure-button" data-scroll>Products &amp; Information Channels</a></li>
    </ul></header></section><section class="section-centered"><div id="general" class="panel field border">
    <div class="panel-header">
      <h2>General Information</h2>
    </div>

    <h3 class="normal">The Avalanche Report of the European Region</h3>

    <p>The Mountain rescue service Avalanche prevention center
      provides information to the public about the snow and avalanche conditions
      in the Slovakia. The information is published in 2 languages:
      Slovak and English.<br>
      The Avalanche Report includes a short-term analysis of avalanche
      danger and outlook. It takes the form of a warning. This is published at
      least once daily during the winter season. It contains a forecast of
      avalanche danger for all zones within Slovakia as its most important and relevant communication.
      Additional data related to avalanche-relevant development of the weather
      and the structure of the snowpack provide a more precise and in-depth
      picture of the current and approaching situation, serving as a basis for
      individual assessments and decisions.<br>
      Since the avalanche bulletin is a regional forecast of avalanche
      danger, it is subject to uncertainties, e.g. geographical variations and
      divergences, as well as time factors. For that reason, the information in
      the avalanche bulletin cannot replace a local on-site evaluation.
      The information provided in the avalanche bulletin is compiled from
      limited data and is too generalized to supply point-for-point analysis.
      <br>
      The contents and design of the avalanche bulletin correspond to
      current standards and guidelines of the Association of
      <a href="https://www.avalanches.org/">European Avalanche Warning Services (EAWS)</a>.</p>

    <h3 class="normal">Target audience</h3>
    <p>The avalanche bulletin is addressed to all people who are engaged in
      the mountains in wintertime, either professionally or for recreational
      purposes, and are exposed to avalanche danger; or to those who are
      responsible for the safety of others.</p>

    <h3 class="normal">Time of publication and of validity</h3>

    <p>During the summer season and months at the borders of winter, i.e. in early winter and late
      spring, as well as in the event of heavy snowfall in summertime, there is
      ordinarily a dearth of information available about snowpack layering and
      the prevailing avalanche situation. In this period, no danger level map is
      published. In such cases, the information is broadcast by the Avalanche prevention 
      center by means of
      <a href="https://blog.laviny.sk" target="_blank">blog posts</a>. 
      These contain details about the current
      and approaching developments of the snowpack situation as well as about
      avalanche danger, which easily may be valid for several days.</p>

    <p>In wintertime (1.12 – 30.4), the avalanche bulletin is published at least once
      daily:</p>
    <ul> 
<li>Update for next day - published at 17:00: assessment of avalanche danger for the following day,
        valid from midnight until 24:00 (in 2 languages).</li>
      <li>A coordinated update is possible from 7:00 am in need of update of avalanche danger.
        Mostly because of unexpected weather changes.
      </li>
      <li>In principle, an assessment of avalanche danger can also be published at
        other times. As a rule, however, this is done only rarely.</li>
    </ul>
</div>

  <section class="section-centered"><div id="contents_and_design" class="panel field border">
      <div class="panel-header">
        <h2>Contents &amp; Design</h2>
      </div>
      <p>In wintertime, the information of the avalanche bulletin is
        communicated through an interactive map. All contents are displayed
        according to the principle of the information pyramid (Figure 1). Thus,
        the avalanche danger level represents the most important information and
        is therefore listed first.</p>

      <div><img src="/content_files/pyramid_en.png" title="Information pyramid" alt="The information pyramid leads the information flow in the avalanche bulletin"></div>

      <p class="small" style="text-align: center">Figure 1: The information pyramid leads the information flow in the
        avalanche bulletin.</p>

      <p>Further information on the avalanche problems and their danger points,
        on the avalanche prone locations, on the description of the snowpack or
        on the tendency of the upcoming days, as well as weather information are
        only announced in the details.<br>
        In the following sections, the contents of the avalanche bulletin
        are introduced, their design elucidated.</p>

      <h3 class="normal">Avalanche danger and danger level</h3>
      <p>The forecast of avalanche danger forms the most important part of the
        avalanche bulletin. It comprises the following:</p>
      <ul>
<li>The danger level (optionally with elevations data)</li>
        <li>One or two (in special cases even more) current avalanche problems and
          their spatial distribution</li>
        <li>An assessment of the avalanche danger</li>
        <li>An analysis of the snowpack</li>
        <li>Tendency for the following 24 - 48 hours</li>
        <li>An internet link to the weather forecast</li>
      </ul>
<p>For assessing the avalanche danger level we use the
        five-level European
        <a href="/education/danger-scale">avalanche danger scale</a>. Insofar as
        an overall danger analysis/description is possible, the regions will
        publish the same danger level, describe the same avalanche problems and
        point out the same particularly endangered aspects and elevations on a
        danger map (Figure 2). One overall area can be assigned two different
        danger levels with different elevation limits designated.</p>

      <div>
        <picture><source type="image/webp" srcset="
              /content_files/map_sk-640.webp   640w,
              /content_files/map_sk-1280.webp 1280w,
              /content_files/map_sk-1663.webp 1663w
            "><source type="image/jpeg" srcset="
              /content_files/map_sk-640.jpg   640w,
              /content_files/map_sk-1280.jpg 1280w,
              /content_files/map_sk-1663.jpg 1663w
            "><img src="/content_files/map_sk-1280.jpg" title="Danger level map for Slovakia" alt="Danger level map for Slovakia"></picture>
</div>
      <p class="small" style="text-align: center">Figure 2: Overview of predominant danger levels in 
        the Slovakia. Regions beyond the borders with the same
        avalanche danger situation are also included in the analysis. In case of
        anticipated daytime changes in the situation, these can also be
        analysed.</p>

      <p>In case of anticipated changes in danger level during the course of the
        day, two maps are used. This double map depicts the morning situation
        (usually the more favourable scenario) and the afternoon situation. The
        change in the danger levels is not strictly limited to 12:00 noon, but
        simply describes the ongoing change throughout the course of the day. A
        more precise analysis can also follow in the textual part of the 
        avalanche bulletin.</p>

      <h3 class="normal">Avalanche problem</h3>
      <p>An aggregate region can have maximum two typical
        <a href="/education/avalanche-problems">avalanche problems</a>
        assigned to it. The following five problems are possible:</p>
      <ul>
<li>New snow problem</li>
        <li>Wind-drifted snow problem</li>
        <li>Persistent weak layer problem</li>
        <li>Wet snow problem</li>
        <li>Gliding snow problem</li>
      </ul>
<p>Thanks to the simple and easily grasped pictograms, citing and
        pinpointing these problems enables report readers to form an intuitive
        and concise picture in their minds based on the Euregio Avalanche
        Report.</p>

      <h3 class="normal">Avalanche prone locations</h3>
      <p>An avalanche problem is usually allocated to a specific, particularly
        endangered spatial area, defined by elevation and aspect. The elevation
        limits of the problem generally coincide with the elevation limits of
        the danger level (Figure 3). If no particular avalanche problem
        predominates (often the case at danger level 1&nbsp;–&nbsp;low) this
        information is omitted and a favourable avalanche situation is declared.
        <br>
        The avalanche prone locations where a given avalanche problem prevails
        are delineated by the aspect and the elevation limits. The blue-marked
        segments of a wind rose are indicators of those aspects. The elevation
        can be indicated by a specific borderline or border zone. Apart from
        that, the altitude above sea level generally follows as a written number
        or the term “treeline” accompanied by a visual depiction with arrows
        pointing in the appropriate direction.</p>

      <div><img src="/content_files/info_en.png" title="Danger overview" alt="Detailed overview of danger levels and avalanche problems including their corresponding danger zones (aspect and elevation)"></div>

      <p class="small" style="text-align: center">Figure 3: Detailed overview of danger levels and avalanche problems
        including their corresponding danger zones (aspect and elevation)</p>

      <h3 class="normal">Assessment of avalanche danger</h3>
      <p>For each warning region on the map there is a specific assessment of
        avalanche danger in that region (Figure 4). This evaluation includes
        details about avalanche release probability, expected size of avalanches
        and extent of avalanche prone locations. When necessary, references,
        indications and recommendations for specific user groups are provided.
        <br>
        At the conclusion of the danger assessment, additional information might
        also be supplied to users, e.g. other possible sources of risk or a
        particularly unfavourable weather development.</p>

      <h3 class="normal">Snowpack</h3>
      <p>For each warning region on the map there is an analysis of the snowpack
        (Figure 4). Snowpack structure is an important factor in the formation
        of avalanches. The analysis is general, as a rule comprising in the main
        the structure and the stability of the snow cover..</p>
      <p>The snowpack structure is defined by the layering of the snowpack and
        the structural characteristics of each individual layer, i.e. grain
        types, grain sizes, hardness. The snowpack stability tends to provide a
        measure of the likelihood of triggering. The snowpack layering by and
        large determines the stability of the snowpack.</p>
      <p>In this section, observed avalanches can be described.</p>

      <div><img src="/content_files/info2_en.png" title="Danger assessment and snowpack analysis" alt="Danger assessment and snowpack analysis are provided as a
          text. They form the lower part of the Information Pyramid. In addition,
          information about the predominant danger pattern and the immediate
          outlook is also provided."></div>

      <p class="small" style="text-align: center">Figure 4: Danger assessment and snowpack analysis are provided as a
        text. They form the lower part of the Information Pyramid. In addition,
        information about the predominant danger pattern and the immediate
        outlook is also provided.</p>

      <h3 class="normal">Tendency</h3>
      <p>Based on the two-day forecast for the weather, the approximate tendency
        for the avalanche danger which includes the final day of validity of the
        report is estimated.</p>

      <h3 class="normal">Weather</h3>
      <p> The Mountain rescue service Avalanche prevention center closely 
        cooperates with Slovak Meteorology institute SHMU, which gives us
        the forecasted weather conditions. This forecast is included in the bulletin.</p>

      <h3 class="normal">Flexible warning regions</h3>
      <p>In order to clump regions together where the same danger level prevails,
        8 micro regions have been defined based on the snow/climatological
        conditions within the Slovakia.
        With these micro regions, large warning regions with the same assessed
        avalanche danger can be flexibly defined.</p>
      <p>These micro regions are defined by
        specific, accepted designations. They are depicted in Figure 5. Apart
        from the name, each micro region also has a code number assigned to it
        (see Table 1).</p>

      <table style="width: 100%; border: 0px solid #000; text-align: center"><tbody><tr>
<td>
              <picture><source type="image/webp" srcset="
                    /content_files/regions_sk-640.webp 640w,
                    /content_files/regions_sk-741.webp 741w
                  "><source type="image/jpeg" srcset="
                    /content_files/regions_sk-640.jpg 640w,
                    /content_files/regions_sk-741.jpg 741w
                  "><img src="/content_files/regions_sk-640.jpg" title="Region map" alt="The 8 micro regions of the Slovakia"></picture>
</td>
          </tr></tbody></table>
<p class="small" style="text-align: center">Figure 5: the 8 micro regions of Slovakia including their codes</p>

      <RegionsTables></RegionsTables>
    </div>

    <section class="section-centered"><div id="basis" class="panel field border">
        <div class="panel-header">
          <h2>Basis of Assessment</h2>
        </div>
        <p>The avalanche warning has a wide variety of data available to it for
          purposes of assessing avalanche danger (Figure 6). This information
          ranges from measurements, observations, on-site assessments all the
          way to the results of computer models. Only the final coalescence of
          all these data permits a reliable forecast of avalanche danger amid
          highly varied situations to be generated.</p>

        <div>
          <picture><source type="image/webp" srcset="
                /content_files/illustration_en-640.webp   640w,
                /content_files/illustration_en-1280.webp 1280w,
                /content_files/illustration_en-1920.webp 1920w,
                /content_files/illustration_en-2560.webp 2560w,
                /content_files/illustration_en-3200.webp 3200w,
                /content_files/illustration_en-3860.webp 3860w
              "><source type="image/jpeg" srcset="
                /content_files/illustration_en-640.jpg   640w,
                /content_files/illustration_en-1280.jpg 1280w,
                /content_files/illustration_en-1920.jpg 1920w,
                /content_files/illustration_en-2560.jpg 2560w,
                /content_files/illustration_en-3200.jpg 3200w,
                /content_files/illustration_en-3860.jpg 3860w
              "><img src="/content_files/illustration_en.png" title="Data sources" alt="Data from weather stations and feedback from local and
              mobile observers, as well as private persons on the current avalanche
              situation provide the basis for the avalanche forecast"></picture>
</div>
        <p class="small" style="text-align: center">Figure 6: Data from weather stations and feedback from local and
          mobile observers, as well as private persons on the current avalanche
          situation provide the basis for the avalanche forecast. The Euregio
          Avalanche Report can be received via the Internet, email, mobile
          services, radio, TV and print media.</p>

        <h3 class="normal">Measurements</h3>
        <p>In order to put together an avalanche report, the Avalanche Warning
          Services operate a vast network of automated
          <a href="/weather/stations">measurement stations</a>
          throughout the Slovakia. They
          boast the densest network of high alpine measurement stations in the
          world available for analysis. The measurements of the automated
          measuring stations are available to the general public, can be
          consulted via Internet in the Mountain rescue service Meteoportal  
          <a href="https://meteo.hzs.sk" target="_blank">www.meteo.hzs.sk</a>.</p>

        <h3 class="normal">Observations and assessments</h3>
        <p>For a reliable assessment of avalanche danger, Avalanche Warning
          Services require current information from vast stretches of
          backcountry terrain. For that purpose, the Avalanche prevention center also
          maintain their own network of observers, especially at mountain huts. Depending on the given
          situation, highly diverse data is collected, e.g. estimates of new
          snow and snowdrift, observed alarm signs and already released
          avalanches, alongside personal assessments of current avalanche
          danger.</p>
        <p>Additional information is supplied by the avalanche commissions, local
          safety authorities, rescue organisations, police and, last but not
          least, backcountry recreationists. In this connection, reports on
          avalanches, which have occurred and were triggered by persons, and
          general avalanche activity are of particular importance. Important:
          Also avalanches in which persons were involved but not buried in snow
          or injured, need to be reported to the authorities as soon as possible
          after the avalanche released in order to prevent an unnecessary,
          expensive and labor-intensive rescue search. Furthermore, information
          about the current snow surface, e.g. graupel, surface hoar,
          rainfall/snowfall altitudes, etc., supply decisive clues about the
          extent to which the surface continues to threaten as a weak layer, and
          ultimately, could lead to a change in the danger level. These
          indicators are captured in the avalanche bulletin, categorized
          and pinpointed geographically. The more details a given observation
          contains, the more it contributes to a correct assessment of avalanche
          danger in the avalanche bulletin.</p>
        <p>The following parameters should be supplied under all circumstances,
          completely apart from any general assessment:</p>
        <ul>
<li>Location (if it cannot be specified, the nearest known fixed point)</li>
          <li>Altitude or altitude zone</li>
          <li>Aspect</li>
          <li>Slope gradient</li>
        </ul>
<p>Supplying the geographical coordinates and pictures makes possible a
          more precise assessment of avalanche danger, but this is not the
          uppermost priority.</p>

        <h3 class="normal">Stationary observers</h3>
        <p>Some of the observers of the Avalanche prevention center are stationary.
          They report avalanches or danger signs and frequently supply their
          personal assessment of the current avalanche danger. If possible they
          make a report every day throughout the winter, thereby assuring basic
          coverage and informational supply. These reports are made between 7:00
          and 8:00 am in the morning.</p>

        <h3 class="normal">Mobile observers</h3>
        <p>Some of the observers are completely mobile throughout the mountains
          of Slovakia. They report
          whenever they have interesting or relevant information from wherever
          they happen to be. These reports can be sent to the Avalanche Warning
          Services via messenger services or emailed directly to the Avalanche
          Warning Services. In addition, selected mountain guides also make
          reports via mobile phone app NATLEFS (not publicly accessible) and
          send us their standardized observations and assessments.<br>
         Avalanche warnings
          are also dependent on the reports from private persons. We would like
          to extend a debt of thanks to all those who have assisted us with
          their observations and reports. At the same time, we would like to
          encourage them to continue giving us their personal impressions (for
          details, see Observations and assessments).</p>

        <h3 class="normal">Avalanche releases</h3>
        <p>Apart from avalanche releases, which were observed, avalanche
          accidents are also reported by the coordination centres and the rescue
          services. In addition, the Avalanche Warning Services also have
          available avalanche mapping from a variety of ski areas, as well as
          the data from automated avalanche detection systems. Reports about
          avalanche releases can also be made by private persons by registering
          them at the
          <a href="https://www.lawis.at/incident/?lang=en">LAWIS website</a>.</p>
      </div>

      <section class="section-centered"><div id="possibilities_and_limits" class="panel field border">
          <div class="panel-header">
            <h2>Possibilities and limits of the avalanche bulletin</h2>
          </div>
          <p>The avalanche bulletin contains a forecast of avalanche
            danger. It lies in the nature of all forecasts that these are linked
            to many uncertainties and thus, could well prove unfounded. The
            Avalanche prevention center make every effort to make the contents and
            information provided in the avalanche forecast as complete and as
            correct as possible. However, they can assume no liability for the
            correctness or completeness of the contents and information
            supplied.</p>
          <p>Avalanche danger means danger to life and limb. The use of
            information provided by the Avalanche prevention center in no way absolves
            anyone from the personal responsibility of making one’s own personal
            assessment of the avalanche situation and behaving in ways
            concordant with that evaluation.</p>

          <h3 class="normal">Scope of application</h3>
          <p>In the avalanche bulletin, only the conditions in backcountry
            terrain are described which lie within the ESlovakia regions
             (Figure 5 and Table 1).</p>

          <h3 class="normal">Independent assessment</h3>
          <p>Evaluations in the avalanche bulletin are general, that is to
            say, specific local conditions cannot be reflected in the forecasts,
            to say nothing of conditions on a specific mountain slope. The
            connection between regionally valid danger levels, possible
            avalanche activity and corresponding consequences, including
            measures to be taken, must be made by the users of the avalanche bulletin
             through on-site evaluation. In this assessment, the
            backcountry recreationsists and safety authorities must apply their
            own experience and methods of evaluation as supportive aids.
            Included in this must be knowledge of local weather, snow and
            avalanche observations, snowpack analysis, studying maps, personal
            on-site judgment of a given mountain slope, alongside an
            individual’s own risk considerations. Safety authorities sometimes
            have the results of artificial avalanche triggerings available for
            their evaluations. In each individual decision, all available
            information should be taken into consideration. Information which
            lead to a conclusion that unstable conditions prevail should be
            given particular importance.</p>

          <h3 class="normal">Precision of data in avalanche forecasts</h3>
          <p>The forecasts in the avalanche bulletin, similar to those in
            other warnings of natural disasters, e.g. heavy downpour,
            earthquakes, rockfalls, volcanic eruptions, tornadoes, tsunamis,
            etc. are based on the laws of probability. In fact, due to our
            incomplete knowledge of all the geographic, spatial-spread and
            time-limit developments of the weather and, consequently, of the
            snowpack layering, a forecast of avalanche danger is by definition
            uncertain. Above and beyond that, the dangers which stem from
            avalanches can turn out to be highly diverse even within one
            indicated danger level.</p>
        

          <div><img src="/content_files/danger_icons.png" title="Icons for avalanche prone locations" alt="Icons defining the elevation and aspect of avalanche prone locations"></div>
          <p class="small" style="text-align: center">Figure 8: In reality, the allocated grade of prevalent danger, as
            well as the aspect and elevation of avalanche prone locations, can
            easily diverge from the information in the published avalanche
            forecast.</p>

          <p>Generally, there is less information available for high alpine
            regions (&gt;2000m) than for low (&lt;1000m), intermediate
            (&gt;1000m) and high altitudes (&gt;2000m). Consequently, all
            statements made about high alpine regions necessitate further
            evaluation and verification. Also when the weather situation is
            swiftly changing, particularly painstaking examination of the
            situation is necessary, since the avalanche bulletin cannot
            reflect unpredictable geographic and time-related changes of
            avalanche danger as a rule.</p>
        </div>

        <section class="section-centered"><div id="products_and_channels" class="panel field border">
            <div class="panel-header">
              <h2>Products &amp; information channels</h2>
            </div>
            <p>In winter the avalanche bulletin consists of an interactive
              map, which is published daily. In off-season no danger map is
              published in the avalanche bulletin. In off-season,
              avalanche danger and snowpack situation is described in our
              <a href="https://blog.laviny.sk" target="_blank">blog</a>.</p>
            <p>The avalanche bulletin and the internal contents of our
              website are published in 7 languages. They are available to
              readers in German, Italian, English, French, Spanish, Catalan and
              Aranese.</p>

            <h3 class="normal">Interaktive Website</h3>
            <p>The interactive avalanche bulletincan be consulted on the
              Internet. Because the website design is based on user input, it
              can be consulted not only on a desktop computer, but also on
              mobile pocket devices, e.g. smartphones, tablets, etc. The
              depictions which appear are, of course, adapted to the device
              being used.</p>
            <p>For further information regarding assessment of avalanche danger
              within a particular micro region, the user zooms in or fans out
              over the
              <a href="/bulletin/latest">interactive danger map</a>. Moving the
              mouse over the map brings forth the composite warning region in
              detail. By clicking on the appropriate warning region, an
              additional window opens with more precise altitude information of
              where the danger level applies as well as the prevalent avalanche
              problems there. By clicking on DETAILS, a more precise elucidation
              of the avalanche danger, e.g. the aspects and altitude where the
              specified avalanche problems prevail, danger assessment, snowpack
              description and outlook appear in textual form.</p>

            <h3 class="normal">Printed version</h3>
            <p>Parallel to the avalanche bulletin in the Internet, there is
              also a printed version available as a PDF file. This version,
              including possible updates, is published at the same time as the
              online avalanche bulletin. Its contents are identical to it.
              <br>
              In order for the PDF file be downloaded and printed, the PDF
              button must be clicked. In
              addition, downloading can be activated in colour or in
              black/white.</p>

            <h3 class="normal">Blog</h3>
            <p>The
              <a href="https://blog.laviny.sk" target="_blank">official blog</a>
              of the Avalanche prevention center can be consulted at the website.
              Outside the regular times of publication (for details, see Times
              of publication and of validity) this also contains all pertinent
              information relating to the avalanche situation.
              <br>
              During the winter season, the Avalanche prevention center
               ordinarily also
              publish additional details about the current snowpack layering,
              the resulting avalanche situation and the background of avalanches
              which have released, whether or not persons were involved,
              including infrastructure which might have been struck. These blogs
              serve to complement and round out the avalanche bulletin.
              Nonetheless, they do not replace it.</p>

            <!-- <h3 class="normal">Additional products</h3>
            <p>Apart from the avalanche bulletin in the Internet, as a
              printed version and the additional information in the blog, the
              Avalanche Warning Services of the European region Tirol – South
              Tirol – Trentino also have on offer additional products, such as
              <a href="/weather/map/new-snow">Snow and Weather Maps</a>,
              Information about
              <a href="https://www.lawis.at/profile/?lang=en">Snow Profiles</a>
              and <a href="/weather/stations">Weather Station Graphs</a>.</p>  -->

            <!-- <h3 class="normal">Email</h3>
            <p>Users can subscribe to receive automatically the Euregio Avalanche
              Report via email. At each new publication (daily or unannounced)
              or update of the avalanche bulletin, the recipient is
              notified via email.</p> -->

            <!-- <h3 class="normal">Messenger services</h3>
            <p>It is also possible to automatically receive the Euregio Avalanche
              Report itself via various messenger services by subscription. At
              each new publication (daily or unannounced) or update of the
              avalanche bulletin, the subscriber is notified. A
              subscription of the avalanche bulletin is currently possible
              via Push Notifications and Telegram.</p>

            <h3 class="normal">Radio</h3>
            <p>Tirol: Daily at 5:00 pm, a speaking memo is made available to a
              variety of media in which the avalanche danger of the following
              day is described.</p>
            <p>South Tyrol: Every Friday afternoon, a speaking memo is generated
              which is made available to all South Tyrolean radio stations and
              describes the avalanche situation for the weekend. Due to the
              limited validity, it can only be sent and/or received between
              Friday at 4:30 pm and Saturday at 10:00 am.</p>
            <p>Trentino: For the province of Trentino, there is currently no
              comparable service available.</p>

            <h3 class="normal">Print media</h3>
            <p>South Tirol: In the daily newspaper Dolomiten, a short forecast of
              the danger level is published daily, with indications of details
              to be found in the Internet.</p>
            <p>Tirol and Trentino: Currently in neither of these European regions
              are there regular reports of avalanche danger published in the
              print media, unless avalanche danger is heightened.</p> -->

        </section></section></section></section></section><section classname="section-centered section-context"><div classname="panel">
    <h2 classname="subheader">Education &amp; Prevention</h2>

    <ul classname="list-inline list-buttongroup-dense">
      <li>
        <a
          classname="secondary pure-button pure-buton-wrap"
          href="/education/danger-scale"
          title="Danger Scale"
          >Danger Scale</a
        >
      </li>
      <li>
        <a
          classname="secondary pure-button pure-buton-wrap"
          href="/education/avalanche-problems"
          title="Avalanche Problems"
          >Avalanche Problems</a
        >
      </li>
      <li>
        <a
          classname="secondary pure-button pure-buton-wrap"
          href="/education/workflow"
          title="Workflow"
          >Workflow</a
        >
      </li>
      <li>
        <a
          classname="secondary pure-button pure-buton-wrap"
          href="/education/matrix"
          title="EAWS Matrix"
          >EAWS Matrix</a
        >
      </li>
      <li>
        <a
          classname="secondary pure-button pure-buton-wrap"
          href="/education/snowpack-stability"
          title="Snowpack Stability"
          >Snowpack Stability</a
        >
      </li>
      <li>
        <a
          classname="secondary pure-button pure-buton-wrap"
          href="/education/frequency"
          title="Frequency"
          >Frequency</a
        >
      </li>
      <li>
        <a
          classname="secondary pure-button pure-buton-wrap"
          href="/education/avalanche-sizes"
          title="Avalanche Sizes"
          >Avalanche Sizes</a
        >
      </li>
      <li>
        <a
          classname="secondary pure-button pure-buton-wrap"
          href="/education/spatio-temporal-scale"
          title="Spatio-Temporal Scale"
          >Spatio-Temporal Scale</a
        >
      </li>
      <li>
        <a
          classname="secondary pure-button pure-buton-wrap"
          href="/education/danger-patterns"
          title="Danger Patterns"
          >Danger Patterns</a
        >
      </li>


</div>
</section>
</div>
