<div>
<h1>Manual</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#general" title="General Information" class="secondary pure-button" data-scroll>Información General</a></li>&#13;
      <li><a href="#contents_and_design" title="Contents &amp; Design" class="secondary pure-button" data-scroll>Contenido &amp; Diseño</a></li>&#13;
      <li><a href="#basis" title="Basis of Assessment" class="secondary pure-button" data-scroll>Base de evaluación</a></li>&#13;
      <li><a href="#possibilities_and_limits" title="Possibilities &amp; Limits" class="secondary pure-button" data-scroll>Posibilidades &amp; Límites</a></li>&#13;
      <li><a href="#products_and_channels" title="Products &amp; Information Channels" class="secondary pure-button" data-scroll>Productos &amp; Canales de información</a></li>&#13;
    </ul></header></section><section class="section-centered"><div id="general" class="panel field border">&#13;
    <div class="panel-header">&#13;
      <h2>Información General</h2>&#13;
    </div>&#13;
&#13;
    <h3 class="normal">El Boletín de Aludes de la Región Europea</h3>&#13;
&#13;
    <p>A través del boletín de aludes del Euregio y una gran variedad de productos auxiliares, los tres servicios de aviso de aludes de Tirol, Tirol del Sur y Trentino proporcionan información al público sobre las condiciones de nieve y aludes de esta región europea. La información está publicada en 7 idiomas: alemán, italiano, inglés, francés, español, catalán y aranés.<br>
El informe Euregio Avalanche incluye un análisis a corto plazo del peligro de aludes y una tendencia. Tiene la forma de un aviso. Esto se publica al menos una vez al día durante la temporada de invierno. Contiene una previsión de peligro de aludes para todas las zonas de esta región europea, Tirol, Tirol del Sur y Trentino, como comunicación más importante y relevante. Los datos adicionales relacionadas con la previsión del tiempo y la estructura del manto relacionados con los aludes proporcionan una imagen más precisa y en profundidad de la situación actual y que se aproxima, que sirve de base para las evaluaciones y decisiones individuales. <br>
Como el boletín del Euregio es una previsión regional de peligro de aludes, está sometido a incertidumbres, por ejemplo variaciones geográficas y divergencias, así como factores de tiempo. Por ello, la información del boletín de aludes del Euregio no puede sustituir una evaluación local in situ. La información proporcionada en el boletín de aludes del Euregio se recopila a partir de datos limitados y es demasiado generalizada para proporcionar análisis punto a punto. <br>
El contenido y el diseño del boletín de aludes del Euregio corresponden a las normas y directrices actuales de la Asociación de <a href="https://www.avalanches.org/">European Avalanche Warning Services (EAWS)</a>.</p>&#13;
&#13;
    <h3 class="normal">Público objetivo</h3>&#13;
    <p>El boletín del Euregio va dirigido a todas las personas que se dedican a la montaña en invierno, ya sea a nivel profesional o lúdico, y que están expuestas a peligro de aludes; o los responsables de la seguridad de los demás. Esto incluye, entre otras cosas:</p>&#13;
    <ul>
<li>Servicios locales de alerta de aludes y comisiones de aludes de pueblos y carreteras, así como las autoridades de seguridad de los teleféricos y remontes de montaña</li>&#13;
      <li>Miembros de servicios de rescate y ambulancias, policía y personal militar</li>&#13;
      <li>Guías de montaña, instructores de deportes de nieve, guías turísticos y directores</li>&#13;
      <li>Habitantes de asentamientos de montaña </li>&#13;
      <li>Montañeros en terreno desprotegido, por ejemplo freeriders, esquiadores e montaña, escaladores, escaladores de hielo, excursionistas con raquetas de nieve</li>&#13;
    </ul>
<p>If a relatively favourable snow and avalanche situation prevails, the&#13;
      Euregio Avalanche Report serves particularly those persons who take part&#13;
      in winter sports in the mountains as a support for decisions to minimize&#13;
      their own risks. Starting at danger level 3&nbsp;–&nbsp;considerable the&#13;
      Euregio Avalanche Report contains an increased amount of information for&#13;
      local safety authorities and avalanche commissions. For danger level&#13;
      5&nbsp;–&nbsp;very&nbsp;high, when snow sports in backcountry terrain are&#13;
      hardly possible, the Euregio Avalanche Report by and large provides&#13;
      information for local safety authorities and avalanche commissions.</p>&#13;
&#13;
    <h3 class="normal">Momento de publicación y validez</h3>&#13;
&#13;
    <p>Durante los meses en las puntas de invierno, es decir, a principios de invierno y finales de primavera, así como en caso de nevadas intensas en verano, hay habitualmente una falta de información disponible sobre el estado del manto de nieve y la situación de aludes predominante. En este periodo, no se publica ningún mapa de grados de peligro. En estos casos, la información es emitida por los servicios de aviso de avalanchas de la región europea Tirol - Tirol del Sur - Trentino mediante <a href="/blog">publicacions del blog</a>. Estos contienen detalles sobre las novedades actuales y próximas de la situación del manto de nieve, así como sobre el peligro de aludes, que puede ser válido durante varios días.</p>&#13;
&#13;
    <p>En invierno, el boletín de aludes de Euregio se publica al menos una vez al día.</p>&#13;
    <ul>
<li>Edición 5 pm: evaluación del peligro de aludes para el día siguiente, válido des de las 12 de la noche hasta las 12 de la noche (en 7 idiomas).</li>&#13;
      <li>Es posible una actualización coordinada a las 8 am hasta las 12 de la noche (en 7 idiomas).</li>&#13;
      <li>In principle, an assessment of avalanche danger can also be published at&#13;
        other times. As a rule, however, this is done only rarely.</li>&#13;
    </ul>
</div>&#13;
&#13;
  <section class="section-centered"><div id="contents_and_design" class="panel field border">&#13;
      <div class="panel-header">&#13;
        <h2>Contenido &amp; Diseño</h2>&#13;
      </div>&#13;
      <p>En invierno, la información del boletín de aludes del Euregio se comunica mediante un mapa interactivo. Todos los contenidos se muestran según el principio de la pirámide de información (Figura 1). Así, el nivel de peligro de aludes representa la información más importante y, por tanto, aparece en primer lugar.</p>&#13;
&#13;
      <div><img src="/content_files/pyramid_en.png" title="Information pyramid" alt="The information pyramid leads the information flow in the Euregio Avalanche Report"></div>&#13;
&#13;
      <p class="small" style="text-align: center">Figura 1: La pirámide de información lidera el flujo de información en el boletín de aludes del Euregio.</p>&#13;
&#13;
      <p>Más información sobre los problemas de aludes y sus puntos de peligro, sobre las ubicaciones propensas a la avalancha, sobre la descripción del manto o sobre la tendencia de los próximos días, así como información meteorológica se incluyen en los detalles. <br> A continuación, se introducen los contenidos del boletín de aludes del Euregio y se explica su diseño.</p>&#13;
&#13;
      <h3 class="normal">Peligro de aludes y grado de peligro</h3>&#13;
      <p>La previsión de peligro de aludes constituye la parte más importante del boletín de peligro de aludes del Euregio. Comprende los siguientes:</p>&#13;
      <ul>
<li>El grado de peligro (opcionalmente con datos de elevación)</li>&#13;
        <li>Uno o dos (en casos especiales incluso más) problemas de aludes actuales con su distribución espacial</li>&#13;
        <li>Una valoración del peligro de aludes</li>&#13;
        <li>Un análisis del manto nivoso</li>&#13;
        <li>Una tendencia para las próximas 24-48 horas</li>&#13;
        <li>Un enlace de internet a la previsión meteorológica</li>&#13;
      </ul>
<p>Para evaluar el grado de peligro de aludes, los tres servicios de alerta de aludes de la región europea Tirol - Tirol del Sur - Trentino utilizan <a href="/education/danger-scale">la escala europea de peligro de aludes</a>. En la medida de lo posible un análisis / descripción general del peligro, las regiones publican el mismo nivel de peligro, describen los mismos problemas de aludes y señalan las mismas orientaciones y elevaciones especialmente en el mapa de peligro (figura 2). A un área global se pueden asignar dos niveles de peligro diferentes con límites de elevación designados.</p>&#13;
&#13;
      <div>&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/map_en-640.webp   640w,&#13;
              /content_files/map_en-1280.webp 1280w,&#13;
              /content_files/map_en-1663.webp 1663w&#13;
            "><source type="image/jpeg" srcset="&#13;
              /content_files/map_en-640.jpg   640w,&#13;
              /content_files/map_en-1280.jpg 1280w,&#13;
              /content_files/map_en-1663.jpg 1663w&#13;
            ">&#13;
          <img src="/content_files/map_en-1280.jpg" title="Danger level map for Tirol - South Tyrol - Trentino" alt="Danger level map for Tirol - South Tyrol - Trentino">&#13;
        </picture>
</div>&#13;
      <p class="small" style="text-align: center">Figura 2: visión general de los niveles de peligro predominantes en la región europea Tirol - Tirol del Sur - Trentino. En el análisis también se incluyen regiones más allá de las fronteras con la misma situación de peligro de aludes. En caso de cambios previstos durante la jornada, también se pueden analizar.</p>&#13;
&#13;
      <p>En el caso de prever cambios de nivel de peligro durante el día, se utilizan dos mapas. Este doble mapa representa la situación de la mañana (normalmente el escenario más favorable) y la de la tarde. El cambio de los niveles de peligrosidad no se limita estrictamente a las 12 del mediodía, sino que simplemente describe el cambio en curso a lo largo del día. También se puede hacer un análisis más preciso en la parte textual del boletín de aludes del Euregio.</p>&#13;
&#13;
      <h3 class="normal">Problema de aludes</h3>&#13;
      <p>Una región agregada puede tener máximo dos <a href="/education/avalanche-problems">problemas típicos de aludes</a> assignados. Son posibles los cinco problemas siguientes:</p>&#13;
      <ul>
<li>Problema de nieve reciente</li>&#13;
        <li>Wind slab problem</li>&#13;
        <li>Problema de capas débiles persistentes</li>&#13;
        <li>Problema de nieve húmeda</li>&#13;
        <li>Problema de deslizamientos basales</li>&#13;
      </ul>
<p>Gracias a los pictogramas sencillos y fáciles de introducir, mencionar e identificar estos problemas permite a los lectores formarse una imagen intuitiva y concisa en su mente basada en el boletín de la Euregio.</p>&#13;
&#13;
      <h3 class="normal">Lugares peligrosos</h3>&#13;
      <p>An avalanche problem is usually allocated to a specific, particularly&#13;
        endangered spatial area, defined by elevation and aspect. The elevation&#13;
        limits of the problem generally coincide with the elevation limits of&#13;
        the danger level (Figure 3). If no particular avalanche problem&#13;
        predominates (often the case at danger level 1&nbsp;–&nbsp;low) this&#13;
        information is omitted and a favourable avalanche situation is declared.&#13;
        <br>&#13;
        The avalanche prone locations where a given avalanche problem prevails&#13;
        are delineated by the aspect and the elevation limits. The blue-marked&#13;
        segments of a wind rose are indicators of those aspects. The elevation&#13;
        can be indicated by a specific borderline or border zone. Apart from&#13;
        that, the altitude above sea level generally follows as a written number&#13;
        or the term “treeline” accompanied by a visual depiction with arrows&#13;
        pointing in the appropriate direction.</p>&#13;
&#13;
      <div><img src="/content_files/info_en.png" title="Danger overview" alt="Detailed overview of danger levels and avalanche problems including their corresponding danger zones (aspect and elevation)"></div>&#13;
&#13;
      <p class="small" style="text-align: center">Figura 3: Vista general detallada de los niveles de peligro y de los problemas de aludes, incluidas sus zonas de peligro correspondientes (orientación y elevación).</p>&#13;
&#13;
      <h3 class="normal">Evaluación del peligro de aludes</h3>&#13;
      <p>Para cada región de alerta en el mapa hay una evaluación específica del peligro de aludes en esta región (Figura 4). Esta evaluación incluye detalles sobre la probabilidad de desencadenamiento de aludes, el tamaño previsto y la amplitud de las ubicaciones propensas. Cuando sea necesario, se proporcionan referencias, indicaciones y recomendaciones para grupos de usuarios específicos.
<br>Al finalizar la evaluación del peligro, también se puede proporcionar información adicional a los usuarios, por ejemplo, otras posibles fuentes de riesgo o un desarrollo meteorológico especialmente desfavorable.</p>&#13;
&#13;
      <h3 class="normal">Manto nivoso</h3>&#13;
      <p>Para cada región de aviso del mapa hay un análisis del manto de nieve (figura 4). La estructura del manto de nieve es un factor importante en la formación de aludes. El análisis es general, normalmente incluye la estructura y la estabilidad de la cubierta de nieve.</p>&#13;
      <p>La estructura del manto de nieve se define por la estratificación y las características estructurales de cada capa, es decir, tipo de grano, tamaño de grano y dureza. La estabilidad del manto de nieve tiende a proporcionar una medida de la probabilidad de desencadenar una avalancha. La estratificación del manto de nieve determina en gran medida la estabilidad.</p>&#13;
      <p>En esta sección, pueden describirse los aludes observados.</p>&#13;
&#13;
      <div><img src="/content_files/info2_en.png" title="Danger assessment and snowpack analysis" alt="Danger assessment and snowpack analysis are provided as a&#13;
          text. They form the lower part of the Information Pyramid. In addition,&#13;
          information about the predominant danger pattern and the immediate&#13;
          outlook is also provided."></div>&#13;
&#13;
      <p class="small" style="text-align: center">Figura 4: Se proporciona como texto la evaluación del peligro y el análisis del manto de nieve. Forman la parte inferior de la Pirámide de la Información. Además, se proporciona información sobre el patrón de peligro predominante (danger pattern) y la evolución.</p>&#13;
&#13;
      <p>Por encima del análisis detallado del manto nivoso, se asignan <a href="/education/danger-patterns">patrones de peligro</a> a  los problemas de aludes dados. Se pueden ver como amplificaciones de los problemas de aludes. Designan diez situaciones principales y recurrentes que a menudo conducen a accidentes de aludes.</p>&#13;
&#13;
      <h3 class="normal">Tendencia</h3>&#13;
      <p>A partir de la previsión meteorológica para dos días, se estima la tendencia aproximada del peligro de aludes que incluye el último día de validez del boletín.</p>&#13;
&#13;
      <h3 class="normal">Meterorología</h3>&#13;
      <p>Para las condiciones meteorológicas previstas, nos referimos a la información proporcionada por los servicios meteorológicos de las provincias de Bolzano - Tirol del Sur y Trentino y las previsiones suministradas por el ZAMG Servicio Meteorológico de Innsbruck.</p>&#13;
&#13;
      <h3 class="normal">Regiones de predicción flexibles</h3>&#13;
      <p>Con el fin de agrupar las regiones donde predomina el mismo nivel de peligro, se han definido 70 micro regiones en función de las condiciones climatológicas de nieve en la región europea Tirol - Tirol del Sur - Trentino. Con estas micro regiones, se pueden definir de manera flexible las grandes regiones de alerta con el mismo peligro de aludes previsto.</p>&#13;
      <p>Con este propósito, Tirol se divide en 29, Tirol del Sur en 20 y Trentino en 21 micro regiones. Estas micro regiones se definen mediante designaciones específicas y aceptadas. Se muestran en la figura 5. Aparte del nombre, cada micro región también tiene asignado un número de código (ver Tabla 1).</p>&#13;
&#13;
      <table style="width: 100%; border: 0px solid #000; text-align: center"><tbody><tr>
<td>&#13;
              <picture><source type="image/webp" srcset="&#13;
                    /content_files/regions_en-640.webp 640w,&#13;
                    /content_files/regions_en-741.webp 741w&#13;
                  "><source type="image/jpeg" srcset="&#13;
                    /content_files/regions_en-640.jpg 640w,&#13;
                    /content_files/regions_en-741.jpg 741w&#13;
                  ">&#13;
                <img src="/content_files/regions_en-640.jpg" title="Region map" alt="The 70 micro regions of the European region Tirol – South Tyrol – Trentino">&#13;
              </picture>
</td>&#13;
          </tr></tbody></table>
<p class="small" style="text-align: center">Figure 5: The 70 micro regions of the European region Tirol – South&#13;
        Tyrol – Trentino, including clear designation of their respective names&#13;
        (see Table 1)</p>&#13;
&#13;
      <regionstables></regionstables>
</div>&#13;
&#13;
    <section class="section-centered"><div id="basis" class="panel field border">&#13;
        <div class="panel-header">&#13;
          <h2>Bases de valoración</h2>&#13;
        </div>&#13;
        <p>La alerta de aludes tiene una gran variedad de datos al alcance para valorar el peligro de aludes (Figura 6). Esta información incluye desde medidas, observaciones y evaluaciones in situ hasta los resultados de los modelos informáticos. Sólo la combinación final de todos estos datos permite generar una previsión fiable de peligro de aludes entre de situaciones muy variadas.</p>&#13;
&#13;
        <div>&#13;
          <picture><source type="image/webp" srcset="&#13;
                /content_files/illustration_en-640.webp   640w,&#13;
                /content_files/illustration_en-1280.webp 1280w,&#13;
                /content_files/illustration_en-1920.webp 1920w,&#13;
                /content_files/illustration_en-2560.webp 2560w,&#13;
                /content_files/illustration_en-3200.webp 3200w,&#13;
                /content_files/illustration_en-3860.webp 3860w&#13;
              "><source type="image/jpeg" srcset="&#13;
                /content_files/illustration_en-640.jpg   640w,&#13;
                /content_files/illustration_en-1280.jpg 1280w,&#13;
                /content_files/illustration_en-1920.jpg 1920w,&#13;
                /content_files/illustration_en-2560.jpg 2560w,&#13;
                /content_files/illustration_en-3200.jpg 3200w,&#13;
                /content_files/illustration_en-3860.jpg 3860w&#13;
              ">&#13;
            <img src="/content_files/illustration_en.png" title="Data sources" alt="Data from weather stations and feedback from local and&#13;
              mobile observers, as well as private persons on the current avalanche&#13;
              situation provide the basis for the avalanche forecast">&#13;
          </picture>
</div>&#13;
        <p class="small" style="text-align: center">Figura 6: Los datos de las estaciones meteorológicas y recomendaciones de observadores locales y móviles, así como de particulares sobre la situación de aludes actual constituyen la base de la previsión de aludes. El boletín del Euregio se puede recibir a través de Internet, correo electrónico, servicios móviles, radio, televisión y medios impresos.</p>&#13;
&#13;
        <h3 class="normal">Medidas</h3>&#13;
        <p>Para elaborar un boletín de aludes, los servicios de alerta de aludes operan una vasta red <a href="/weather/stations">d'estacions meteorológicas automáticas</a> en toda la región europea Tirol - Tirol del Sur - Trentino. Disponen de la red más densa del mundo de estaciones de medición alpino disponibles para el análisis. Las medidas de las estaciones de medida automatizadas están disponibles para el público en general, se pueden consultar a través de Internet en forma de tablas y gráficos en el menú <a href="/weather/map/new-snow">Nieve &amp; Meteo</a>.</p>&#13;
&#13;
        <h3 class="normal">Observaciones y valoraciones</h3>&#13;
        <p>Para una evaluación fiable del peligro de aludes, los servicios de alerta de aludes requieren información actualizada sobre grandes extensiones de terreno de montaña. Para este propósito, los tres Servicios de alerta de aludes de la región europea Tirol - Tirol del Sur - Trentino también mantienen su propia red de observadores. Según la situación dada, se recopilan datos muy diversos, p.e. estimación de nieve reciente y transporte de nieve por el viento, signos de alarma observados y aludes ya desencadenados, junto con las valoraciones personales del peligro actual de aludes.</p>&#13;
        <p>Las comisiones de aludes, las autoridades locales de seguridad, las organizaciones de rescate, la policía y, finalmente, pero no menos importante, los montañeros, proporcionan información adicional. En este sentido, tienen especial importancia los informes sobre aludes que han sido producidos y provocados por personas y la actividad general de los aludes. Importante: También hay que informar a las autoridades tan pronto como sea posible de los aludes en que haya implicadas personas aunque no fueran enterradas en la nieve o heridas, para evitar una búsqueda de rescate innecesaria, cara y que requiere mucha mano de obra . Además, la información sobre la superficie actual de la nieve, pe. nieve granulada, escarcha de superficie, las cotas de las precipitaciones / nevadas, etc., proporcionan pistas decisivas sobre hasta qué punto la superficie de la nieve sigue amenazando como capa débil y, en definitiva, puede conllevar un cambio en el nivel de peligro. Estos indicadores se encuentran recogidos en el boletín de aludes del Euregio, clasificados e identificados geográficamente. Cuantos más detalles contiene una observación determinada, más contribuye a una correcta evaluación del peligro de aludes en el boletín de la Euregio.</p>&#13;
        <p>En todos los supuestos se proporcionarán los siguientes parámetros, aparte de cualquier valoración general:</p>&#13;
        <ul>
<li>Localización (si no se puede especificar, el punto conocido más próximo)</li>&#13;
          <li>Altitud o zona de altitud</li>&#13;
          <li>Orientación</li>&#13;
          <li>Gradiente de pendiente</li>&#13;
        </ul>
<p>Proporcionar las coordenadas geográficas e imágenes que permitan hacer una valoración más precisa del peligro de aludes, pero esta no es la prioridad máxima.</p>&#13;
&#13;
        <h3 class="normal">Observadores estacionarios</h3>&#13;
        <p>Algunos de los observadores del boletín de aludes del Euregio son estacionarios. Comunican aludes o signos de peligro y suministran frecuentemente su valoración personal del peligro de aludes actual. Si es posible, hacen un informe todos los días durante todo el invierno, asegurando así la cobertura básica y el suministro informativo. Estos informes se realizan entre las 6:00 y las 8:00 am o el mediodía.</p>&#13;
&#13;
        <h3 class="normal">Observadores móviles</h3>&#13;
        <p>Algunos de los observadores son completamente móviles para las montañas de la región europea Tirol - Tirol del Sur - Trentino. Se comunican siempre que disponen de información interesante o relevante desde donde se encuentran. Estos informes pueden enviarse a los servicios de alerta de aludes a través de servicios de mensajería o enviarlos por correo electrónico directamente a los servicios de alerta de aludes. Además, guías de montaña seleccionados también hacen informes mediante la aplicación de telefonía móvil NATLEFS y nos envían sus observaciones y valoraciones normalizadas. <br>
Como la región europea Tirol - Tirol del Sur - Trentino es tan vasta y las diferencias regionales tan grandes, los observadores "oficiales" no pueden capturar siempre la situación completamente. Por ello, los boletines de aludes también dependen de los informes de personas particulares. Queremos agradecer a todos aquellos que nos han ayudado con sus observaciones e informes. Al mismo tiempo, los queremos animar a continuar dándonos sus opiniones personales (para más detalles, véase Observaciones y valoraciones).</p>&#13;
&#13;
        <h3 class="normal">Desencadenamiento de aludes</h3>&#13;
        <p>Al margen de los aludes que son observados, los centros de coordinación y los servicios de rescate también reportan accidentes de aludes. Además, los servicios de alerta de aludes también disponen de cartografía de aludes de varias estaciones de esquí, así como los datos de los sistemas automatizados de detección de aludes. Personas particulares también pueden reportar aludes registrándolos en <a href="https://www.lawis.at/incident/?lang=en">web de Lawis</a>.</p>&#13;
      </div>&#13;
&#13;
      <section class="section-centered"><div id="possibilities_and_limits" class="panel field border">&#13;
          <div class="panel-header">&#13;
            <h2>Posibilidades y límites de la información de aludes de la Euregio</h2>&#13;
          </div>&#13;
          <p>El boletín del Euregio incluye una previsión del peligro de aludes. Se encuentra en la naturaleza de todas las previsiones que éstas están relacionadas con muchas incertidumbres y, por tanto, se podrían demostrar infundadas. Los servicios de alerta de aludes de la región europea Tirol - Tirol del Sur - Trentino hacen todo lo posible para hacer que el contenido y la información proporcionados a la previsión de aludes sean lo más completos y correctos posible. Sin embargo, no asumen ninguna responsabilidad por la exactitud o la exclusividad de los contenidos e información suministrados.</p>&#13;
          <p>El peligro de aludes significa peligro para la vida y la integridad física. El uso de la información proporcionada por los Servicios de Alerta de Aludes de la región europea Tirol - Tirol del Sur - Trentino en ningún caso exime a nadie de la responsabilidad de hacer su propia valoración personal de la situación de aludes y de comportarse de manera concordante con esta evaluación.</p>&#13;
&#13;
          <h3 class="normal">Ámbito de aplicación</h3>&#13;
          <p>En el boletín de aludes del Euregio, sólo se describen las condiciones del terreno de montaña que se encuentran dentro de la región europea Tirol - Tirol Sur - Trentino (Figura 5 y Tabla 1).</p>&#13;
&#13;
          <h3 class="normal">Valoración independiente</h3>&#13;
          <p>Las evaluaciones en el boletín de aludes del Euregio son generales, es decir, no se pueden reflejar las condiciones locales específicas en las previsiones, por no decir nada de condiciones en una ladera de montaña concreta. La conexión entre niveles de peligro válidos regionalmente, posibles actividades de aludes y consecuencias correspondientes, incluidas las medidas a adoptar, las deben hacer los usuarios mediante una evaluación in situ. En esta evaluación, los montañeros y las autoridades de seguridad deben aplicar su propia experiencia y métodos de evaluación como ayudas de apoyo. Hay que incluir en ello conocimiento del clima local, observaciones de nieve y aludes, análisis del manto de nieve, estudio de mapas, juicio personal sobre el lugar de una ladera de montaña determinada, junto a las propias consideraciones de riesgo de una persona . Las autoridades de seguridad a veces tienen a su disposición los resultados de los aludes artificiales disponibles para sus evaluaciones. En cada decisión individual, hay que tener en cuenta toda la información disponible. La información que conduce a la conclusión de que prevalecen las condiciones inestables debería ser particularmente importante.</p>&#13;
&#13;
          <h3 class="normal">Precisión de los datos en la predicciones de aludes</h3>&#13;
          <p>Las previsiones en el boletín de aludes del Euregio, similares a las de otros pronósticos de desastres naturales, pe. inundaciones, terremotos, deslizamientos, erupciones volcánicas, tornados, tsunamis, etc., se basan en las leyes de la probabilidad. De hecho, debido a nuestro conocimiento incompleto de la distribución en el tiempo y el espacio de los fenómenos meteorológicos y, en consecuencia, de la estratificación del manto de nieve, por definición una previsión de peligro de aludes debe ser incierta. Más allá de esto, los peligros derivados de los aludes pueden resultar muy diversos incluso dentro de un nivel de peligro indicado.</p>&#13;
          <p>Las disparidades entre la previsión general de la situación de aludes actual in situ también están relacionadas con la difusión geográfica del nivel de peligro (figura 7) y sus límites de elevación.</p>&#13;
&#13;
          <div>&#13;
            <picture><source type="image/webp" srcset="&#13;
                  /content_files/dangerscale_map_en-640.webp 640w,&#13;
                  /content_files/dangerscale_map_en-997.webp 997w&#13;
                "><source type="image/jpeg" srcset="&#13;
                  /content_files/dangerscale_map_en-640.jpg 640w,&#13;
                  /content_files/dangerscale_map_en-997.jpg 997w&#13;
                ">&#13;
              <img src="/content_files/dangerscale_map_en-640.jpg" title="Dangerscale map" alt="Map of the danger scale in parts of the Euregio">&#13;
            </picture>
</div>&#13;
          <p class="small" style="text-align: center">Figura 7: El peligro de aludes varía particularmente en la línea de frontera de las regiones de alerta que se evalúan de manera diferente, tal como se muestra en el ejemplo anterior a la frontera de Tirol y Tirol del Sur.</p>&#13;
&#13;
          <p>De manera autónoma, también puede variar la información sobre la ubicación y la difusión de una determinada zona de peligro, es decir, la orientación y la elevación, tal como se muestra en la figura 8. Las divergencias, especialmente a lo largo de las fronteras de las regiones de alerta, necesitan una evaluación in situ y la conducta personal debe ser correspondiente a esta evaluación.</p>&#13;
&#13;
          <div><img src="/content_files/danger_icons.png" title="Icons for avalanche prone locations" alt="Icons defining the elevation and aspect of avalanche prone locations"></div>&#13;
          <p class="small" style="text-align: center">Figura 8: En realidad, el grado asignado de peligro prevaleciente, así como la orientación y la elevación de los lugares propensos a los aludes, pueden desviarse fácilmente de la información contenida en la previsión de aludes publicada.</p>&#13;
&#13;
          <p>Generalmente, hay menos información disponible para regiones muy altas alpinas que para altas, medias y bajas. En consecuencia, todas las evaluaciones sobre regiones muy altas alpinas requieren una evaluación y verificación posteriores. Cuando la situación meteorológica cambia rápidamente, también es necesaria una revisión local de la situación, ya que el boletín del Euregio no puede reflejar cambios del peligro de aludes imprevisibles geográficamente o relacionados con la meteorología.</p>&#13;
        </div>&#13;
&#13;
        <section class="section-centered"><div id="products_and_channels" class="panel field border">&#13;
            <div class="panel-header">&#13;
              <h2>Productos &amp; canales de información</h2>&#13;
            </div>&#13;
            <p>En invierno, el boletín del Euregio consta de un mapa interactivo que se publica diariamente. En la temporada baja no se publica ningún mapa de peligro en el boletín de aludes del Euregio. En la temporada baja, se describe la situación de peligro de aludes y del manto en nuestro <a href="/blog">blog</a>.</p>&#13;
            <p>El boletín del Euregio y los contenidos internos de nuestro sitio web se publican en 7 idiomas. Están a disposición de los lectores en alemán, italiano, inglés, francés, español, catalán y aranés.</p>&#13;
&#13;
            <h3 class="normal">Sitio web interactivo</h3>&#13;
            <p>Se puede consultar el boletín interactivo del Euregio en Internet. Como el diseño del sitio web se basa en la entrada del usuario, se puede consultar no sólo en un ordenador de escritorio, sino también en dispositivos de bolsillo móviles, p.e. teléfonos inteligentes, tabletas, etc. Las representaciones que aparecen se adaptan, por supuesto, al dispositivo que se utiliza.</p>&#13;
            <p>Para obtener más información sobre la evaluación del peligro de aludes en una micro región determinada, el usuario amplía o reduce el <a href="/bulletin/latest">mapa interactivo de peligro</a>. Al mover el ratón sobre el mapa, se detalla la región de alerta. Al hacer clic en la región de alerta deseada, se abre una ventana adicional con información altitudinal más precisa de dónde se aplica el nivel de peligro, así como los problemas de aludes predominantes. Haciendo clic en DETALLES, se puede ver con más precisión el peligro de aludes, pe. las orientaciones y la altitud donde prevalecen los problemas de aludes, la evaluación del peligro, la descripción del manto de nieve y la tendencia aparecen de forma textual.</p>&#13;
&#13;
            <h3 class="normal">Versión impresa</h3>&#13;
            <p>Paralelamente al boletín de aludes del Euregio en Internet, también hay una versión impresa disponible como archivo PDF. Esta versión, incluidas las posibles actualizaciones, se publica al mismo tiempo que el informe en línea Euregio Avalanche. Su contenido es idéntico. <br>
Para descargar e imprimir el archivo PDF, hay que hacer clic en el botón PDF. Entonces se puede seleccionar toda la región europea o simplemente seleccionar Tirol o Tirol del Sur o Trentino. Además, se puede activar la descarga en color o en blanco y negro.</p>&#13;
&#13;
            <h3 class="normal">Blog</h3>&#13;
            <p>El <a href="/blog">blog oficial</a> del boletín de aludes del Euregio se puede consultar en el sitio web. Fuera del calendario habitual de publicación (para más detalles, véase calendario de publicación y de vigencia), también está toda la información pertinente sobre la situación de aludes. <br> Durante la temporada de invierno, los Servicios de Alerta de Aludes de la región europea Tirol - Tirol del Sur - Trentino también publican habitualmente detalles adicionales sobre la estratificación del manto de nieve, la situación resultante de los aludes y el trasfondo de los aludes que se han desencadenado, ya sea si afectaron personas, o bien la infraestructura afectada. Estos bloques sirven para complementar y completar el boletín del Euregio. Sin embargo, no lo sustituyen. </p>&#13;
&#13;
            <h3 class="normal">Productos adicionales</h3>&#13;
            <p>Aparte del boletín de aludes del Euregio en Internet, como versión impresa y la información adicional del bloque, los Servicios de Alerta de Aludes de la región europea Tirol - Tirol del Sur - Trentino también ofrecen productos adicionales, como
<a href="/weather/map/new-snow">Mapas de nieve y tiempo</a>, información sobre <a href="https://www.lawis.at/profile/?lang=en">Perfiles de nieve</a> y
<a href="/weather/stations">Gráficos de las estaciones meteorológicas</a>.</p>&#13;
&#13;
            <h3 class="normal">Email</h3>&#13;
            <p>Los usuarios pueden suscribirse para recibir automáticamente el boletín del Euregio a través del correo electrónico. A cada nueva publicación (diaria o imprevista) o actualización del boletín de aludes del Euregio, el destinatario es notificado por correo electrónico.</p>&#13;
&#13;
            <h3 class="normal">Servicio de Messenger</h3>&#13;
            <p>También es posible recibir automáticamente el boletín del Euregio mediante varios servicios de mensajería por suscripción. A cada nueva publicación (diaria o imprevista) o actualización del boletín de aludes del Euregio, informa al suscriptor. Actualmente es posible suscribirse al boletín de aludes del Euregio a través de Push y Telegram.</p>&#13;
&#13;
            <h3 class="normal">"Lawine Tirol-App"</h3>&#13;
            <p>Además del sitio web, también hay una aplicación con varias funciones adicionales para utilizar en terrenos de montaña. Esta aplicación es gratuita para dispositivos Android y Apple. Está disponible en las tiendas de aplicaciones correspondientes. Además de la información que también se puede consultar en el sitio web, la Lawine Tirol-App también dispone de herramientas para informar de las observaciones, para medir la pendiente, la orientación y la altitud de una pendiente, así como diversas listas de control para planificar un recorrido de montaña. Más allá de eso, también se puede enviar una llamada de emergencia directamente desde la app.</p>&#13;
&#13;
            <h3 class="normal">Radio</h3>&#13;
            <p>Tirol: Cada dia a las 17:00 se pone a disposición una nota de voz a diferentes medios de comunicación donde se describe el peligro de aludes del día siguiente.</p>&#13;
            <p>Tirol del Sur: Cada viernes por la tarde se genera una nota de voz que se pone a disposición de todas las emisoras de radio del Tirol del Sur y describe la situación de aludes para el fin de semana. Debido a la validez limitada, sólo se puede enviar y / o recibir entre el viernes a las 16:30 y el sábado a las 10:00 horas.</p>&#13;
            <p>Trentino: Para la provincia del Trentino,  actualmente no hay ningún servicio comparable disponible.</p>&#13;
&#13;
            <h3 class="normal">Medios de comunicación impresos</h3>&#13;
            <p>Tirol del Sur: En el diario Dolomiten se publica a diario una breve previsión del nivel de peligro, con indicaciones de detalles en Internet.</p>&#13;
            <p>Tirol y Trentino: actualmente en ninguna de las dos regiones europeas hay publicaciones regulares del peligro de aludes en los medios impresos, a menos que el peligro de aludes sea importante.</p>&#13;
&#13;
            <h3 class="normal">Programas de televisión</h3>&#13;
            <p>En las retransmisiones regionales Tirol heute y Südtirol heute (ORF2), la situación de aludes se transmite poco después de las respectivas noticias estatales / provinciales. Se emite de manera irregular, más frecuentemente los viernes, de manera esporádica también en otros días, especialmente cuando aumenta el peligro de aludes.</p>&#13;
          </div>&#13;
        </section></section></section></section></section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Educación &amp; Prevención</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Escala de Peligro</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-problems" title="Avalanche Problems">Tamaño de aludes</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/matrix" title="EAWS Matrix">Matriz EAWS </a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-sizes" title="Avalanche Sizes">Tamaño de aludes</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/danger-patterns" title="Danger Patterns">Patrones de Peligro</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
