<div>
<h1>Manuel</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#general" title="Information Générale" class="secondary pure-button" data-scroll="">Information Générale</a></li>&#13;
      <li><a href="#contents_and_design" title="Contenu &amp; Désign" class="secondary pure-button" data-scroll="">Contenu &amp; Désign</a></li>&#13;
      <li><a href="#basis" title="Base d'Évaluation" class="secondary pure-button" data-scroll="">Base d'Évaluation</a></li>&#13;
      <li><a href="#possibilities_and_limits" title="Possibilités &amp; Limites" class="secondary pure-button" data-scroll="">Possibilités &amp; Limites</a></li>&#13;
      <li><a href="#products_and_channels" title="Produits &amp; Canaux d'information" class="secondary pure-button" data-scroll="">Produits &amp; Canaux d'information</a></li>&#13;
    </ul></header></section><section class="section-centered"><div id="general" class="panel field border">&#13;
    <div class="panel-header">&#13;
      <h2>Informations générales</h2>&#13;
    </div>&#13;
&#13;
    <h3 class="normal">Le bulletin du risque d'avalanche de l'Eurorégion</h3>&#13;
&#13;
    <p>Par le bulletin du risque d'avalanche de l'Euregio et divers produits auxiliaires, les trois Services de Prévision d’Avalanches du Tyrol, Tyrol du Sud et Trentin met des informations à la disposition du public sur les conditions de neige et d'avalanche dans cette région européenne. Les informations sont publiées en 7 langues : allemand, italien, anglais, français, espagnol, catalan et aranais.<br> Le bulletin d'avalanche de l'Euregio comporte une analyse à court terme du danger d'avalanche sous la forme d'un avertissement et des perspectives. Il est publié au moins une fois par jour pendant la saison hivernale. La communication la plus importante et la plus pertinente est une prévision du danger d'avalanche pour toutes les zones de cette région européenne, Tyrol, Tyrol du Sud et Trentin. Des données supplémentaires à l'évolution de la météo et à la structure du manteau neigeux fournissent une image plus précise et plus approfondie de la situation actuelle et de l'avenir, servant de base aux décisions individuelles. <br> Le bulletin du risque d'avalanche de l'Euregio est une prévision régionale du danger d'avalanche, donc il est soumis à des incertitudes, par exemple des variations et des divergences géographiques, ainsi que des facteurs temporels. Par conséquent, les informations contenues dans le bulletin d'avalanche de l'Euregio ne peuvent pas remplacer une évaluation locale indépendante sur place. En plus, en raison des données de base limitées, les informations sont trop générales pour fournir une analyse ponctuelle.<br> Le contenu et la conception du bulletin du risque d'avalanche de l'Euregio correspondent aux normes et directives actuelles <a href="https://www.avalanches.org/">des services européens de prévision du risque d’avalanche (EAWS)</a>.</p>&#13;
&#13;
    <h3 class="normal">Public cible</h3>&#13;
    <p>Le bulletin d'avalanche de l'Euregio s'adresse à tous ceux qui sont exposés au danger d'avalanche en montagneen raison de leur métier ou pendant des activités de loisir, ou qui sont responsables de la sécurité de tiers. Cela comprend, par exemple les éléments suivants:</p>&#13;
    <ul>
<li>Les services et commissions d’avalanches des communes et des directions des travaux publics, ainsi que les services de sécurité des remontées mécaniques</li>&#13;
      <li>Les équipes des services de secours, de la police et de la gendarmerie</li>&#13;
      <li>Les guides de montagne, les moniteurs/monitrices de sports d'hiver et les guides touristiques</li>&#13;
      <li>Les habitants des communes de montagne</li>&#13;
      <li>Les amateurs de sports d'hiver hors piste, par exemple les freeriders, les alpinistes, les grimpeurs sur glace et les randonneurs en raquettes</li>&#13;
    </ul>
<p>If a relatively favourable snow and avalanche situation prevails, the&#13;
      Euregio Avalanche Report serves particularly those persons who take part&#13;
      in winter sports in the mountains as a support for decisions to minimize&#13;
      their own risks. Starting at danger level 3&nbsp;–&nbsp;considerable the&#13;
      Euregio Avalanche Report contains an increased amount of information for&#13;
      local safety authorities and avalanche commissions. For danger level&#13;
      5&nbsp;–&nbsp;very&nbsp;high, when snow sports in backcountry terrain are&#13;
      hardly possible, the Euregio Avalanche Report by and large provides&#13;
      information for local safety authorities and avalanche commissions.</p>&#13;
&#13;
    <h3 class="normal">Date de publication et validité</h3>&#13;
&#13;
    <p>Dans les périodes de début et de fin de saison, et en cas de grosses chutes de neige en été, les informations disponibles sont généralement plus rares. Aucune carte de degré de danger n'est publiée pendant cette période. Les services de prévision d'avalanches de la région européenne Tyrol - Tyrol du Sud - Trentin transmettent ensuite les informations par le <a href="/blog">blog</a>. Il s'agit notamment de détails sur l'évolution actuelle et future de la situation du manteau neigeux et du danger d'avalanche, qui peuvent être valables pendant plusieurs jours.</p>&#13;
&#13;
    <p>En hiver, le bulletin d'avalanches de l'Euregio est publié au moins une fois par jour:</p>&#13;
    <ul>
<li>Edition 17h00 : évaluation du danger d'avalanche pour le jour suivant, valable de minuit à minuit (en 7 langues).</li>&#13;
      <li>Une mise à jour coordonnée est possible à 8h00 : prévision pour ce jour, valable de 8h00 à minuit (en 7 langues).</li>&#13;
      <li>In principle, an assessment of avalanche danger can also be published at&#13;
        other times. As a rule, however, this is done only rarely.</li>&#13;
    </ul>
</div>&#13;
&#13;
  <section class="section-centered"><div id="contents_and_design" class="panel field border">&#13;
      <div class="panel-header">&#13;
        <h2>Contenu &amp; Désign</h2>&#13;
      </div>&#13;
      <p>En hiver, les informations du bulletin d'avalanche de l'Euregio sont communiquées à la base d'une carte interactive. Tous les contenus sont structuré selon le principe de la „pyramide d’informations“ (figure 1). Par conséquent, le degré de danger représente l'information la plus importante et est donc listé en premier.</p>&#13;
&#13;
      <div><img src="/content_files/pyramid_en.png" title="Information pyramid" alt="The information pyramid leads the information flow in the Euregio Avalanche Report"></div>&#13;
&#13;
      <p class="small" style="text-align: center">Figure 1: La pyramide d'informations dirige la circulation de l'information dans le bulletin d'avalanche de l'Euregio.</p>&#13;
&#13;
      <p>Plus d'informations sur la situation avalancheuse typique, les zones où le danger est particulièrement marqué, la description du manteau neigeux et la tendance, ainsi que les informations météorologiques suivez dans les détails.<br> Dans les sections suivantes, le contenu du bulletin d'avalanche de l'Euregio est présenté, sa conception est expliqué.</p>&#13;
&#13;
      <h3 class="normal">Danger d’avalanches et degré de danger</h3>&#13;
      <p>La prévision du danger d’avalanches est le contenu le plus important du bulletin d’avalanches de l'Euregio. Elle comprend:</p>&#13;
      <ul>
<li>Degré de danger (en option avec hauteur)</li>&#13;
        <li>Une ou deux (dans des cas spéciaux encore plus nombreux) situations avalancheuses typiques et leurs endroits dangereux</li>&#13;
        <li>Une description des dangers</li>&#13;
        <li>Une analyse du manteau neigeux</li>&#13;
        <li>La tendance pour les 24 - 48 heures suivantes</li>&#13;
        <li>Un lien vers la météo</li>&#13;
      </ul>
<p>Les trois services de prévision d'avalanches de la région européenne Tyrol - Tyrol du Sud - Trentin utilisent <a href="/education/danger-scale">l'échelle européenne de danger d'avalanches</a> à cinq degrés pour évaluer le degré de danger. Dans le cas où une description commune des dangers est possible, les zones présentant le même degré de danger, les mêmes situations avalancheuses typiques et les expositions et altitudes associées (zones de danger marqué), sont rassemblées. Les degrés de danger et les situations avalancheuses typiques sont représentés sur une carte de danger (Figure 2). Une zone agrégée peut être classée en deux degrés de danger avec des altitudes différentes.</p>&#13;
&#13;
      <div>&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/map_en-640.webp   640w,&#13;
              /content_files/map_en-1280.webp 1280w,&#13;
              /content_files/map_en-1663.webp 1663w&#13;
            "><source type="image/jpeg" srcset="&#13;
              /content_files/map_en-640.jpg   640w,&#13;
              /content_files/map_en-1280.jpg 1280w,&#13;
              /content_files/map_en-1663.jpg 1663w&#13;
            ">&#13;
          <img src="/content_files/map_en-1280.jpg" title="Danger level map for Tirol - South Tyrol - Trentino" alt="Danger level map for Tirol - South Tyrol - Trentino">&#13;
        </picture>
</div>&#13;
      <p class="small" style="text-align: center">Figure 2: Aperçu des degrés de danger dans la région européenne Tyrol - Tyrol du Sud - Trentin. Les zones présentant la même situation de risque d'avalanche sont regroupées, même au-delà des frontières. Il est également possible de réagir aux changements de situation pendant la journée (matin | après-midi).</p>&#13;
&#13;
      <p>En cas de changement de degré de danger en cours de la journée, deux cartes sont utilisées. Cette double carte représente la situation du matin (généralement le scénario le plus favorable) et la situation de l'après-midi. Le changement de degré de danger n'est pas strictement limité à midi, mais décrit un changement général en cours de la journée. Une description plus détaillée se trouve dans la partie texte du bulletin d'avalanche de l'Euregio.</p>&#13;
&#13;
      <h3 class="normal">Situation avalancheuse typique</h3>&#13;
      <p>Un ou deux <a href="/education/avalanche-problems">situations avalancheuses typiques</a> peuvent être attribués à une région agrégée. On fait la distinction entre les situations suivants:</p>&#13;
      <ul>
<li>Situation de la neige fraîche</li>&#13;
        <li>Wind slab problem</li>&#13;
        <li>Situation de la neige ancienne (sous-couche fragile persistante)</li>&#13;
        <li>Situation des avalanches mouillées (neige humide)</li>&#13;
        <li>Situation des avalanches de glissement (avalanches de fond)</li>&#13;
      </ul>
<p>Ces situations avalancheuses typiques permettent de tirer des informations intuitives et ciblées du bulletin d'avalanche de l'Euregio, entre autres grâce à l'utilisation de simples pictogrammes.</p>&#13;
&#13;
      <h3 class="normal">Endroits dangereux</h3>&#13;
      <p>An avalanche problem is usually allocated to a specific, particularly&#13;
        endangered spatial area, defined by elevation and aspect. The elevation&#13;
        limits of the problem generally coincide with the elevation limits of&#13;
        the danger level (Figure 3). If no particular avalanche problem&#13;
        predominates (often the case at danger level 1&nbsp;–&nbsp;low) this&#13;
        information is omitted and a favourable avalanche situation is declared.&#13;
        <br>&#13;
        The avalanche prone locations where a given avalanche problem prevails&#13;
        are delineated by the aspect and the elevation limits. The blue-marked&#13;
        segments of a wind rose are indicators of those aspects. The elevation&#13;
        can be indicated by a specific borderline or border zone. Apart from&#13;
        that, the altitude above sea level generally follows as a written number&#13;
        or the term “treeline” accompanied by a visual depiction with arrows&#13;
        pointing in the appropriate direction.</p>&#13;
&#13;
      <div><img src="/content_files/info_en.png" title="Danger overview" alt="Detailed overview of danger levels and avalanche problems including their corresponding danger zones (aspect and elevation)"></div>&#13;
&#13;
      <p class="small" style="text-align: center">Figure 3: Aperçu détaillé des degrés de danger et des situations avalancheuses typiques actuels, y compris les endroits de danger correspondantes (exposition et altitude).</p>&#13;
&#13;
      <h3 class="normal">Évaluation du danger d'avalanche</h3>&#13;
      <p>Pour chaque région d'alerte sur la carte, il existe une évaluation spécifique du danger d'avalanche dans cette région (figure 4). Cette évaluation comprend des détails sur la probabilité de déclenchement d'une avalanche, la taille prévue des avalanches et l’extension des endroits dangereux. Si nécessaire, des conseils et des recommandations sont donnés à des groupes d'utilisateurs.<br> Après l'évaluation du danger, des informations supplémentaires peuvent également être fournies aux utilisateurs, telles que les autres sources de danger ou un développement météorologique particulièrement défavorable.</p>&#13;
&#13;
      <h3 class="normal">Manteau neigeux</h3>&#13;
      <p>Pour chaque région d'alerte indiquée sur la carte, il existe une analyse du manteau neigeux (Figure 4). La structure du manteau neigeux est un facteur important dans la formation des avalanches. La description est générale et comprend la structure et la stabilité du manteau neigeux.</p>&#13;
      <p>La structure du manteau neigeux est déterminée par la stratification du manteau neigeux et les propriétés structurelles des différentes couches (c'est-à-dire le type et la taille des grains, la dureté). La stabilité du manteau neigeux est une mesure de la capacité de déclenchement des avalanches. La stratification du manteau neigeux détermine essentiellement sa stabilité.</p>&#13;
      <p>Cette section peut également inclureles avalanches observées.</p>&#13;
&#13;
      <div><img src="/content_files/info2_en.png" title="Danger assessment and snowpack analysis" alt="Danger assessment and snowpack analysis are provided as a&#13;
          text. They form the lower part of the Information Pyramid. In addition,&#13;
          information about the predominant danger pattern and the immediate&#13;
          outlook is also provided."></div>&#13;
&#13;
      <p class="small" style="text-align: center">Figure 4: L'évaluation du danger et l'analyse du manteau neigeux sont sous forme de texte et forment la partie inférieure de la pyramide d'information. En outre, des informations sur le modèle de danger avalancheuse prédominant et la tendance sont également fournies.</p>&#13;
&#13;
      <p>Au-delà de l'analyse détaillée du manteau neigeux, <a href="/education/danger-patterns">les modèles de danger</a> appropriés sont attribués à des situations avalancheuses typiques. On peut les considérer comme le prolongement des cinq situations avalancheuses typiques. Ils décrivent essentiellement dix situations typiques et récurrentes qui contribuent fréquemment à des accidents d'avalanche.</p>&#13;
&#13;
      <h3 class="normal">Tendance</h3>&#13;
      <p>Sur la base des prévisions météorologiques sur deux jours, la tendance approximative du danger d'avalanche est estimée pour le jour suivant la période de validité.</p>&#13;
&#13;
      <h3 class="normal">Météo</h3>&#13;
      <p>Pour les prévisions météorologiques, nous nous référons aux informations fournies par les services météorologiques des provinces de Bolzano - Tirol du Sud et Trentin et aux prévisions fournies par le service météorologique ZAMG d'Innsbruck.</p>&#13;
&#13;
      <h3 class="normal"> Régions de prévision flexible</h3>&#13;
      <p>Afin de rassembler les régions avec le même degré de danger aux mêmes expositions et altitudes, 70 micro-régions ont été définies sur la base des conditions nivo-climatologiques au sein de la région européenne Tirol - Tirol du Sud - Trentin. Ces micro régions permettent de définir de manière flexible de grandes zones d'alerte avec le même danger d'avalanche évalué.</p>&#13;
      <p>Dans ce but, Tyrol est divisé en 29 régions, Tyrol du Sud en 20 et le Trentin en 21 micro-régions. Ces micro-régions sont définies par des désignations uniques et un numéro de code (voir Tableau 1). Elles sont représentées dans la Figure 5.</p>&#13;
&#13;
      <table style="width: 100%; border: 0px solid #000; text-align: center"><tbody><tr>
<td>&#13;
              <picture><source type="image/webp" srcset="&#13;
                    /content_files/regions_en-640.webp 640w,&#13;
                    /content_files/regions_en-741.webp 741w&#13;
                  "><source type="image/jpeg" srcset="&#13;
                    /content_files/regions_en-640.jpg 640w,&#13;
                    /content_files/regions_en-741.jpg 741w&#13;
                  ">&#13;
                <img src="/content_files/regions_en-640.jpg" title="Region map" alt="The 70 micro regions of the European region Tirol – South Tyrol – Trentino">&#13;
              </picture>
</td>&#13;
          </tr></tbody></table>
<p class="small" style="text-align: center">Figure 5: The 70 micro regions of the European region Tirol – South&#13;
        Tyrol – Trentino, including clear designation of their respective names&#13;
        (see Table 1)</p>&#13;
&#13;
      <regionstables></regionstables>
</div>&#13;
&#13;
    <section class="section-centered"><div id="basis" class="panel field border">&#13;
        <div class="panel-header">&#13;
          <h2>Base d'Évaluation</h2>&#13;
        </div>&#13;
        <p>Le service de prévision des avalanches dispose d'une grande variété de données pour évaluer le danger d'avalanche (figure 6). Ces informations comprennent des mesures, des observations, des évaluations sur place et résultats des modèles informatiques. Seule le regroupement de toutes ces données permet une prévision fiable du danger d'avalanche dans diverses situations.</p>&#13;
&#13;
        <div>&#13;
          <picture><source type="image/webp" srcset="&#13;
                /content_files/illustration_en-640.webp   640w,&#13;
                /content_files/illustration_en-1280.webp 1280w,&#13;
                /content_files/illustration_en-1920.webp 1920w,&#13;
                /content_files/illustration_en-2560.webp 2560w,&#13;
                /content_files/illustration_en-3200.webp 3200w,&#13;
                /content_files/illustration_en-3860.webp 3860w&#13;
              "><source type="image/jpeg" srcset="&#13;
                /content_files/illustration_en-640.jpg   640w,&#13;
                /content_files/illustration_en-1280.jpg 1280w,&#13;
                /content_files/illustration_en-1920.jpg 1920w,&#13;
                /content_files/illustration_en-2560.jpg 2560w,&#13;
                /content_files/illustration_en-3200.jpg 3200w,&#13;
                /content_files/illustration_en-3860.jpg 3860w&#13;
              ">&#13;
            <img src="/content_files/illustration_en.png" title="Data sources" alt="Data from weather stations and feedback from local and&#13;
              mobile observers, as well as private persons on the current avalanche&#13;
              situation provide the basis for the avalanche forecast">&#13;
          </picture>
</div>&#13;
        <p class="small" style="text-align: center">Figure 6: Les données des stations météorologiques et les informations des observateurs locaux et mobiles, ainsi que des personnes privées sur la situation avalancheuse actuelle constituent la base de la prévision des avalanches. Le bulletin d'avalanche de l'Euregio peut être reçu par Internet, par courrier électronique, par les services mobiles, par la radio, la télévision et la presse.</p>&#13;
&#13;
        <h3 class="normal">Valeurs mesurées</h3>&#13;
        <p>Pour rédiger le bulletin d'avalanche, les services de prévision des avalanches de la région européenne Tyrol - Tyrol du Sud - Trentin exploitent un vaste réseau de <a href="/weather/stations">stations météo</a>. Ils disposent du réseau de stations de haute montagne le plus dense au monde disponible pour l'analyse. Les données des stations automatiques sont à la disposition publique sur <a href="/weather/map/new-snow">Neige &amp; Météo</a> sous forme de tableaux et de graphiques.</p>&#13;
&#13;
        <h3 class="normal">Observations et Évaluations</h3>&#13;
        <p>Pour une évaluation fiable du danger d'avalanche, les services de prévision des avalanches ont besoin d'informations actuelles du terrain. À cette fin, les trois services de prévision des avalanches de la région européenne Tyrol - Tyrol du Sud - Trentin entretiennent également de leur propre réseau d'observateurs. Selon la situation, des données très diverses sont recueillies, par exemple des estimations de la neige fraîche et de la neige soufflée, des signes d'alarme et des déclenchements d'avalanche observés ainsi que des évaluations personnelles du danger d'avalanche actuel.</p>&#13;
        <p>Des informations complémentaires sont fournies par les membres des commissions des avalanches, des services de sécurité, des services de secours, de la police et, enfin et surtout, par les amateurs de sports d'hiver hors piste. Ici, des informations sur les avalanches déclenchées par des personnes et sur l'activité avalancheuse générale sont particulièrement importants. Attention: les avalanches impliquant des personnes non enterrées ou blessées doivent également être signalées aux autorités responsables dès que possible après le déclenchement de l'avalanche, afin d'éviter une recherche de secours inutile et coûteuse. En outre, les informations sur la surface de neige actuelle et la précipitation (par exemple le givre de surface, l'influence du vent, le graupel, l'altitude des précipitations de pluie/neige, etc.) fournissent des indices décisifs si une couche faible est à prévoir qui pourrait influencer le degré de danger. Ces données sont collectées, classées et géoréférencées pour contribuer au bulletin. Plus une observation est detaillée, plus elle contribue à une évaluation correcte du danger d'avalanche dans le bulletin d'avalanche de l'Euregio.</p>&#13;
        <p>Les paramètres suivants doivent être fournis en toutes circonstances, en dehors de toute évaluation générale:</p>&#13;
        <ul>
<li>Lieu (s'il ne peut être précisé, le point fixe connu le plus proche)</li>&#13;
          <li>Altitude ou zone d'altitude</li>&#13;
          <li>Exposition</li>&#13;
          <li>Pente</li>&#13;
        </ul>
<p>La transmission des coordonnées et des images permet une évaluation plus précise du danger d'avalanche, mais n'est pas de la plus haute priorité.</p>&#13;
&#13;
        <h3 class="normal">Observateurs fixes</h3>&#13;
        <p>Certains des observateurs de l'Euregio Avalanche Report sont sot liés à un endroit précis. Ils transmettent leurs observations des avalanches ou des signes de danger et fournissent souvent leur évaluation personnelle du danger d'avalanche actuel. Si possible, ils font un rapport tous les jours pendant l'hiver, assurant ainsi une couverture de base de l'information. Ces rapports sont effectués entre 6h00 et 8h00 ou à midi.</p>&#13;
&#13;
        <h3 class="normal">Observateurs mobiles</h3>&#13;
        <p>Certains observateurs sont complètement se déplacent dans les montagnes de la région européenne Tyrol - Tyrol du Sud - Trentin. Ils font des rapports chaque fois qu'ils disposent d'informations intéressantes en provenance de leur lieu. Ces rapports peuvent être envoyés aux services de prévision des avalanches par des services de messagerie ou par courrier électronique. En outre, des guides de montagne sélectionnés font également des rapports via l'application NATLEFS et nous envoient des observations et évaluations standardisées. <br>Compte tenu de la taille de la région européenne Tyrol - Tyrol du Sud - Trentin et des différences régionales, les observateurs officiels ne peuvent jamais tout couvrir. C'est pourquoi le service de prévision des avalanches dépend également des rapports des personnes privées. Nous souhaitons remercier tous ceux qui nous ont aidés avec leurs observations et leurs rapports. En même temps, nous voudrion sencourager les autres à nous faire part de leurs impressions personnelles (pour plus de détails, voir Observations et Évaluations).</p>&#13;
&#13;
        <h3 class="normal">Déclenchements des avalanches</h3>&#13;
        <p>En plus des avalanches observées, les centres de contrôle de secours signalent les accidentes avalancheuses. Au delà, les services de prévision des avalanches ont accès aux cartes d'avalanche de divers domaines skiables et aux données des systèmes automatiques de détection des avalanches. Les particuliers peuvent également faire des rapports sur les déclenchements d'avalanches sur le site web <a href="https://www.lawis.at/incident/?lang=en">LAWIS</a>.</p>&#13;
      </div>&#13;
&#13;
      <section class="section-centered"><div id="possibilities_and_limits" class="panel field border">&#13;
          <div class="panel-header">&#13;
            <h2>Possibilités et Limites du bulletin des risques d'avalanches de l'Euregio</h2>&#13;
          </div>&#13;
          <p>Le bulletin d'avalanche de l'Euregio contient une prévision du danger d'avalanche. Cependant, il est dans la nature des prévisions qu'elles soient associées à des incertitudes et peuvent donc être inexactes. Les services de prévision des avalanches de la région européenne Tyrol - Tyrol du Sud - Trentin s'efforcent de rendre le contenu et les informations fournies dans le bulletin d'avalanche complets et corrects que possible. Toutefois, ils ne peuvent assumer aucune responsabilité quant à l'exactitude ou à l'exhaustivité des contenus et des informations fournies.</p>&#13;
          <p>Le danger d'avalanche signifie un danger pour la vie et l'intégrité physique. L'utilisation des informations fournies par les services de prévision des avalanches de la région européenne Tyrol - Tyrol du Sud - Trentin ne dispense en aucun cas de la responsabilité personnelle d'effectuer une évaluation personnelle de la situation d'avalanche et de se comporter de manière conforme à cette évaluation.</p>&#13;
&#13;
          <h3 class="normal">Domaine d'application</h3>&#13;
          <p>Dans le bulletin d'avalanche de l'Euregio, seules sont décrites les conditions en terrain qui se trouvent dans la région européenne Tyrol - Tyrol du Sud - Trentin (Figure 4 et Tableau 1).</p>&#13;
&#13;
          <h3 class="normal">Évaluation indépendante</h3>&#13;
          <p>Les évaluations du bulletin d'avalanche de l'Euregio sont générales, c'est-à-dire que les conditions locales spécifiques ne peuvent pas être reflétées dans les prévisions, et certainement pas une pente individuelle. Le lien entre les degrés de danger valables sur place, l'activité avalancheuse possible et les conséquences correspondantes, y compris les mesures à prendre, doit être établi par les utilisateurs du bulletin d'avalanches de l'Euregio au moyen d'une évaluation en terrain. Dans cette évaluation, les amateurs de sports d'hiver et les autorités de sécurité doivent appliquer leur propre expérience et leurs méthodes d'évaluation. Il faut notamment connaître la météo locale, les observations de neige et d'avalanches, l'analyse du manteau neigeux, l'étude des cartes, l'évaluation des pentes sur place ainsi que les considérations de risques individuels. Les autorités de sécurité disposent parfois des résultats des déclenchements d'avalanches artificielles pour leurs évaluations. Dans chaque décision individuelle, toutes les informations disponibles doivent être prises en compte. Les informations indiquant des conditions instables sont particulièrement importantes.</p>&#13;
&#13;
          <h3 class="normal">Précision des données dans la prévision des avalanches</h3>&#13;
          <p>Les prévisions du bulletin d'avalanche de l'Euregio, comme celles d'autres avertissements de catastrophes naturelles, par exemple les fortes pluies, les tremblements de terre, les chutes de pierres, les éruptions volcaniques, les tornades, les tsunamis, etc. sont basées sur les lois de la probabilité. En raison de la connaissance incomplète de l'évolution spatiale et temporelle de la météo et, par conséquent, de la structure du manteau neigeux, la prévision du danger d'avalanche est par définition incertaine. De plus, le risque d'avalanche peut varier considérablement même à l'intérieur du degré de danger indiqué.</p>&#13;
          <p>Les disparités entre la prévision générale et la situation réelle des avalanches en terrain sont également liées à  l'étendue spatiale du degré de danger (Figure 7) et sa dépendance à l'altitude.</p>&#13;
&#13;
          <div>&#13;
            <picture><source type="image/webp" srcset="&#13;
                  /content_files/dangerscale_map_en-640.webp 640w,&#13;
                  /content_files/dangerscale_map_en-997.webp 997w&#13;
                "><source type="image/jpeg" srcset="&#13;
                  /content_files/dangerscale_map_en-640.jpg 640w,&#13;
                  /content_files/dangerscale_map_en-997.jpg 997w&#13;
                ">&#13;
              <img src="/content_files/dangerscale_map_en-640.jpg" title="Dangerscale map" alt="Map of the danger scale in parts of the Euregio">&#13;
            </picture>
</div>&#13;
          <p class="small" style="text-align: center">Figure 7: Le danger d'avalanche varie particulièrement aux limites des régions de prévision évaluées différemment, comme l'illustre l'exemple ci-dessus le long des frontières du Tyrol et du Tyrol du Sud.</p>&#13;
&#13;
          <p>De la même manière, les informations sur la localisation et la propagation d'une zone dangereuse donnée, à savoir l'exposition et l'hauteur, peuvent également varier, comme le montre la figure 8. Les divergences, en particulier le long des limites des régions de prévision, nécessitent une évaluation sur place, et il faut décider d'un comportement personnel correspondant à cette évaluation.</p>&#13;
&#13;
          <div><img src="/content_files/danger_icons.png" title="Icons for avalanche prone locations" alt="Icons defining the elevation and aspect of avalanche prone locations"></div>&#13;
          <p class="small" style="text-align: center">Figure 8: En réalité, le degré de danger attribué, ainsi que l'exposition et l'altitude des endroits dangereuses, peuvent facilement différer des informations contenues dans les bulletin d'avalanches publiées.</p>&#13;
&#13;
          <p>En général, il y a moins d'informations disponibles pour les zones de haute montagne que pour les régions de basse, moyenne et haute altitude. Par conséquent, toutes les déclarations concernant la situation en haute montagne nécessitent une évaluation particulière. Un examen particulièrement précise est également nécessaire dans le cas de situations météorologiques changeant rapidement, car le bulletin d'avalanche de l'Euregio ne peut pas refléter les changements spatiaux et temporels imprévisibles du danger d'avalanche.</p>&#13;
        </div>&#13;
&#13;
        <section class="section-centered"><div id="products_and_channels" class="panel field border">&#13;
            <div class="panel-header">&#13;
              <h2>Produits &amp; Canaux d'information</h2>&#13;
            </div>&#13;
            <p>En hiver, le bulletin d'avalanche de l'Euregio consiste d'une carte interactive, qui est publiée quotidiennement. En dehors de la saison, aucune carte de danger n'est publiée dans le bulletin d'avalanches de l'Euregio. Au lieu de cela, le danger d'avalanche et la situation du manteau neigeux sont décrits sur notre <a href="/blog">blog</a>.</p>&#13;
            <p>Le bulletin d'avalanche de l'Euregio et le contenu de notre site web sont publiés en 7 langues: allemand, italien, anglais, français, espagnol, catalan et aranais.</p>&#13;
&#13;
            <h3 class="normal">Site web interactif</h3>&#13;
            <p>Le bulletin d'avalanche interactif de l'Euregio est disponible sur Internet. Comme la conception du site web est basée sur la saisie de l'utilisateur, le site web est accessible non seulement par ordinateur mais aussi par des appareils mobiles (par exemple, des smartphones, des tablettes, etc.). L'apparence du site s'adapte automatiquement au dispositif utilisé.</p>&#13;
            <p>Pour plus d'informations sur l'évaluation du danger d'avalanche dans une région particulière, l'utilisateur peut zoomer ou se déplacer sur <a href="/bulletin/latest">la carte interactive du danger</a>. En déplaçant la souris sur la carte, la région de prévision agrégée touchée est mis en évidence. En cliquant sur la zone mise en évidence, une fenêtre supplémentaire s'ouvre avec des informations plus précises sur l'altitude à laquelle le degré de danger s'applique ainsi que sur les situations avalancheuses typiques qui s'y manifestent. Un clic sur DETAILS permet d'obtenir une répartition exacte du danger d'avalanche, comme l'exposition et l'altitude associées aux situations avalancheuses typiques ainsi que l'évaluation du danger, la description du manteau neigeux et la tendance sous forme de texte.</p>&#13;
&#13;
            <h3 class="normal">Version imprimée</h3>&#13;
            <p>Parallèlement au bulletin d'avalanche de l'Euregio sur Internet, il existe également une version imprimée disponible sous forme de fichier PDF. Cette version, y compris les éventuelles mises à jour, est publiée en même temps que le bulletin d'avalanche de l'Euregio en ligne et son contenu est identique à celui du bulletin.<br> Pour télécharger et imprimer le fichier PDF, il faut cliquer sur le bouton PDF. Il est alors possible de sélectionner toute la région européenne ou seulement Tyrol ou Tyrol du Sud ou Trentin. En outre, il est possible de choisir entre multicolore ou noir/blanc avant le téléchargement.</p>&#13;
&#13;
            <h3 class="normal">Blog</h3>&#13;
            <p>Le <a href="/blog">blog</a> officiel des services de prévision des avalanches de  l'Euregio peut être consulté sur le site web. En dehors des dates de publication habituelles, par exemple hors de la saison (pour plus de détails, voir Date de publication et validité ), il contient toutes les informations sur la situation avalancheuse. <br>Pendant la saison d'hiver, les services de prévision des avalanches de la région européenne Tyrol - Tyrol du Sud - Trentin publient également des informations supplémentaires sur le manteau neigeux, la situation avalancheuse et le contexte des avalanches déclenchées, notamment si des personnes aient impliquées ou des infratructures aient affectés. Les articles du blog servent à compléter le bulletin d'avalanches de l'Euregio, mais ne le remplacent pas.</p>&#13;
&#13;
            <h3 class="normal">Produits complémentaires</h3>&#13;
            <p>En plus du bulletin d'avalanche de l'Euregio sur Internet, en version imprimée et des informations complémentaires sur le blog, les services de prévision des avalanches de la région européenne Tyrol - Tyrol du Sud - Trentin proposent des produits supplémentaires tels que des <a href="/weather/map/new-snow">cartes de neige et de météo</a>, des informations sur les <a href="https://www.lawis.at/profile/?lang=en">profils de neige</a> et des <a href="/weather/stations">données de stations météo</a>.</p>&#13;
&#13;
            <h3 class="normal">Email</h3>&#13;
            <p>Les utilisateurs peuvent s'inscrire pour recevoir automatiquement le bulletin d'avalanche de l'Euregio par courrier électronique. Le destinataire est informé par de chaque nouvelle publication (quotidienne ou non) ou mise à jour du bulletin d'avalanche de l'Euregio.</p>&#13;
&#13;
            <h3 class="normal">Service de messagerie</h3>&#13;
            <p>Il est également possible de s'abonner au bulletin d'avalanche de l'Euregio via différents services de messagerie. L'abonné est informé de chaque nouvelle publication (quotidienne ou non) ou mise à jour du bulletin d'avalanche de l'Euregio. Il est actuellement possible de s'abonner au bulletin d'avalanche de l'Euregio via Push et Telegram.</p>&#13;
&#13;
            <h3 class="normal">Application "Lawine Tirol"</h3>&#13;
            <p>En plus du site web, il existe une application avec plusieurs fonctions supplémentaires à utiliser en terrain. Il est disponible gratuitement pour les appareils Android et Apple dans les magasins d'applications appropriés. En plus des informations, qui sont également accessibles sur le site web, l'application "Lawine Tirol" dispose d'outils permettant d'envoyer des observations au service de prévision des avalanches, de mesurer la pente, de déterminer l'exposition et l'altitude, ainsi que de diverses listes pour la planification des journées. En outre, un appel d'urgence peut être effectué directement depuis l'application.</p>&#13;
&#13;
            <h3 class="normal">Radio</h3>&#13;
            <p>Tyrol: Tous les jours à 17 heures, diverses institutions médiatiques reçoivent un enregistrement sonore décrivant le danger d'avalanche du jour suivant.</p>&#13;
            <p>Tyrol du Sud: Chaque vendredi après-midi, un enregistrement est généré et mis à la disposition de toutes les stations de radio du Tyrol du Sud. Il décrit la situation des avalanches pour le week-end. En raison de sa validité limitée, il ne peut être envoyé et/ou reçu qu'entre le vendredi à 16h30 et le samedi à 10h00.</p>&#13;
            <p>Trentin: Pour la province du Trentin, il n'existe actuellement aucun service comparable.</p>&#13;
&#13;
            <h3 class="normal">Presse</h3>&#13;
            <p>Tyrol du Sud: Le quotidien Dolomiten publie chaque jour un bref aperçu de la carte des degrés de danger en se référant aux détails sur Internet</p>&#13;
            <p>Tyrol et Trentin: Il n'y a pas de rapports réguliers dans la presse sur le danger d'avalanche, sauf en cas de danger d'avalanche accru.</p>&#13;
&#13;
            <h3 class="normal">Télévision</h3>&#13;
            <p>Dans les émission de télévision régionaux "Tirol heute" et "Südtirol heute" (ORF2), la situation des avalanches peut être diffusée après les informations régionales respectives des États et des provinces. Cela se produit de manière irrégulière, le plus souvent le vendredi, sporadiquement aussi les autres jours, en particulier lorsque le danger d'avalanche est accru.</p>&#13;
          </div>&#13;
        </section></section></section></section></section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Pédagogie &amp; Prévention</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Échelle de danger</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-problems" title="Situations avalancheuses typiques">Situations avalancheuses typiques</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/matrix" title="EAWS Matrix">EAWS Matrice</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-sizes" title="Avalanche Sizes">Taille d'avalanche</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/danger-patterns" title="Modèles de danger">Modèles de danger</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
