<div>
<h1>Manuale</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#general" title="General Information" class="secondary pure-button" data-scroll>Informazioni generali</a></li>&#13;
      <li><a href="#contents_and_design" title="Contents &amp; Design" class="secondary pure-button" data-scroll>Contenuti e design</a></li>&#13;
      <li><a href="#basis" title="Basis of Assessment" class="secondary pure-button" data-scroll>Basi di valutazione</a></li>&#13;
      <li><a href="#possibilities_and_limits" title="Possibilities &amp; Limits" class="secondary pure-button" data-scroll>Opportunità e limiti</a></li>&#13;
      <li><a href="#products_and_channels" title="Products &amp; Information Channels" class="secondary pure-button" data-scroll>Prodotti e canali</a></li>&#13;
    </ul></header></section><section class="section-centered"><div id="general" class="panel field border">&#13;
    <div class="panel-header">&#13;
      <h2>Informazioni generali</h2>&#13;
    </div>&#13;
&#13;
    <h3 class="normal">Il bollettino valanghe Euregio</h3>&#13;
&#13;
    <p>I tre servizi di previsione valanghe del Tirolo, Alto Adige e Trentino informano, per mezzo del bollettino valanghe Euregio e dei vari prodotti accessori, il pubblico della situazione nivometeorologica nell’Euregio. Le informazioni sono pubblicate in 7 lingue: tedesco, italiano, inglese, francese, spagnolo, catalano e aranese.<br>Il bollettino valanghe Euregio è una previsione valanghe a breve termine ed è un avvertimento. In inverno viene pubblicato almeno una volta al giorno e l’informazione più importante è la previsione del pericolo valanghe per tutti i territori all’interno dell’Euregio Tirolo – Alto Adige – Trentino. Inoltre, indicazioni supplementari sulle influenze delle condizioni meteorologiche e la struttura del manto nevoso, importanti per la formazione di valanghe, danno agli interessati un’immagine più precisa della situazione attuale e futura e servono da base per la propria valutazione del pericolo.<br>Visto che il bollettino valanghe Euregio è una previsione regionale del pericolo valanghe, può essere soggetto ad imprecisioni ed errori rispetto all’estensione spaziale e temporale. Per questo motivo, le informazioni contenute nel bollettino valanghe Euregio non possono sostituire la valutazione in loco e autonoma da parte dell’interessato. Le indicazioni nel bollettino valanghe Euregio sono generiche, perchè i dati base sono limitati. <br>Il contenuto e la struttura del bollettino valanghe Euregio sono conformi agli standard e alle linee guida dei <a href="https://www.avalanches.org/">Servizi Valanghe Europei (EAWS)</a>. </p>&#13;
&#13;
    <h3 class="normal">Destinatari</h3>&#13;
    <p>Il bollettino valanghe Euregio si rivolge a tutte le persone che in inverno, durante lo svolgimento della loro professione o nel tempo libero, sono esposte al pericolo di valanghe o sono responsabili per la sicurezza di altre persone. Tra queste rientrano ad esempio: </p>&#13;
    <ul>
<li>Servizi valanghe locali e commissioni valanghe dei comuni e degli uffici dei lavori pubblici, nonché dei servizi di sicurezza degli impianti di risalita </li>&#13;
      <li>Dipendenti dei servizi di soccorso, polizia ed esercito</li>&#13;
      <li>Guide alpine, maestri di sci e guide di escursioni scialpinistiche </li>&#13;
      <li>Residenti dei centri abitati di montagna</li>&#13;
      <li>Appassionati di sport invernali che svolgono attività fuoripista, come freerider, sci-escursionisti, alpinisti o appassionati di arrampicata su ghiaccio o di escursioni con racchette da neve </li>&#13;
    </ul>
<p>If a relatively favourable snow and avalanche situation prevails, the&#13;
      Euregio Avalanche Report serves particularly those persons who take part&#13;
      in winter sports in the mountains as a support for decisions to minimize&#13;
      their own risks. Starting at danger level 3&nbsp;–&nbsp;considerable the&#13;
      Euregio Avalanche Report contains an increased amount of information for&#13;
      local safety authorities and avalanche commissions. For danger level&#13;
      5&nbsp;–&nbsp;very&nbsp;high, when snow sports in backcountry terrain are&#13;
      hardly possible, the Euregio Avalanche Report by and large provides&#13;
      information for local safety authorities and avalanche commissions.</p>&#13;
&#13;
    <h3 class="normal">Ora di pubblicazione e validità</h3>&#13;
&#13;
    <p>Durante i mesi a margine dell’inverno, cioè ad inizio inverno e in tarda primavera, oppure nel caso di maggiori nevicate in estate, di solito sono disponibili solo poche informazioni sulla struttura del manto nevoso e sulla situazione valanghiva. Durante questo periodo non viene pubblicata la carta del pericolo di valanghe. L’inoltro delle informazioni avviene da parte dei servizi di previsione dell’Euregio Tirolo – Alto Adige – Trentino mediante dei post nel <a href="/blog">blog</a>. Comprendono dettagli dello sviluppo presente e futuro della struttura del manto nevoso e del pericolo di valanghe, validi anche per alcuni giorni. </p>&#13;
&#13;
    <p>In inverno, il bollettino valanghe Euregio viene pubblicato almeno una volta al giorno: </p>&#13;
    <ul>
<li>Edizione alle ore 17 previsione del pericolo valanghe per il giorno successivo con validità dalle ore 0 alle 24 (in 7 lingue). </li>&#13;
      <li>Alle ore 8 del mattino può esserci un aggiornamento coordinato: previsione per la giornata in corso con validità dalle ore 8 alle 24 (in 7 lingue). </li>&#13;
      <li>In principle, an assessment of avalanche danger can also be published at&#13;
        other times. As a rule, however, this is done only rarely.</li>&#13;
    </ul>
</div>&#13;
&#13;
  <section class="section-centered"><div id="contents_and_design" class="panel field border">&#13;
      <div class="panel-header">&#13;
        <h2>Contenuti e visualizzazione del bollettino valanghe Euregio</h2>&#13;
      </div>&#13;
      <p>Durante l’inverno, tutte le informazioni nel bollettino valanghe Euregio si basano su una carta del pericolo di valanghe interattiva. Tutti i contenuti sono visualizzati secondo il principio della piramide informativa (Figura 1). Il grado di pericolo valanghe rappresenta l'informazione più importante, per cui è elencato per primo. </p>&#13;
&#13;
      <div><img src="/content_files/pyramid_en.png" title="Information pyramid" alt="The information pyramid leads the information flow in the Euregio Avalanche Report"></div>&#13;
&#13;
      <p class="small" style="text-align: center">Figura 1: La piramide informativa guida il flusso di informazioni nel bolletino valanghe Euregio </p>&#13;
&#13;
      <p>Ulteriori informazioni sui problemi valanghivi, sui punti pericolosi, sulla descrizione del manto nevoso o sulla tendenza dell'andamento dei prossimi giorni, nonché le informazioni meteorologiche sono annunciate nei dettagli.<br>
Nelle sezioni seguenti presentiamo i contenuti del bollettino valanghe Euregio e la loro visualizzazione. </p>&#13;
&#13;
      <h3 class="normal">Pericolo di valanghe e grado di pericolo</h3>&#13;
      <p>La previsione del pericolo valanghe è la parte più importante del bollettino valanghe Euregio e comprende: </p>&#13;
      <ul>
<li>Il grado di pericolo (opzione: limite di quota)</li>&#13;
        <li>Uno o due (in casi particolari anche di più) problemi valanghivi con relativi punti pericolosi</li>&#13;
        <li>La valutazione del pericolo</li>&#13;
        <li>La descrizione del manto nevoso</li>&#13;
        <li>La tendenza per le successive 24 – 48 h</li>&#13;
        <li>Il link alle previsioni meteorologiche</li>&#13;
      </ul>
<p>Per la valutazione del grado di pericolo, i tre servizi valanghe dell‘Euregio Tirolo – Alto Adige – Trentino si servono dalla <a href="/education/danger-scale">scala europea del pericolo valanghe</a>, divisa in cinque gradi (per dettagli vedi Formazione e prevenzione). Possono essere aggregati territori con identici gradi di pericolo e problemi valanghivi con le relative esposizioni e quote particolarmente interessate (chiamati punti pericolosi), se è possibile una descrizione comune del pericolo. I gradi di pericolo e i problemi valanghivi vengono visualizzati sulla carta del pericolo di valanghe (Figura 2). Ad una zona aggregata possono essere correlati due gradi di pericolo a quote diverse. </p>&#13;
&#13;
      <div>&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/map_en-640.webp   640w,&#13;
              /content_files/map_en-1280.webp 1280w,&#13;
              /content_files/map_en-1663.webp 1663w&#13;
            "><source type="image/jpeg" srcset="&#13;
              /content_files/map_en-640.jpg   640w,&#13;
              /content_files/map_en-1280.jpg 1280w,&#13;
              /content_files/map_en-1663.jpg 1663w&#13;
            ">&#13;
          <img src="/content_files/map_en-1280.jpg" title="Danger level map for Tirol - South Tyrol - Trentino" alt="Danger level map for Tirol - South Tyrol - Trentino">&#13;
        </picture>
</div>&#13;
      <p class="small" style="text-align: center">Figura 2: Visione d’insieme dei gradi di pericolo valanghe predominanti nell’Euregio Tirolo – Alto Adige – Trentino. Le aree con situazioni di pericolo identiche vengono aggregate, anche oltre le frontiere nazionali. Si può anche indicare la variazione della situazione nel corso della giornata (mattino | pomeriggio). </p>&#13;
&#13;
      <p>Nel caso di una variazione del grado di pericolo nel corso della giornata, questa viene indicata con due carte del pericolo diverse. Una carta indica la situazione in mattinata (tipicamente la più favorevole), l’altra quella del pomeriggio. La variazione del grado di pericolo da mattina a pomeriggio – andamento diurno – descrive la variazione generale nell’arco della giornata, non è correlata strettamente alle ore 12. Una descrizione più dettagliata avviene nella parte di testo del bollettino valanghe Euregio. </p>&#13;
&#13;
      <h3 class="normal">Problemi valanghivi</h3>&#13;
      <p>Ad una regione aggregata possono essere correlati al massimo due <a href="/education/avalanche-problems">problemi tipici valanghivi</a>. Sono 5 i problemi di seguito elencati: </p>&#13;
      <ul>
<li>Neve fresca</li>&#13;
        <li>Wind slab problem</li>&#13;
        <li>Strati deboli persistenti</li>&#13;
        <li>Neve bagnata</li>&#13;
        <li>Valanghe di slittamento</li>&#13;
      </ul>
<p>Con l’indicazione dei problemi, ed anche grazie alle icone intuitive e facili da comprendere, l’utente riesce a trarre in modo semplice e mirato più informazioni dal bollettino valanghe Euregio.</p>&#13;
&#13;
      <h3 class="normal">Punti pericolosi</h3>&#13;
      <p>An avalanche problem is usually allocated to a specific, particularly&#13;
        endangered spatial area, defined by elevation and aspect. The elevation&#13;
        limits of the problem generally coincide with the elevation limits of&#13;
        the danger level (Figure 3). If no particular avalanche problem&#13;
        predominates (often the case at danger level 1&nbsp;–&nbsp;low) this&#13;
        information is omitted and a favourable avalanche situation is declared.&#13;
        <br>&#13;
        The avalanche prone locations where a given avalanche problem prevails&#13;
        are delineated by the aspect and the elevation limits. The blue-marked&#13;
        segments of a wind rose are indicators of those aspects. The elevation&#13;
        can be indicated by a specific borderline or border zone. Apart from&#13;
        that, the altitude above sea level generally follows as a written number&#13;
        or the term “treeline” accompanied by a visual depiction with arrows&#13;
        pointing in the appropriate direction.</p>&#13;
&#13;
      <div><img src="/content_files/info_en.png" title="Danger overview" alt="Detailed overview of danger levels and avalanche problems including their corresponding danger zones (aspect and elevation)"></div>&#13;
&#13;
      <p class="small" style="text-align: center">Figura 3: Panoramica dettagliata del grado di pericolo e dei problemi valanghivi, inclusi i relativi punti pericolosi correlati (esposizione e quota). </p>&#13;
&#13;
      <h3 class="normal">Valutazione del pericolo</h3>&#13;
      <p>Per ogni regione di avviso indicata nella carta, vi è la descrizione di una specifica valutazione del pericolo (Figura 4). Questa comprende tra l’altro indicazioni sulla probabilità di distacco e la dimensione delle valanghe da aspettarsi e la distribuzione dei punti pericolosi. Se necessario, vengono date anche segnalazioni o raccomandazioni per singoli gruppi di utenti. <br>Alla fine della valutazione del pericolo possono essere trasmesse anche maggiori informazioni agli utenti, come ad esempio altre fonti possibili di pericolo oppure un’evoluzione della situazione meteorologica particolarmente incerta, delle quali tener conto.</p>&#13;
&#13;
      <h3 class="normal">Manto nevoso</h3>&#13;
      <p>Esiste una descrizione del manto nevoso per ogni regione d’avviso indicata nella carta (Figura 4). La struttura del manto nevoso è un fattore importante per la formazione di valanghe. La descrizione comprende di solito sia la struttura, sia la stabilità del manto nevoso. </p>&#13;
      <p>Mentre la struttura del manto nevoso è determinata dalla stratificazione e dalle caratteristiche strutturali dei singoli strati (cioè forma e dimensione dei grani, durezza), la stabilità del manto nevoso è invece un importante fattore per la formazione di valanghe. Essenzialmente, è la struttura del manto nevoso che determina la sua stabilità. </p>&#13;
      <p>In questo paragrafo può essere descritta, se del caso, anche l’attività valanghiva osservata. </p>&#13;
&#13;
      <div><img src="/content_files/info2_en.png" title="Danger assessment and snowpack analysis" alt="Danger assessment and snowpack analysis are provided as a&#13;
          text. They form the lower part of the Information Pyramid. In addition,&#13;
          information about the predominant danger pattern and the immediate&#13;
          outlook is also provided."></div>&#13;
&#13;
      <p class="small" style="text-align: center">Figura 4: Valutazione del pericolo e descrizione del manto nevoso sono in forma di testo e formano la parte inferiore della piramide dell’informazione. Inoltre, qui si indica la situazione tipo predominante e la tendenza. </p>&#13;
&#13;
      <p>Sopra la descrizione dettagliata del manto nevoso si trovano <a href="/education/danger-patterns">le situazioni tipo</a> correlate ai problemi valanghivi. Possono essere viste come ampliamento dei cinque problemi valanghivi e descrivono le dieci situazioni tipiche che si ripetono e che causano spesso incidenti da valanga. </p>&#13;
&#13;
      <h3 class="normal">Tendenza</h3>&#13;
      <p>Sulla base delle previsioni della situazione meteorologica nelle prossime 48 ore viene valutata l’evoluzione approssimativa del pericolo di valanghe per il giorno successivo al periodo di validità.</p>&#13;
&#13;
      <h3 class="normal">Condizioni meteorologiche</h3>&#13;
      <p>Facciamo riferimento alle informazioni dei servizi meteorologici delle province di Bolzano–Alto Adige e Trentino e/o dell’istituto meteorologico ZAMG di Innsbruck per l’evoluzione prevista delle condizioni meteorologiche.</p>&#13;
&#13;
      <h3 class="normal">Regioni d’avviso flessibili</h3>&#13;
      <p>Per permettere l’aggregazione di zone con lo stesso grado di pericolo, sono state determinate 70 microregioni sulla base di analisi nivometeorologiche e climatiche all’interno dell’Euregio Tirolo – Alto Adige – Trentino. In tal modo si possono definire in modo flessibile delle regioni d’avviso più grandi con la stessa valutazione del grado di pericolo. </p>&#13;
      <p>Il Tirolo viene suddiviso in 29, l’Alto Adige in 20 e il Trentino in 21 microregioni. Queste microregioni hanno ciascuna un nome univoco e sono visualizzate nella Figura 5. Inoltre, ogni microregione è identificata con un codice univoco (Tabella 1). </p>&#13;
&#13;
      <table style="width: 100%; border: 0px solid #000; text-align: center"><tbody><tr>
<td>&#13;
              <picture><source type="image/webp" srcset="&#13;
                    /content_files/regions_en-640.webp 640w,&#13;
                    /content_files/regions_en-741.webp 741w&#13;
                  "><source type="image/jpeg" srcset="&#13;
                    /content_files/regions_en-640.jpg 640w,&#13;
                    /content_files/regions_en-741.jpg 741w&#13;
                  ">&#13;
                <img src="/content_files/regions_en-640.jpg" title="Region map" alt="The 70 micro regions of the European region Tirol – South Tyrol – Trentino">&#13;
              </picture>
</td>&#13;
          </tr></tbody></table>
<p class="small" style="text-align: center">Figure 5: The 70 micro regions of the European region Tirol – South&#13;
        Tyrol – Trentino, including clear designation of their respective names&#13;
        (see Table 1)</p>&#13;
&#13;
      <regionstables></regionstables>
</div>&#13;
&#13;
    <section class="section-centered"><div id="basis" class="panel field border">&#13;
        <div class="panel-header">&#13;
          <h2>Basi per la valutazione del pericolo di valanghe</h2>&#13;
        </div>&#13;
        <p>A disposizione del servizio di previsione valanghe vengono elaborati numerosi dati per la valutazione del pericolo di valanghe. Le informazioni variano da misurazioni, osservazioni, valutazioni in loco individuali, fino ai risultati dei modelli. Solo l’insieme di tutti questi fattori permette la previsione affidabile del pericolo di valanghe in tutte le svariate situazioni. </p>&#13;
&#13;
        <div>&#13;
          <picture><source type="image/webp" srcset="&#13;
                /content_files/illustration_en-640.webp   640w,&#13;
                /content_files/illustration_en-1280.webp 1280w,&#13;
                /content_files/illustration_en-1920.webp 1920w,&#13;
                /content_files/illustration_en-2560.webp 2560w,&#13;
                /content_files/illustration_en-3200.webp 3200w,&#13;
                /content_files/illustration_en-3860.webp 3860w&#13;
              "><source type="image/jpeg" srcset="&#13;
                /content_files/illustration_en-640.jpg   640w,&#13;
                /content_files/illustration_en-1280.jpg 1280w,&#13;
                /content_files/illustration_en-1920.jpg 1920w,&#13;
                /content_files/illustration_en-2560.jpg 2560w,&#13;
                /content_files/illustration_en-3200.jpg 3200w,&#13;
                /content_files/illustration_en-3860.jpg 3860w&#13;
              ">&#13;
            <img src="/content_files/illustration_en.png" title="Data sources" alt="Data from weather stations and feedback from local and&#13;
              mobile observers, as well as private persons on the current avalanche&#13;
              situation provide the basis for the avalanche forecast">&#13;
          </picture>
</div>&#13;
        <p class="small" style="text-align: center">Figura 6: I dati delle stazioni meteorologiche e il feedback di osservatori locali e mobili, nonché di persone private sulla situazione attuale sono la base per la previsione delle valanghe. Il rapporto valanghe dell'euroregione può essere ricevuto via Internet, e-mail, servizi mobili, radio, TV e stampa. </p>&#13;
&#13;
        <h3 class="normal">Misurazioni</h3>&#13;
        <p>Per la redazione del bollettino, i servizi di previsione valanghe dell‘Euregio Tirolo – Alto Adige – Trentino gestiscono una ampia rete di <a href="/weather/stations">stazioni automatiche di misurazione</a>. Dispongono così di una delle reti più fitte al mondo di stazioni automatiche di misurazione in alta montagna. I dati rilevati dalle stazioni sono accessibili dagli utenti e possono essere scaricati da internet al punto <a href="/weather/map/new-snow">Neve &amp; condizioni meteorologiche</a> del menu, con tabelle e grafici. </p>&#13;
&#13;
        <h3 class="normal">Osservazioni e valutazioni</h3>&#13;
        <p>I servizi valanghe, per una valutazione affidabile del pericolo, hanno bisogno di informazioni recenti dal territorio. Perciò, i tre servizi di previsione dell‘Euregio Tirolo – Alto Adige – Trentino si servono di una rete di osservatori. A seconda della situazione si rilevano dati diversi, come ad es. stime della quantità di neve fresca e ventata, osservazioni di segnali d’avvertimento e distacchi di valanghe, oppure anche una valutazione del pericolo di valanghe al momento presente. </p>&#13;
        <p>Possono arrivare informazioni supplementari da membri delle commissioni valanghe, servizi di sicurezza locali, organizzazioni di salvataggio, dalla polizia e non per ultimo anche dagli appassionati di sport invernali. Importanti in tal caso sono soprattutto le osservazioni di valanghe fatte distaccare da persone e l’attività valanghiva generale. Nota bene: anche valanghe senza seppellimento di persone o feriti devono essere comunicate al più presto alla centrale operativa competente, per evitare una ricerca inutile, costosa e faticosa. Inoltre, informazioni sulla superficie del manto nevoso del momento (ad es. neve pallottolare, brina di superficie, influenza del vento, limite della pioggia / della nevicata ecc.) forniscono indicazioni decisive sul fatto se il manto fungerà da futuro strato fragile e potrebbe alla fine modificare il grado di pericolo. Questi dati vengono rilevati, categorizzati e georeferenziati dai collaboratori del bollettino valanghe Euregio. </p>&#13;
        <p>Più dettagliata è un osservazione, più serve alla valutazione del pericolo di valanghe nel bollettino valanghe Euregio. Oltre ai dati di base generali devono essere indicati anche i seguenti dati di riferimento: </p>&#13;
        <ul>
<li>Luogo (se ignoto, indicare il prossimo punto fisso noto)</li>&#13;
          <li>Altitudine (o fascia altitudinale)</li>&#13;
          <li>Esposizione</li>&#13;
          <li>Inclinazione del pendio</li>&#13;
        </ul>
<p>La trasmissione delle coordinate di riferimento e/o di fotografie permette una valutazione ancora più precisa del pericolo valanghe, ma non è di primissima importanza. </p>&#13;
&#13;
        <h3 class="normal">Osservatori stazionari</h3>&#13;
        <p>Una parte degli osservatori del bollettino valanghe Euregio sono stazionari. Loro comunicano l’osservazione di cadute di valanghe o segnali d’avvertimento e spesso anche una loro valutazione del pericolo di valanghe attuale. Se possibile, inoltrano le loro osservazioni tutti i giorni durante la stagione invernale, garantendo in questo modo una copertura di base con le loro informazioni. Le comunicazioni avvengono tra le ore 8 e le 9, oppure a mezzogiorno.</p>&#13;
&#13;
        <h3 class="normal">Osservatori mobili</h3>&#13;
        <p>Una parte degli osservatori invece si muove nelle montagne dell’Euregio Tirolo – Alto Adige – Trentino. Inviano le loro osservazioni dal posto in cui si trovano, quando hanno qualche informazione interessante. Possono trasmettere le osservazioni via servizi di messenger oppure e-mail direttamente ai servizi previsione. Inoltre, guide alpine scelte ci inviano osservazioni e valutazioni standardizzate attraverso l’app mobile NATLEFS.<br>Considerando le dimensioni dell‘Euregio Tirolo – Alto Adige – Trentino e le differenze regionali, per gli osservatori ufficiali è impossibile rilevare tutto. Per questo motivo, i servizi di previsione sono anche sensibili a comunicazioni da parte di privati. Cogliamo l’occasione per ringraziare tutti gli osservatori attivi e per incoraggiare altri a comunicarci le loro impressioni (per dettagli vedi Osservazioni e valutazioni). </p>&#13;
&#13;
        <h3 class="normal">Cadute di valanghe</h3>&#13;
        <p>Accanto ai distacchi di valanga osservati, le centrali operative e i servizi di salvataggio segnalano gli incidenti da valanga. A disposizione dei servizi di previsione sono le carte di localizzazione delle valanghe dei vari comprensori sciistici e i dati dei sistemi di detezione automatici di valanghe. Anche persone private possono segnalare cadute di valanghe con una comunicazione nel <a href="https://www.lawis.at/incident/?lang=en">sito Lawis</a>. </p>&#13;
      </div>&#13;
&#13;
      <section class="section-centered"><div id="possibilities_and_limits" class="panel field border">&#13;
          <div class="panel-header">&#13;
            <h2>Opportunità e limiti del bollettino valanghe Euregio</h2>&#13;
          </div>&#13;
          <p>Il bollettino valanghe Euregio comprende la previsione del pericolo di valanghe. È però nella natura delle previsioni che queste siano incerte, e perciò potrebbero anche essere inesatte. I servizi di previsione valanghe dell’Euregio Tirolo – Alto Adige - Trentino s’impegnano a fare sì che contenuti e informazioni pubblicate nel loro sito web siano il più possibile corrette, ma non si assumono la responsabilità della correttezza e completezza di contenuti e informazioni. </p>&#13;
          <p>Pericolo di valanghe significa anche pericolo di vita. L’utilizzo delle informazioni dei servizi di previsione dell‘Euregio Tirolo – Alto Adige - Trentino non esonera in nessun modo dall’obbligo di valutare in modo autonomo la situazione valanghiva a livello locale (in sito) e di comportarsi di conseguenza. </p>&#13;
&#13;
          <h3 class="normal">Campo di validità</h3>&#13;
          <p>Nel bollettino valanghe Euregio si descrivono solo le condizioni nelle zone fuori pista all’interno dell‘Euregio Tirolo – Alto Adige – Trentino (Figura 5 / Tabella 1).</p>&#13;
&#13;
          <h3 class="normal">Valutazione autonoma</h3>&#13;
          <p>Le formulazioni contenute nel bollettino valanghe Euregio sono di carattere generale. Le condizioni locali non possono essere valutate nel bollettino, tanto meno ogni singolo pendio. Il nesso tra grado di pericolo regionale, possibile attività valanghiva e relativi effetti (comprese le eventuali misure da adottare) deve essere stabilito sul territorio dall’utente del bollettino valanghe Euregio. Gli appassionati di sport invernali e i responsabili della sicurezza devono quindi basarsi anche sui loro metodi di analisi personali. Tra questi rientrano ad es. osservazioni nivo-meteorologiche e di valanghe locali, analisi del manto nevoso, studio delle carte, valutazione del pendio sul territorio, così come considerazioni individuali sul pericolo. I servizi di sicurezza possono eventualmente ricorrere anche ai risultati dei distacchi artificiali di valanghe. In qualsiasi decisione si deve tener conto di tutte le informazioni disponibili. Tra queste informazioni, quelle più importanti sono quelle che permettono di trarre conclusioni su condizioni di instabilità. </p>&#13;
&#13;
          <h3 class="normal">Esattezza delle indicazioni nel bollettino</h3>&#13;
          <p>Le informazioni contenute nel bollettino valanghe Euregio sono, come anche altri avvisi di pericoli naturali (ad es. forti precipitazioni, terremoti, cadute massi, eruzioni di vulcani, uragani, tsunami ecc.) indicazioni puramente basate sulla probabilità. Proprio a causa delle nozioni incomplete sullo sviluppo spaziale e temporale delle condizioni meteorologiche, e di conseguenza della struttura del manto nevoso, le previsioni del pericolo di valanghe sono soggette ad incertezza. Per lo più, il pericolo di valanghe può variare, anche all’interno del grado di pericolo indicato. </p>&#13;
          <p>Le differenze tra le previsioni generali e la situazione reale sul territorio riguardano tra l‘altro l’estensione spaziale del grado di pericolo (Figura 7) e la sua dipendenza dall’altitudine. </p>&#13;
&#13;
          <div>&#13;
            <picture><source type="image/webp" srcset="&#13;
                  /content_files/dangerscale_map_en-640.webp 640w,&#13;
                  /content_files/dangerscale_map_en-997.webp 997w&#13;
                "><source type="image/jpeg" srcset="&#13;
                  /content_files/dangerscale_map_en-640.jpg 640w,&#13;
                  /content_files/dangerscale_map_en-997.jpg 997w&#13;
                ">&#13;
              <img src="/content_files/dangerscale_map_en-640.jpg" title="Dangerscale map" alt="Map of the danger scale in parts of the Euregio">&#13;
            </picture>
</div>&#13;
          <p class="small" style="text-align: center">Figura 7: Il pericolo di valanghe varia soprattutto ai bordi delle regioni d’avviso valutate diversamente, come qui nell’esempio del passaggio tra il Tirolo e l’Alto Adige. </p>&#13;
&#13;
          <p>Possono variare anche le indicazioni sulla distribuzione dei punti pericolosi (cioè esposizione e quota), come illustrato nella Figura 8. Casomai bisogna osservare le divergenze sul posto, soprattutto nelle zone limitrofe delle regioni d’avviso, e poi reagire in modo conseguente.</p>&#13;
&#13;
          <div><img src="/content_files/danger_icons.png" title="Icons for avalanche prone locations" alt="Icons defining the elevation and aspect of avalanche prone locations"></div>&#13;
          <p class="small" style="text-align: center">Figura 8: Nella realtà, il grado di pericolo predominante e l’esposizione e dipendenza dalle quote dei punti pericolosi, possono divergere dalle indicazioni nel bollettino valanghe pubblicato. </p>&#13;
&#13;
          <p>Di solito, per l’alta montagna ci sono meno informazioni disponibili che per le quote medie e alte. Perciò, le indicazioni che riguardano l’alta montagna necessitano di una verifica particolare. Anche nel caso di situazioni meteorologiche che cambiano rapidamente si rende necessario una verifica molto precisa, perché di solito il bollettino valanghe Euregio non può prendere in considerazione modifiche imprevedibili del pericolo valanghe sia nello spazio che nel tempo. </p>&#13;
        </div>&#13;
&#13;
        <section class="section-centered"><div id="products_and_channels" class="panel field border">&#13;
            <div class="panel-header">&#13;
              <h2>Prodotti e canali di informazione</h2>&#13;
            </div>&#13;
            <p>In inverno il bollettino delle valanghe è formato da una carta interattiva, pubblicata giornalmente. Fuori stagione, nel bollettino valanghe Euregio non viene pubblicata la carta del pericolo valanghe. In tal caso, il pericolo valanghe e la situazione del manto nevoso sono descritti nel <a href="/blog">blog</a>. </p>&#13;
            <p>Il bollettino valanghe Euregio e i contenuti all’interno del sito web sono disponibili in 7 lingue: tedesco, italiano, inglese, francese, spagnolo, catalano e aranese. </p>&#13;
&#13;
            <h3 class="normal">Sito web interattivo</h3>&#13;
            <p>Il bollettino valanghe Euregio interattivo si trova in Internet. Grazie al sito web creato in modo responsivo si può richiamare non solo sul PC, ma anche su terminali mobili (ad es. smartphone, tablet ecc.). La visualizzazione si adatta automaticamente al dispositivo utilizzato. </p>&#13;
            <p>Ad ulteriori informazioni sulla valutazione del pericolo in una delle microregioni si arriva direttamente attraverso la <a href="/bulletin/latest">carta del pericolo di valanghe interattiva</a> che si può zoomare e spostare (zoom &amp; pan). Passando col mouse sopra la carta, vengono evidenziate le regioni d’avviso aggregate. Cliccando sulla regione d’avviso desiderata, si apre una finestra supplementare con una delimitazione più precisa della quota per la quale è valido il grado di pericolo, e con i problemi valanghivi predominanti. Un click su DETTAGLI porta ad una spiegazione precisa in forma di testo del pericolo valanghe, come ad es. esposizione e quota correlate ai problemi valanghivi e la valutazione del pericolo, la descrizione del manto nevoso e la tendenza. </p>&#13;
&#13;
            <h3 class="normal">Versione stampabile</h3>&#13;
            <p>In parallelo al bollettino valanghe Euregio viene messa a disposizione in internet una versione PDF stampabile. Tale versione, inclusi possibili aggiornamenti, viene pubblicata in contemporanea con il bollettino in versione online e con contenuti identici.<br>
Per scaricare e stampare il file in PDF, cliccare sul pulsante PDF. Di seguito è possibile selezionare o tutto il bollettino Euregio, oppure solo Tirolo, Alto Adige o Trentino. Inoltre, è possibile scegliere tra la versione a colori o in bianco e nero. </p>&#13;
&#13;
            <h3 class="normal">Blog</h3>&#13;
            <p>Il <a href="/blog">blog ufficiale</a> del bollettino valanghe Euregio può essere richiamato al sito. Al di fuori del periodo regolare di pubblicazione del bollettino (per dettagli vedi Ora di pubblicazione e validità), tutte le informazioni sulla situazione valanghiva vengono pubblicate nel blog. <br>Durante la stagione invernale, i servizi di previsione valanghe dell’Euregio Tirolo – Alto Adige – Trentino pubblicano di regola più volte la settimana ulteriori dettagli sulla struttura del manto nevoso, la situazione valanghiva risultante e le ragioni di base per eventi valanghivi che hanno coinvolto persone o infrastrutture. I post del blog sono complementari al bollettino valanghe Euregio, ma non lo sostituiscono. </p>&#13;
&#13;
            <h3 class="normal">Prodotti supplementari</h3>&#13;
            <p>Accanto al bollettino valanghe Euregio pubblicato in internet e come versione stampabile e le informazioni supplementari fornite col blog, i servizi di previsione dell‘Euregio Tirolo – Alto Adige – Trentino offrono prodotti supplementari, come ad es. <a href="/weather/map/new-snow">carte nivologiche e meteorologiche</a>, <a href="https://www.lawis.at/profile/?lang=en">profili stratigrafici della neve</a> e <a href="/weather/stations">grafiche delle stazioni automatiche</a>. </p>&#13;
&#13;
            <h3 class="normal">E-mail</h3>&#13;
            <p>Gli utenti possono abbonarsi all’invio automatico del bollettino valanghe Euregio via e-mail. Agli abbonati viene inviata via e-mail la nuova edizione (ogni giorno o senza preavviso) di ogni nuova pubblicazione o dell’aggiornamento del bollettino valanghe Euregio.</p>&#13;
&#13;
            <h3 class="normal">Servizi Messenger</h3>&#13;
            <p>È possibile anche l’abbonamento all’invio automatico del bollettino valanghe Euregio attraverso vari servizi messenger. Agli abbonati viene inviata la nuova edizione (ogni giorno o senza preavviso) di ogni nuova pubblicazione o dell’aggiornamento del bollettino valanghe Euregio. Al momento è previsto l’invio del bollettino valanghe Euregio con Notifiche Push e Telegram. </p>&#13;
&#13;
            <h3 class="normal">App Lawine Tirol</h3>&#13;
            <p>Oltre al sito web esiste un app con varie funzioni supplementari per l’uso sul campo. Può essere scaricata gratuitamente negli appositi app-stores per dispositivi Android e Apple. Accanto a tutte le informazioni disponibili anche sul sito web, l’app Lawine Tirol dispone anche di tool per la comunicazione di osservazioni, la misurazione dell’inclinazione del pendio, la quota e anche di diverse checklist per pianificare escursioni. Inoltre, si può effettuare una telefonata d’emergenza direttamente dall’app. </p>&#13;
&#13;
            <h3 class="normal">Radio</h3>&#13;
            <p>Tirolo: Ogni giorno alle ore 5 viene messo a disposizione a diversi mediae un memo parlato con la descrizione del pericolo di valanghe del giorno successivo. </p>&#13;
            <p>Alto Adige: Ogni venerdì pomeriggio si produce un memo parlato a disposizione di tutte le trasmittenti radio dell’Alto Adige che descrive la situazione valanghiva del fine-settimana. A causa della validità limitata può essere trasmesso/ascoltato solo dal venerdì alle ore 16 al sabato alle 10. </p>&#13;
            <p>Trentino: Non esiste ancora un servizio simile per la provincia di Trento. </p>&#13;
&#13;
            <h3 class="normal">Pubblicazioni stampate</h3>&#13;
            <p>Alto Adige: Tutti i giorni, il giornale Dolomiten pubblica una breve previsione della carta del pericolo valanghe con riferimento ai dettagli in internet. </p>&#13;
            <p>Tirolo e Trentino: Per ora, in nessuna delle due regioni si pubblica regolarmente del pericolo di valanghe, a parte nei momenti di pericolo elevato. </p>&#13;
&#13;
            <h3 class="normal">Televisione</h3>&#13;
            <p>Nei notiziari regionali Tirol heute e Südtirol heute (ORF2), può essere trasmessa la situazione valanghiva poco dopo le notizie regionali. Avviene in modo irregolare, ma spesso il venerdì, sporadicamente anche negli altri giorni, soprattutto nei momenti di pericolo di valanghe elevato. </p>&#13;
          </div>&#13;
        </section></section></section></section></section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Educazione &amp; Prevenzione</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Scala del Pericolo</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-problems" title="Avalanche Problems">Problemi Tipici Valanghivi</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/matrix" title="EAWS Matrix">Matrice EAWS</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-sizes" title="Avalanche Sizes">Dimensioni delle valanghe</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/danger-patterns" title="Danger Patterns">Situazioni Tipo</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
