<div>
<h1>Manuau</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#general" title="General Information" class="secondary pure-button" data-scroll>Informacion generau</a></li>&#13;
      <li><a href="#contents_and_design" title="Contents &amp; Design" class="secondary pure-button" data-scroll>Contenguts e dessenh</a></li>&#13;
      <li><a href="#basis" title="Basis of Assessment" class="secondary pure-button" data-scroll>Bases de l’avaloracion</a></li>&#13;
      <li><a href="#possibilities_and_limits" title="Possibilities &amp; Limits" class="secondary pure-button" data-scroll>Possibilitats e limits</a></li>&#13;
      <li><a href="#products_and_channels" title="Products &amp; Information Channels" class="secondary pure-button" data-scroll>Productes e canaus d'informacion</a></li>&#13;
    </ul></header></section><section class="section-centered"><div id="general" class="panel field border">&#13;
    <div class="panel-header">&#13;
      <h2>Informacion generau</h2>&#13;
    </div>&#13;
&#13;
    <h3 class="normal">Eth bulletin de lauegi dera Region Europèa</h3>&#13;
&#13;
    <p>A trauès deth Bulletin de Lauegi dera Euroregion e ua grana varietat de productes auxiliars,
es tres servicis d’alèrte de lauegi de Tiròl, Sud-Tiròl e Trentin proporcionen informacion ath public sus es condicions de nhèu e lauegi en aguesta region europèa. Era informacion se publique en 7 idiòmes. <br>Eth bulletin de lauegi dera Euroregion includís ua analisi deth perilh de lauegi a cuert termini e ua perspectiva. A era forma d'un avís. Açò se publique aumens un còp ath dia pendent era sason d’iuèrn. Conten ua prevision de perilh de lauegi entà totes es zònes d’aguesta region europèa, Tiròl, Sud-Tiròl, Trentin, coma comunicacion mès importanta e considerabla. Donades addicionaus restacades considerables pes lauegi coma eth desvolopament deth temps e era estructura deth celh de nhèu proporcionen ua imatge mès precisa e en prigondor dera situacion actuau e aproximada, que servís de basa entà avaloracions e decisions individuaus.<br>
Dempús qu'eth bulletin de lauegi dera Euroregion ei ua prediccion regionau deth perilh de lauegi, ei subjècte a incertituds, p.ex. variacions geografiques e divergéncies, atau coma factors de tempsi. Per açò, era informacion en bulletin de lauegi dera Euregion non pòt substituïr ua avaloracion locau.
Era informacion proporcionada en bulletin de lauegi dera Euregion s'arrecuelh a compdar de donades limitades e ei massa generau entà proporcionar analisis punt per punt.<br>

Es contenguts e eth dessenh dera informacion de lauegi dera Euregion corresponen a nòrmes e directritzes actuaus dera Associacion des <a href="https://www.avalanches.org/">Servicis Europèus d'Alèrte de Lauegi (EAWS)</a>.</p>&#13;
&#13;
    <h3 class="normal">Public objectiu</h3>&#13;
    <p>Eth bulletin dera Euregio de Lauegi s’adrece a totes es persones que participen
enes montanhes en iuèrn, ja sigue damb intencions a nivèu professionau o d'esvagament e son exposadi ath perilh de lauegi; o as que son
responsable dera seguretat des auti. Açò includís, entre autes causes:</p>&#13;
    <ul>
<li>Servicis locaus d’alèrte de lauegi e comissions de lauegi de pòbles e
carretères, atau coma es autoritats de seguretat des telefèrics de montanha e es remontadors</li>&#13;
      <li>Membres des servicis d’ambulàncies e rescat, policia e personau militar</li>&#13;
      <li>Guides de montanha, instructors d'espòrts de nhèu, guides toristiques e
directors</li>&#13;
      <li>Vesins d’assentaments de montanha</li>&#13;
      <li>Usatgèrs recreatius en terren non protegit, p. freeriders, esquiaires de montanha, escaladors de montanha, escaladors de gèu, excursionistas damb raquetes de nhèu</li>&#13;
    </ul>
<p>If a relatively favourable snow and avalanche situation prevails, the&#13;
      Euregio Avalanche Report serves particularly those persons who take part&#13;
      in winter sports in the mountains as a support for decisions to minimize&#13;
      their own risks. Starting at danger level 3&nbsp;–&nbsp;considerable the&#13;
      Euregio Avalanche Report contains an increased amount of information for&#13;
      local safety authorities and avalanche commissions. For danger level&#13;
      5&nbsp;–&nbsp;very&nbsp;high, when snow sports in backcountry terrain are&#13;
      hardly possible, the Euregio Avalanche Report by and large provides&#13;
      information for local safety authorities and avalanche commissions.</p>&#13;
&#13;
    <h3 class="normal">Ora de publicacion e de vigéncia</h3>&#13;
&#13;
    <p>Pendent es mesi enes extrèms der iuèrn, ei a díder a principis d’iuèrn e tard
ena primauera, atau coma en cas de nheuades intenses en estiu, i a
normauments ua informacion insufisenta sus eth celh de nhèu e era situacion prevalent de lauegi. En aguest periòde, non i a cap mapa de nivèus de perilh
publicat. En aguesti casi, era informacion ei emetuda pes servicis d'alèrte dera region europèa Tiròl - Sud-Tiròl - Trentin a mejans de <a href="/blog">publicacions en blòc</a>. S'includissen detalhs sus es desvolopaments actuaus e aproximadi dera situacion deth celh de nhèu, atau coma eth perilh de lauegi, qu'ei facilaments èster valid pendent diuèrsi dies.</p>&#13;
&#13;
    <p>En iuèrn, eth bulletin de lauegi dera Euregion se publique aumens un còp
jornalièraments:</p>&#13;
    <ul>
<li>Edicion 5:00 PM: avaloracion deth perilh de lauegi per londeman,
valid dempús des 12:00 dera net enquias 12:00 dera net (en 7 idiòmes).</li>&#13;
      <li>Ei possible ua actualizacion coordinada as 8:00 AM: era prevision entad aguest dia,
valid dempús des 8:00 AM enquias 12:00 deth meddia (en 7 idiòmes).</li>&#13;
      <li>In principle, an assessment of avalanche danger can also be published at&#13;
        other times. As a rule, however, this is done only rarely.</li>&#13;
    </ul>
</div>&#13;
&#13;
  <section class="section-centered"><div id="contents_and_design" class="panel field border">&#13;
      <div class="panel-header">&#13;
        <h2>Contenguts e dessenh</h2>&#13;
      </div>&#13;
      <p>En iuèrn, era informacion deth bulletin de lauegi dera Euregion ei
comunicat mejançant un mapa interactiu. Se visualize tot eth contengut
segontes eth principi dera piramida dera informacion (Figura 1). Atau,
eth nivèu de perilh de lauegi represente era informacion mès importanta e
donques, apareish en prumèr lòc.</p>&#13;
&#13;
      <div><img src="/content_files/pyramid_en.png" title="Information pyramid" alt="The information pyramid leads the information flow in the Euregio Avalanche Report"></div>&#13;
&#13;
      <p class="small" style="text-align: center">Figura 1: Era piramida d'informacion condusís eth flux d'informacion ena web
deth bulletin de lauegi dera Euregion.</p>&#13;
&#13;
      <p>Mès informacion sus es problèmes de lauegi e es sòns punts de perilh,
enes ubicacions propenses as lauegi, era descripcion deth celh de nhèu o
sus era tendéncia des pròplèus dies, atau coma informacion meteorologica
solament s’anóncie enes detalhs. <br>
Enes apartats següents, eth contengut deth bulletin de lauegi dera Euregion
s’introdusissen, eth sòn dessenh diluït.</p>&#13;
&#13;
      <h3 class="normal">Perilh de lauegi e grad de perilh</h3>&#13;
      <p>Era prediccion de perilh de lauegi forme era part mès importanta deth bulletin de lauegi dera Euregion. Compren es següents:</p>&#13;
      <ul>
<li>Eth grad de perilh (opcionalment damb donades d'altituds)</li>&#13;
        <li>Un a dus (en quauqui casi encara mès) problèmes de lauegi actuaus e era sua distribucion espaciau</li>&#13;
        <li>Ua avaloracion deth perilh de lauegi</li>&#13;
        <li>Ua analisi deth celh de nhèu</li>&#13;
        <li>Tendéncia des següentes 24 a 48 ores</li>&#13;
        <li>Ligam en internet ara prevision meteorologica</li>&#13;
      </ul>
<p>Per avalorar eth nivèu de perilh de lauegi, es tres servicis de lauegi dera region europèa Tiròl - Sud-Tiròl - Trentin utilizen era <a href="/education/danger-scale">escala europèa de cinc nivèus de perilh de lauegi</a>. Ena mesura que sigue possibla ua analisi / descripcion generau de perilh, es regions publicaràn eth madeish nivèu de perilh e descriuen es madeishi problèmes de lauegi e soslinhen es madeishes orientacions mès que mès menaçades e
altituds en un mapa de perilh (Figura 2). Se pòt assignar un airau generau
damb dus nivèus de perilh diferenti damb limits de nautada diferenta designada.</p>&#13;
&#13;
      <div>&#13;
        <picture><source type="image/webp" srcset="&#13;
              /content_files/map_en-640.webp   640w,&#13;
              /content_files/map_en-1280.webp 1280w,&#13;
              /content_files/map_en-1663.webp 1663w&#13;
            "><source type="image/jpeg" srcset="&#13;
              /content_files/map_en-640.jpg   640w,&#13;
              /content_files/map_en-1280.jpg 1280w,&#13;
              /content_files/map_en-1663.jpg 1663w&#13;
            ">&#13;
          <img src="/content_files/map_en-1280.jpg" title="Danger level map for Tirol - South Tyrol - Trentino" alt="Danger level map for Tirol - South Tyrol - Trentino">&#13;
        </picture>
</div>&#13;
      <p class="small" style="text-align: center">Figura 2: vision generau des nivèus de perilh predominants ena Euroregion
Tiròl - Sud-Tiròl - Trentin. Regions ath delà des termières damb era madeisha
situacion de perilh de lauegi tanben s’includissen en analisi. En cas de
cambiaments diürni previsti ena situacion, aguesti tanben pòden èster analisadi.</p>&#13;
&#13;
      <p>En cas de cambiaments previsti en grad de perilh pendent eth cors deth
dia, s’utilizen dus mapes. Aguest doble mapa represente era situacion deth maitin
(normauments er scenari mès favorable) e era situacion dera tarde. Eth cambiament enes nivèus de perilh non ei estrictaments limitat as 12.00 deth meddia, mès
simplaments descriu eth cambiament en cors ath long deth dia. Analisis
mès precises tanben se pòden seguir ena part textuau deth bulletin de lauegi dera Euregion.</p>&#13;
&#13;
      <h3 class="normal">Problèma de lauegi</h3>&#13;
      <p>Ua region agregada pòt auer coma maximom dus <a href="/education/avalanche-problems">problèmes tipics de lauegi</a>
adscriti ada era. Son possibles es cinc problèmes següents:</p>&#13;
      <ul>
<li>Problema de nhèu recenta</li>&#13;
        <li>Wind slab problem</li>&#13;
        <li>Problema de cocha febla persistenta</li>&#13;
        <li>Problema de nhèu umida</li>&#13;
        <li>Problema de litsades basaus</li>&#13;
      </ul>
<p>Mercés as pictogrames simples e facils de compréner, en tot citar e
identificar aguesti problèmes permet qu'es lectors des bulletins formen ua imatge intuïtiva
e concisa enes sues ments basada en bulletin de lauegi dera Euregion.</p>&#13;
&#13;
      <h3 class="normal">Ubicacions propenses as lauegi</h3>&#13;
      <p>An avalanche problem is usually allocated to a specific, particularly&#13;
        endangered spatial area, defined by elevation and aspect. The elevation&#13;
        limits of the problem generally coincide with the elevation limits of&#13;
        the danger level (Figure 3). If no particular avalanche problem&#13;
        predominates (often the case at danger level 1&nbsp;–&nbsp;low) this&#13;
        information is omitted and a favourable avalanche situation is declared.&#13;
        <br>&#13;
        The avalanche prone locations where a given avalanche problem prevails&#13;
        are delineated by the aspect and the elevation limits. The blue-marked&#13;
        segments of a wind rose are indicators of those aspects. The elevation&#13;
        can be indicated by a specific borderline or border zone. Apart from&#13;
        that, the altitude above sea level generally follows as a written number&#13;
        or the term “treeline” accompanied by a visual depiction with arrows&#13;
        pointing in the appropriate direction.</p>&#13;
&#13;
      <div><img src="/content_files/info_en.png" title="Danger overview" alt="Detailed overview of danger levels and avalanche problems including their corresponding danger zones (aspect and elevation)"></div>&#13;
&#13;
      <p class="small" style="text-align: center">Figura 3: Vista generau detalhada des nivèus de perilh e des problèmes de lauegi
includidi enes zònes de perilh corresponentes (orientacion e nautada).</p>&#13;
&#13;
      <h3 class="normal">Avaloracion deth perilh de lauegi</h3>&#13;
      <p>Entà cada region d’alèrte deth mapa i a ua avaloracion especifica de
perilh de lauegi en aguesta region (Figura 4). Aguesta avaloracion includís
detalhs sus era probabilitat de desencadenament de lauegi, era mida demorada de lauegi
e era extension des lòcs propensos a lauegi. Quan serà de besonh, se proporcionen indicacions e recomanacions entà grops d'usatgèrs especifics.
<br>
Ena conclusion dera avaloracion deth perilh, tanben se provedís informacion addicionau as usatgèrs, per exemple, d'autes possibles hònts de risc o
desvolopament deth temps mès que mès desfavorable.</p>&#13;
&#13;
      <h3 class="normal">Celh de nhèu</h3>&#13;
      <p>Entà cada region d’alèrte deth mapa i a ua analisi deth celh de nhèu
(Figura 4). Era estructura deth celh de nhèu ei un factor important ena formacion
de lauegi. Era analisi ei generau, per nòrma generau, era estructura e estabilitat principau deth celh de nhèu ..</p>&#13;
      <p>Era estructura deth celh de nhèu se definís pera superposicion de coches de nhèu e
es caracteristiques estructuraus de cada cacha individuau, ei a díder, eth tipe de cristalh, era mida de gra, era duretat. Era estabilitat deth celh de nhèu tend a proporcionar ua
mesura dera probabilitat de desencadenament. Era suporposicion de coches de nhèu determine era estabilitat deth celh de nhèu.</p>&#13;
      <p>En aguest apartat se pòden descríuer es lauegi observadi.</p>&#13;
&#13;
      <div><img src="/content_files/info2_en.png" title="Danger assessment and snowpack analysis" alt="Danger assessment and snowpack analysis are provided as a&#13;
          text. They form the lower part of the Information Pyramid. In addition,&#13;
          information about the predominant danger pattern and the immediate&#13;
          outlook is also provided."></div>&#13;
&#13;
      <p class="small" style="text-align: center">Figura 4: se proporcione ua avaloracion deth perilh e un analisi deth celh de nhèu
coma tèxte. Formen era part inferiora dera piramida dera informacion. Ath delà,
tanben se proporcione informacion sus eth patron de perilh predominant e perspectiva immediata.</p>&#13;
&#13;
      <p>Per dessús era analisi detalhada deth celh de nhèu, es <a href="/education/danger-patterns">patrons de perilh</a> adequadi
son assignadi as problèmes de lauegi. Se pòden veir coma
amplificacions des problèmes de lauegi. Designen detz situacions principaus
e recurrentes que condusissen freqüentment as accidents de lauegi.</p>&#13;
&#13;
      <h3 class="normal">Tendéncia</h3>&#13;
      <p>A compdar dera prevision de temps per dus dies, era tendéncia aproximada
deth perilh de lauegi, qu'includís eth darrèr dia de vigéncia deth bulletin, ei estimada.</p>&#13;
&#13;
      <h3 class="normal">Meteo</h3>&#13;
      <p>Entàs condicions meteorologiques previstes, mos referim ara informacion
proporcionada pes Servicis Meteorologics des províncies Bozen - Sud-Tiròl
e Trentin e es previsions provedides peth Servici Meteorologic ZAMG
d'Innsbruck.</p>&#13;
&#13;
      <h3 class="normal">Regions d’alèrte flexibles</h3>&#13;
      <p>Entà acorropar es regions a on preval eth madeish nivèu de perilh,
s'an definit 70 micro-regions en foncion dera nhèu / climatologia
ena region europèa Tiròl - Sud-Tiròl - Trentin.
Damb aguestes micro-regions, se definissen de manèra flexible granes regions d’alèrte damb eth madeish perilh de lauegi avalorat.</p>&#13;
      <p>Damb aguesta intencion, Tiròl se dividís en 29, Sud-Tiròl en 20
e Trentin en 21 micro regions. Se definissen aguestes micro-regions per designacions
especifiques e acceptades. Se mòstren ara Figura 5. A part deth nòm, cada micro-region tanben li a assignat un numèro de còdi (vèir Taula 1).</p>&#13;
&#13;
      <table style="width: 100%; border: 0px solid #000; text-align: center"><tbody><tr>
<td>&#13;
              <picture><source type="image/webp" srcset="&#13;
                    /content_files/regions_en-640.webp 640w,&#13;
                    /content_files/regions_en-741.webp 741w&#13;
                  "><source type="image/jpeg" srcset="&#13;
                    /content_files/regions_en-640.jpg 640w,&#13;
                    /content_files/regions_en-741.jpg 741w&#13;
                  ">&#13;
                <img src="/content_files/regions_en-640.jpg" title="Region map" alt="The 70 micro regions of the European region Tirol – South Tyrol – Trentino">&#13;
              </picture>
</td>&#13;
          </tr></tbody></table>
<p class="small" style="text-align: center">Figure 5: The 70 micro regions of the European region Tirol – South&#13;
        Tyrol – Trentino, including clear designation of their respective names&#13;
        (see Table 1)</p>&#13;
&#13;
      <regionstables></regionstables>
</div>&#13;
&#13;
    <section class="section-centered"><div id="basis" class="panel field border">&#13;
        <div class="panel-header">&#13;
          <h2>Bases dera avaloracion</h2>&#13;
        </div>&#13;
        <p>Era alèrte de lauegi a ua ampla varietat de donades ara disposicion
entà fins dera avaloracion deth perilh de lauegi (Figura 6). Aguesta informacion
vàrie dempús de mesures, observacions, avaloracions in situ cap as resultats des modèus informatics. Solament era coalescència finau de totes aguestes donades permeten generar ua prediccion fiabla de perilh de lauegi ath miei de situacions fòrça variades.</p>&#13;
&#13;
        <div>&#13;
          <picture><source type="image/webp" srcset="&#13;
                /content_files/illustration_en-640.webp   640w,&#13;
                /content_files/illustration_en-1280.webp 1280w,&#13;
                /content_files/illustration_en-1920.webp 1920w,&#13;
                /content_files/illustration_en-2560.webp 2560w,&#13;
                /content_files/illustration_en-3200.webp 3200w,&#13;
                /content_files/illustration_en-3860.webp 3860w&#13;
              "><source type="image/jpeg" srcset="&#13;
                /content_files/illustration_en-640.jpg   640w,&#13;
                /content_files/illustration_en-1280.jpg 1280w,&#13;
                /content_files/illustration_en-1920.jpg 1920w,&#13;
                /content_files/illustration_en-2560.jpg 2560w,&#13;
                /content_files/illustration_en-3200.jpg 3200w,&#13;
                /content_files/illustration_en-3860.jpg 3860w&#13;
              ">&#13;
            <img src="/content_files/illustration_en.png" title="Data sources" alt="Data from weather stations and feedback from local and&#13;
              mobile observers, as well as private persons on the current avalanche&#13;
              situation provide the basis for the avalanche forecast">&#13;
          </picture>
</div>&#13;
        <p class="small" style="text-align: center">Figura 6: donades des estacions meteorologiques e comentaris de locaus e observadors, atau coma persones privades sus era situacion de lauegi actuau, ei era basa entara prediccion de lauegi. Eth bulletin de lauegi dera Euregion se pòt arrecéber a trauès d’Internet, corrèu electronic, servicis de mobil, ràdio, TV e supòrts estampadi.</p>&#13;
&#13;
        <h3 class="normal">Mesures</h3>&#13;
        <p>Entà elaborar un informe de lauegi, es servicis d'alèrte de lauegi opèren un ample hilat <a href="/weather/stations">d'estacions de mesura automatizades</a> per tota era region europèa Tiròl - Sud-Tiròl - Trentin. Eri presumissen deth hilat mès dens d’estacions de mesura aupines nautes deth
mon disponible entà analisi. Es mesures des estacions de mesura automatizades
son disponibles entath public en generau en tot consultar a trauès d'Internet per forma de taules e grafics ath menu <a href="/weather/map/new-snow">Nhèu e temps</a>.</p>&#13;
&#13;
        <h3 class="normal">Observacions e avaloracions</h3>&#13;
        <p>Per obtíer ua avaloracion fiabla deth perilh de lauegi, es servicis d'alèrte de lauegi requerissen informacion actuau sus granes estendudes de
terren de montanha. Entad aguesta intencion, es tres servicis de lauegi dera Euroregion Tiròl - Sud-Tiròl - Trentin tanben mantien eth sòn pròpri hilat d’observadors. En tot depéner dera situacion donada, s'arrecuelhen donades fòrça diuèrses, p.ex. estimacions de nhèu recènta e nhèu ventada, senhaus d'alarma observades e lauegi desencadenadi, amassa damb es avaloracions personaus de perilh de lauegi.</p>&#13;
        <p>Es comissions de lauegi, autoritats de seguretat locaus, organizacions de rescat, policia e, per darrèr, non aumens, es recreatius proporcionen informacion addicionau. En aguest sens, informes sus lauegi, qu'an estat produsidi e provocadi per persones, e
era activitat generau de lauegi a ua importància especiau. Important:
Tanben lauegi damb persones implicades mès non enterrades ena nhèu
o herits, les cau èster informadi as autoritats tanlèu coma sigue possibla
dempús deth lauet liberat entà evitar ua recèrca innecessària de rescat laboriós e intensiu. Ath delà, informacion sus era superfícia actuau de nhèu, per exemple graupel, geladiua de superfícia, còtes de precipitacions / nheuades, eca., proporcionen pistes decisives sus era zòna enquia quin punt era superfícia contunhe de menaçar coma cocha fèbla e
en darrèra instància, apoiridie comportar un cambiament en nivèu de perilh. Aguesti indicadors s'arrecuelhen en bulletin de lauegi dera Euregion, categoritzat
e apuntat geogràficament. Coma mès detalhs se hèsque ua observacion, mès contribuís a ua corrècta avaloracion de perilh de lauegi ar informe de lauegi dera Euregion.</p>&#13;
        <p>En toti es supòsits les cau proporcionar es següents paramètres,
entièraments ath marge de quina avaloracion generau que sigue:</p>&#13;
        <ul>
<li>Ubicacion (se non se pòt especificar, eth punt fix mès pròplèu coneishut)</li>&#13;
          <li>Altitud o zòna d’altitud</li>&#13;
          <li>Orientacion</li>&#13;
          <li>Grad d'inclinacion</li>&#13;
        </ul>
<p>Proporcionar es coordenades geografiques e imatges hè possibla ua avaloracion
mès precisa deth perilh de lauegi, mès non ei aguesta prioritat maximala.</p>&#13;
&#13;
        <h3 class="normal">Observaires estacionaris</h3>&#13;
        <p>Bèi uns des observaires deth bulletin de lauegi dera Euregion son estacionaris.
Denóncien lauegi o signes de perilh e les provedissen freqüentment
avaloracion personau deth perilh de lauegi actuau. S'ei possible, eri
hent un informe cada dia pendent tota er iuèrn, en tot assegurar d’aguesta manèra basica
cobertura e subministrament informatiu. Aguesti informes se realizen entre es 6:00
e as 8:00 o ath meddia.</p>&#13;
&#13;
        <h3 class="normal">Observaires mobils</h3>&#13;
        <p>Bèi uns des observaires son entièraments mobils per totes es montanhes
dera region europèa Tiròl - Sud-Tiròl - Trentin. Denóncien
cada viatge qu'agen informacion interessanta o considerabla dempús de quin lòc que sigue. Aguesti informes se pòden enviar as servicis d'alèrte de lauegi mejançant servicis de missatgeria o enviadi per corrèu electronic dirèctaments as servicis d'alèrte de lauegi. Ath delà, tanben i a guides de montanha qu'hen informes mejançant era aplicacion de telefonia mobila NATLEFS (non publics) e mos envien es sues observacions e avaloracions.<br>
Com qu'era region europèa Tiròl - Sud-Tiròl - Trentin ei tan vasta,
e es diferéncies regionaus tan granes qu'es observaires oficiaus non pòden
capturar bèth còp tota era situacion. Per açò, es alèrtes de lauegi
tanben depenen des informes de persones privades. Mos agradarie
entà esténer un deute d’arregraïment a toti aqueri que mos an assistit
es sues observacions e informes. Ath madeish temps, mos agradarie
animar-les a contunhar en tot dar-mos es sues impressions personaus (per detalhs,
vèir Observacions e avaloracions).</p>&#13;
&#13;
        <h3 class="normal">Desencadenaments de lauegi</h3>&#13;
        <p>Ath marge deth desencadenament de lauegi, que s'observèren, es accidents de lauegih botàs son tanben reportadi enes centres de coordinacion e rescat. Ath delà, tanben compden damb es servicis d’alèrte de lauegi que dispòsen de mapes de lauegi de diuèrsi airaus d’esquí, coma tanben es donades des sistèmes automatitzadi de deteccion de lauegi. Informes sus es desencadenaments de lauegi tanben se pòden registrar per part de persones privades en tot enregistrar-se ara <a href="https://www.lawis.at/incident/?lang=en">pagina web de LAWIS</a>.</p>&#13;
      </div>&#13;
&#13;
      <section class="section-centered"><div id="possibilities_and_limits" class="panel field border">&#13;
          <div class="panel-header">&#13;
            <h2>Possibilitats e limits deth bulletin de lauegi dera Euregion</h2>&#13;
          </div>&#13;
          <p>Eth bulletin de lauegi dera Euregion conten ua prediccion de perilh de lauegi. Se tròbe ena natura de totes es previsions que se restaquen
entà fòrça incertituds e, donques, s'apoiridie demostrar infundada. Es
Servicis d'Alèrte de Lauegi dera region europèa Tiròl - Sud-Tiròl - Trentin hèn toti es esfòrci entà hèr es contenguts e informacion proporcionada entara prediccion de lauegi tan complèta coma corrècte serà possible. Totun, eri non pòden assumir cap responsabilitat pera
correccion o exhaustivitat des contenguts e informacion provedida.</p>&#13;
          <p>Eth perilh de lauegi signifique perilh entara vida e es extremitats. Er usatge dera informacion
proporcionada pes Servicis d'Alèrte de Lauegi dera region europèa Tiròl - Sud-Tiròl - Trentin de cap manèra, non se absolve quina persona que sigue qu'age era responsabilitat personau de hèr era avaloracion dera situacion de lauegi e eth comportament en tot concordar damb aguesta avaloracion.</p>&#13;
&#13;
          <h3 class="normal">Encastre d’aplicacion</h3>&#13;
          <p>En bulletin de lauegi dera Euregion, solament se descriuen es condicions deth terren on se tròbe laguens dera region europèa Tiròl - Sud-Tiròl - Trentin (Figura 5 e Taula 1). </p>&#13;
&#13;
          <h3 class="normal">Avaloracion independenta</h3>&#13;
          <p>Es avaloracions deth bulletin de lauegi dera Euregion son generaus, ei a díder, qu'es condicions locaus especifiques non se rebaten enes prediccions,
entà non díder arren des condicions d'ua pala especifica dera montanha. Era
connexion entre nivèus de perilh valid a nivèu regionau, era possibla activitat de lauegi e conseqüéncies corresponentes, includides es mesures a adoptar, les cau èster realizades pes usatgèrs deth bulletin dera Euregion mejançant avaloracion in situ. En aguesta avaloracion, es recreatius e es autoritats de seguretat les cau aplicar
experiéncia pròpria e metòdes d'avaloracion coma ajudes de supòrt.
Cau includir açò ena coneishença deth temps locau, era analisi deth celh de nhèu e  observacions de lauegi, estudi de mapes, judicis personaus in situ d’un versant de montanha determinat, ath long d’ues consideracions de risc pròpri. A viatges, es autoritats de seguretat
dispausen des resultats de desencadenaments de lauegi artificiaus disponibles
entàs avaloracions. En cada decision individuau, tota era informacion disponible
cau tier en compde. Informacion que porte ara conclusion que es condicions inestables prevalen cau donar especiau importància.</p>&#13;
&#13;
          <h3 class="normal">Precision de donades en prediccions de lauegi</h3>&#13;
          <p>Es prediccions deth bulletin de lauegi dera Euregion, similares as d'auti
avertiments de desastres naturaus, p. aiguats,
tèrratrems, litsades de ròques, erupcions volcàniques, tornados, tsunamis,
eca. se basen enes leis dera probabilitat. De hèt, a causa dera nòsta
coneishença incomplèta de tota era distribucion geografica, espaciau e
terminis deth temps e, en conseqüéncia, dera estructura deth celh de nhèu, ua prediccion deth perilh de lauegi ei per definicion incèrta. Per dessús e per dejós, es perilhs derivadi
des lauegi pòden resultar èster fòrça diuèrsi, quitament laguens d’un
nivèu de perilh indicat.</p>&#13;
          <p>Es disparitats entre era prediccion generau de lauegi actuau e era situacion in situ tanben ei restacada damb era difusion geografica deth nivèu de perilh (Figura 7) e es sòns limits d’elevacion.</p>&#13;
&#13;
          <div>&#13;
            <picture><source type="image/webp" srcset="&#13;
                  /content_files/dangerscale_map_en-640.webp 640w,&#13;
                  /content_files/dangerscale_map_en-997.webp 997w&#13;
                "><source type="image/jpeg" srcset="&#13;
                  /content_files/dangerscale_map_en-640.jpg 640w,&#13;
                  /content_files/dangerscale_map_en-997.jpg 997w&#13;
                ">&#13;
              <img src="/content_files/dangerscale_map_en-640.jpg" title="Dangerscale map" alt="Map of the danger scale in parts of the Euregio">&#13;
            </picture>
</div>&#13;
          <p class="small" style="text-align: center">Figura 7: Eth perilh de lauegi vàrie particularaments ara linha de termièra
des regions d'alèrte q'avalorèren de manèra diferenta, atau coma se mòstre en tèxte anterior
d'exemple ath costat de Tiròl e Sud-Tiròl.</p>&#13;
&#13;
          <p>De manèra autonòma, informacion sus era ubicacion e era difusion d’ua
donada zòna de perilh, ei a díder, orientacion e nautada, tanben pòt variar
coma se represente ara figura 8. Divergéncies mès que mès enes limits des
regions d’alèrte requerissen ua avaloracion in situ e ua conducta personau
se li cau decidir, que correspone ad aguesta avaloracion.</p>&#13;
&#13;
          <div><img src="/content_files/danger_icons.png" title="Icons for avalanche prone locations" alt="Icons defining the elevation and aspect of avalanche prone locations"></div>&#13;
          <p class="small" style="text-align: center">Figura 8: En realitat, eth grad assignat de perilh prevalent, atau coma era orientacion e nautada d’ubicacions propenses as lauegi, pòden
desestacarse facilaments dera informacion publicada ena prediccion de lauegi.</p>&#13;
&#13;
          <p>Generauments, i a mens informacion disponibla entàs regions aupines nautes
(&gt;3000m) que per altituds baishes (&lt;1000m), intermediàries
(&gt;1000m) e nautes (&gt;2000m). Conseqüentment,
totes es declaracions sus es regions nautes aupines an de besonh mès informacion entara avaloracion e verificacion. Tanben quan ei era situacion meteorologica
que càmbie rapidaments, sustot un examen minuciós dera situacion ei de besonh, donques qu'eth bulletin de lauegi dera Euregion non pòt rebàter cambiaments geografics e imprevisibles restacadi damb eth perilh de lauegi per nòrma generau.</p>&#13;
        </div>&#13;
&#13;
        <section class="section-centered"><div id="products_and_channels" class="panel field border">&#13;
            <div class="panel-header">&#13;
              <h2>Productes e canaus d'informacion</h2>&#13;
            </div>&#13;
            <p>A l’iuèrn, eth bulletin de lauegi dera Euregion cònste d’ua forma interactiva
mapa, que se publique jornalièraments. Ara sason baisha non i a cap mapa de perilh
publicat ath bulletin de lauegi dera Euregion. Dehòa de sason,
se descriu era situacion de perilh de lauegi e celh de nhèu en nòste<a href="/blog">blòg</a>.</p>&#13;
            <p>Eth bulletin de lauegi dera Euregion e eth contengut intèrne deth nòste
eth lòc web ei publicat en 7 idiòmes.</p>&#13;
&#13;
            <h3 class="normal">Lòc web interactiu</h3>&#13;
            <p>Podetz consultar etyh bulletin de lauegi interactiu dera Euregion en
Internet Coma qu'eth dessenh deth lòc web se base ena entrada des usatgèrs, òc
se pòt consultar non solaments a un ordenador d’escriptori, mès tanben a dispositius
mobils de pòcha, p.ex. smartphones, tauletes, eca.
Es representacions qu'apareishen s'adapten, per descompdat, ath dispositiu
en tot èster utilizat.</p>&#13;
            <p>Entà mès informacion sus era avaloracion deth perilh de lauegi
laguens d'ua determinada micro-region, er usatgèr hè zoom in o out dessús eth
<a href="/bulletin/latest">mapa interactiu de perilh</a>. En tot botjar eth ratolí dessús eth mapa, se genère era composicion dera region d’alèrte damb detalh. Hèr clic ar avís corresponent dera
region, sus ua hièstra addicionau damb informacion damb nautada mès precisa
susu eth lòc que s'aplique eth nivèu de perilh coma es problèmes de lauegi predominanti. Hèr clic a DETALHS, ua elucidacion mès precisa deth perilh de lauegi, p.ex. orientacions e nautades a on prevalen es problèmes de lauegi, avaloracion deth perilh, descripcion e perspectiva deth celh de nhèu apareish en forme de tèxte.</p>&#13;
&#13;
            <h3 class="normal">Version estampada</h3>&#13;
            <p>Parallèlaments eth bulletin de lauegi dera Euregion en Internet
tanben ua version estampada disponibla coma fichèr PDF. Aguesta version,
includitz es possibles actualizacions, se publique ath madeish temps qu'eth document
en linha. Eth sòn contengut ei identic.
<br>
Entà per'mor de que eth fichèr PDF se pogue descargar e estampar, cau hèr clic ath boton PDF. Alavetz se pòt seleccionar tota era region europèa o simplaments Tiròl o Sud-Tiròl o Trentin. Ath delà, se pòt activar era descarga en color o en nere/blanc.</p>&#13;
&#13;
            <h3 class="normal">Blòg</h3>&#13;
            <p>Eth <a href="/blog">blòc oficiau</a>
deth bulletin de lauegi dera Euregion se pòt consultar ath lòc web.
Dehòra des oraris abituaus de publicacion (entà mès detalhs, veir ores de publicacion e de vigéncia) tanben conten toti era informacion relativa ara situacion de lauegi.
<br>
Pendent era sason d'iuèrn, es Servicis d'Alèrte de Lauegi dera region europèa Tiròl - Sud-Tiròl - Trentin normauments tanben publiquen detalhs addicionaus sus eth celh de nhèu,
era situacion en tot resultar de lauegi e era activitat de lauegi que s'an liberat, i auesse o non persones implicades, includida era infrastructura qu'apoiridie auer estat afectada. Aguesti blòcs servissen entà completar e arrodonir eth bulletin de lauegi dera Euregion.
Maugrat açò, no la substituïssen.</p>&#13;
&#13;
            <h3 class="normal">Productes addicionaus</h3>&#13;
            <p>A part deth bulletin de lauegi dera Euregion en Internet, era
version estampada e era informacion addicionau en blòc, es Servicis d'Alèrte de Lauegi dera region europèa Tiròl - Sud-Tiròl - Trentin tanben aufrissen productes addicionaus, coma
<a href="/weather/map/new-snow">Mapes de nhèu e temps</a>,
informacion sus es
<a href="https://www.lawis.at/profile/?lang=en">perfils de nhèu</a> 
e <a href="/weather/stations">grafics des d'estacions meteorologiques</a>.</p>&#13;
&#13;
            <h3 class="normal">Corrèu electronic</h3>&#13;
            <p>Es usatgèrs se pòden soscríuer entà arrecéber automaticaments eth bulletin de lauegi dera Euregion per corrèu electronic. A cada naua publicacion (jornalièra o sense avertir)
o actualizacion deth bulletin de lauegi dera Euregion, eth destinatari ei notificat per corrèu electronic.</p>&#13;
&#13;
            <h3 class="normal">Servicis Messenger</h3>&#13;
            <p>Tanben ei possible arrecéber automaticaments eth bulletin de lauegi dera Euregion
a trauès de diuèrsi servicis de missatgeria per subscripció. A cada naua publicacion (jornalièra o sense avertir) o actualizacion deth bulletin de lauegi dera Euregion, se li notifique ath soscriptor. Actuauments ei possible subscriure's ath bulletin de lauegi dera Euregion a trauès de Push e Telegram.</p>&#13;
&#13;
            <h3 class="normal">"Lawine Tirol-App"</h3>&#13;
            <p>Ath delà deth lòc web, tanben i a ua aplicacion damb diuèrses
foncions addicionaus entà utilizar en terren. Aguesta aplicacion ei
gratuïtaments entà dispositius Android e Apple. Ei disponible enes botigues d’aplicacions adequades. A part dera informacion que se pòt consultar, era Lawine Tirol-App tanben a
estruments entà informar des observacions, entà mesurar era inclinacion,
orientacion e altitud d'ua pala, atau coma diuèrses listes de contraròtle entà
planificar ua rota. Ath delà d’açò, tanben se pòt hèr ua trucada d’emergéncia
enviada dirèctaments dempús dera aplicacion.</p>&#13;
&#13;
            <h3 class="normal">Radio</h3>&#13;
            <p>Tiròl: jornalièraments as 5:00 PM se met a disposicion ua nòta entà ua varietat de supòrts qu'apareish era descripcion deth perilh de lauegi entath següent dia.</p>&#13;
            <p>Sud-Tiròl: Cada diuendres pera tarde, se genère ua nòta de votz
que se met a disposicion de totes es emissores de ràdio deth Sud-Tiròl e
descriu era situacion de lauegi dera dimenjada. A causa dera
validesa limitada, solament se pòt enviar e/o arrecéber entre diuendres as 4:30 PM e dissabte as 10:00 AM.</p>&#13;
            <p>Trentin: entara província de Trentin, actuauments non i a cap
servici comparable.</p>&#13;
&#13;
            <h3 class="normal">Supòrts estampadi</h3>&#13;
            <p>Sud Tiròl: en jornau Dolomiten, ua brèu prediccion deth
nivèu de perilh se publique jornalièraments damb indicacions de detalhs
que se tròbe en Internet.</p>&#13;
            <p>Tiròl e Trentin: actuauments a cap des dues regions europèes
i a bulletins periodics de perilh de lauegi publicadi en supòrts estampadi, trèt qu’aumente eth perilh de lauegi.</p>&#13;
&#13;
            <h3 class="normal">programes TV</h3>&#13;
            <p>As notícies regionaus Tiròl heute e Südtirol heute
(ORF2), era situacion de lauegi se transmet pòc dempús des
notícies respectives estataus/provinciaus. Açò se produsís de manèra irregulara, era majoria
soent es diuendres, esporàdicament tanben es auti dies, sustot quan s’aumente eth perilh de lauegi.</p>&#13;
          </div>&#13;
        </section></section></section></section></section><section classname="section-centered section-context"><div classname="panel">&#13;
    <h2 classname="subheader">Educacion; Prevencion</h2>&#13;
&#13;
    <ul classname="list-inline list-buttongroup-dense">
<li><a classname="secondary pure-button" href="/education/danger-scale" title="Danger Scale">Escala de perilh</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-problems" title="Avalanche Problems">Problèmes de lauegi</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/matrix" title="EAWS Matrix">Mairitz EAWS</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/avalanche-sizes" title="Avalanche Sizes">Mides de lauegi</a></li>&#13;
      <li><a classname="secondary pure-button" href="/education/danger-patterns" title="Danger Patterns">Patrons de perilh</a></li>&#13;
    </ul>
</div>&#13;
</section>
</div>
