<div>
<h1>Príručka</h1>

<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#general" title="General Information" class="secondary pure-button" data-scroll>Všeobecné informácie</a></li>
      <li><a href="#contents_and_design" title="Contents &amp; Design" class="secondary pure-button" data-scroll>Obsah &amp; dizajn</a></li>
      <li><a href="#basis" title="Basis of Assessment" class="secondary pure-button" data-scroll>Základ hodnotenia</a></li>
      <li><a href="#possibilities_and_limits" title="Possibilities &amp; Limits" class="secondary pure-button" data-scroll>Možnosti &amp; obmedzenia</a></li>
      <li><a href="#products_and_channels" title="Products &amp; Information Channels" class="secondary pure-button" data-scroll>Produkty a informačné kanály</a></li>
    </ul></header></section>
<section class="section-centered">
  <div id="general" class="panel field border">
    <div class="panel-header">
      <h2>Všeobecné informácie</h2>
    </div>

    <h3 class="normal">Lavínový bulletin</h3>

    <p>Stredisko lavínovej prevencie Horskej záchrannej služby vydáva stupeň lavínového nebezpečenstva a rôzne doplnkové produkty prostredníctvom lavínového bulletinu. Spolu s ďalšími troma lavínovými výstražnými službami (Tirolska, Južného Tirolska a Trentina) sa tak jedná o jedinečný univerzálny ucelený koncept jednotného získavania informácií. 
Lavínový bulletin obsahuje krátkodobú analýzu lavínového nebezpečenstva a tendenciu jeho vývoja. Táto správa má formu varovania. Uverejňuje sa minimálne raz denne počas zimnej sezóny vždy od 1.12 do 31.4 daného kalendárneho roka. Obsahuje predpoveď lavínového nebezpečenstva pre všetky zóny a ich časti v rámci Slovenských pohorí – konkrétne pre Nízke Tatry (východ, západ), Západné Tatry, Vysoké Tatry (východ, západ), Veľkú Fatru a Malú Fatru. Správa obsahuje aj ďalšie údaje týkajúce sa vývoja počasia a štruktúry snehovej pokrývky, ktoré poskytujú presnejší a hlbší obraz o aktuálnej a blížiacej sa situácii a slúžia aj ako podklad pre individuálne posúdenie a rozhodnutia. Informácie v lavínovom bulletine nemôžu nahradiť správne rozhodovanie na konkrétnom mieste.
Obsah a forma lavínového bulletinuzodpovedajú platným normám a usmerneniam <a href="https://www.avalanches.org/">Asociácie európskych lavínových varovných služieb (EAWS)</a>.


</p>

    <h3 class="normal">Cieľová skupina</h3>
    <p>Lavínový bulletin je určený všetkým ľuďom, ktorí sa v zime profesionálne alebo rekreačne pohybujú v horách a sú vystavení lavínovému nebezpečenstvu, alebo tým, ktorí sú zodpovední za bezpečnosť iných.</p>

    <h3 class="normal">Čas uverejnenia a platnosť</h3>

    <p>Počas letnej sezóny, a teda aj v prípade výnimočného silného sneženia v lete, je zvyčajne 
      k dispozícii nedostatok informácií o vrstvení snehovej pokrývky a prevládajúcej lavínovej situácii. 
      V tomto období sa nevydáva stupeň lavínového nebezpečenstva. V takýchto prípadoch informuje Stredisko 
      lavínovej prevencie o nebezpečenstve 
      <a href="https://blog.laviny.sk" target="_blank">prostredníctvom blogových príspevkov</a>. 
      Tie obsahujú podrobnosti o aktuálnom a blížiacom sa vývoji snehovej situácie, ako aj o lavínovom nebezpečenstve, ktoré môže pretrvávať aj niekoľko dní.

    <p>V zimnom období (1.12 – 30.4) sa lavínový bulletin zverejňuje minimálne raz denne s dennou periodicitou a to:</p>
    <ul>
<li>Predpoveď na nasledujúci deň - vydané o 17:00: vydaný stupeň lavínového nebezpečenstva na nasledujúci deň, ktorý je platný od polnoci do 24:00 (v 2 jazykoch).</li>
      <li>Koordinovaná aktualizácia je možná v daný konkrétny deň od 7:00: v prípade nutnosti aktualizácie lavínovej predpovede, najčastejšie z dôsledku nečakanej zmeny vývoja počasia</li>
      <li>Vo výnimočných prípadoch sa lavínový bulletin zverejňuje aj v inom čase ako v horeuvedených prípadoch.</li>
    </ul>
</div>
  </section>
  <section class="section-centered"><div id="contents_and_design" class="panel field border">
      <div class="panel-header">
        <h2>Obsah &amp; dizajn</h2>
      </div>
      <p>Počas zimnej sezóny sa informácie z lavínového bulletinu sprostredkúvajú prostredníctvom interaktívnej mapy. Všetok obsah sa zobrazuje podľa princípu informačnej pyramídy (obrázok 1). Stupeň lavínového nebezpečenstva tak predstavuje najdôležitejšiu informáciu, a preto je uvedený ako prvý.</p>

      <div><img src="/content_files/pyramid_sk.png" title="Information pyramid" alt="Informačná pyramída predstavuje tok informácií v lavínovom bulletine"></div>

      <p class="small" style="text-align: center">Obrázok 1: Informačná pyramída predstavuje tok informácií v lavínovom bulletine</p>

      <p>Ďalšie informácie o lavínových problémoch, lokalitách, popise snehovej pokrývky alebo o tendencii vývoja lavínového nebezpečenstva, ako aj informácie o počasí sa uvádzajú v ďalších častiach lavínovej správy.<br>
V nasledujúcich častiach je predstavený obsah lavínového bulletinu a jeho skladba :</p>

      <h3 class="normal">Stupeň lavínového nebezpečenstva</h3>
      <p>Predpoveď lavínového nebezpečenstva tvorí najdôležitejšiu časť lavínového bulletinu. Zahŕňa nasledujúce položky:</p>
      <ul>
<li>stupeň lavínového nebezpečenstva (voliteľne s údajmi o nadmorskej výške)</li>
        <li>jeden alebo dva (vo výnimočných prípadoch aj viac) aktuálne lavínové problémy a ich priestorové rozloženie</li>
        <li>hodnotenie lavínového nebezpečenstva</li>
        <li>analýzu snehovej pokrývky</li>
        <li>tendencia na nasledujúcich 24hodín</li>
        <li>Internetový odkaz na predpoveď počasia</li>
      </ul>
<p>Na stanovenie lavínového ohrozenia sa používa päťstupňová európska stupnica lavínového nebezpečenstva. 
  Pokiaľ je možná celková analýza/popis nebezpečenstva, regióny zverejnia rovnaký stupeň nebezpečenstva, 
  popíšu rovnaké lavínové problémy a na mape nebezpečenstva poukážu na rovnaké obzvlášť ohrozené orient8cie a výšky (obrázok 2).

Jednej celkovej oblasti môžu byť pridelené dva rôzne stupne ohrozenia s vyznačenými rôznymi výškovými hranicami.</p>

      <div>
        <picture><source type="image/webp" srcset="
              /content_files/map_sk-640.webp   640w,
              /content_files/map_sk-1280.webp 1280w,
              /content_files/map_sk-1663.webp 1663w
            "><source type="image/jpeg" srcset="
              /content_files/map_sk-640.jpg   640w,
              /content_files/map_sk-1280.jpg 1280w,
              /content_files/map_sk-1663.jpg 1663w
            ">
          <img src="/content_files/map_sk-1280.jpg" title="Prehľad zobrazenia stupňov lavínového nebezpečenstva v európskom regióne Slovensko – Vysoké Tatry, Západné Tatry, Nízke Tatry, Malá a Veľká Fatra. " alt="Prehľad zobrazenia stupňov lavínového nebezpečenstva v európskom regióne Slovensko – Vysoké Tatry, Západné Tatry, Nízke Tatry, Malá a Veľká Fatra. ">
        </picture>
</div>
      <p class="small" style="text-align: center">Obrázok 2: Prehľad zobrazenia stupňov lavínového nebezpečenstva v európskom regióne Slovensko – Vysoké Tatry, Západné Tatry, Nízke Tatry, Malá a Veľká Fatra. </p>

      <p>V prípade predpokladaných zmien stupňa lavínového nebezpečenstva v priebehu dňa sa používajú dve mapy. Táto dvojitá mapa zobrazuje rannú situáciu (zvyčajne priaznivejší scenár) a popoludňajšiu situáciu. Zmena stupňa lavínového nebezpečenstva nie je striktne obmedzená na 12:00, ale jednoducho opisuje prebiehajúcu zmenu v priebehu dňa. Presnejší popis situácie si verejnosť môže prečítať v textovej časti lavínového bulletinu.</p>

      <h3 class="normal">Typický lavínový problém</h3>
      <p>Jednotlivá oblasť so stanoveným lavínovým stupňom môže mať priradené maximálne dva typické lavínové problémy. Možných je nasledujúcich päť problémov:</p>
      <ul>
<li>Nový sneh</li>
        <li>Vetrom previaty sneh</li>
        <li>Pretrvávajúca slabá vrstva</li>
        <li>Mokrý sneh</li>
        <li>Kĺzavý sneh</li>
      </ul>
<p>Cieľom lavínových problémov je vytvorenie si intuitívneho a rýchleho obrazu o aktuálnej situácii už z pohľadu na ľahko pochopiteľné piktogramy.</p>

      <h3 class="normal">Zvýraznené lokality </h3>
      <p>Lavínový problém sa zvyčajne priraďuje k určitej, obzvlášť ohrozenej oblasti, ktorá je vymedzená nadmorskou výškou a expozíciou. Výškové hranice problému sa spravidla zhodujú s výškovými hranicami stupňa lavínového nebezpečenstva (obrázok 3). Ak neprevláda žiadny konkrétny lavínový problém (často pri stupni lavínového nebezpečenstva 1 - nízky), tak sa táto informácia vynecháva a vyhlasuje sa priaznivá lavínová situácia.
Miesta s lavínovým nebezpečenstvom, kde prevláda daný lavínový problém, sú vymedzené expozíciou a výškovými hranicami. Modro vyznačené segmenty veternej ružice sú indikátormi týchto expozícií. Nadmorská výška môže byť označená špecifickou hraničnou čiarou alebo hraničnou zónou. Nadmorská výška okrem písomného čísla zobrazuje aj grafické znázornenie zóny platnosti daného problému.</p>

      <div><img src="/content_files/info_en.png" title="Danger overview" alt="Detailed overview of danger levels and avalanche problems including their corresponding danger zones (aspect and elevation)"></div>

      <p class="small" style="text-align: center">Obrázok 3: Podrobný prehľad stupňov lavínového nebezpečenstva a lavínových problémov vrátane príslušných zón ohrozenia (expozícia a nadmorská výška).</p>

      <h3 class="normal">Rozširujúci popis lavínového nebezpečenstva</h3>
      <p>Pre každú oblasť je na mape stanovený konkrétny stupeň lavínového nebezpečenstva, ako aj rozširujúci popis stupňa(obrázok 4). Tento popis obsahuje podrobnosti o pravdepodobnosti uvoľnenia lavín, očakávanej veľkosti lavín a množstve nebezpečných svahov. V prípade potreby sú tu uvedené dodatočné informácie a odporúčania pre konkrétne skupiny používateľov.<br>
Okrem týchto informácií tu môžu používatelia nájsť aj ďalšie informácie, napr. o ďalších možných rizikách, prípadne informácie o mimoriadne nepriaznivom vývoji počasia.</p>

      <h3 class="normal">Snehová pokrývka</h3>
      <p>Pre každú oblasť je na mape uvedená analýza snehovej pokrývky (obrázok 4). Štruktúra snehovej pokrývky je dôležitým faktorom pri vzniku lavín. Analýza štruktúry snehovej pokrývky je všeobecná, spravidla zahŕňa najmä štruktúru a stabilitu snehovej pokrývky.</p>
      <p>Štruktúra snehovej pokrývky je definovaná vrstvením snehovej pokrývky a charakteristikami každej jednotlivej vrstvy, t. j. typmi zŕn, ich veľkosťou a tvrdosťou. Vrstvenie snehovej pokrývky vo všeobecnosti určuje stabilitu snehovej pokrývky. Stabilita snehovej pokrývky má poskytovať informáciu o miere náchylnosti na jej uvoľnenie. V tejto časti je možné nájsť aj informácie o pozorovaných lavínach.</p>

      <div><img src="/content_files/info2_en.png" title="Rozširujúci popis stupňa lavínového nebezpečenstva a analýza snehovej pokrývky." alt="Rozširujúci popis stupňa lavínového nebezpečenstva a analýza snehovej pokrývky sú uvedené v texte. Tvoria spodnú časť informačnej pyramídy lavínového bulletinu. Okrem týchto informácii tú používatelia môžu nájsť aj informáciu o očakávanom vývoji do budúcna."></div>

      <p class="small" style="text-align: center">Obrázok 4: Rozširujúci popis stupňa lavínového nebezpečenstva a analýza snehovej pokrývky sú uvedené v texte. Tvoria spodnú časť informačnej pyramídy lavínového bulletinu. Okrem týchto informácii tú používatelia môžu nájsť aj informáciu o očakávanom vývoji do budúcna.</p>

      <h3 class="normal">Tendencia lavínového nebezpečenstva</h3>
      <p>Na základe dvojdňovej predpovede počasia sa odhaduje približná tendencia vývoja lavínového nebezpečenstva.
</p>

      <h3 class="normal">Počasie</h3>
      <p>Stredisko lavínovej prevencie úzko spolupracuje so Slovenským Hydrometeorologickým ústavom, ktorý mu poskytuje niektoré meteorologické dáta, ako aj predpoveď počasia. Táto predpoveď je zahrnutá v hodnotení a stanovení stupňa lavínového nebezpečenstva na konkrétny deň. </p>

      <h3 class="normal">Flexibilné výstražné oblasti</h3>
      <p>S cieľom vytvoriť regióny, v ktorých prevláda rovnaký stupeň nebezpečenstva, 
        bolo na základe snehových a klimatologických podmienok Slovenska stanovených 
        8 mikroregiónov. Pomocou týchto mikroregiónov možno flexibilne definovať 
        veľké výstražné regióny s rovnakým vyhodnoteným lavínovým nebezpečenstvom. 
      </p>
      <p>Tieto mikroregióny sú definované špecifickými, prijatými označeniami. 
        Sú znázornené na obrázku 5. Okrem názvu má každý mikroregión pridelené 
        aj číselné označenie (pozri tabuľku 1).
      </p>

      <table style="width: 100%; border: 0px solid #000; text-align: center"><tbody><tr>
<td>
              <picture><source type="image/webp" srcset="
                    /content_files/regions_sk-640.webp 640w,
                    /content_files/regions_sk-741.webp 741w
                  "><source type="image/jpeg" srcset="
                    /content_files/regions_sk-640.jpg 640w,
                    /content_files/regions_sk-741.jpg 741w
                  ">
                <img src="/content_files/regions_sk-640.jpg" title="Region map" alt="8 mikroregiónov Slovenska vrátane ich kódov.">
              </picture>
</td>
          </tr></tbody></table>
<p class="small" style="text-align: center">
  Obrázok 5: 8 mikroregiónov Slovenska vrátane ich kódov.
</p>
      <regionstables></regionstables>
</div>
</section>
    <section class="section-centered"><div id="basis" class="panel field border">
        <div class="panel-header">
          <h2>Vstupy pre rozhodovanie</h2>
        </div>
        <p>Stredisko lavínovej prevencie má na účely hodnotenia lavínového nebezpečenstva k dispozícii širokú škálu údajov (obrázok 6). Tieto informácie siahajú od meraní, pozorovaní, hodnotení na mieste až po výsledky počítačových modelov. Až konečné zhodnotenie všetkých týchto údajov umožňuje vytvoriť spoľahlivú predpoveď lavínového nebezpečenstva vo veľmi variabilných podmienkach.</p>

        <div>
          <picture><source type="image/webp" srcset="
                /content_files/illustration_sk-640.webp   640w,
                /content_files/illustration_sk-1280.webp 1280w,
                /content_files/illustration_sk-1920.webp 1920w,
                /content_files/illustration_sk-2560.webp 2560w,
                /content_files/illustration_sk-3200.webp 3200w,
                /content_files/illustration_sk-3860.webp 3860w
              "><source type="image/jpeg" srcset="
                /content_files/illustration_sk-640.jpg   640w,
                /content_files/illustration_sk-1280.jpg 1280w,
                /content_files/illustration_sk-1920.jpg 1920w,
                /content_files/illustration_sk-2560.jpg 2560w,
                /content_files/illustration_sk-3200.jpg 3200w,
                /content_files/illustration_sk-3860.jpg 3860w
              ">
            <img src="/content_files/illustration_sk.png" title="Zdroje dát" alt=" Základom pre lavínovú predpoveď sú údaje z meteorologických staníc, informácie o aktuálnej lavínovej situácii od miestnych pozorovateľov, prípadne aj od súkromných osôb s vysokým horským vzdelaním a skúsenosťami. Lavínový bulletin , alebo jeho časti je možné prijímať prostredníctvom internetu, elektronickej pošty, mobilných služieb, rozhlasu, televízie a tlačených médií.">
          </picture>
</div>
        <p class="small" style="text-align: center">Obrázok 6: Základom pre lavínovú predpoveď sú údaje z meteorologických staníc, informácie o aktuálnej lavínovej situácii od miestnych pozorovateľov, prípadne aj od súkromných osôb s vysokým horským vzdelaním a skúsenosťami. Lavínový bulletin , alebo jeho časti je možné prijímať prostredníctvom internetu, elektronickej pošty, mobilných služieb, rozhlasu, televízie a tlačených médií.</p>

        <h3 class="normal">Meteorologické merania a dáta</h3>
        <p>Stredisko lavínovej prevencie prevádzkuje rozsiahlu sieť automatických meteorologických staníc v horských oblastiach Slovenska. Okrem týchoto údajov preberá stredisko ďalšie informácie od Slovenského hydrometeorologického ústavu. Tieto informácie sú mimoriadne dôležité na stanovenie stupňa lavínového nebezpečnstva. Širokej verejnosti sú údaje taktiež sprístupňované na metoportále Horskej záchrannej služby na <a href="https://meteo.hzs.sk" target="_blank">www.meteo.hzs.sk</a>, prípadne v ponuke sneh a počasie. </p>

        <h3 class="normal">Pozorovatelia</h3>
        <p>Na spoľahlivé vyhodnotenie stupňa lavínového nebezpečenstva potrebujú lavínoví špecialisti aktuálne informácie z rozsiahlych oblastí v teréne. Na tento účel využíva Stredisko lavínovej prevnecie aj vlastnú sieť pozorovateľov, ktorí sú sústredení predovšetkým na horských chatách. V závislosti od danej situácie sa zhromažďujú veľmi rôznorodé údaje, napr. odhady nového snehu a snehových závejov, pozorované výstražné znamenia a už uvoľnené lavíny, spolu s osobnými hodnoteniami aktuálneho počasia.</p>
        <p>Ďalšie informácie poskytujú súkromní pozorovatelia s vysokou úrovňou znalostí a skúseností (horskí vodcovia, inštruktori, dobrovoľní členovia Horskej záchrannej služby, strážcovia parkov...).

Užitočnou informáciou sú správy o lavínovej aktivite – informácie o padnutých lavínach, informácie o uvoľnení lavín osobami. Dôležitou informáciou pre Stredisko lavínovej prevencie sú aj lavíny, v ktorých sa ocitli osoby, ale neboli zasypané snehom alebo zranené. Doplňujúce užitočné informácie sú informácie o aktuálnom povrchu snehu, napr. krúpkoch, povrchovej inoväti, výške snehu atď. , ktoré poskytujú rozhodujúce informácie o tom, ako sa stupeň lavínového nebezpečenstva bude vyvíjať. Čím viac podrobností terénne pozorovanie obsahuje, tým viac prispieva k správnemu posúdeniu lavínového nebezpečenstva. Pozorovania sú Stredisku lavínovej prevencie zasielané emailom, prípadne pomocou aplikácie Snowsafe, prípadne inými dostupnými kanálmi (whatsup, facebook …).</p>
        <p>Bez ohľadu na druh informácie v rámci posúdenia lavínového ohrozenia, by každé pozorovanie malo obsahovať minimálne nasledujúce parametre:</p>
        <ul>
<li>Poloha (ak ju nie je možné presne určiť, dôležitý je najbližší známy pevný bod)</li>
          <li>Nadmorská výška alebo výšková zóna</li>
          <li>Expozícia</li>
          <li>Sklon svahu</li>
        </ul>
        <h3 class="normal">Stacionárni pozorovatelia</h3>
        <p>Niektorí pozorovatelia Strediska lavínovej prevencie sú stacionárni, sústredení predovšetkým na horských chatách. Hlásia meteorologické údaje, lavíny alebo známky nebezpečenstva a často poskytujú svoje osobné hodnotenie aktuálneho lavínového nebezpečenstva. Ak je to možné, podávajú správy každý deň počas celej zimy, čím zabezpečujú základné pokrytie a prísun informácií. Tieto správy sa podávajú medzi 7:00 a 8:00 hod. ráno.
</p>

        <h3 class="normal">Mobilní pozorovatelia</h3>
        <p>Niektorí z pozorovateľov sú úplne mobilní. Jadná sa aj o pracovníkov Strediska lavínovej prevencie, ktorí sa pohybujú v daný deň v teréne. Podávajú správy vždy, keď majú zaujímavé alebo relevantné informácie z miesta, kde sa práve nachádzajú. Tieto správy môžu posielať lavínovým výstražným službám prostredníctvom telefonického hovoru, e-mailom, aplikáciou snowsafe.

Okrem toho vybraní horskí vodcovia, inštruktori a dobrovoľní záchranári podávajú správy 

o podmienkach v konkrétnych lokalitách.
Keďže región pohorí Slovenska je taký rozsiahly a regionálne rozdiely také veľké, oficiálni pozorovatelia nemôžu nikdy zachytiť celú situáciu. Z tohto dôvodu je Stredisko lavínovej prevencie závislé aj od správ súkromných osôb. Všetkým, ktorí nám pomohli svojimi pozorovaniami a správami, by sme sa chceli poďakovať. Zároveň by sme ich chceli vyzvať, aby nám aj naďalej poskytovali svoje osobné dojmy (podrobnosti nájdete v časti Pozorovania).</p>

        <h3 class="normal">Pozorované lavíny </h3>
        <p>Okrem pozorovaných lavín, ktoré zaznamenali pozorovatelia, oblastné strediská Horskej záchrannej služby hlásia Stredisku lavínovej prevencie aj všetky zaznamenané lavínové nehody. Hlásenia o uvoľnených lavínach, alebo lavínových nehodách môžu podávať aj súkromné osoby priamo Stredisku lavínovej prevencie, prípadne zadaním na webovej stránke LAWIS, v časti nehody (incidents).</p>
      </div>
</section>
      <section class="section-centered"><div id="possibilities_and_limits" class="panel field border">
          <div class="panel-header">
            <h2>Možnosti a obmedzenia lavínového bulletinu </h2>
          </div>
          <p>Lavínový bulletinobsahuje predpoveď lavínového nebezpečenstva. V povahe všetkých predpovedí je, že sú spojené s mnohými neistotami, a preto sa môžu ukázať ako neopodstatnené. Stredisko lavínovej prevencie vynakladá maximálne úsilie, aby obsah a informácií uvedených v lavínovej predpovedi bol čo najúplnejší a najlepšie odzrkadľoval reálnu situáciu. Stredisko lavínovej prevencie však nemôže prevziať žiadnu zodpovednosť za správnosť a úplnosť poskytnutého obsahu a informácií.

</p>
          <p>Lavínové nebezpečenstvo znamená ohrozenie života a zdravia. Používanie informácií poskytovaných Strediskom lavínovej prevencie v žiadnom prípade nezbavuje nikoho osobnej zodpovednosti za vlastné osobné posúdenie lavínovej situácie a správanie sa v súlade s týmto posúdením.</p>

          <h3 class="normal">Rozsah použitia</h3>
          <p>V lavínovom bulletine sú opísané len podmienky v teréne, ktorý sa nachádza v regiónoch Vysoké Tatry (Východ/Západ), Nízke Tatry (Východ/Západ), Západné Tatry, Veľká a Malá Fatra. (obrázok 5 a tabuľka 1).</p>

          <h3 class="normal">Nezávislé posúdenie</h3>
          <p>Informácie v lavínovom bulletine sú všeobecné, to znamená, že v predpovediach nie je možné zohľadniť konkrétne miestne podmienky v danej doline, nehovoriac o podmienkach na konkrétnom horskom svahu. Spojenie medzi regionálne platnými stupňami lavínového nebezpečenstva, možnou lavínovou aktivitou a zodpovedajúcimi dôsledkami vrátane opatrení, ktoré treba prijať, musia urobiť používatelia prostredníctvom osobného posúdenia na mieste. Pri tomto posúdení musia návštevníci hôr v teréne uplatniť svoje vlastné skúsenosti a metódy rozhodovania.

Metódy rozhodovania by mali zahŕňať znalosti miestneho počasia, pozorovania snehu a lavín, analýzu snehovej pokrývky, štúdium máp a osobné posúdenie situácie na mieste (daného horského svahu). Pri každom individuálnom rozhodnutí by sa mali zohľadniť všetky dostupné informácie, pričom informáciám, ktoré vedú k záveru, že prevládajú nestabilné podmienky, by sa mala prikladať osobitná váha.</p>

          <h3 class="normal">Presnosť údajov v lavínových predpovediach</h3>
          <p>Predpovede v lavínovom bulletine, sú podobne ako predpovede pri iných výstrahách pred prírodnými živlami (napr. silnými lejakmi, zemetraseniami, pádmi skál, výbuchmi sopiek, tornádami, cunami atď.) založené na zákonoch pravdepodobnosti. V skutočnosti je predpoveď lavínového nebezpečenstva vzhľadom na našu neúplnú znalosť všetkých geografických, priestorovo-rozsahových a časovo-obmedzených vývojov počasia a následne aj vrstiev snehovej pokrývky z definície neistá. Okrem toho nebezpečenstvo, ktoré vyplýva z lavín, je veľmi rôznorodé aj v rámci jedného uvedeného stupňa lavínového nebezpečenstva.</p>
          <p>Informácie o a rozmiestnení danej nebezpečnej zóny sa môžu meniť vzhľadom na expozíciu a nadmorskú výšku nebezpečných svahov. </p>


          <div><img src="/content_files/danger_icons.png" title="Icons for avalanche prone locations" alt="Icons defining the elevation and aspect of avalanche prone locations"></div>
          <p class="small" style="text-align: center">Obrázok 8: V skutočnosti sa pridelený stupeň lavínového nebezpečenstva, ako aj expozícia a nadmorská výška lavínových lokalít môžu ľahko líšiť od informácií v uverejnenej lavínovej predpovedi.</p>

          <p>Vo všeobecnosti je k dispozícii menej vstupných informácií pre vysoké nadmorské výšky (&gt; 2000 m) ako pre nízke (&lt; 1000 m) a stredné (&gt; 1000 m). V dôsledku toho si v najvyšších polohách treba dbať osobitý dôraz na ďalšie hodnotenie a posúdenie skutočného nebezpečenstva. Pri rýchlych zmenách poveternostných podmienok je taktiež potrebné obzvlášť dôkladné zhodnotenie situácie, pretože lavínový bulletin nemôže spravidla odrážať nepredvídateľné zmeny lavínového nebezpečenstva.</p>
        </div>
      </section>
        <section class="section-centered"><div id="products_and_channels" class="panel field border">
            <div class="panel-header">
              <h2>Produkty a informačné kanály</h2>
            </div>
            <p>V zime sa lavínový bulletin skladá z interaktívnej mapy a doplňujúcich informácií, ktoré sa uverejňuje uverejňujú s dennou priodicitou. Mimo sezóny sa neuverejňuje žiadna mapa nebezpečenstva. V prípade neočakávaných výrazných snehových zrážok počas letnej sezóny je lokálne lavínové nebezpečenstvo a snehová situácia opísaná v našom <a href="https://blog.laviny.sk" target="_blank">blogu</a>.

</p>
            <p>Lavínový bulletin a interný obsah našej webovej stránky je uverejnený v 2 jazykoch – slovenčine a angličtine.</p>

            <h3 class="normal">Interaktívna webová stránka</h3>
            <p>Interaktívny lavínový bulletin je k dispozícii na internete. Keďže dizajn webovej stránky je responzívny, možno ju prezerať nielen na stolnom počítači, ale aj na mobilných zariadeniach, napr. smartfónoch, tabletoch atď.</p>
            <p>Ďalšie doplnkové informácie týkajúce sa lavínového nebezpečenstva v rámci konkrétneho regiónu môže používateľ zobraziť zväčšením interaktívnej mapy nebezpečenstva. Pohybom myši nad mapou sa zobrazia detaily konkrétneho regiónu. Kliknutím na príslušný región sa otvorí ďalšie okno s presnejšími informáciami o nadmorskej výške, kde platí stupeň nebezpečenstva, ako aj o prevládajúcich lavínových problémoch atď. Po kliknutí na DETAILY sa v textovej podobe zobrazí presnejšie objasnenie lavínového nebezpečenstva, nebezpečné expozície a nadmorská výška, v ktorých prevládajú zadané lavínové problémy, popis snehovej pokrývky a tendencia.</p>

            <h3 class="normal">Tlačená verzia</h3>
            <p>Lavínový bulletin sa zobrazuje na webovej stránke laviny.sk na interaktívnej mape, a súbežne je k dispozícii aj tlačená verzia vo formáte PDF. Táto verzia, vrátane prípadných aktualizácií, sa uverejňuje v rovnakom čase ako online správa. Jej obsah je totožný s online verziou.
Aby sa súbor PDF dal stiahnuť a vytlačiť, je potrebné kliknúť na tlačidlo PDF. Sťahovanie je možné zvoliť vo farebnej škále alebo monochromatické.</p>

            <h3 class="normal">Blog</h3>
            <p>Oficiálny blog Strediska lavínovej prevencie si môžete pozrieť na webovej stránke <a href="https://blog.laviny.sk" target="_blank">rescueservice.sk</a>. Mimo pravidelného času zverejnenia (podrobnosti nájdete v časti Čas zverejnenia a platnosť) obsahuje aj všetky relevantné informácie týkajúce sa lavínovej situácie, prípadne iných zaujímavých informácií.
Počas zimnej sezóny zverejňuje Stredisko lavínovej prevencie prehľad vývoja snehu a snehovej pokrývky v týždenných intervaloch, a to vždy v piatok pred víkendom. Tu môže verejnosť nájsť informácie o vývoji počasia, o aktuálnom rozvrstvení snehovej pokrývky, výslednej lavínovej situácii, a výhliadkách na víkend. Okrem týchto správ tu Stredisko lavínovej prevencie zverejňuje aj analýzy lavínových nehôd, prípadne iné zaujímavé informácie. 
</p>

            <h3 class="normal">Sociálne médiá</h3>
            <p>Stredisko lavínovej prevencie používa na informácie a styk s verejnosťou aj sociálne médiá a to predovšetkým facebook(Stredisko lavinovej prevnecie) a instagram (laviny.sk). Pomocou týchto kanálov informujeme verejnosť o mimoriadnych udalostiach prípadne dôležitých skutočnostiach v reálnom čase.</p>

            <h3 class="normal">Ďalšie produkty</h3>
            <p>Okrem lavínového bulletinu, blogu a sociálnych médií ponúka Stredisko lavínovej prevencie aj ďalšie zaujímavé produkty – v spolupráci s portálom <a href="https://hiking.sk" target="_blank">hiking.sk</a> zobrazuje ineraktívnu mapu lavínového katastra, prevádzkuje metooportál Horskej záchrannej služby (<a href="https://meteo.hzs.sk" target="_blank">meteo.hzs.sk</a>), kde verejnosť nájde meteorologické dáta, grafy a zábery z webkamier, ktoré jej môžu pomôcť počas plánovaní túr a rozhodovania sa.</p>

            <!-- <h3 class="normal">E-mail</h3>
            <p>Používatelia sa môžu prihlásiť na automatické odoberanie lavínového bulletinu e-mailom. Pri každom novom uverejnení (dennom alebo neohlásenom) alebo aktualizácii lavínového bulletinu je príjemca informovaný prostredníctvom e-mailu.
            </p> -->

            <h3 class="normal">Rádio/TV/tretie strany</h3>
            <p>Stredisko lavínovej prevencie sa pravidelne prihovára verejnosti prostredníctvom rôznych reportáži, príspevkoch v televíznych novinách a iných dostupných kanáloch pre styk s verejnosťou. </p>
            <h3 class="normal">Publikácie</h3>
            <p>Činnosť Strediska lavínovej prevencie Horskej záchrannej služby je veľmi rozsiahla. Okrem vydávania lavínového bulletinu, starostlivosti o meteoportál a automatické meteorologické stanice a vedeckej práci sa venuje aj publikačnej činnosti. Raz ročne sa vydáva lavínová ročenka, kde je zhrnutá celá sezóna na Stredisku lavínovej prevenecie v prehľadných grafoch. Mimo tlačených verzií, môže verejnosť takéto publikácie nájsť aj v online priestore a to na stránke <a href ="https://blog.laviny.sk/?page_id=10738" target="_blank">rescueservice.sk/?page_id=10738</a></p>
            
        </section><section classname="section-centered section-context"><div classname="panel">
    <h2 classname="subheader">Vzdelávanie &amp; Prevencia</h2>

    <ul classname="list-inline list-buttongroup-dense">
      <li>
        <a
          classname="secondary pure-button pure-buton-wrap"
          href="/education/danger-scale"
          title="Stupnica lavínového nebezpečenstva"
          >Stupnica lavínového nebezpečenstva</a
        >
      </li>
      <li>
        <a
          classname="secondary pure-button pure-buton-wrap"
          href="/education/avalanche-problems"
          title="Typické lavínové problémy"
          >Typické lavínové problémy</a
        >
      </li>
      <li>
        <a
          classname="secondary pure-button pure-buton-wrap"
          href="/education/workflow"
          title="Pracovný postup"
          >Pracovný postup</a
        >
      </li>
      <li>
        <a
          classname="secondary pure-button pure-buton-wrap"
          href="/education/matrix"
          title="EAWS Matica"
          >EAWS Matica</a
        >
      </li>
      <li>
        <a
          classname="secondary pure-button pure-buton-wrap"
          href="/education/snowpack-stability"
          title="Stabilita snehovej pokrývky"
          >Stabilita snehovej pokrývky</a
        >
      </li>
      <li>
        <a
          classname="secondary pure-button pure-buton-wrap"
          href="/education/frequency"
          title="Množstvo nebezpečných miest"
          >Množstvo nebezpečných miest</a
        >
      </li>
      <li>
        <a
          classname="secondary pure-button pure-buton-wrap"
          href="/education/avalanche-sizes"
          title="Veľkost lavín"
          >Veľkost lavín</a
        >
      </li>
      <li>
        <a
          classname="secondary pure-button pure-buton-wrap"
          href="/education/spatio-temporal-scale"
          title="Stanovenie priestorovej a časovej mierky"
          >Stanovenie priestorovej a časovej mierky</a
        >
      </li>
      <li>
        <a
          classname="secondary pure-button pure-buton-wrap"
          href="/education/danger-patterns"
          title="Modely lavínového nebezpečenstva "
          >Modely lavínového nebezpečenstva </a
        >
      </li>
    </ul>

</div>
</section>
</div>
