<div>
  <h1>Pracovný postup stanovenia stupňa lavínového nebezpečenstva</h1>
  &#13; &#13;
  <section class="section-centered">
    <div class="panel">
      &#13;
      <p>
        Pracovný postup opisuje proces od posúdenia lavínových problémov až po
        stanovenie stupňa lavínového nebezpečenstva pre konkrétny región. V
        tomto procese sa zohľadnia všetky relevantné lavínové problémy,
        vyhodnotí stabilita snehovej pokrývky, množstvo nebezpečných miest a
        veľkosť lavín. Výsledkom je stupeň lavínového nebezpečenstva pre daný
        región.
      </p>
      &#13; &#13;
      <p>
        Tabuľka1 : Pracovný postup na stanovenie stupňa lavínového
        nebezpečenstva.
      </p>
      &#13;
      <div class="table-container">
        &#13;
        <table class="pure-table pure-table-striped full-width">
          <thead>
            <tr>
              <th>Krok</th>
              &#13;
              <th>Úloha</th>
              &#13;
              <th>Vysvetlenie a poznámky</th>
              &#13;
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              &#13;
              <td>Posúďte, ktoré lavínové problémy opisujú danú situáciu.</td>
              &#13;
              <td>Vyberte si z lavínových problémov definovaných EAWS.</td>
              &#13;
            </tr>
            <tr>
              <td></td>
              &#13;
              <td>
                Ak neexistujú žiadne lavínové problémy, stupeň lavínového
                nebezpečenstva je 1 - MALÉ.
              </td>
              &#13;
            </tr>
            <tr>
              <td>2</td>
              &#13;
              <td>
                Pri každom z týchto problémov vyhodnoťte miesta (nadmorskú
                výšku, expozíciu), kde a v akom dennom čase sa problém
                vyskytuje.
              </td>
              &#13;
              <td></td>
              &#13;
            </tr>
            <tr>
              <td>3</td>
              &#13;
              <td>
                Pre jednotlivé miesta (nadmorská výška, expozícia) posúďte
                triedu stability snehovej pokrývky.
              </td>
              &#13;
              <td>
                Stabilita snehovej pokrývky súvisí s touto otázkou: "Čo by mohlo
                uvoľniť lavínu ?" Najviac rozhodujúce sú miesta s najnižšou
                stabilitou snehovej pokrývky.
              </td>
              &#13;
            </tr>
            <tr>
              <td>4</td>
              &#13;
              <td>
                Pre jednotlivé triedy stability posúďte množstvo nebezpečných
                miest.
              </td>
              &#13;
              <td>
                Množstvo nebezpečných miest súvisí s otázkou "Koľko je takých
                miest, kde sa môžu uvoľniť lavíny na základe spúšťacieho
                mechanizmu uvedeného v kroku 3?"
              </td>
              &#13;
            </tr>
            <tr>
              <td>5</td>
              &#13;
              <td>Posúďte veľkosť (možnej) lavíny.</td>
              &#13;
              <td>
                Veľkosť lavíny súvisí s touto otázkou: "Aké veľké predpokladáte
                lavíny?" Rozhodujúca je najväčšia veľkosť lavíny, ktorú
                považujete za pravdepodobnú.
              </td>
              &#13;
            </tr>
            <tr>
              <td></td>
              &#13;
              <td>
                V prípade, že sa stabilita snehovej pokrývky, množstvo
                nebezpečných miest a/alebo veľkosť lavín sa výrazne líšia medzi
                jednotlivými expozíciami a/alebo nadmorskými výškami a/alebo
                počas obdobia predpovede (AM/PM), zopakujte kroky 3 až 5, aby
                ste určili miesta/časy s najzávažnejšou kombináciou týchto troch
                faktorov.
              </td>
              &#13;
              <td></td>
              &#13;
            </tr>
            <tr>
              <td>6</td>
              &#13;
              <td>
                Na základe kombinácie stability snehovej pokrývky, množstva
                nebezpečných miest a veľkosti lavín (kroky 3 až 5), určite
                stupeň lavínového nebezpečenstva podľa matice EAWS.
              </td>
              &#13;
              <td></td>
              &#13;
            </tr>
            <tr>
              <td></td>
              &#13;
              <td>
                V prípade ďalších lavínových problémov opakujte kroky 2 až 6.
              </td>
              &#13;
              <td></td>
              &#13;
            </tr>
            <tr>
              <td></td>
              &#13;
              <td>
                Pre daný región zvoľte najvyšší stupeň lavínového nebezpečenstva
                získaný v kroku 6.
              </td>
              &#13;
              <td></td>
              &#13;
            </tr>
          </tbody>
        </table>
      </div>
      &#13; &#13;
      <table style="width: 100%; border: 0px solid #000; text-align: center">
        <tbody>
          <tr>
            <td>
              <img
                style="width: 55%"
                title="Vývojový diagram znázorňujúci pracovný postup stanovenia lavínového nebezpečenstva opísaný v tabuľke 1."
                alt="Vývojový diagram znázorňujúci pracovný postup stanovenia lavínového nebezpečenstva opísaný v tabuľke 1."
                data-entity-type="file"
                data-entity-uuid="d397a528-6f80-4ea3-afdf-255ab9ae681d"
                src="/content_files/WorkflowAssessingAvalancheDanger_SK.png"
              />
            </td>
            &#13;
          </tr>
        </tbody>
      </table>
      <p class="small" style="text-align: center">
        Vývojový diagram znázorňujúci pracovný postup stanovenia lavínového
        nebezpečenstva opísaný v tabuľke 1.
      </p>
      &#13;
    </div>
    &#13;
  </section>
  <section classname="section-centered section-context">
    <div classname="panel">
      &#13;
      <h2 classname="subheader">Vzdelávanie &amp; Prevencia</h2>
      &#13; &#13;
      <ul classname="list-inline list-buttongroup-dense">
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/danger-scale"
            title="Stupnica lavínového nebezpečenstva"
            >Stupnica lavínového nebezpečenstva</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/avalanche-problems"
            title="Typické lavínové problémy"
            >Typické lavínové problémy</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/matrix"
            title="EAWS Matica"
            >EAWS Matica</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/snowpack-stability"
            title="Stabilita snehovej pokrývky"
            >Stabilita snehovej pokrývky</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/frequency"
            title="Množstvo nebezpečných miest"
            >Množstvo nebezpečných miest</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/avalanche-sizes"
            title="Veľkost lavín"
            >Veľkost lavín</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/spatio-temporal-scale"
            title="Stanovenie priestorovej a časovej mierky"
            >Stanovenie priestorovej a časovej mierky</a
          >
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/danger-patterns"
            title="Modely lavínového nebezpečenstva "
            >Modely lavínového nebezpečenstva
          </a>
        </li>
        <li>
          <a
            classname="secondary pure-button pure-buton-wrap"
            href="/education/handbook"
            title="Príručka"
            >Príručka</a
          >
        </li>
      </ul>
    </div>
    &#13;
  </section>
</div>
