<div>
  <h1>Contact</h1>

  <section class="section-centered">
    <div id="sk-slp" class="panel field border">
      <h1 class="subheader">
        Stredisko lavínovej prevencie Horskej záchrannej služby (Mountain rescue
        service - Avalanche prevention center)<span class="icon-"></span>
      </h1>

      <p>Žiar 366<br />Žiar<br />032 05</p>

      <p>phone: 00421 903 624 130</p>

      <p>
        <a class="pure-button" href="mailto:slp@hzs.sk">slp@hzs.sk</a><br />
      </p>

      <table style="width: 100%; border: 0px solid #000; text-align: center">
        <tbody>
          <tr>
            <td>
              <a
                href="https://goo.gl/maps/6ARuW9dYoAPpPaDS6"
                target="_blank"
                rel="noopener noreferrer"
                ><img
                  style="width: 100%"
                  title="Location of Slovak Avalanche Warning Service google maps"
                  alt="Location of Slovak Avalanche Warning Service google maps"
                  data-entity-type="file"
                  data-entity-uuid="d397a528-6f80-4ea3-afdf-255ab9ae681d"
                  src="/content_files/google_hzs_slp.jpg"
              /></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
