<div>
<h1>Contacte</h1>&#13;
&#13;
<section class="section-centered"><div id="tirol" class="panel field border">&#13;
    <h1 class="subheader">Servisi de lauegi de Tiròl<span class="icon-"></span>
</h1>&#13;
&#13;
    <p>Wilhelm-Greil-Straße 17<br>A-6020 Innsbruck</p>&#13;
&#13;
    <p><a class="pure-button" href="mailto:lawine@tirol.gv.at">lawine@tirol.gv.at</a><br></p>&#13;
&#13;
    <table style="width: 100%; border: 0px solid #000; text-align: center"><tbody><tr>
<td><a href="https://www.google.com/maps/place/Avalanche+Warning+Service+Tyrol/@47.2620178,11.3930115,17z/data=!3m1!4b1!4m5!3m4!1s0x479d6bf9618f27a1:0xc4f6dc81d0af210b!8m2!3d47.2620178!4d11.3952002" target="_blank" rel="noopener noreferrer"><img style="width: 100%" title="Location of the Avalanche Warning Service Tirol on google maps" alt="Location of the Avalanche Warning Service Tirol on google maps" data-entity-type="file" data-entity-uuid="d397a528-6f80-4ea3-afdf-255ab9ae681d" src="/content_files/google_tirol.png"></a></td>&#13;
        </tr></tbody></table>
</div>&#13;
&#13;
  <div id="southtyrol" class="panel field border">&#13;
    <h1 class="subheader">Servisi de lauegi de Sud-Tiròl<span class="icon-"></span>
</h1>&#13;
    <p>Amt für Meteorologie und Lawinenwarnung<br>Drususallee 116<br>39100&#13;
      Bozen<br></p>&#13;
&#13;
    <p><a class="pure-button" href="mailto:lawine@provinz.bz.it">lawine@provinz.bz.it</a><br></p>&#13;
&#13;
    <table style="width: 100%; border: 0px solid #000; text-align: center"><tbody><tr>
<td><a href="https://www.google.com/maps/place/Landeswetterdienst/@46.49453,11.318514,16z/data=!4m5!3m4!1s0x0:0xa16dec6da87e8ff8!8m2!3d46.4945295!4d11.3185143?hl=en" target="_blank" rel="noopener noreferrer"><img style="width: 100%" title="Location of the Avalanche Warning Service South Tyrol on google maps" alt="Location of the Avalanche Warning Service South Tyrol on google maps" data-entity-type="file" data-entity-uuid="d397a528-6f80-4ea3-afdf-255ab9ae681d" src="/content_files/google_bozen.png"></a></td>&#13;
        </tr></tbody></table>
</div>&#13;
&#13;
  <div id="trentino" class="panel field border">&#13;
    <h1 class="subheader">Servisi de Lauegi de Trentin<span class="icon-"></span>
</h1>&#13;
&#13;
    <p>Provincia Autonoma di Trento<br>MeteoTrentino<br>via Vannetti, 41<br>38122
      Trento<br></p>&#13;
&#13;
    <p><a class="pure-button" href="mailto:meteotrentino@provincia.tn.it">meteotrentino@provincia.tn.it</a><br></p>&#13;
&#13;
    <table style="width: 100%; border: 0px solid #000; text-align: center"><tbody><tr>
<td><a href="https://www.google.com/maps/place/MeteoTrentino/@46.072444,11.122012,16z/data=!4m5!3m4!1s0x0:0x657fd54b53664f9d!8m2!3d46.072444!4d11.1220116?hl=en" target="_blank" rel="noopener noreferrer"><img style="width: 100%" title="Location of the Avalanche Warning Service Trentino on google maps" alt="Location of the Avalanche Warning Service Trentino on google maps" data-entity-type="file" data-entity-uuid="d397a528-6f80-4ea3-afdf-255ab9ae681d" src="/content_files/google_trentino.png"></a></td>&#13;
        </tr></tbody></table>
</div>&#13;
</section>
</div>
