<div>
<h1>Comunitat</h1>&#13;
&#13;
<!--
<section class="section-padding">
  <header class="section-centered">
    <ul class="list-inline list-buttongroup-dense">
      <li>
        tx_ltsymbola
          href="#general"
          title="What is this all about?"
          class="secondary pure-button"
          data-scroll
          tx_gtsymbolGeneral Informationtx_ltsymbol/a
        tx_gtsymbol
      </li>
    </ul>
  </header>
</section>
-->&#13;
&#13;
<section id="" class="section controlbar controlbar-image controlbar-big"><div class="controlbar-bg-image" style="background-image: url('/content_files/ava_size5-2560.jpg')"></div>&#13;
  <div class="section-centered-small">&#13;
    <section class="section-header"><h2 class="subheader align-center">Enquesta als usuaris</h2>&#13;
      <h1 class="align-center">Ajuda'ns a millorar els nostres productes i compartir l'experiència com a usuari amb nosaltres</h1>&#13;
    </section><p class="align-center"><span>L'enquesta es fa conjuntament
        <a href="https://www.sfu.ca/" target="_blank" rel="noopener noreferrer">amb la Universitat Simon Fraser</a></span></p>&#13;
    <p class="align-center"><a href="https://en.euregio.avalancheresearch.ca/" target="_blank" title="Registrar-me" class="secondary pure-button" rel="noopener noreferrer">Registrar-me</a></p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="general" class="panel field border">&#13;
    <div class="panel-header">&#13;
      <h2>De què es tracta tot això?</h2>&#13;
    </div>&#13;
&#13;
    <p>Els serveis de predicció d’allaus del Tirol, el Tirol del Sud i el Trentino comencen
una iniciativa de recerca per entendre millor com es diferencien els diferents tipus d'usuaris i els responsables de la presa de decisions que utilitzen els seus productes d’informació d’allaus.
És fonamental comprendre millor les necessitats i els reptes dels usuaris
per millorar els nostres productes existents i desenvolupar-ne de nous.</p>&#13;
    <p>Mentre desenvolupem la nostra enquesta de feedback, actualment estem buscant
usuaris de la muntanya hivernal (p. ex., esquiadors / snowboarders de muntanya, raquetes de neu, escaladors de gel, etc.) i els responsables de la presa de decisions de la comunitat (per exemple, comissions d’allaus locals) interessats a formar part d’una comunitat en creixement que els serveis de predicció d'allaus poden consultar per obtenir informació sobre els seus productes i pluja d’idees sobre noves oportunitats.</p>&#13;
    <p>Tingueu en compte que no has de ser un recreatiu o expert en allaus de llarga trajectòria per participar en la nostra investigació. Nosaltres estem
interessats en les perspectives de tothom, particularment de les persones que
tot just comencen les seves aventures a la muntanya o només surten de tant en tant.</p>&#13;
    <p>Si estàs interessat a participar en aquesta iniciativa, fes clic al
botó "Registrar-me" per proporcionar-nos una mica d'informació sobre tu mateix. Ens posarem en contacte amb tú tant aviat com la nostra primera
enquesta estigui a punt.</p>&#13;
    <p class="align-center"><a classname="primary pure-button" href="https://en.euregio.avalancheresearch.ca/" target="_blank" title="Sign me up" rel="noopener noreferrer">Registrar-me</a></p>&#13;
  </div>&#13;
</section>
</div>
