<div>
<h1>Community</h1>&#13;
&#13;
<!--
<section class="section-padding">
  <header class="section-centered">
    <ul class="list-inline list-buttongroup-dense">
      <li>
        tx_ltsymbola
          href="#general"
          title="What is this all about?"
          class="secondary pure-button"
          data-scroll
          tx_gtsymbolGeneral Informationtx_ltsymbol/a
        tx_gtsymbol
      </li>
    </ul>
  </header>
</section>
-->&#13;
&#13;
<section id="" class="section controlbar controlbar-image controlbar-big"><div class="controlbar-bg-image" style="background-image: url('/content_files/ava_size5-2560.jpg')"></div>&#13;
  <div class="section-centered-small">&#13;
    <section class="section-header"><h2 class="subheader align-center">Nutzerumfrage</h2>&#13;
      <h1 class="align-center">Helft uns, unsere Produkte zu verbessern und erzählt uns mehr über eure Erfahrung mit dem Euregio-Lawinenreport.</h1>&#13;
    </section><p class="align-center"><span>Die Umfrage erfolgt in Zusammenarbeit mit der &#13;
        <a href="https://www.sfu.ca/" target="_blank" rel="noopener noreferrer">Simon Fraser Universität</a></span></p>&#13;
    <p class="align-center"><a href="https://euregio.avalancheresearch.ca/" target="_blank" title="Nimm teil" class="secondary pure-button" rel="noopener noreferrer">Nimm teil</a></p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="general" class="panel field border">&#13;
    <div class="panel-header">&#13;
      <h2>Worum geht es?</h2>&#13;
    </div>&#13;
&#13;
    <p>Die Lawinenwarndienste aus Tirol, Südtirol und dem Trentino&#13;
      haben eine Forschungsinitiative ins Leben gerufen, in der sie besser verstehen wollen wie unterschiedliche Nutzer*innen  &#13;
   und Entscheidungsträger*innen die Produkte des Euregio-Lawinenreports nutzen und im freien Gelände umsetzen. &#13;
     Eine genauere Kenntnis der Bedürfnisse und Anforderungen der Nutzer*innen&#13;
     ist wesentlich zur Verbesserung der bestehenden und Entwicklung neuer Produkte.</p>&#13;
    <p>Für die Ausarbeitung unserer Umfrage zum Euregio-Lawinenreport suchen wir&#13;
     Nutzer*innen, die abseits gesicherter Pisten unterwegs sind (z.B. Freeriderinnen und Variantenfahrer, &#13;
      Schneeschuhgeher, Eisklettererinnen usw.) sowie lokale Entscheidungsträger*innen (z.B. lokale&#13;
       Lawinenkommissionen), die gern Teil einer wachsenden Lawinen-Community sein möchten,&#13;
      mit der sich die Lawinenwarndienste beraten, Feedback zu ihren&#13;
     Produkten erhalten und über Neuerungen nachdenken können.</p>&#13;
    <p>Um bei unserer Umfrage mitzumachen, ist keine jahrelange Erfahrung als&#13;
     Skitourengeher oder Lawinenexpertin notwendig. Uns interessieren&#13;
     alle Blickwinkel, vor allem auch von Wintersportler*innen, die gerade&#13;
    ihre ersten Erfahrungen im freien Gelände gesammelt haben oder nur gelegentlich&#13;
      Tourenski anschnallen.</p>&#13;
    <p>Wenn Ihr euch gern an dieser Initiative beteiligen möchtet, klickt bitte&#13;
      auf den Button "Nimm teil", damit wir ein wenig mehr über Euch erfahren.&#13;
      Wir setzen uns mit Euch in Verbindung, sobald unsere erste Umfrage&#13;
      startklar ist.</p>&#13;
    <p class="align-center"><a classname="primary pure-button" href="https://euregio.avalancheresearch.ca/" target="_blank" title="Sign me up" rel="noopener noreferrer">Nimm teil</a></p>&#13;
  </div>&#13;
</section>
</div>
