<div>
<h1>Community</h1>

<!--
<section class="section-padding">
  <header class="section-centered">
    <ul class="list-inline list-buttongroup-dense">
      <li>
        tx_ltsymbola
          href="#general"
          title="What is this all about?"
          class="secondary pure-button"
          data-scroll
          tx_gtsymbolGeneral Informationtx_ltsymbol/a
        tx_gtsymbol
      </li>
    </ul>
  </header>
</section>
-->

<section id="" class="section controlbar controlbar-image controlbar-big"><div class="controlbar-bg-image" style="background-image: url('/content_files/ava_size5-2560.jpg')"></div>
  <div class="section-centered-small">
    <section class="section-header"><h2 class="subheader align-center">User survey</h2>
      <h1 class="align-center">Help us improving our products and share your user-experience with us</h1>
    </section><p class="align-center"><span>The survey is being done jointly with
        <a href="https://www.sfu.ca/" target="_blank" rel="noopener noreferrer">Simon Fraser University</a></span></p>
    <p class="align-center"><a href="https://en.euregio.avalancheresearch.ca/" target="_blank" title="Sign me up" class="secondary pure-button" rel="noopener noreferrer">Sign me up</a></p>
  </div>
</section><section class="section-centered"><div id="general" class="panel field border">
    <div class="panel-header">
      <h2>What is this all about?</h2>
    </div>

    <p>The avalanche warning services of Tyrol, South Tyrol, and Trentino are
      starting a research initiative to better understand how different types of
      backcountry users and decision-makers use their avalanche report products.
      A better understanding of users’ needs and challenges is critical for
      improving our existing products and developing new ones.</p>
    <p>While we are developing our report feedback survey, we are current looking
      for winter backcountry users (e.g., backcountry skiers/snowboarders, snow
      shoers, ice climbers, etc.) and community decision-makers (e.g. local
      avalanche commissions) interested in being part of a growing community
      that the avalanche warning services can consult to get feedback on their
      products and brainstorm about new opportunities.</p>
    <p>Please note that you do not have to be a long-term backcountry
      recreationists or avalanche expert to participate in our research. We are
      interested in the perspectives of everybody, particularly individuals who
      are just starting their backcountry adventures or only occasionally go
      into the backcountry.</p>
    <p>If you are interested in participating in this initiative, please click
      the 'Sign me up' button below to provide us with a bit of background
      information about yourself. We will contact you are soon as our first
      survey is ready.</p>
    <p class="align-center"><a classname="primary pure-button" href="https://en.euregio.avalancheresearch.ca/" target="_blank" title="Sign me up" rel="noopener noreferrer">Sign me up</a></p>
  </div>
</section>
</div>
