<div>
<h1>Comunidad</h1>&#13;
&#13;
<!--
<section class="section-padding">
  <header class="section-centered">
    <ul class="list-inline list-buttongroup-dense">
      <li>
        tx_ltsymbola
          href="#general"
          title="What is this all about?"
          class="secondary pure-button"
          data-scroll
          tx_gtsymbolGeneral Informationtx_ltsymbol/a
        tx_gtsymbol
      </li>
    </ul>
  </header>
</section>
-->&#13;
&#13;
<section id="" class="section controlbar controlbar-image controlbar-big"><div class="controlbar-bg-image" style="background-image: url('/content_files/ava_size5-2560.jpg')"></div>&#13;
  <div class="section-centered-small">&#13;
    <section class="section-header"><h2 class="subheader align-center">Encuesta a los usuarios</h2>&#13;
      <h1 class="align-center">Ayúdanos a mejorar nuestros productos y comparte tu experiencia de usuario con nosotros</h1>&#13;
    </section><p class="align-center"><span>La encuesta se realiza en conjunto con &#13;
        <a href="https://www.sfu.ca/" target="_blank" rel="noopener noreferrer">la Universidad Simon Fraser.</a></span></p>&#13;
    <p class="align-center"><a href="https://en.euregio.avalancheresearch.ca/" target="_blank" title="Inscribirme" class="secondary pure-button" rel="noopener noreferrer">Inscribirme</a></p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="general" class="panel field border">&#13;
    <div class="panel-header">&#13;
      <h2>¿De qué trata todo esto?</h2>&#13;
    </div>&#13;
&#13;
    <p>Los servicios de predicción de aludes del Tirol, Tirol del Sur y Trentino
están empezando una iniciativa de investigación para comprender mejor cómo los diferentes tipos de usuarios de la montaña y los responsables de la toma de decisiones utilizan sus productos de boletines de aludes.
Una mejor comprensión de las necesidades y expectativas de los usuarios es fundamental para mejor nuestros productos existentes y desarrollar otros nuevos.</p>&#13;
    <p>Mientras desarrollamos nuestra encuesta de feedback, estamos buscando usuarios de travesía en la montaña invernal (p. ej., esquiadores/practicantes de snowboard, raquetas de nieve, escaladores de hielo, etc.) y los reponsables de las tomas de decisión (por ejemplo, comisiones locales de aludes) interesados en formar parte de una comunidad en crecimiento que los servicios de predicción de aludes pueden consultar para obtener comentarios sobre los productos actuales e intercambiar ideas sobre productos nuevos.</p>&#13;
    <p>Ten en cuenta que no tienes que ser un recreacionista o experto en avalanchas de larga trayectoria para participar en nuestra investigación. Estamos
interesados en las perspectivas de todos, en particular de las personas que
recién están comenzando sus aventuras en la montaña o solo ocasionalmente salen
a la montaña.</p>&#13;
    <p>Si estás interesado en participar en esta iniciativa, haz clic en
el botón "Registrarme" para proporcionarnos un poco de información sobre ti. Nos pondremos en contacto contigo tan pronto como nuestra primera
encuesta está lista.</p>&#13;
    <p class="align-center"><a classname="primary pure-button" href="https://en.euregio.avalancheresearch.ca/" target="_blank" title="Sign me up" rel="noopener noreferrer">Registrarme</a></p>&#13;
  </div>&#13;
</section>
</div>
