<div>
<h1>Communauté</h1>&#13;
&#13;
<!--
<section class="section-padding">
  <header class="section-centered">
    <ul class="list-inline list-buttongroup-dense">
      <li>
        tx_ltsymbola
          href="#general"
          title="What is this all about?"
          class="secondary pure-button"
          data-scroll
          tx_gtsymbolGeneral Informationtx_ltsymbol/a
        tx_gtsymbol
      </li>
    </ul>
  </header>
</section>
-->&#13;
&#13;
<section id="" class="section controlbar controlbar-image controlbar-big"><div class="controlbar-bg-image" style="background-image: url('/content_files/ava_size5-2560.jpg')"></div>&#13;
  <div class="section-centered-small">&#13;
    <section class="section-header"><h2 class="subheader align-center">Enquête utilisateurs</h2>&#13;
      <h1 class="align-center">Aidez-nous à améliorer nos produits en partageant votre expérience d'utilisateur.</h1>&#13;
    </section><p class="align-center"><span>L'enquête est menée en partenariat avec &#13;
        <a href="https://www.sfu.ca/" target="_blank" rel="noopener noreferrer">l'Université Simon Fraser.</a></span></p>&#13;
    <p class="align-center"><a href="https://en.euregio.avalancheresearch.ca/" target="_blank" title="Je m'inscris" class="secondary pure-button" rel="noopener noreferrer">Je m'inscris</a></p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="general" class="panel field border">&#13;
    <div class="panel-header">&#13;
      <h2>De quoi parlons-nous ?</h2>&#13;
    </div>&#13;
&#13;
    <p>Les services de prévision d'avalanches du Tyrol, du Haut-Adige et du Trentin &#13;
     sont à l'initiative de recherches afin de mieux comprendre les usages de leurs bulletins d'avalanches qu'ont les amateurs de hors-piste et les décideurs.&#13;
      Une meilleure compréhension des besoins et des difficultés des utilisateurs est essentielle &#13;
   pour améliorer nos produits actuels et en développer de nouveaux.</p>&#13;
    <p>Alors que nous élaborons notre enquête sur les usages de nos bulletins, nous recherchons actuellement  &#13;
      des pratiquants de la montagne en hiver (skieurs/snowboardeurs de randonnée, &#13;
     amateurs de raquettes ou d'escalade glaciaire, etc.) et des décideurs locaux (par exemple, des &#13;
     commissions locales d'avalanche) qui souhaiteraient rejoindre une communauté en pleine &#13;
   expansion que les services de prévision d'avalanches peuvent solliciter pour avoir des retours&#13;
      sur leurs produits et réfléchir ensemble à de nouveaux projets.</p>&#13;
    <p>Veuillez noter qu'il n'est pas nécessaire d'être un adepte de longue date du ski de randonnée ou un expert en avalanches pour participer à notre recherche.
Tous les points de vue nous intéressent, notamment ceux de pratiquants débutants ou occasionnels de la montagne en hiver.</p>&#13;
    <p>Cette initiative vous intéresse ? Alors merci de cliquer &#13;
      sur le bouton « Je m'inscris » ci-dessous pour nous fournir quelques &#13;
    informations sur votre profil. Nous vous contacterons &#13;
     dès que notre première enquête sera prête.</p>&#13;
    <p class="align-center"><a classname="primary pure-button" href="https://en.euregio.avalancheresearch.ca/" target="_blank" title="Sign me up" rel="noopener noreferrer">Je m'inscris</a></p>&#13;
  </div>&#13;
</section>
</div>
