<div>
<h1>Community</h1>&#13;
&#13;
<!--
<section class="section-padding">
  <header class="section-centered">
    <ul class="list-inline list-buttongroup-dense">
      <li>
        tx_ltsymbola
          href="#general"
          title="What is this all about?"
          class="secondary pure-button"
          data-scroll
          tx_gtsymbolGeneral Informationtx_ltsymbol/a
        tx_gtsymbol
      </li>
    </ul>
  </header>
</section>
-->&#13;
&#13;
<section id="" class="section controlbar controlbar-image controlbar-big"><div class="controlbar-bg-image" style="background-image: url('/content_files/ava_size5-2560.jpg')"></div>&#13;
  <div class="section-centered-small">&#13;
    <section class="section-header"><h2 class="subheader align-center">Sondaggio utenti</h2>&#13;
      <h1 class="align-center">Aiutaci a migliorare i nostri prodotti e condividi la tua esperienza utente con noi</h1>&#13;
    </section><p class="align-center"><span>Il sondaggio è stato realizzato in collaborazione con la&#13;
        <a href="https://www.sfu.ca/" target="_blank" rel="noopener noreferrer">Simon Fraser University</a></span></p>&#13;
    <p class="align-center"><a href="https://it.euregio.avalancheresearch.ca/" target="_blank" title="Partecipa" class="secondary pure-button" rel="noopener noreferrer">Parecipa</a></p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="general" class="panel field border">&#13;
    <div class="panel-header">&#13;
      <h2>Di cosa si tratta?</h2>&#13;
    </div>&#13;
&#13;
    <p>I servizi previsione valanghe del Tirolo, Alto Adige e Trentino hanno&#13;
     avviato un sondaggio per comprendere meglio come i vari appassionati di &#13;
   sport invernali fuori pista e decision-maker utilizzano i prodotti del bollettino valanghe Euregio.&#13;
      Una migliore comprensione delle esigenze e richieste degli utenti è&#13;
      essenziale per migliorare i prodotti esistenti e svilupparne dei nuovi.</p>&#13;
    <p>Per realizzare questo sondaggio sul feedback al bollettino valanghe Euregio,  cerchiamo&#13;
     appassionati di sport invernali fuori pista (come sci-escursionisti/snowboarder/&#13;
      escursionisti con racchette/arrampicatori su ghiaccio ecc.) e responsabili  &#13;
     (ad es. membri delle commissioni valanghe), interessati a far parte di una community in crescita.&#13;
      I servizi previsione valanghe la consulteranno per ricevere feedback&#13;
     sui propri prodotti e fare brainstorming per definire nuove opportunità.</p>&#13;
    <p>Non è necessario che abbiate una lunga esperienza fuori pista&#13;
     o che siate un esperto di valanghe per partecipare al nostro sondaggio. Siamo&#13;
      interessati ai punti di vista di tutti, soprattutto di chi ha appena&#13;
     iniziato l'avventura fuori pista, oppure la pratica solo occasionalmente.&#13;
     </p>&#13;
    <p>Se vuoi partecipare all'iniziativa, clicca sul tasto&#13;
      "Partecipa", per darci qualche informazione sul tuo &#13;
      background personale. Ti contatteremo appena il nostro primo &#13;
     sondaggio sarà pronto.</p>&#13;
    <p class="align-center"><a classname="primary pure-button" href="https://it.euregio.avalancheresearch.ca/" target="_blank" title="Sign me up" rel="noopener noreferrer">Partecipa</a></p>&#13;
  </div>&#13;
</section>
</div>
