<div>
<h1>Comunitat</h1>&#13;
&#13;
<!--
<section class="section-padding">
  <header class="section-centered">
    <ul class="list-inline list-buttongroup-dense">
      <li>
        tx_ltsymbola
          href="#general"
          title="What is this all about?"
          class="secondary pure-button"
          data-scroll
          tx_gtsymbolGeneral Informationtx_ltsymbol/a
        tx_gtsymbol
      </li>
    </ul>
  </header>
</section>
-->&#13;
&#13;
<section id="" class="section controlbar controlbar-image controlbar-big"><div class="controlbar-bg-image" style="background-image: url('/content_files/ava_size5-2560.jpg')"></div>&#13;
  <div class="section-centered-small">&#13;
    <section class="section-header"><h2 class="subheader align-center">Enquèsta as usatgèrs</h2>&#13;
      <h1 class="align-center">Ajuda-mos a melhorar es nòsti productes e compartir era experiéncia coma usatgèr damb nosati</h1>&#13;
    </section><p class="align-center"><span>Era enquèsta se hè amassa damb&#13;
        <a href="https://www.sfu.ca/" target="_blank" rel="noopener noreferrer">era Universitat Simon Fraser</a></span></p>&#13;
    <p class="align-center"><a href="https://en.euregio.avalancheresearch.ca/" target="_blank" title="Registrar-me" class="secondary pure-button" rel="noopener noreferrer">Registrar-me</a></p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="general" class="panel field border">&#13;
    <div class="panel-header">&#13;
      <h2>De que se tracte tot açò?</h2>&#13;
    </div>&#13;
&#13;
    <p>Es servicis de prediccion de lauegi deth Tiròl, eth Sud Tiròl e eth Trentin comencen
ua iniciatiua de recèrca entà compréner melhor coma se diferéncien es diferenti tipes d'usatgèrs e es responsables dera prenuda de decisions qu'utilizen es sòns productes d’informacion de lauegi.
Ei fonamentau compréner melhor es besonhs e es rèptes des usatgèrs
entà melhorar es nòsti productes existents e desvolopar-ne de naui.</p>&#13;
    <p>Mentre desvolopam era nòsta enquèsta de feedback, actuauments cercam
usatgèrs dera montanha iuernau (p. ex., esquiaires / snowboarders de montanha, raquetes de nhèu, escaladors de gèu, eca.) e es responsables dera prenuda de decisions dera comunitat (per exemple, comissions de lauegi locaus) interessadi a hèr part d’ua comunitat en creishement qu'es servicis de prediccion de lauegi pòden consultar entà obtier informacion sus es sòns productes e ploja d’idies sus naues oportunitats.</p>&#13;
    <p>Tietz en compde que non te cau èster un recreatiu o expèrt en lauegi de longa trajectòria entà participar ara nòsta investigacion. Nosati èm
interessadi enes perspectives de toti, particularaments des persones que tot just
comencen es sues aventures ena montanha o solament gessen de tant en tant.</p>&#13;
    <p>S'ès interessat a participar ena aguesta iniciatiua, hè clic ath
boton "Registrar-me" entà proporcionar-mos un shinhau d'informacion sus tu madeish. Mos meteram en contacte damb tú tant lèu coma era nòsta prumèra
enquèsta sigue prèsta.</p>&#13;
    <p class="align-center"><a classname="primary pure-button" href="https://en.euregio.avalancheresearch.ca/" target="_blank" title="Sign me up" rel="noopener noreferrer">Registrar-me</a></p>&#13;
  </div>&#13;
</section>
</div>
