<div>
<h1>Komunita</h1>&#13;
&#13;
<!--
<section class="section-padding">
  <header class="section-centered">
    <ul class="list-inline list-buttongroup-dense">
      <li>
        tx_ltsymbola
          href="#general"
          title="What is this all about?"
          class="secondary pure-button"
          data-scroll
          tx_gtsymbolGeneral Informationtx_ltsymbol/a
        tx_gtsymbol
      </li>
    </ul>
  </header>
</section>
-->&#13;
&#13;
<section id="" class="section controlbar controlbar-image controlbar-big"><div class="controlbar-bg-image" style="background-image: url('/content_files/ava_size5-2560.jpg')"></div>&#13;
  <div class="section-centered-small">&#13;
    <section class="section-header"><h2 class="subheader align-center">User survey</h2>&#13;
      <h1 class="align-center">Help us improving our products and share your user-experience with us</h1>&#13;
    </section><p class="align-center"><span>The survey is being done jointly with&#13;
        <a href="https://www.sfu.ca/" target="_blank" rel="noopener noreferrer">Simon Fraser University</a></span></p>&#13;
    <p class="align-center"><a href="https://en.euregio.avalancheresearch.ca/" target="_blank" title="Sign me up" class="secondary pure-button" rel="noopener noreferrer">Sign me up</a></p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="general" class="panel field border">&#13;
    <div class="panel-header">&#13;
      <h2>What is this all about?</h2>&#13;
    </div>&#13;
&#13;
    <p>The avalanche warning services of Tyrol, South Tyrol, and Trentino are&#13;
      starting a research initiative to better understand how different types of&#13;
      backcountry users and decision-makers use their avalanche report products.&#13;
      A better understanding of users’ needs and challenges is critical for&#13;
      improving our existing products and developing new ones.</p>&#13;
    <p>While we are developing our report feedback survey, we are current looking&#13;
      for winter backcountry users (e.g., backcountry skiers/snowboarders, snow&#13;
      shoers, ice climbers, etc.) and community decision-makers (e.g. local&#13;
      avalanche commissions) interested in being part of a growing community&#13;
      that the avalanche warning services can consult to get feedback on their&#13;
      products and brainstorm about new opportunities.</p>&#13;
    <p>Please note that you do not have to be a long-term backcountry&#13;
      recreationists or avalanche expert to participate in our research. We are&#13;
      interested in the perspectives of everybody, particularly individuals who&#13;
      are just starting their backcountry adventures or only occasionally go&#13;
      into the backcountry.</p>&#13;
    <p>If you are interested in participating in this initiative, please click&#13;
      the 'Sign me up' button below to provide us with a bit of background&#13;
      information about yourself. We will contact you are soon as our first&#13;
      survey is ready.</p>&#13;
    <p class="align-center"><a classname="primary pure-button" href="https://en.euregio.avalancheresearch.ca/" target="_blank" title="Sign me up" rel="noopener noreferrer">Sign me up</a></p>&#13;
  </div>&#13;
</section>
</div>
